Repository CraveFood/farmblocks: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint-app, eslint-test

eslint-app:
  name: eslint-app
  entry: ./node_modules/eslint/bin/eslint.js
  args:
  - --config=.eslintrc.js
  - --ignore-path=.eslintignore
  language: system

eslint-test:
  name: eslint-test
  entry: ./node_modules/eslint/bin/eslint.js
  args:
  - --config=.test.eslintrc.js
  - --ignore-path=.test.eslintignore
  language: system

fix(formInput): input height and padding are handled in the input tag now
  packages/hoc-input/src/styledComponents/Wrapper.js
Due: eslint-app

fix(AmountSelector): let formInput hoc handle number input type css
  packages/amount-selectors/src/styledComponents/AmountSelector.js
  packages/hoc-input/src/styledComponents/Wrapper.js
Due: eslint-app

chore(package): update lockfile
  yarn.lock
Due: none

refactor(AmountSelectors): remove size property passed to InputText
  packages/amount-selectors/src/components/AmountSelectors.js
Due: eslint-app

refactor(formInput): remove obsolete story
  packages/hoc-input/src/formInput.story.js
Due: eslint-app

fix(protected): fix cover style
  packages/input-text/src/protectedValue.js
Due: eslint-app

fix(input-select): render input with image
  packages/input-select/src/components/Item.js
  packages/input-select/src/components/withImage.js
  packages/input-select/src/styledComponents/ItemImage.js
Due: eslint-app

test(snapshots): update
  packages/amount-selectors/src/components/__snapshots__/AmountSelectors.story.storyshot
  packages/hoc-input/src/__snapshots__/formInput.story.storyshot
  packages/input-select/src/__snapshots__/Select.story.storyshot
  packages/input-select/src/components/__snapshots__/EmptyCard.story.storyshot
  packages/input-select/src/components/__snapshots__/Item.story.storyshot
  packages/input-text/src/__snapshots__/TextInput.story.storyshot
  packages/search-field/src/__snapshots__/SearchField.story.storyshot
  packages/search-field/src/components/__snapshots__/Menu.story.storyshot
Due: none

fix(search-field): fix style of StaticInput
  packages/search-field/src/components/StaticInput.js
Due: eslint-app

chore(release): [ci skip] publish
  packages/amount-selectors/CHANGELOG.md
  packages/amount-selectors/package.json
  packages/hoc-input/CHANGELOG.md
  packages/hoc-input/package.json
  packages/input-select/CHANGELOG.md
  packages/input-select/package.json
  packages/input-text/CHANGELOG.md
  packages/input-text/package.json
  packages/search-field/CHANGELOG.md
  packages/search-field/package.json
Due: none

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/index.html
  docs/static/manager.7208439569409bb5e8ae.bundle.js
  docs/static/manager.fb311624b84ae1fda347.bundle.js
  docs/static/preview.33992dca01e5b5b7969c.bundle.js
  docs/static/preview.c94202801a1c6925d48b.bundle.js
Due: eslint-app

feat(formInput): add leftIcon property
  packages/hoc-input/src/formInput.js
  packages/hoc-input/src/formInput.story.js
  packages/hoc-input/src/styledComponents/Wrapper.js
Due: eslint-app

test(snapshots): update
  packages/amount-selectors/src/components/__snapshots__/AmountSelectors.story.storyshot
  packages/hoc-input/src/__snapshots__/formInput.story.storyshot
  packages/input-select/src/__snapshots__/Select.story.storyshot
  packages/input-text/src/__snapshots__/TextInput.story.storyshot
  packages/search-field/src/__snapshots__/SearchField.story.storyshot
Due: none

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/static/preview.33992dca01e5b5b7969c.bundle.js
  docs/static/preview.eee15298742145d145de.bundle.js
Due: eslint-app

chore(EmptyState): update farmblocks-text dependency
  packages/empty-state/package.json
Due: none

feat(EmptyState): add icon property
  packages/empty-state/src/EmptyState.js
  packages/empty-state/src/EmptyState.story.js
  packages/empty-state/src/styledComponents/Container.js
Due: eslint-app

test(storyshots): update
  packages/card/src/__snapshots__/Card.story.storyshot
  packages/empty-state/src/__snapshots__/EmptyState.story.storyshot
Due: none

fix(formInput): adjust margin of clear icon on small sized search inputs
  packages/hoc-input/src/formInput.story.js
  packages/hoc-input/src/styledComponents/Wrapper.js
Due: eslint-app

fixup! test(storyshots): update
  packages/amount-selectors/src/components/__snapshots__/AmountSelectors.story.storyshot
  packages/hoc-input/src/__snapshots__/formInput.story.storyshot
Due: none

chore(release): [ci skip] publish
  packages/amount-selectors/CHANGELOG.md
  packages/amount-selectors/package.json
  packages/card/CHANGELOG.md
  packages/card/package.json
  packages/empty-state/CHANGELOG.md
  packages/empty-state/package.json
  packages/hoc-input/CHANGELOG.md
  packages/hoc-input/package.json
  packages/input-select/CHANGELOG.md
  packages/input-select/package.json
  packages/input-text/CHANGELOG.md
  packages/input-text/package.json
  packages/map-balloon/CHANGELOG.md
  packages/map-balloon/package.json
  packages/search-field/CHANGELOG.md
  packages/search-field/package.json
Due: none

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/index.html
  docs/static/manager.7208439569409bb5e8ae.bundle.js
  docs/static/manager.c6f66bfc7dd94e659bff.bundle.js
  docs/static/preview.25d8b3a6ef6773066121.bundle.js
  docs/static/preview.eee15298742145d145de.bundle.js
Due: eslint-app

docs(card): add story for overflow: visible
  packages/card/src/Card.story.js
Due: eslint-app

feat(card): expose everflow css rule as prop
  packages/card/README.md
  packages/card/src/Card.js
  packages/card/src/styledComponents/Card.js
Due: eslint-app

chore(storyshots): update
  packages/card/src/__snapshots__/Card.story.storyshot
  packages/input-select/src/components/__snapshots__/EmptyCard.story.storyshot
  packages/map-balloon/src/__snapshots__/MapBalloon.story.storyshot
  packages/more-info/src/components/__snapshots__/MoreInfo.story.storyshot
  packages/tooltip/src/__snapshots__/Tooltip.story.storyshot
Due: none

chore(release): [ci skip] publish
  packages/alert/CHANGELOG.md
  packages/alert/package.json
  packages/amount-selectors/CHANGELOG.md
  packages/amount-selectors/package.json
  packages/button/CHANGELOG.md
  packages/button/package.json
  packages/card/CHANGELOG.md
  packages/card/package.json
  packages/dropdown/CHANGELOG.md
  packages/dropdown/package.json
  packages/empty-state/CHANGELOG.md
  packages/empty-state/package.json
  packages/footer/CHANGELOG.md
  packages/footer/package.json
  packages/hoc-disabled-tooltip/CHANGELOG.md
  packages/hoc-disabled-tooltip/package.json
  packages/hoc-input/CHANGELOG.md
  packages/hoc-input/package.json
  packages/input-checkbox/CHANGELOG.md
  packages/input-checkbox/package.json
  packages/input-radio/CHANGELOG.md
  packages/input-radio/package.json
  packages/input-select/CHANGELOG.md
  packages/input-select/package.json
  packages/input-text/CHANGELOG.md
  packages/input-text/package.json
  packages/link/CHANGELOG.md
  packages/link/package.json
  packages/map-balloon/CHANGELOG.md
  packages/map-balloon/package.json
  packages/more-info/CHANGELOG.md
  packages/more-info/package.json
  packages/popover/CHANGELOG.md
  packages/popover/package.json
  packages/search-field/CHANGELOG.md
  packages/search-field/package.json
  packages/table/CHANGELOG.md
  packages/table/package.json
  packages/tooltip/CHANGELOG.md
  packages/tooltip/package.json
Due: none

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/index.html
  docs/static/manager.56cfbc0df1f28796a54c.bundle.js
  docs/static/manager.c6f66bfc7dd94e659bff.bundle.js
  docs/static/preview.25d8b3a6ef6773066121.bundle.js
  docs/static/preview.95015217dfa58512c238.bundle.js
Due: eslint-app

fix(input-text): dont change editing status when value prop changes
  packages/input-text/src/protectedValue.js
Due: eslint-app

feat(input-text): new properties for calling a function on unCover and disable manual value replacem
  packages/input-text/README.md
  packages/input-text/src/protectedValue.js
Due: eslint-app

fix(input-text): clear input field when uncover the protection
  packages/input-text/src/protectedValue.js
Due: eslint-app

chore(search-field): update text-input dependency
  packages/search-field/package.json
  yarn.lock
Due: none

test(snapshots): update
  packages/search-field/src/__snapshots__/SearchField.story.storyshot
  packages/search-field/src/components/__snapshots__/Menu.story.storyshot
Due: none

refactor(search-field): replace custom input and static field with a regular input
  packages/search-field/src/SearchField.js
  packages/search-field/src/components/StaticInput.js
Due: eslint-app

chore(search-field): remove unused dependenciew
  packages/search-field/package.json
Due: none

refactor(search-field): use a protected text-field and the value from state
  packages/search-field/src/SearchField.js
Due: eslint-app

refactor(search-field): innerRef is no longer needed by the input after the mousedown change
  packages/search-field/src/SearchField.js
Due: eslint-app

refactor(search-field): onChange, onFocus, onBlur
  packages/search-field/src/SearchField.js
Due: eslint-app

refactor(search-field): changes to cover either items or value props updates after mount
  packages/search-field/src/SearchField.js
Due: eslint-app

test(search-field): fix tests and coverage
  packages/input-text/src/protectedValue.test.js
  packages/search-field/src/SearchField.js
  packages/search-field/src/SearchField.test.js
Due: eslint-app, eslint-test

refactor(search-field): remove MouseDown prevention from _renderMenu and cleanup a little
  packages/search-field/src/SearchField.js
Due: eslint-app

Path conditions:
  eslint-app: any of: ^(?!.*\.test).*\.js$
  eslint-test: any of: \.test\.js$
