Repository CraveFood/farmblocks: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint-app, eslint-test

.pre-commit-config.yaml:

fail_fast: true
repos:
-   repo: https://github.com/prettier/prettier
    sha: '1.7.0'
    hooks:
      - id: prettier

-   repo: local
    hooks:
      - id: eslint-app
        name: eslint-app
        entry: ./node_modules/eslint/bin/eslint.js
        args:
          - "--config=.eslintrc.js"
          - "--ignore-path=.eslintignore"
        language: system
        files: '^(?!.*\.test).*\.js$'

      - id: eslint-test
        name: eslint-test
        entry: ./node_modules/eslint/bin/eslint.js
        args:
          - "--config=.test.eslintrc.js"
          - "--ignore-path=.test.eslintignore"
        language: system
        files: '\.test\.js$'

ci: testing lerna 3 again...
  packages/tooltip/src/Tooltip.js
Due: eslint-app

ci(another test on lerna 3...):
  packages/hoc-input/src/__snapshots__/formInput.story.storyshot
  packages/input-select/src/__snapshots__/Select.story.storyshot
  packages/more-info/src/components/__snapshots__/MoreInfo.story.storyshot
  packages/tooltip/src/__snapshots__/Tooltip.story.storyshot
  packages/tooltip/src/styledComponents/Tooltip.js
Due: eslint-app

testing lerna...
  packages/hoc-input/src/__snapshots__/formInput.story.storyshot
  packages/input-select/src/__snapshots__/Select.story.storyshot
  packages/more-info/src/components/__snapshots__/MoreInfo.story.storyshot
  packages/tooltip/src/__snapshots__/Tooltip.story.storyshot
  packages/tooltip/src/styledComponents/Tooltip.js
Due: eslint-app

tst again
  package.json
  packages/hoc-input/src/__snapshots__/formInput.story.storyshot
  packages/input-select/src/__snapshots__/Select.story.storyshot
  packages/more-info/src/components/__snapshots__/MoreInfo.story.storyshot
  packages/tooltip/src/__snapshots__/Tooltip.story.storyshot
  packages/tooltip/src/styledComponents/Tooltip.js
  yarn.lock
Due: eslint-app

chore(dependencies): update dependencies and devDependencies
  package.json
  packages/dropdown/package.json
  packages/footer/package.json
  packages/hoc-input/package.json
  packages/table/package.json
  yarn.lock
Due: none

test(snapshots): update
  packages/card/src/__snapshots__/Card.story.storyshot
  packages/footer/src/components/__snapshots__/Footer.story.storyshot
  packages/search-field/src/components/__snapshots__/Menu.story.storyshot
  packages/table/src/__snapshots__/Table.story.storyshot
Due: none

feat(form-popover): initial boilerplate
  packages/form-popover/AUTHORS
  packages/form-popover/LICENSE
  packages/form-popover/README.md
  packages/form-popover/package.json
  packages/form-popover/src/FormPopover.js
  packages/form-popover/src/FormPopover.story.js
  packages/form-popover/src/index.js
Due: eslint-app

chore(dependencies): add dependencies
  packages/form-popover/package.json
  yarn.lock
Due: none

test(form-popover): stories
  packages/form-popover/src/FormPopover.story.js
Due: eslint-app

docs(form-popover): rEADME
  packages/form-popover/README.md
Due: none

feat(form-popover): main component
  packages/form-popover/src/FormPopover.js
Due: eslint-app

chore(release): [ci skip] publish
  packages/amount-selectors/CHANGELOG.md
  packages/amount-selectors/package.json
  packages/card/CHANGELOG.md
  packages/card/package.json
  packages/dropdown/CHANGELOG.md
  packages/dropdown/package.json
  packages/footer/CHANGELOG.md
  packages/footer/package.json
  packages/hoc-input/CHANGELOG.md
  packages/hoc-input/package.json
  packages/input-select/CHANGELOG.md
  packages/input-select/package.json
  packages/input-text/CHANGELOG.md
  packages/input-text/package.json
  packages/map-balloon/CHANGELOG.md
  packages/map-balloon/package.json
  packages/search-field/CHANGELOG.md
  packages/search-field/package.json
  packages/table/CHANGELOG.md
  packages/table/package.json
Due: none

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/index.html
  docs/static/manager.94ef8393af02bf20941b.bundle.js
  docs/static/manager.e14e6eea9a5b7eb0fb87.bundle.js
  docs/static/preview.30a9c24313efe8cacdc6.bundle.js
  docs/static/preview.74761ec6aec80aeb584d.bundle.js
Due: eslint-app

fixup! test(form-popover): stories
  packages/form-popover/src/FormPopover.story.js
Due: eslint-app

fixup! feat(form-popover): main component
  packages/form-popover/src/FormPopover.js
Due: eslint-app

feat(form-wrapper): main component
  packages/form-popover/src/FormPopover.js
Due: eslint-app

test(form-wrapper): stories
  packages/form-popover/src/FormPopover.story.js
Due: eslint-app

chore(FormWrapper): removed farmblocks-popover from dependencies
  packages/form-wrapper/package.json
Due: none

docs(form-wrapper): rEADME
  packages/form-popover/README.md
Due: none

refactor(FormWrapper): renamed files
  packages/form-popover/src/index.js
  packages/form-wrapper/AUTHORS
  packages/form-wrapper/LICENSE
  packages/form-wrapper/README.md
  packages/form-wrapper/package.json
  packages/form-wrapper/src/FormWrapper.js
  packages/form-wrapper/src/FormWrapper.story.js
  packages/form-wrapper/src/index.js
Due: eslint-app

feat(form-wrapper): initial boilerplate
  packages/form-popover/AUTHORS
  packages/form-popover/LICENSE
  packages/form-popover/README.md
  packages/form-popover/package.json
  packages/form-popover/src/FormPopover.js
  packages/form-popover/src/FormPopover.story.js
  packages/form-popover/src/index.js
Due: eslint-app

test(form-wrapper): refactored desired api on storybook
  packages/form-popover/src/FormPopover.story.js
Due: eslint-app

feat(form-wrapper): refactored main component
  packages/form-popover/src/FormPopover.js
Due: eslint-app

feat(Link): pass received className to the wrapper
  packages/link/src/components/Link.js
Due: eslint-app

docs(FormWrapper): updated README
  packages/form-wrapper/README.md
Due: none

test(snapshots): update
  packages/form-wrapper/src/__snapshots__/FormWrapper.story.storyshot
  packages/hoc-input/src/__snapshots__/formInput.story.storyshot
  packages/search-field/src/__snapshots__/SearchField.story.storyshot
  packages/search-field/src/components/__snapshots__/Menu.story.storyshot
  packages/table/src/__snapshots__/Table.story.storyshot
Due: none

test(formInput): fix broken test after changes on Link component
  packages/hoc-input/src/formInput.test.js
Due: eslint-test

chore(release): [ci skip] publish
  packages/amount-selectors/CHANGELOG.md
  packages/amount-selectors/package.json
  packages/footer/CHANGELOG.md
  packages/footer/package.json
  packages/form-wrapper/CHANGELOG.md
  packages/form-wrapper/package.json
  packages/hoc-input/CHANGELOG.md
  packages/hoc-input/package.json
  packages/input-select/CHANGELOG.md
  packages/input-select/package.json
  packages/input-text/CHANGELOG.md
  packages/input-text/package.json
  packages/link/CHANGELOG.md
  packages/link/package.json
  packages/popover/CHANGELOG.md
  packages/popover/package.json
  packages/search-field/CHANGELOG.md
  packages/search-field/package.json
  packages/table/CHANGELOG.md
  packages/table/package.json
Due: none

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/index.html
  docs/static/manager.1e7d9d67981504cf62b9.bundle.js
  docs/static/manager.e14e6eea9a5b7eb0fb87.bundle.js
  docs/static/preview.74761ec6aec80aeb584d.bundle.js
  docs/static/preview.eb430d61d4f03879f105.bundle.js
Due: eslint-app

docs(hoc-input): add stories for prefix and suffix
  packages/hoc-input/src/formInput.story.js
Due: eslint-app

feat(hoc-input): add prefix and suffix props
  packages/hoc-input/src/formInput.js
  packages/hoc-input/src/styledComponents/Wrapper.js
Due: eslint-app

chore(storyshots): update
  packages/amount-selectors/src/components/__snapshots__/AmountSelectors.story.storyshot
  packages/form-wrapper/src/__snapshots__/FormWrapper.story.storyshot
  packages/hoc-input/src/__snapshots__/formInput.story.storyshot
  packages/input-select/src/__snapshots__/Select.story.storyshot
  packages/input-text/src/__snapshots__/TextInput.story.storyshot
  packages/search-field/src/__snapshots__/SearchField.story.storyshot
Due: none

docs(hoc-input): update README
  packages/hoc-input/README.md
Due: none

chore(release): [ci skip] publish
  packages/amount-selectors/CHANGELOG.md
  packages/amount-selectors/package.json
  packages/form-wrapper/CHANGELOG.md
  packages/form-wrapper/package.json
  packages/hoc-input/CHANGELOG.md
  packages/hoc-input/package.json
  packages/input-select/CHANGELOG.md
  packages/input-select/package.json
  packages/input-text/CHANGELOG.md
  packages/input-text/package.json
  packages/search-field/CHANGELOG.md
  packages/search-field/package.json
Due: none

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/static/preview.5c2ea651b9ae8c61a581.bundle.js
  docs/static/preview.eb430d61d4f03879f105.bundle.js
Due: eslint-app

fix(TextInput): focused property of non protected inputs
  packages/input-text/src/TextInput.story.js
  packages/input-text/src/protectedValue.js
Due: eslint-app

test: update storyshots
  packages/input-text/src/__snapshots__/TextInput.story.storyshot
Due: none

chore(release): [ci skip] publish
  packages/amount-selectors/CHANGELOG.md
  packages/amount-selectors/package.json
  packages/form-wrapper/CHANGELOG.md
  packages/form-wrapper/package.json
  packages/input-text/CHANGELOG.md
  packages/input-text/package.json
  packages/search-field/CHANGELOG.md
  packages/search-field/package.json
Due: none

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/static/preview.5c2ea651b9ae8c61a581.bundle.js
  docs/static/preview.b710abe1796f6ac7feeb.bundle.js
Due: eslint-app
