Repository CraveFood/farmblocks: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint-app, eslint-test

.pre-commit-config.yaml:

fail_fast: true
repos:
-   repo: https://github.com/prettier/prettier
    sha: '1.7.0'
    hooks:
      - id: prettier

-   repo: local
    hooks:
      - id: eslint-app
        name: eslint-app
        entry: ./node_modules/eslint/bin/eslint.js
        args:
          - "--config=.eslintrc.js"
          - "--ignore-path=.eslintignore"
        language: system
        files: '^(?!.*\.test).*\.js$'

      - id: eslint-test
        name: eslint-test
        entry: ./node_modules/eslint/bin/eslint.js
        args:
          - "--config=.test.eslintrc.js"
          - "--ignore-path=.test.eslintignore"
        language: system
        files: '\.test\.js$'

chore(lockfile): dependencies sync on a new installation
  yarn.lock
Due: none

docs(CONTRIBUTING): update of the contributing doc to include linting tasks
  CONTRIBUTING.md
  package.json
Due: none

chore(eslint): include lib folders in the ignore file
  .eslintignore
Due: none

fix(lint errors): fix linting errors reported after the introduction of eslint checks
  packages/alert/src/index.js
  packages/button/src/Button.js
  packages/button/src/Button.test.js
  packages/button/src/constants/colorTypes.js
  packages/tooltip/package.json
Due: eslint-app, eslint-test

test(snapshots): update snapshots
  __snapshots__/Storyshots.test.js.snap
Due: none

chore(yarn, lerna): update yarn and lerna
  .travis.yml
  lerna.json
  package.json
  yarn.lock
Due: none

test(storyshots): fix jest / storybook / stroryshots issue where stories from node_modules caused in
  .storybook/config.js
  .travis.yml
Due: eslint-app

docs(gallery): create a gallery page under docs to be served by github pages
  .pre-commit-config.yaml
  .prettierignore
  docs/favicon.ico
  docs/iframe.html
  docs/index.html
  docs/static/manager.856fadbb59b211f5f62a.bundle.js
  docs/static/preview.c62c0728bf000f98daa2.bundle.js
Due: eslint-app

test(travis, eslint): fix travis eslint scripts
  .travis.yml
Due: none

test(alert): test default onDismiss
  packages/alert/src/Alert.js
  packages/alert/src/Alert.test.js
  packages/alert/src/index.js
Due: eslint-app, eslint-test

fix(button): fix margin, and fluid property
  packages/button/src/Button.js
  packages/button/src/Button.story.js
  packages/button/src/styledComponents/Button.js
  packages/button/src/styledComponents/Container.js
Due: eslint-app

chore: add babel plugin to generate proptypes based on flow annotations
  package.json
  yarn.lock
Due: none

refactor(proptypes): drop react proptypes in favor of flow type checking
  packages/alert/package.json
  packages/alert/src/Alert.js
  packages/alert/src/Alert.story.js
  packages/alert/src/index.js
Due: eslint-app

refactor(alertTypes): fix typo
  packages/alert/src/constants/alertTypes.js
Due: eslint-app

refactor(propTypes): drop react proptypes in favor of flow type checking
  packages/button/src/Button.js
  packages/button/src/Button.story.js
  packages/button/src/constants/ButtonTypes.js
  packages/button/src/constants/buttonTypes.js
  packages/button/src/constants/colorTypes.js
  packages/button/src/constants/sizeTypes.js
  packages/button/src/index.js
  packages/button/src/styledComponents/Button.js
Due: eslint-app

refactor(propTypes): drop react proptypes in favor of flow type checking
  packages/tooltip/src/Tooltip.js
Due: eslint-app

test(storyshots): update storyshots
  __snapshots__/Storyshots.test.js.snap
Due: none

refactor(flow): remove unecessary type check from render
  packages/alert/src/Alert.js
  packages/button/src/Button.js
  packages/tooltip/src/Tooltip.js
Due: eslint-app

Added farmblocks logo on readme file
  README.md
Due: none

chore(release): old releases
  packages/alert/CHANGELOG.md
  packages/alert/package.json
Due: none

chore(travis): make travis auto publish the package on success
  .travis.yml
Due: none

fix(npm package): fix main file location
  .travis.yml
  packages/alert/package.json
Due: none

chore(autopublish): add semi columns to the branch = master case on the after success script (travis
  .travis.yml
Due: none

chore(release): [ci skip] publish
  packages/alert/CHANGELOG.md
  packages/alert/package.json
  packages/button/CHANGELOG.md
  packages/button/package.json
  packages/tooltip/CHANGELOG.md
  packages/tooltip/package.json
Due: none

chore(lockfile): lockfile from a new clean install
  yarn.lock
Due: none

refactor(travis config): minor, cosmetic formatting
  .travis.yml
Due: none

docs(readme): fix link for the properties in the source
  packages/alert/README.md
Due: none

chore(devDependencies): upgrade dependencies
  package.json
  packages/alert/package.json
  packages/button/package.json
  packages/tooltip/package.json
  yarn.lock
Due: none

chore(dev build): storybook dev server dont play well with commonjs
  .babelrc
  .travis.yml
  CONTRIBUTING.md
  package.json
Due: none

feat(constants): exoprt button sizes and types in the main button package
  packages/button/README.md
  packages/button/src/Button.js
  packages/button/src/Button.story.js
  packages/button/src/constants/ButtonTypes.js
  packages/button/src/constants/SizeTypes.js
  packages/button/src/constants/buttonSizes.js
  packages/button/src/constants/buttonTypes.js
  packages/button/src/constants/colorTypes.js
  packages/button/src/index.js
  packages/button/src/styledComponents/Button.js
Due: eslint-app

fix(styledButton): refactor button code and adjust the css to be in sync with the design spec
  packages/button/src/constants/colorTypes.js
  packages/button/src/styledComponents/Button.js
Due: eslint-app

refactor(default props): change the default properties size and type of the button
  packages/button/src/Button.js
Due: eslint-app

refactor(constants): refactor of the constants to be in sync with the spec
  packages/button/src/Button.js
  packages/button/src/constants/buttonSizes.js
  packages/button/src/constants/buttonTypes.js
  packages/button/src/constants/colorTypes.js
Due: eslint-app

chore(storybook): include lato font files and global css on the dev server
  .storybook/assets/lato-light-webfont.woff
  .storybook/assets/lato-light-webfont.woff2
  .storybook/assets/lato-regular-webfont.woff
  .storybook/assets/lato-regular-webfont.woff2
  .storybook/assets/lato-semibold-webfont.woff
  .storybook/assets/lato-semibold-webfont.woff2
  .storybook/config.js
Due: eslint-app

refactor(button stories): reorganize stories to follow the sequence and settings of the design spec
  packages/button/src/Button.story.js
Due: eslint-app

feat(close button): use farmblocks button for the dismiss button
  packages/alert/package.json
  packages/alert/src/Alert.js
  packages/alert/src/styledComponents/DismissButton.js
  packages/alert/src/styledComponents/DismissButtonContainer.js
Due: eslint-app

fix(alert lib): export the alert types in the package
  packages/alert/src/index.js
Due: eslint-app
