Repository CraveFood/farmblocks: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint-app, eslint-test

.pre-commit-config.yaml:

fail_fast: true
repos:
-   repo: https://github.com/prettier/prettier
    sha: '1.7.0'
    hooks:
      - id: prettier

-   repo: local
    hooks:
      - id: eslint-app
        name: eslint-app
        entry: ./node_modules/eslint/bin/eslint.js
        args:
          - "--config=.eslintrc.js"
          - "--ignore-path=.eslintignore"
        language: system
        files: '^(?!.*\.test).*\.js$'

      - id: eslint-test
        name: eslint-test
        entry: ./node_modules/eslint/bin/eslint.js
        args:
          - "--config=.test.eslintrc.js"
          - "--ignore-path=.test.eslintignore"
        language: system
        files: '\.test\.js$'

chore(pre-commit): update prettier version
  .pre-commit-config.yaml
Due: none

feat(table): change selection background color and add different backgroud for grouped rows
  packages/table/src/Table.js
  packages/table/src/Table.story.js
  packages/table/src/styledComponents/Cell.js
  packages/table/src/styledComponents/Table.js
  packages/theme/src/colors.js
Due: eslint-app

fix(table): fix row selection and select/unselect all for tables with row groups
  packages/table/src/Table.js
Due: eslint-app

feat(table): render nested rows with a parent row
  packages/table/src/Table.js
Due: eslint-app

feat(table): change arrow icon from down to up when user expand a group
  .storybook/config.js
  packages/table/src/Table.js
Due: eslint-app

refactor(table): simplify an array item extraction
  packages/table/src/Table.js
Due: eslint-app

style(table): just separated tests into categories, no other change
  packages/table/src/Table.test.js
Due: eslint-test

test(table): tests the expand/collapse toggle on tables with subrows
  packages/table/src/Table.test.js
Due: eslint-test

fix(table): update rowsMap after prop data update
  packages/table/src/Table.js
Due: eslint-app

test(table): test if updated data props continues sending correct selected rows to selection header
  packages/table/src/Table.test.js
Due: eslint-test

feat(table): new property for describing which groups to ungroup
  packages/table/README.md
  packages/table/src/Table.js
  packages/table/src/Table.story.js
Due: eslint-app

test(table): new story to test data append after mount
  packages/table/src/Table.story.js
Due: eslint-app

refactor(table): keep all dom nodes rendered, hide collapsed rows with css
  packages/table/src/Table.js
  packages/table/src/styledComponents/Table.js
Due: eslint-app

test(snapshots): update
  packages/table/src/__snapshots__/Table.story.storyshot
Due: none

feat(table): include blue corner icon after checkbox on grouped rows
  packages/table/src/Table.js
  packages/table/src/styledComponents/Table.js
Due: eslint-app

refactor(table): use array.includes instead of indexOf
  packages/table/README.md
  packages/table/src/Table.js
Due: eslint-app

fixup! feat(table): change selection background color and add different backgroud for grouped rows
  packages/table/package.json
  packages/table/src/styledComponents/Cell.js
  packages/theme/src/colors.js
  yarn.lock
Due: eslint-app

chore(github): template for pull requests
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/index.html
  docs/static/manager.1180a290d9632a767541.bundle.js
  docs/static/manager.fbd8636ff3fa56927ce0.bundle.js
  docs/static/preview.06f1b8ba93cc27524fa1.bundle.js
  docs/static/preview.ece563cf41337e54731a.bundle.js
Due: eslint-app

docs(search-field): add stories for Menu with empty items array
  packages/search-field/src/components/Menu.story.js
Due: eslint-app

chore(storyshots): update
  packages/search-field/src/__snapshots__/SearchField.story.storyshot
  packages/search-field/src/components/__snapshots__/Menu.story.storyshot
Due: none

refactor(search-field): remove unecessary ternary
  packages/search-field/src/components/Menu.js
Due: eslint-app

fix(search-field): dont render menu if items list is empty
  packages/search-field/src/SearchField.story.js
  packages/search-field/src/components/Menu.js
Due: eslint-app

style(search-field): add brackets to if
  packages/search-field/src/components/Menu.js
Due: eslint-app

chore(release): [ci skip] publish
  packages/search-field/CHANGELOG.md
  packages/search-field/package.json
Due: none

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/static/preview.ab346c4e28c3dab2d2ec.bundle.js
  docs/static/preview.ece563cf41337e54731a.bundle.js
Due: eslint-app

chore(github releases): script to get the current "master" draft release ID
  bin/github_get_release_id.sh
Due: none

chore(github releases): script to change the draft status of a github release to false
  bin/github_publish_release.sh
Due: none

chore(github releases): include the scripts to publish the release when a merge on master passes all
  .travis.yml
Due: none

WIP(github-releases): tHIS IS A TEST COMMIT
  .travis.yml
Due: none

test(search-field): add tests for items prop change
  packages/search-field/src/SearchField.story.js
  packages/search-field/src/SearchField.test.js
Due: eslint-app, eslint-test

fix(search-field): update selectedItem state when items prop changes
  packages/search-field/package.json
  packages/search-field/src/SearchField.js
  yarn.lock
Due: eslint-app

chore(storyshots): update
  packages/search-field/src/__snapshots__/SearchField.story.storyshot
Due: none

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/index.html
  docs/static/manager.3edb046865d5f5d5681a.bundle.js
  docs/static/manager.fbd8636ff3fa56927ce0.bundle.js
  docs/static/preview.48faf76dffa515bc332e.bundle.js
  docs/static/preview.ab346c4e28c3dab2d2ec.bundle.js
Due: eslint-app

fix(AmountSelector): fix initial render
  packages/amount-selectors/src/components/AmountSelectors.js
Due: eslint-app

fix(AmountSelectors): send value with 2 decimal places
  packages/amount-selectors/src/components/AmountSelectors.js
Due: eslint-app
