Repository CraveFood/farmblocks: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint-app, eslint-test

eslint-app:
  name: eslint-app
  entry: ./node_modules/eslint/bin/eslint.js
  args:
  - --config=.eslintrc.js
  - --ignore-path=.eslintignore
  language: system

eslint-test:
  name: eslint-test
  entry: ./node_modules/eslint/bin/eslint.js
  args:
  - --config=.test.eslintrc.js
  - --ignore-path=.test.eslintignore
  language: system

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/main.3420bc943324e2d61d6f.bundle.js
  docs/main.3420bc943324e2d61d6f.bundle.js.map
  docs/main.419e23bdeabf56109af4.bundle.js
  docs/main.419e23bdeabf56109af4.bundle.js.map
  docs/runtime~main.3420bc943324e2d61d6f.bundle.js.map
  docs/runtime~main.419e23bdeabf56109af4.bundle.js
  docs/runtime~main.419e23bdeabf56109af4.bundle.js.map
  docs/vendors~main.3420bc943324e2d61d6f.bundle.js.map
  docs/vendors~main.419e23bdeabf56109af4.bundle.js
  docs/vendors~main.419e23bdeabf56109af4.bundle.js.LICENSE.txt
  docs/vendors~main.419e23bdeabf56109af4.bundle.js.map
Due: none

chore: update babel
  package.json
  yarn.lock
Due: none

chore: update @testing-library
  package.json
  yarn.lock
Due: none

chore: update enzyme
  package.json
  yarn.lock
Due: none

chore: update commitzen and coveralls
  package.json
  yarn.lock
Due: none

chore: update cz-lerna-changelog
  package.json
  yarn.lock
Due: none

chore: update react-responsive
  packages/empty-state/package.json
  packages/sidenav/package.json
  yarn.lock
Due: none

chore: update lerna
  package.json
  yarn.lock
Due: none

chore: update react-spring
  package.json
  yarn.lock
Due: none

chore: update react-router-dom
  packages/sidenav/package.json
  yarn.lock
Due: none

fix: use new react-spring api
  packages/amount-selectors/package.json
  packages/amount-selectors/src/components/AmountSelectors.js
  packages/modal/package.json
  packages/modal/src/Modal.js
  packages/modal/src/Modal.styled.js
Due: eslint-app

chore: bump styled-components version
  package.json
  packages/alert/package.json
  packages/amount-selectors/package.json
  packages/button/package.json
  packages/card/package.json
  packages/carousel/package.json
  packages/dropdown/package.json
  packages/empty-state/package.json
  packages/filter-popover/package.json
  packages/footer/package.json
  packages/form-wrapper/package.json
  packages/hoc-input/package.json
  packages/icon/package.json
  packages/image/package.json
  packages/input-checkbox/package.json
  packages/input-currency/package.json
  packages/input-phone/package.json
  packages/input-radio/package.json
  packages/input-select/package.json
  packages/input-text/package.json
  packages/label/package.json
  packages/link/package.json
  packages/map-balloon/package.json
  packages/modal/package.json
  packages/more-info/package.json
  packages/popover/package.json
  packages/scaffold/src/templates/package.js
  packages/search-field/package.json
  packages/sidenav/package.json
  packages/stepper/package.json
  packages/table/package.json
  packages/tag/package.json
  packages/text/package.json
  packages/tooltip/package.json
  yarn.lock
Due: eslint-app

test(storyshots): update
  amount-selectors/src/components/__snapshots__/AmountSelectors.story.storyshot
  hoc-input/src/__snapshots__/formInput.story.storyshot
  icon/src/__snapshots__/Icon.story.storyshot
  input-text/src/__snapshots__/TextInput.story.storyshot
  label/src/__snapshots__/Label.story.storyshot
  packages/button/src/__snapshots__/Button.story.storyshot
  packages/input-select/src/__snapshots__/Select.story.storyshot
  packages/map-balloon/src/__snapshots__/MapBalloon.story.storyshot
  packages/modal/src/__snapshots__/DialogModal.story.storyshot
  packages/modal/src/__snapshots__/Modal.story.storyshot
  packages/modal/src/__snapshots__/helpers.story.storyshot
  packages/search-field/src/__snapshots__/SearchField.story.storyshot
  packages/search-field/src/components/__snapshots__/Menu.story.storyshot
  packages/text/src/components/__snapshots__/Text.Paragraph.story.storyshot
  packages/text/src/components/__snapshots__/Text.story.storyshot
  sidenav/src/__snapshots__/SideNav.story.storyshot
  table/src/__snapshots__/Table.story.storyshot
  yarn.lock
Due: none

chore: bump @crave/farmblocks-icon version
  packages/alert/package.json
  packages/amount-selectors/package.json
  packages/button/package.json
  packages/dropdown/package.json
  packages/empty-state/package.json
  packages/filter-popover/package.json
  packages/hoc-input/package.json
  packages/input-checkbox/package.json
  packages/input-select/package.json
  packages/input-text/package.json
  packages/link/package.json
  packages/map-balloon/package.json
  packages/modal/package.json
  packages/more-info/package.json
  packages/sidenav/package.json
  packages/stepper/package.json
  packages/tag/package.json
Due: none

fix: bump polished version
  packages/hoc-input/package.json
  packages/sidenav/package.json
  yarn.lock
Due: none

fix: bump react-transition-group version
  packages/map-balloon/package.json
  packages/popover/package.json
  packages/tooltip/package.json
  yarn.lock
Due: none

chore(scaffold): bump shelljs, inquirer, and slug versions
  packages/scaffold/package.json
  yarn.lock
Due: none

chore: bump react-test-renderer version
  package.json
  yarn.lock
Due: none

fix(input-phone): bump dependencies
  packages/input-phone/package.json
  yarn.lock
Due: none

fix: bump react-number-format version
  packages/input-currency/package.json
  yarn.lock
Due: none

fix: bump object.values version
  packages/amount-selectors/package.json
  packages/link/package.json
  packages/map-balloon/package.json
  packages/popover/package.json
  packages/tag/package.json
  packages/tooltip/package.json
  yarn.lock
Due: none

fix(input-phone): bump fuse.js and libphonenumber-js version
  packages/input-phone/package.json
  packages/input-phone/src/PhoneInput.hooks.js
  packages/input-phone/src/PhoneInput.test.js
  packages/input-phone/src/countries.js
  yarn.lock
Due: eslint-app, eslint-test

fix: bump focus-visible version
  packages/button/package.json
  yarn.lock
Due: none

chore: bump prettier version
  .pre-commit-config.yaml
  package.json
  packages/scaffold/package.json
  yarn.lock
Due: none

chore(icon): bump dev dependencies
  packages/icon/package.json
  yarn.lock
Due: none

chore: update estlint packages
  .eslintrc.js
  package.json
  yarn.lock
Due: eslint-app

style: format code with new eslint rules
  Storyshots.test.js
  packages/alert/src/Alert.js
  packages/alert/src/Alert.test.js
  packages/alert/src/BrieflyDisplay.js
  packages/alert/src/BrieflyDisplay.test.js
  packages/button/src/Button.test.js
  packages/carousel/src/Carousel.js
  packages/dropdown/src/components/Dropdown.test.js
  packages/filter-popover/src/FilterPopover.test.js
  packages/hoc-input/src/formInput.js
  packages/hoc-input/src/formInput.test.js
  packages/input-checkbox/src/Checkbox.js
  packages/input-checkbox/src/Checkbox.test.js
  packages/input-phone/src/PhoneInput.test.js
  packages/input-radio/src/Radio.js
  packages/input-radio/src/Radio.test.js
  packages/input-radio/src/RadioGroup.js
  packages/input-radio/src/RadioGroup.test.js
  packages/input-select/src/Select.story.js
  packages/input-select/src/Select.test.js
  packages/input-select/src/components/withImage.js
  packages/input-text/src/protectedValue.js
  packages/map-balloon/src/MapBalloon.story.js
  packages/modal/src/Modal.test.js
  packages/popover/src/Popover.js
  packages/popover/src/Popover.test.js
  packages/search-field/src/SearchField.story.js
  packages/search-field/src/SearchField.test.js
  packages/search-field/src/components/ScrollBox.js
  packages/stepper/src/components/Step.js
  packages/stepper/src/components/Stepper.test.js
  packages/table/src/hooks/useTableMap.test.js
  packages/tag/src/components/Tag.test.js
Due: eslint-app, eslint-test

fix(dropdown): bump react-aria-menubutton version
  packages/dropdown/package.json
  yarn.lock
Due: none

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/index.html
  docs/main.419e23bdeabf56109af4.bundle.js
  docs/main.419e23bdeabf56109af4.bundle.js.map
  docs/main.8d6c0ad7aa7b1b5ca693.bundle.js
  docs/main.8d6c0ad7aa7b1b5ca693.bundle.js.map
  docs/main.a544ebfdbbb6aff58cfd.bundle.js
  docs/main.d662f1945e245bf48c00.bundle.js
  docs/runtime~main.419e23bdeabf56109af4.bundle.js.map
  docs/runtime~main.8d6c0ad7aa7b1b5ca693.bundle.js
  docs/runtime~main.8d6c0ad7aa7b1b5ca693.bundle.js.map
  docs/vendors~main.07c97d4afeead3000354.bundle.js
  docs/vendors~main.15ced3dacd1ac899722c.bundle.js
  docs/vendors~main.419e23bdeabf56109af4.bundle.js
  docs/vendors~main.419e23bdeabf56109af4.bundle.js.map
  docs/vendors~main.8d6c0ad7aa7b1b5ca693.bundle.js
  docs/vendors~main.8d6c0ad7aa7b1b5ca693.bundle.js.LICENSE.txt
  docs/vendors~main.8d6c0ad7aa7b1b5ca693.bundle.js.map
Due: none

feat: use new sm icons
  packages/amount-selectors/src/components/AmountSelectors.js
  packages/hoc-input/src/formInput.js
  packages/input-checkbox/src/Toggle.js
  packages/modal/src/Modal.js
  packages/more-info/src/components/MoreInfo.js
  packages/sidenav/src/components/NavButton/CloseButton.js
  packages/tag/src/components/Tag.js
Due: eslint-app

test(storyshots): update
  amount-selectors/src/components/__snapshots__/AmountSelectors.story.storyshot
  button/src/__snapshots__/Button.story.storyshot
  hoc-input/src/__snapshots__/formInput.story.storyshot
  icon/src/__snapshots__/Icon.story.storyshot
  input-text/src/__snapshots__/TextInput.story.storyshot
  packages/alert/src/__snapshots__/Alert.story.storyshot
  packages/button/src/__snapshots__/Button.story.storyshot
  packages/card/src/__snapshots__/Card.story.storyshot
  packages/dropdown/src/components/__snapshots__/Dropdown.story.storyshot
  packages/empty-state/src/__snapshots__/EmptyState.story.storyshot
  packages/filter-popover/src/__snapshots__/FilterPopover.story.storyshot
  packages/form-wrapper/src/__snapshots__/FormWrapper.story.storyshot
  packages/input-checkbox/src/__snapshots__/Checkbox.story.storyshot
  packages/input-select/src/__snapshots__/Select.story.storyshot
  packages/input-select/src/components/__snapshots__/Item.story.storyshot
  packages/link/src/components/__snapshots__/Link.Neutral.story.storyshot
  packages/link/src/components/__snapshots__/Link.Normal.story.storyshot
  packages/link/src/components/__snapshots__/Link.story.storyshot
  packages/map-balloon/src/__snapshots__/MapBalloon.story.storyshot
  packages/modal/src/__snapshots__/DialogModal.story.storyshot
  packages/modal/src/__snapshots__/Modal.story.storyshot
  packages/modal/src/__snapshots__/helpers.story.storyshot
  packages/more-info/src/components/__snapshots__/MoreInfo.story.storyshot
  packages/search-field/src/__snapshots__/SearchField.story.storyshot
  packages/search-field/src/components/__snapshots__/Menu.story.storyshot
  packages/stepper/src/components/__snapshots__/Step.story.storyshot
  packages/stepper/src/components/__snapshots__/Stepper.story.storyshot
  packages/tag/src/components/__snapshots__/Tag.story.storyshot
  packages/tooltip/src/__snapshots__/Tooltip.story.storyshot
  sidenav/src/__snapshots__/SideNav.story.storyshot
  sidenav/src/components/NavItem/__snapshots__/NavItem.story.storyshot
Due: none

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/main.76cf3913e41e2d981bbf.bundle.js
  docs/main.76cf3913e41e2d981bbf.bundle.js.map
  docs/main.8d6c0ad7aa7b1b5ca693.bundle.js
  docs/main.8d6c0ad7aa7b1b5ca693.bundle.js.map
  docs/runtime~main.76cf3913e41e2d981bbf.bundle.js
  docs/runtime~main.76cf3913e41e2d981bbf.bundle.js.map
  docs/runtime~main.8d6c0ad7aa7b1b5ca693.bundle.js.map
  docs/vendors~main.76cf3913e41e2d981bbf.bundle.js
  docs/vendors~main.76cf3913e41e2d981bbf.bundle.js.LICENSE.txt
  docs/vendors~main.76cf3913e41e2d981bbf.bundle.js.map
  docs/vendors~main.8d6c0ad7aa7b1b5ca693.bundle.js.map
Due: none

feat(SideNav): forward ref to SideBar component
  packages/sidenav/src/SideNav.js
Due: eslint-app

chore(release): [ci skip] publish
  packages/sidenav/CHANGELOG.md
  packages/sidenav/package.json
Due: none

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/main.2f0c65005604b9a492fc.bundle.js
  docs/main.2f0c65005604b9a492fc.bundle.js.map
  docs/main.76cf3913e41e2d981bbf.bundle.js
  docs/main.76cf3913e41e2d981bbf.bundle.js.map
  docs/runtime~main.2f0c65005604b9a492fc.bundle.js
  docs/runtime~main.2f0c65005604b9a492fc.bundle.js.map
  docs/runtime~main.76cf3913e41e2d981bbf.bundle.js.map
  docs/vendors~main.2f0c65005604b9a492fc.bundle.js
  docs/vendors~main.2f0c65005604b9a492fc.bundle.js.LICENSE.txt
  docs/vendors~main.2f0c65005604b9a492fc.bundle.js.map
  docs/vendors~main.76cf3913e41e2d981bbf.bundle.js.map
Due: none

Path conditions:
  eslint-app: any of: ^(?!.*\.test).*\.js$, but not: ^docs
  eslint-test: any of: \.test\.js$
