Repository CraveFood/farmblocks: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint-app, eslint-test

.pre-commit-config.yaml:

fail_fast: true
repos:
-   repo: https://github.com/prettier/prettier
    sha: '1.7.0'
    hooks:
      - id: prettier

-   repo: local
    hooks:
      - id: eslint-app
        name: eslint-app
        entry: ./node_modules/eslint/bin/eslint.js
        args:
          - "--config=.eslintrc.js"
          - "--ignore-path=.eslintignore"
        language: system
        files: '^(?!.*\.test).*\.js$'

      - id: eslint-test
        name: eslint-test
        entry: ./node_modules/eslint/bin/eslint.js
        args:
          - "--config=.test.eslintrc.js"
          - "--ignore-path=.test.eslintignore"
        language: system
        files: '\.test\.js$'

test(snapshots): update
  __snapshots__/Storyshots.test.js.snap
Due: none

test(table): tests for the title click and row selection
  packages/table/src/Column.test.js
  packages/table/src/Table.story.js
  packages/table/src/Table.test.js
Due: eslint-app, eslint-test

fix(checkbox): fix alignment on Firefox
  packages/table/src/styledComponents/Table.js
Due: eslint-app

test(snapshots): fix time issue on the story and update snapshots
  __snapshots__/Storyshots.test.js.snap
  packages/table/src/Table.story.js
Due: eslint-app

feat(selectionbar): add a property on the table to allow the plugging of an action header
  packages/table/src/SelectionBar.js
  packages/table/src/Table.js
  packages/table/src/Table.story.js
  packages/table/src/index.js
  packages/table/src/styledComponents/SelectionBar.js
  packages/table/src/styledComponents/Table.js
Due: eslint-app

test(selectionbar): add more tests and stories
  packages/table/src/SelectionBar.js
  packages/table/src/SelectionBar.test.js
  packages/table/src/Table.story.js
  packages/table/src/Table.test.js
Due: eslint-app, eslint-test

fix(test): minor text change
  packages/table/src/Column.test.js
Due: eslint-test

fixup! fix(onChange): onChange event from a checkbox that got it's checked property changed programatically
  packages/input-checkbox/src/Checkbox.js
Due: eslint-app

docs(readme): update
  README.md
  packages/table/README.md
Due: none

chore(release): [ci skip] publish
  packages/dropdown/CHANGELOG.md
  packages/dropdown/package.json
  packages/input-checkbox/CHANGELOG.md
  packages/input-checkbox/package.json
  packages/table/CHANGELOG.md
  packages/table/package.json
Due: none

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/index.html
  docs/static/manager.92abab810c84f9118b90.bundle.js
  docs/static/manager.c90119e385c9021243c7.bundle.js
  docs/static/preview.836b704d7e6db191310d.bundle.js
  docs/static/preview.fd8765a9add2368bf17e.bundle.js
Due: eslint-app

chore(release): [ci skip] publish
  packages/alert/CHANGELOG.md
  packages/alert/package.json
  packages/button/CHANGELOG.md
  packages/button/package.json
  packages/card/CHANGELOG.md
  packages/card/package.json
  packages/dropdown/CHANGELOG.md
  packages/dropdown/package.json
  packages/empty-state/CHANGELOG.md
  packages/empty-state/package.json
  packages/footer/CHANGELOG.md
  packages/footer/package.json
  packages/hoc-disabled-tooltip/CHANGELOG.md
  packages/hoc-disabled-tooltip/package.json
  packages/hoc-input/CHANGELOG.md
  packages/hoc-input/package.json
  packages/image/CHANGELOG.md
  packages/image/package.json
  packages/input-checkbox/CHANGELOG.md
  packages/input-checkbox/package.json
  packages/input-text/CHANGELOG.md
  packages/input-text/package.json
  packages/link/CHANGELOG.md
  packages/link/package.json
  packages/stepper/CHANGELOG.md
  packages/stepper/package.json
  packages/table/CHANGELOG.md
  packages/table/package.json
  packages/text/CHANGELOG.md
  packages/text/package.json
  packages/theme/CHANGELOG.md
  packages/theme/package.json
  packages/tooltip/CHANGELOG.md
  packages/tooltip/package.json
Due: none

feat(css-transition): add transition to table selection bar
  packages/table/package.json
  packages/table/src/Table.js
  packages/table/src/styledComponents/SelectionBar.js
  yarn.lock
Due: eslint-app

test(requestAnimationFrame): add polyfill for requestAnimationFrame on test environment
  jest.setup.js
Due: eslint-app

test(storyshots): update
  __snapshots__/Storyshots.test.js.snap
Due: none

chore(package): update lockfile
  yarn.lock
Due: none

chore(release): [ci skip] publish
  packages/table/CHANGELOG.md
  packages/table/package.json
Due: none

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/index.html
  docs/static/manager.c90119e385c9021243c7.bundle.js
  docs/static/manager.c91e7c39535898d549d6.bundle.js
  docs/static/preview.72efb33c37ed9384b604.bundle.js
  docs/static/preview.836b704d7e6db191310d.bundle.js
Due: eslint-app

chore(eslint): remove flow plugins from eslint checks
  .eslintignore
  .eslintrc.js
Due: eslint-app

chore(flowtype): remove flow related dependencies
  package.json
  yarn.lock
Due: none

refactor(flow): remove type definitions from the alert package
  packages/alert/src/Alert.js
  packages/alert/src/BrieflyDisplay.js
  packages/alert/src/BrieflyDisplay.story.js
  packages/alert/src/constants/alertTypes.js
Due: eslint-app

chore(flow typed): remove flow-typed libdefs
  flow-typed/npm/@crave/farmblocks-text_vx.x.x.js
  flow-typed/npm/@crave/farmblocks-tooltip_vx.x.x.js
  flow-typed/npm/@storybook/addon-actions_vx.x.x.js
  flow-typed/npm/@storybook/addon-info_vx.x.x.js
  flow-typed/npm/@storybook/react_vx.x.x.js
  flow-typed/npm/flow-bin_v0.x.x.js
  flow-typed/npm/prop-types_v15.x.x.js
  flow-typed/npm/styled-components_v2.x.x.js
  packages/alert/flow-typed/npm/prop-types_v15.x.x.js
  packages/alert/flow-typed/npm/styled-components_v2.x.x.js
Due: eslint-app

chore(flowtype): remove npm script for typechecking and the use of it by travis
  .travis.yml
  package.json
Due: none

chore(babel): remove flow related plugins from the babel pipeline
  .babelrc
Due: none

refactor(flow): convert flow types to proptypes and remove flow types from the empty-state component
  packages/empty-state/src/EmptyState.js
  packages/empty-state/src/EmptyState.story.js
  packages/empty-state/src/styledComponents/Container.js
Due: eslint-app

chore(lint-staged): is no more
  package.json
  yarn.lock
Due: none

refactor(flow): remove type definitions from button and tooltip components
  packages/button/src/constants/buttonTypes.js
  packages/tooltip/src/Tooltip.js
  packages/tooltip/src/styledComponents/Tooltip.js
Due: eslint-app

chore(snyk): run snyk test and snyk monitor only if the branch is master
  .travis.yml
Due: none

feat(dropdown): export dropdown wrappers
  packages/dropdown/src/index.js
Due: eslint-app

feat(formInput): add innerRef prop on the formInput hoc
  packages/hoc-input/src/formInput.js
Due: eslint-app

feat(dropdown item): add selected and highlighted styles to dropdonw item wrapper
  packages/dropdown/src/components/Dropdown.story.js
  packages/dropdown/src/components/DropdownItem.js
  packages/dropdown/src/components/DropdownItem.story.js
  packages/dropdown/src/styledComponents/DropdownItemWrapper.js
Due: eslint-app

WIP(scaffold): initial select component files
  packages/input-select/AUTHORS
  packages/input-select/LICENSE
  packages/input-select/README.md
  packages/input-select/package.json
  packages/input-select/src/Select.js
  packages/input-select/src/Select.story.js
  packages/input-select/src/index.js
  yarn.lock
Due: eslint-app

feat(hoc-input): add styles to input with combobox role
  packages/hoc-input/src/formInput.js
  packages/hoc-input/src/formInput.story.js
  packages/hoc-input/src/styledComponents/Wrapper.js
Due: eslint-app

chore(dependency): add classnames as dependency on hoc-input
  packages/hoc-input/package.json
Due: none

chore(dependencies): add dependencies to input-select
  packages/input-select/package.json
  yarn.lock
Due: none

feat(select): api improvements on select input component
  packages/input-select/src/Select.js
  packages/input-select/src/Select.story.js
Due: eslint-app

feat(select): initial styled select input component
  packages/input-select/src/Select.js
  packages/input-select/src/Select.story.js
Due: eslint-app

feat(Select): custom render item
  packages/input-select/src/Select.js
  packages/input-select/src/Select.story.js
Due: eslint-app
