Repository CraveFood/farmblocks: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint-app, eslint-test

.pre-commit-config.yaml:

fail_fast: true
repos:
-   repo: https://github.com/prettier/prettier
    sha: '1.7.0'
    hooks:
      - id: prettier

-   repo: local
    hooks:
      - id: eslint-app
        name: eslint-app
        entry: ./node_modules/eslint/bin/eslint.js
        args:
          - "--config=.eslintrc.js"
          - "--ignore-path=.eslintignore"
        language: system
        files: '^(?!.*\.test).*\.js$'

      - id: eslint-test
        name: eslint-test
        entry: ./node_modules/eslint/bin/eslint.js
        args:
          - "--config=.test.eslintrc.js"
          - "--ignore-path=.test.eslintignore"
        language: system
        files: '\.test\.js$'

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/main.6cbc64e479e2e53ac943.bundle.js
  docs/main.6cbc64e479e2e53ac943.bundle.js.map
  docs/main.cc4fc9f2d188ff629178.bundle.js
  docs/main.cc4fc9f2d188ff629178.bundle.js.map
  docs/runtime~main.6cbc64e479e2e53ac943.bundle.js.map
  docs/runtime~main.cc4fc9f2d188ff629178.bundle.js
  docs/runtime~main.cc4fc9f2d188ff629178.bundle.js.map
  docs/vendors~main.6cbc64e479e2e53ac943.bundle.js.map
  docs/vendors~main.cc4fc9f2d188ff629178.bundle.js
  docs/vendors~main.cc4fc9f2d188ff629178.bundle.js.map
Due: eslint-app

feat(sidenav): export package components
  packages/sidenav/src/index.js
Due: eslint-app

tests(storyshots): Add snapshot test for sidenav
  __snapshots__/Storyshots.test.js.snap
Due: none

feat(sidenav): add stories for sidenav component
  packages/sidenav/src/SideNav.story.js
Due: eslint-app

chore(AUTHORS): Fix npm username
  AUTHORS
  packages/modal/AUTHORS
Due: none

chore(release): [ci skip] publish
  packages/modal/CHANGELOG.md
  packages/modal/package.json
Due: none

feat(package.json): add storybook breakpoint addon
  .storybook/addons.js
  package.json
  yarn.lock
Due: eslint-app

feat(sidenav): Add mobile variant styles
  packages/sidenav/src/SideNav.styled.js
Due: eslint-app

feat(Content): Create content helper comp
  packages/sidenav/src/Content.js
  packages/sidenav/src/index.js
Due: eslint-app

feat(sidenav): Inject prop on childrens
  packages/sidenav/src/NavButton.js
  packages/sidenav/src/NavItem.js
  packages/sidenav/src/SideNav.js
Due: eslint-app

tests(SideNav): Update stories to new API
  packages/sidenav/src/SideNav.story.js
Due: eslint-app

feat(sidenav): variants
  packages/sidenav/src/SideNav.story.js
  packages/sidenav/src/constants/variants.js
Due: eslint-app

Removed travis node version
  .travis.yml
Due: none

[test] testing travis version
  .travis.yml
Due: none

chore: update storyshots
  packages/card/src/__snapshots__/Card.story.storyshot
  packages/carousel/src/__snapshots__/Carousel.story.storyshot
  packages/empty-state/src/__snapshots__/EmptyState.story.storyshot
  packages/footer/src/components/__snapshots__/Footer.story.storyshot
  packages/hoc-validation-messages/src/__snapshots__/withMessages.story.storyshot
  packages/image/src/__snapshots__/Image.story.storyshot
  packages/input-currency/src/__snapshots__/CurrencyInput.story.storyshot
  packages/input-select/src/__snapshots__/Select.story.storyshot
  packages/input-select/src/components/__snapshots__/EmptyCard.story.storyshot
  packages/input-select/src/components/__snapshots__/Item.story.storyshot
  packages/input-select/src/components/__snapshots__/withImage.story.storyshot
  packages/input-text/src/__snapshots__/TextAreaInput.story.storyshot
  packages/input-text/src/__snapshots__/TextInput.story.storyshot
  packages/map-balloon/src/__snapshots__/MapBalloon.story.storyshot
  packages/modal/src/__snapshots__/DialogModal.story.storyshot
  packages/search-field/src/__snapshots__/SearchField.story.storyshot
  packages/search-field/src/components/__snapshots__/Menu.story.storyshot
  packages/table/src/__snapshots__/Table.story.storyshot
Due: none

fix(Image): proptypes width and height could be a number value
  packages/image/README.md
  packages/image/src/Image.js
  packages/image/src/Image.story.js
  packages/image/src/styledComponents/Image.js
Due: eslint-app

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/main.559d317fc5e5d8b72c06.bundle.js
  docs/main.559d317fc5e5d8b72c06.bundle.js.map
  docs/main.cc4fc9f2d188ff629178.bundle.js
  docs/main.cc4fc9f2d188ff629178.bundle.js.map
  docs/runtime~main.559d317fc5e5d8b72c06.bundle.js
  docs/runtime~main.559d317fc5e5d8b72c06.bundle.js.map
  docs/runtime~main.cc4fc9f2d188ff629178.bundle.js.map
  docs/vendors~main.559d317fc5e5d8b72c06.bundle.js
  docs/vendors~main.559d317fc5e5d8b72c06.bundle.js.map
  docs/vendors~main.cc4fc9f2d188ff629178.bundle.js.map
Due: eslint-app

chore(storybook): update dependencies and setup DocsPage
  .storybook/config.js
  .storybook/presets.js
  package.json
  packages/input-phone/README.md
  packages/input-phone/src/PhoneInput.js
  packages/input-phone/src/PhoneInput.story.js
  yarn.lock
Due: eslint-app

chore(input-phone): create initial files
  packages/input-phone/AUTHORS
  packages/input-phone/LICENSE
  packages/input-phone/README.md
  packages/input-phone/package.json
  packages/input-phone/src/PhoneInput.js
  packages/input-phone/src/PhoneInput.story.js
  packages/input-phone/src/index.js
Due: eslint-app

chore(input-phone): add dependencies
  packages/input-phone/package.json
  yarn.lock
Due: none

feat(popover): stop propagation of trigger click event
  packages/popover/src/Popover.js
  packages/popover/src/Popover.test.js
Due: eslint-app, eslint-test

feat(input-phone): create script to generate a list of countries
  .prettierignore
  packages/input-phone/package.json
  packages/input-phone/src/countries.json
  packages/input-phone/updateCountryList.js
Due: eslint-app

feat(input-phone): render popover in full screen on mobile devices
  packages/input-phone/src/PhoneInput.js
Due: eslint-app

feat(input-phone): detect emoji support and fallback to 2 letter code
  packages/input-phone/src/CountryRow.js
  packages/input-phone/src/CountrySelectorTrigger.js
  packages/input-phone/src/PhoneInput.js
  packages/input-phone/src/countries.json
  packages/input-phone/updateCountryList.js
Due: eslint-app

feat(tooltip): fit whole screen on small screens
  packages/tooltip/README.md
  packages/tooltip/src/TooltipContent.js
  packages/tooltip/src/TooltipContent.story.js
  packages/tooltip/src/TooltipContent.styled.js
Due: eslint-app

feat(hoc-input): change types of prefix and suffix to node
  packages/hoc-input/src/formInput.js
Due: eslint-app

feat(hoc-input): add \`active\` prop
  packages/hoc-input/README.md
  packages/hoc-input/src/formInput.js
  packages/hoc-input/src/formInput.story.js
  packages/hoc-input/src/styledComponents/Wrapper.js
Due: eslint-app

feat(input-phone): enable country selection by keyboard
  packages/input-phone/src/CountryRow.js
  packages/input-phone/src/PhoneInput.hooks.js
  packages/input-phone/src/PhoneInput.js
  packages/input-phone/src/PhoneInput.story.js
Due: eslint-app

fix(hoc-input): css classes affecting child components
  packages/hoc-input/src/styledComponents/Wrapper.js
  packages/input-select/src/Select.js
Due: eslint-app

feat(input-phone): display list of countries
  packages/input-phone/src/CountryRow.js
  packages/input-phone/src/PhoneInput.js
Due: eslint-app

feat(input-phone): use popover as prefix for input
  packages/input-phone/package.json
  packages/input-phone/src/ChevronDown.js
  packages/input-phone/src/CountrySelectorTrigger.js
  packages/input-phone/src/PhoneInput.js
  packages/input-phone/src/PhoneInput.story.js
Due: eslint-app

feat(input-phone): manage input focus on popover open/close
  packages/input-phone/src/PhoneInput.js
Due: eslint-app

feat(popover): add \`disabled\` prop
  packages/popover/README.md
  packages/popover/src/Popover.js
  packages/popover/src/Popover.story.js
Due: eslint-app

feat(input-phone): handle changes in the defaultCountry
  packages/input-phone/src/PhoneInput.js
  packages/input-phone/src/PhoneInput.story.js
Due: eslint-app

feat(input-phone): handle country selection
  packages/input-phone/src/CountryRow.js
  packages/input-phone/src/PhoneInput.js
Due: eslint-app

feat(input-phone): format number as you type
  packages/input-phone/src/PhoneInput.js
Due: eslint-app

feat(input-phone): accept priority countries
  packages/input-phone/src/PhoneInput.hooks.js
  packages/input-phone/src/PhoneInput.js
  packages/input-phone/src/PhoneInput.story.js
Due: eslint-app

feat(input-phone): pass disabled prop to country selection popover
  packages/input-phone/src/CountrySelectorTrigger.js
  packages/input-phone/src/PhoneInput.js
Due: eslint-app

feat(input-select > item): pass all extra props to wrapper
  packages/input-select/README.md
  packages/input-select/src/components/Item.js
Due: eslint-app
