Repository CraveFood/farmblocks: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint-app, eslint-test

.pre-commit-config.yaml:

fail_fast: true
repos:
-   repo: https://github.com/prettier/prettier
    sha: '1.7.0'
    hooks:
      - id: prettier

-   repo: local
    hooks:
      - id: eslint-app
        name: eslint-app
        entry: ./node_modules/eslint/bin/eslint.js
        args:
          - "--config=.eslintrc.js"
          - "--ignore-path=.eslintignore"
        language: system
        files: '^(?!.*\.test).*\.js$'

      - id: eslint-test
        name: eslint-test
        entry: ./node_modules/eslint/bin/eslint.js
        args:
          - "--config=.test.eslintrc.js"
          - "--ignore-path=.test.eslintignore"
        language: system
        files: '\.test\.js$'

refactor(styled button): minor, fix the name of a variable for consistency
  packages/button/src/styledComponents/Button.js
Due: eslint-app

chore(release): [ci skip] publish
  packages/alert/CHANGELOG.md
  packages/alert/package.json
  packages/button/CHANGELOG.md
  packages/button/package.json
  packages/tooltip/CHANGELOG.md
  packages/tooltip/package.json
Due: none

fix: fix button hover colors
  packages/button/src/constants/colorTypes.js
Due: eslint-app

test(update storyshot): update storyshot
  __snapshots__/Storyshots.test.js.snap
Due: none

chore(release): [ci skip] publish
  packages/alert/CHANGELOG.md
  packages/alert/package.json
  packages/button/CHANGELOG.md
  packages/button/package.json
Due: none

docs(gallery): fix build task, include assets
  package.json
Due: none

docs(gallery): add docs folder to the eslintignore to please travis
  .eslintignore
Due: none

docs(gallery): update gallery build
  docs/iframe.html
  docs/index.html
  docs/static/manager.856fadbb59b211f5f62a.bundle.js
  docs/static/manager.df4ec41bddc9fa932119.bundle.js
  docs/static/preview.14b5ce3aeaf03d85df3c.bundle.js
  docs/static/preview.c62c0728bf000f98daa2.bundle.js
  docs/whatsgood-iconfont.eot
  docs/whatsgood-iconfont.svg
  docs/whatsgood-iconfont.ttf
  docs/whatsgood-iconfont.woff
Due: eslint-app

docs(gallery): create a gallery page under docs to be served by github pages
  .pre-commit-config.yaml
  .prettierignore
  docs/favicon.ico
  docs/iframe.html
  docs/index.html
  docs/static/manager.856fadbb59b211f5f62a.bundle.js
  docs/static/preview.c62c0728bf000f98daa2.bundle.js
Due: eslint-app

docs(gallery): update to latest master
  docs/iframe.html
  docs/index.html
  docs/lato-light-webfont.woff
  docs/lato-light-webfont.woff2
  docs/lato-regular-webfont.woff
  docs/lato-regular-webfont.woff2
  docs/lato-semibold-webfont.woff
  docs/lato-semibold-webfont.woff2
  docs/static/manager.05b8f199df46f54edf2f.bundle.js
  docs/static/manager.df4ec41bddc9fa932119.bundle.js
  docs/static/preview.03239ffae98c724a7885.bundle.js
  docs/static/preview.14b5ce3aeaf03d85df3c.bundle.js
Due: eslint-app

chore(dev dependencies): upgrade dependencies
  package.json
  yarn.lock
Due: none

chore(babel): remove local babel config from alert package and use stage-2 preset
  .babelrc
  package.json
  packages/alert/package.json
Due: none

chore(flow): created stubs for storybook dependencies using flow typed
  flow-typed/npm/@storybook/addon-info_vx.x.x.js
  flow-typed/npm/@storybook/react_vx.x.x.js
Due: eslint-app

test(stories): add new stories to show new API features
  packages/alert/src/Alert.story.js
Due: eslint-app

refactor(styled alert): move dismiss button styles to inside styled alert and rename Container to Al
  packages/alert/src/Alert.js
  packages/alert/src/styledComponents/Alert.js
  packages/alert/src/styledComponents/DismissButtonContainer.js
Due: eslint-app

feat(briefly display): create BrieflyDisplay component
  packages/alert/src/BrieflyDisplay.js
  packages/alert/src/BrieflyDisplay.story.js
Due: eslint-app

feat(stateful alert): make alert comonent default dismiss hide the component and add property to hid
  packages/alert/src/Alert.js
Due: eslint-app

feat(new property): add property zIndex to the alert component
  packages/alert/src/Alert.js
  packages/alert/src/styledComponents/Alert.js
Due: eslint-app

test(snapshots): snapshots update
  __snapshots__/Storyshots.test.js.snap
Due: none

test(new tests): new tests and code changes based on coverage report
  packages/alert/src/Alert.js
  packages/alert/src/Alert.test.js
  packages/alert/src/BrieflyDisplay.test.js
Due: eslint-app, eslint-test

docs(gallery): update galery to include new stories
  docs/iframe.html
  docs/index.html
  docs/static/manager.05b8f199df46f54edf2f.bundle.js
  docs/static/manager.fca5d5dc09f2a0e48513.bundle.js
  docs/static/preview.03239ffae98c724a7885.bundle.js
  docs/static/preview.05482e7f9bc1d393e706.bundle.js
Due: eslint-app

feat(alert props): add new property autoRemove
  packages/alert/src/Alert.js
  packages/alert/src/BrieflyDisplay.js
Due: eslint-app

refactor(code review): address 2 issues from code review:
  packages/alert/src/Alert.js
Due: eslint-app

test(snapshots): updated snapshots
  __snapshots__/Storyshots.test.js.snap
Due: none

docs(gallery): gallery update
  docs/iframe.html
  docs/static/preview.05482e7f9bc1d393e706.bundle.js
  docs/static/preview.c9053163b79730a9d132.bundle.js
Due: eslint-app

fix(onDismiss): onDismiss should be called on regular timeout as well
  packages/alert/src/Alert.js
  packages/alert/src/BrieflyDisplay.js
Due: eslint-app

test(snapshots): update snapshots
  __snapshots__/Storyshots.test.js.snap
Due: none

feat(css): change position to fixed, on top, and remove margin from the p
  packages/alert/src/Alert.js
  packages/alert/src/styledComponents/Alert.js
Due: eslint-app

docs(gallery): update gallery
  docs/iframe.html
  docs/static/preview.c9053163b79730a9d132.bundle.js
  docs/static/preview.debde046d83889d94ea1.bundle.js
Due: eslint-app

chore(release): [ci skip] publish
  packages/alert/CHANGELOG.md
  packages/alert/package.json
Due: none

fix: set font-family to lato
  packages/tooltip/src/styledComponents/Tooltip.js
Due: eslint-app

test(storyshot): update snapshots
  __snapshots__/Storyshots.test.js.snap
Due: none

chore: build storybook gallery
  docs/iframe.html
  docs/static/preview.b055c0fabb22c83dc891.bundle.js
  docs/static/preview.debde046d83889d94ea1.bundle.js
Due: eslint-app

chore(babel): consolidate all babel environments into a single one
  .babelrc
  .travis.yml
  CONTRIBUTING.md
Due: none

refactor(gallery): minor, an inocuous change just to trigger a difference in gallery
  .storybook/config.js
Due: eslint-app

chore(travis): build the storybook gallery automatically upon landing on master
  .travis.yml
Due: none

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/static/preview.b055c0fabb22c83dc891.bundle.js
  docs/static/preview.de56cd06bd73c5ba80e5.bundle.js
Due: eslint-app

WIP(config): initial stepper package
  packages/stepper/AUTHORS
  packages/stepper/LICENSE
  packages/stepper/README.md
  packages/stepper/package.json
Due: none
