Repository CraveFood/farmblocks: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint-app, eslint-test

eslint-app:
  name: eslint-app
  entry: ./node_modules/eslint/bin/eslint.js
  args:
  - --config=.eslintrc.js
  - --ignore-path=.eslintignore
  language: system

eslint-test:
  name: eslint-test
  entry: ./node_modules/eslint/bin/eslint.js
  args:
  - --config=.test.eslintrc.js
  - --ignore-path=.test.eslintignore
  language: system

chore(release): [ci skip] publish
  packages/amount-selectors/CHANGELOG.md
  packages/amount-selectors/package.json
  packages/filter-popover/CHANGELOG.md
  packages/filter-popover/package.json
  packages/form-wrapper/CHANGELOG.md
  packages/form-wrapper/package.json
  packages/hoc-input/CHANGELOG.md
  packages/hoc-input/package.json
  packages/input-select/CHANGELOG.md
  packages/input-select/package.json
  packages/input-text/CHANGELOG.md
  packages/input-text/package.json
  packages/search-field/CHANGELOG.md
  packages/search-field/package.json
Due: none

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/static/preview.4f525d2ae2a97fbc6388.bundle.js
  docs/static/preview.6e368686ba5943f61ae4.bundle.js
Due: eslint-app

feat(tooltip): add top property
  packages/tooltip/README.md
  packages/tooltip/src/Tooltip.js
  packages/tooltip/src/Tooltip.story.js
  packages/tooltip/src/styledComponents/Tooltip.js
Due: eslint-app

docs(storybook): use withInfo addon in tooltip stories
  packages/tooltip/src/Tooltip.story.js
Due: eslint-app

chore(storyshots): update
  packages/tooltip/src/__snapshots__/Tooltip.story.storyshot
Due: none

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/static/preview.4f525d2ae2a97fbc6388.bundle.js
  docs/static/preview.642e93386177f9b33c0e.bundle.js
Due: eslint-app

feat(Tooltip): added overflow property
  packages/tooltip/README.md
  packages/tooltip/src/Tooltip.js
  packages/tooltip/src/Tooltip.story.js
  packages/tooltip/src/styledComponents/Tooltip.js
Due: eslint-app

feat(Popover): pass overflow property to Tooltip
  packages/popover/README.md
  packages/popover/src/Popover.js
Due: eslint-app

test(storyshots): update
  packages/tooltip/src/__snapshots__/Tooltip.story.storyshot
Due: none

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/static/preview.139e7534469fdc3fba1e.bundle.js
  docs/static/preview.642e93386177f9b33c0e.bundle.js
Due: eslint-app

fix(Button): fontWeight proptype notation
  packages/button/src/Button.js
Due: eslint-app

feat(FilterPopover): added cancel label and on cancel handler
  packages/filter-popover/README.md
  packages/filter-popover/src/FilterPopover.js
  packages/filter-popover/src/FilterPopover.story.js
  packages/filter-popover/src/FilterPopover.test.js
Due: eslint-app, eslint-test

test(snapshots): update
  packages/filter-popover/src/__snapshots__/FilterPopover.story.storyshot
Due: none

chore(release): [ci skip] publish
  packages/alert/CHANGELOG.md
  packages/alert/package.json
  packages/amount-selectors/CHANGELOG.md
  packages/amount-selectors/package.json
  packages/button/CHANGELOG.md
  packages/button/package.json
  packages/card/CHANGELOG.md
  packages/card/package.json
  packages/dropdown/CHANGELOG.md
  packages/dropdown/package.json
  packages/empty-state/CHANGELOG.md
  packages/empty-state/package.json
  packages/filter-popover/CHANGELOG.md
  packages/filter-popover/package.json
  packages/footer/CHANGELOG.md
  packages/footer/package.json
  packages/form-wrapper/CHANGELOG.md
  packages/form-wrapper/package.json
  packages/input-select/CHANGELOG.md
  packages/input-select/package.json
  packages/input-text/CHANGELOG.md
  packages/input-text/package.json
  packages/map-balloon/CHANGELOG.md
  packages/map-balloon/package.json
  packages/search-field/CHANGELOG.md
  packages/search-field/package.json
  packages/table/CHANGELOG.md
  packages/table/package.json
Due: none

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/static/preview.139e7534469fdc3fba1e.bundle.js
  docs/static/preview.64d290ec43830543bdd4.bundle.js
Due: eslint-app

test(Storyshots): update
  packages/card/src/__snapshots__/Card.story.storyshot
  packages/footer/src/components/__snapshots__/Footer.story.storyshot
  packages/form-wrapper/src/__snapshots__/FormWrapper.story.storyshot
  packages/hoc-input/src/__snapshots__/formInput.story.storyshot
  packages/link/src/components/__snapshots__/Link.Neutral.story.storyshot
  packages/link/src/components/__snapshots__/Link.Normal.story.storyshot
  packages/link/src/components/__snapshots__/Link.story.storyshot
  packages/popover/src/__snapshots__/Popover.story.storyshot
  packages/search-field/src/__snapshots__/SearchField.story.storyshot
  packages/search-field/src/components/__snapshots__/Menu.story.storyshot
  packages/table/src/__snapshots__/Table.story.storyshot
Due: none

fix(Link): pass icons as children of the link
  packages/link/src/components/Link.js
  packages/link/src/styledComponents/Link.js
Due: eslint-app

chore(release): [ci skip] publish
  packages/amount-selectors/CHANGELOG.md
  packages/amount-selectors/package.json
  packages/card/CHANGELOG.md
  packages/card/package.json
  packages/filter-popover/CHANGELOG.md
  packages/filter-popover/package.json
  packages/footer/CHANGELOG.md
  packages/footer/package.json
  packages/form-wrapper/CHANGELOG.md
  packages/form-wrapper/package.json
  packages/hoc-input/CHANGELOG.md
  packages/hoc-input/package.json
  packages/input-select/CHANGELOG.md
  packages/input-select/package.json
  packages/input-text/CHANGELOG.md
  packages/input-text/package.json
  packages/link/CHANGELOG.md
  packages/link/package.json
  packages/map-balloon/CHANGELOG.md
  packages/map-balloon/package.json
  packages/popover/CHANGELOG.md
  packages/popover/package.json
  packages/search-field/CHANGELOG.md
  packages/search-field/package.json
  packages/table/CHANGELOG.md
  packages/table/package.json
Due: none

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/static/preview.64d290ec43830543bdd4.bundle.js
  docs/static/preview.80409e1e7164e4ee1f80.bundle.js
Due: eslint-app

feat(Popover): added onOutsideClick property
  packages/filter-popover/README.md
  packages/popover/src/Popover.js
  packages/popover/src/Popover.story.js
Due: eslint-app

test(Popover): add tests for onOutsideClick
  packages/popover/src/Popover.test.js
Due: eslint-test

chore(release): [ci skip] publish
  packages/filter-popover/CHANGELOG.md
  packages/filter-popover/package.json
  packages/popover/CHANGELOG.md
  packages/popover/package.json
Due: none

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/static/preview.80409e1e7164e4ee1f80.bundle.js
  docs/static/preview.c84d012f753f6d2c55a9.bundle.js
Due: eslint-app

docs(formInput): updated README.md with the new autoControlFocusedStyle property
  packages/hoc-input/README.md
Due: none

feat(formInput): added autoControlFocusedStyle property
  packages/hoc-input/src/formInput.js
  packages/hoc-input/src/formInput.story.js
  packages/hoc-input/src/formInput.test.js
Due: eslint-app, eslint-test

test(storyshots): update
  packages/hoc-input/src/__snapshots__/formInput.story.storyshot
Due: none

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/static/preview.c84d012f753f6d2c55a9.bundle.js
  docs/static/preview.e162cc884296454a1163.bundle.js
Due: eslint-app

feat(formInput): fixed styles for textarea tag
  packages/hoc-input/src/styledComponents/Wrapper.js
Due: eslint-app

feat(TextAreaInput): created component on input-text package
  packages/input-text/README.md
  packages/input-text/src/TextAreaInput.js
  packages/input-text/src/TextInput.js
  packages/input-text/src/index.js
Due: eslint-app

test: added stories for TextAreaInput
  packages/hoc-input/src/formInput.story.js
  packages/input-text/src/TextAreaInput.story.js
Due: eslint-app

test(storyshots): update
  packages/amount-selectors/src/components/__snapshots__/AmountSelectors.story.storyshot
  packages/form-wrapper/src/__snapshots__/FormWrapper.story.storyshot
  packages/hoc-input/src/__snapshots__/formInput.story.storyshot
  packages/input-select/src/__snapshots__/Select.story.storyshot
  packages/input-text/src/__snapshots__/TextAreaInput.story.storyshot
  packages/input-text/src/__snapshots__/TextInput.story.storyshot
  packages/search-field/src/__snapshots__/SearchField.story.storyshot
Due: none

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/index.html
  docs/static/manager.4f1a98be40bd5d88f196.bundle.js
  docs/static/manager.be7ec4bdd3371d390d50.bundle.js
  docs/static/preview.77b8cce6d4ec4ee59e7c.bundle.js
  docs/static/preview.e162cc884296454a1163.bundle.js
Due: eslint-app

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/index.html
  docs/static/manager.4f1a98be40bd5d88f196.bundle.js
  docs/static/manager.f0dfd55f0157973d8c1d.bundle.js
  docs/static/preview.044f2f4209610bbe4fb9.bundle.js
  docs/static/preview.77b8cce6d4ec4ee59e7c.bundle.js
Due: eslint-app

fix(SearchField): keep the search text when items change
  packages/search-field/src/SearchField.js
  packages/search-field/src/SearchField.test.js
Due: eslint-app, eslint-test

chore(release): [ci skip] publish
  packages/search-field/CHANGELOG.md
  packages/search-field/package.json
Due: none

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/static/preview.044f2f4209610bbe4fb9.bundle.js
  docs/static/preview.ee3f4b3fb2a3389d8384.bundle.js
Due: eslint-app

Path conditions:
  eslint-app: any of: ^(?!.*\.test).*\.js$
  eslint-test: any of: \.test\.js$
