Repository CraveFood/farmblocks: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint-app, eslint-test

.pre-commit-config.yaml:

fail_fast: true
repos:
-   repo: https://github.com/prettier/prettier
    sha: '1.7.0'
    hooks:
      - id: prettier

-   repo: local
    hooks:
      - id: eslint-app
        name: eslint-app
        entry: ./node_modules/eslint/bin/eslint.js
        args:
          - "--config=.eslintrc.js"
          - "--ignore-path=.eslintignore"
        language: system
        files: '^(?!.*\.test).*\.js$'

      - id: eslint-test
        name: eslint-test
        entry: ./node_modules/eslint/bin/eslint.js
        args:
          - "--config=.test.eslintrc.js"
          - "--ignore-path=.test.eslintignore"
        language: system
        files: '\.test\.js$'

chore: update eslint-plugin-jest
  package.json
  yarn.lock
Due: none

chore: update eslint
  package.json
  yarn.lock
Due: none

chore: update storybook dependencies
  docs/sb_dll/storybook_ui-manifest.json
  docs/sb_dll/storybook_ui_dll.LICENCE
  docs/sb_dll/storybook_ui_dll.js
  package.json
  yarn.lock
Due: eslint-app

chore: update commitizen
  package.json
  yarn.lock
Due: none

test(Storyshots): update
  packages/input-select/src/components/__snapshots__/EmptyCard.story.storyshot
  packages/input-select/src/components/__snapshots__/withImage.story.storyshot
Due: none

chore: update yarn.lock
  yarn.lock
Due: none

chore(hoc-withTooltip, map-balloon): update react-transition-group
  packages/hoc-withtooltip/package.json
  packages/map-balloon/package.json
  yarn.lock
Due: none

chore: update react
  package.json
  packages/alert/package.json
  packages/amount-selectors/package.json
  packages/button/package.json
  packages/card/package.json
  packages/carousel/package.json
  packages/dropdown/package.json
  packages/empty-state/package.json
  packages/filter-popover/package.json
  packages/footer/package.json
  packages/form-wrapper/package.json
  packages/hoc-disabled-tooltip/package.json
  packages/hoc-input/package.json
  packages/hoc-validation-messages/package.json
  packages/hoc-withtooltip/package.json
  packages/image/package.json
  packages/input-checkbox/package.json
  packages/input-currency/package.json
  packages/input-radio/package.json
  packages/input-select/package.json
  packages/input-text/package.json
  packages/label/package.json
  packages/link/package.json
  packages/map-balloon/package.json
  packages/more-info/package.json
  packages/popover/package.json
  packages/scaffold/src/templates/package.js
  packages/search-field/package.json
  packages/stepper/package.json
  packages/table/package.json
  packages/tag/package.json
  packages/text/package.json
  packages/tooltip/package.json
  yarn.lock
Due: eslint-app

chore: update coveralls
  package.json
  yarn.lock
Due: none

chore: update eslint-config-prettier
  package.json
  yarn.lock
Due: none

chore: update babel-jest
  package.json
  yarn.lock
Due: none

chore: update jest
  package.json
  yarn.lock
Due: none

feat(table): update polished dependency
  packages/table/package.json
  yarn.lock
Due: none

chore: update jest-enzyme
  package.json
  yarn.lock
Due: none

chore(scaffold): update slug and inquirer dependencies
  packages/scaffold/package.json
  yarn.lock
Due: none

chore: update snyk
  package.json
  yarn.lock
Due: none

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/index.html
  docs/main.2ac47ec0dc35541ff24c.bundle.js
  docs/main.2ac47ec0dc35541ff24c.bundle.js.map
  docs/main.fedd6d38f83b402dca28.bundle.js
  docs/runtime~main.2ac47ec0dc35541ff24c.bundle.js
  docs/runtime~main.2ac47ec0dc35541ff24c.bundle.js.map
  docs/vendors~main.2ac47ec0dc35541ff24c.bundle.js
  docs/vendors~main.2ac47ec0dc35541ff24c.bundle.js.map
  docs/vendors~main.fda9b1005c01b5927de6.bundle.js
Due: eslint-app

feat(gitignore): Ignore percy generated files
  .gitignore
Due: none

chore(package): Add percy dependency
  package.json
  yarn.lock
Due: none

feat(travis): setup percy script on travis
  .travis.yml
Due: none

feat(config): Add percy storybook config setup
  .storybook/config.js
Due: eslint-app

docs(MapBalloon): Set specific image in mapBalloon, to prevent diffs
  packages/map-balloon/src/MapBalloon.story.js
  packages/map-balloon/src/__snapshots__/MapBalloon.story.storyshot
Due: eslint-app

docs(Table): Set static images for avatars, to prevent diffs
  packages/table/src/Table.story.js
  packages/table/src/__snapshots__/Table.story.storyshot
Due: eslint-app

build(travis): Add preid tag to prevent cannary fails
  .travis.yml
Due: none

build(travis): Add alpha prefix to cannary version ids
  .travis.yml
Due: none

build(npm scripts): Change script to pass assets on build
  package.json
  yarn.lock
Due: none

chore(release): [ci skip] publish
  packages/map-balloon/CHANGELOG.md
  packages/map-balloon/package.json
  packages/table/CHANGELOG.md
  packages/table/package.json
Due: none

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/main.1e24a33916e594bfce4d.bundle.js
  docs/main.1e24a33916e594bfce4d.bundle.js.map
  docs/runtime~main.1e24a33916e594bfce4d.bundle.js
  docs/runtime~main.1e24a33916e594bfce4d.bundle.js.map
  docs/vendors~main.1e24a33916e594bfce4d.bundle.js
  docs/vendors~main.1e24a33916e594bfce4d.bundle.js.map
Due: eslint-app

fix(Checkbox): onChange event control
  packages/input-checkbox/src/Checkbox.js
Due: eslint-app

test(storyshots): update
  packages/input-checkbox/src/__snapshots__/Checkbox.story.storyshot
  packages/table/src/__snapshots__/Table.story.storyshot
Due: none

feat(Checkbox): is now an uncontrolled component
  packages/input-checkbox/src/Checkbox.js
  packages/input-checkbox/src/Checkbox.story.js
  packages/input-checkbox/src/Checkbox.test.js
Due: eslint-app, eslint-test

chore(release): [ci skip] publish
  packages/input-checkbox/CHANGELOG.md
  packages/input-checkbox/package.json
  packages/table/CHANGELOG.md
  packages/table/package.json
Due: none

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/main.fcee5b4ca6ba7bfa9404.bundle.js
  docs/main.fcee5b4ca6ba7bfa9404.bundle.js.map
  docs/runtime~main.fcee5b4ca6ba7bfa9404.bundle.js
  docs/runtime~main.fcee5b4ca6ba7bfa9404.bundle.js.map
  docs/vendors~main.fcee5b4ca6ba7bfa9404.bundle.js
  docs/vendors~main.fcee5b4ca6ba7bfa9404.bundle.js.map
Due: eslint-app

test(Select): add test for onRemoveTag
  packages/input-select/src/Select.test.js
Due: eslint-test

test(Select): add story for items with same label
  packages/input-select/src/Select.story.js
Due: eslint-app

docs(Select): group stories for multi-select
  packages/input-select/src/Select.story.js
Due: eslint-app

fix(Tag): fix warnings of onRemove prop in div
  packages/tag/src/components/Tag.js
  packages/tag/src/components/styledComponent/StyledTag.js
Due: eslint-app

fix(Select): keep tags visible while searching
  packages/input-select/src/Select.js
Due: eslint-app
