Repository CraveFood/farmblocks: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint-app, eslint-test

eslint-app:
  name: eslint-app
  entry: ./node_modules/eslint/bin/eslint.js
  args:
  - --config=.eslintrc.js
  - --ignore-path=.eslintignore
  language: system

eslint-test:
  name: eslint-test
  entry: ./node_modules/eslint/bin/eslint.js
  args:
  - --config=.test.eslintrc.js
  - --ignore-path=.test.eslintignore
  language: system

chore(package): make Image component a dev dependency to be used on Select storybook
  packages/input-select/package.json
Due: none

docs(storybook): change select story name
  packages/input-select/src/Select.story.js
Due: eslint-app

feat(select): add disabled tooltip hoc to Select component
  packages/input-select/src/Select.js
Due: eslint-app

fix(style): fix disabled text color on hoc input
  packages/hoc-input/src/formInput.story.js
  packages/hoc-input/src/styledComponents/Wrapper.js
Due: eslint-app

test(select): add missing select tests
  packages/input-select/src/Select.test.js
Due: eslint-test

feat(select): clean value after user starts searching
  packages/input-select/src/Select.js
Due: eslint-app

chore(peerDependencies): add recompose as peerDependency on Select component
  packages/input-select/package.json
Due: none

chore(dependencies): add farmblocks image and card dependencies on Select component
  packages/input-select/package.json
Due: none

feat(Select): add empty card component to Select indicating when there is no options available on th
  packages/input-select/src/Select.js
  packages/input-select/src/Select.test.js
  packages/input-select/src/components/EmptyCard.js
  packages/input-select/src/components/EmptyCard.story.js
  packages/input-select/src/constants/helperIcon.js
Due: eslint-app, eslint-test

docs: add Select readme
  README.md
  packages/input-select/README.md
Due: none

fix(select): make EmptyCard a stateful component
  packages/input-select/src/components/EmptyCard.js
Due: eslint-app

chore(release): [ci skip] publish
  packages/dropdown/CHANGELOG.md
  packages/dropdown/package.json
  packages/hoc-input/CHANGELOG.md
  packages/hoc-input/package.json
  packages/input-select/CHANGELOG.md
  packages/input-select/package.json
  packages/input-text/CHANGELOG.md
  packages/input-text/package.json
  packages/table/CHANGELOG.md
  packages/table/package.json
Due: none

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/index.html
  docs/static/manager.048d9e01532ee77a758c.bundle.js
  docs/static/manager.c91e7c39535898d549d6.bundle.js
  docs/static/preview.72efb33c37ed9384b604.bundle.js
  docs/static/preview.89c0717e482fce76a482.bundle.js
Due: eslint-app

fix(image): fix div dimensions on Image component
  packages/image/src/styledComponents/Image.js
Due: eslint-app

chore(release): [ci skip] publish
  packages/card/CHANGELOG.md
  packages/card/package.json
  packages/empty-state/CHANGELOG.md
  packages/empty-state/package.json
  packages/footer/CHANGELOG.md
  packages/footer/package.json
  packages/hoc-input/CHANGELOG.md
  packages/hoc-input/package.json
  packages/image/CHANGELOG.md
  packages/image/package.json
  packages/input-select/CHANGELOG.md
  packages/input-select/package.json
  packages/input-text/CHANGELOG.md
  packages/input-text/package.json
  packages/table/CHANGELOG.md
  packages/table/package.json
Due: none

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/static/preview.1c556a356732557c89d5.bundle.js
  docs/static/preview.89c0717e482fce76a482.bundle.js
Due: eslint-app

chore(release): [ci skip] publish
  packages/alert/CHANGELOG.md
  packages/alert/package.json
  packages/button/CHANGELOG.md
  packages/button/package.json
  packages/card/CHANGELOG.md
  packages/card/package.json
  packages/dropdown/CHANGELOG.md
  packages/dropdown/package.json
  packages/empty-state/CHANGELOG.md
  packages/empty-state/package.json
  packages/footer/CHANGELOG.md
  packages/footer/package.json
  packages/hoc-disabled-tooltip/CHANGELOG.md
  packages/hoc-disabled-tooltip/package.json
  packages/hoc-input/CHANGELOG.md
  packages/hoc-input/package.json
  packages/input-select/CHANGELOG.md
  packages/input-select/package.json
  packages/input-text/CHANGELOG.md
  packages/input-text/package.json
  packages/link/CHANGELOG.md
  packages/link/package.json
  packages/table/CHANGELOG.md
  packages/table/package.json
  packages/tooltip/CHANGELOG.md
  packages/tooltip/package.json
Due: none

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/static/preview.1c556a356732557c89d5.bundle.js
  docs/static/preview.39dba07136eac90475ed.bundle.js
Due: eslint-app

feat(checkbox): export Checkbox and Switch as separated libs
  packages/input-checkbox/src/Checkbox.js
  packages/input-checkbox/src/Checkbox.story.js
  packages/input-checkbox/src/Checkbox.test.js
  packages/input-checkbox/src/index.js
Due: eslint-app, eslint-test

feat(colors): adds a new color
  packages/theme/src/colors.js
Due: eslint-app

feat(checkmark): add classname for the switch "checkmark" (the toogle) and remove bold label when th
  packages/input-checkbox/src/Checkbox.js
Due: eslint-app

test(stories): reuse the same checkbox stories for the switch component
  packages/input-checkbox/src/Checkbox.story.js
Due: eslint-app

feat(styles): new styles for the switch component
  packages/input-checkbox/src/styledComponents/Checkbox.js
Due: eslint-app

docs(readme): include Switch in the documentation
  packages/input-checkbox/README.md
Due: none

fix(checkbox dependants): change the format of the import
  packages/input-checkbox/README.md
  packages/table/src/Table.js
Due: eslint-app

refactor(style): change the return of the switchBackground function be just a color
  packages/input-checkbox/src/styledComponents/Checkbox.js
Due: eslint-app

chore(release): [ci skip] publish
  packages/alert/CHANGELOG.md
  packages/alert/package.json
  packages/button/CHANGELOG.md
  packages/button/package.json
  packages/card/CHANGELOG.md
  packages/card/package.json
  packages/dropdown/CHANGELOG.md
  packages/dropdown/package.json
  packages/empty-state/CHANGELOG.md
  packages/empty-state/package.json
  packages/footer/CHANGELOG.md
  packages/footer/package.json
  packages/hoc-disabled-tooltip/CHANGELOG.md
  packages/hoc-disabled-tooltip/package.json
  packages/hoc-input/CHANGELOG.md
  packages/hoc-input/package.json
  packages/image/CHANGELOG.md
  packages/image/package.json
  packages/input-checkbox/CHANGELOG.md
  packages/input-checkbox/package.json
  packages/input-select/CHANGELOG.md
  packages/input-select/package.json
  packages/input-text/CHANGELOG.md
  packages/input-text/package.json
  packages/link/CHANGELOG.md
  packages/link/package.json
  packages/stepper/CHANGELOG.md
  packages/stepper/package.json
  packages/table/CHANGELOG.md
  packages/table/package.json
  packages/text/CHANGELOG.md
  packages/text/package.json
  packages/theme/CHANGELOG.md
  packages/theme/package.json
  packages/tooltip/CHANGELOG.md
  packages/tooltip/package.json
Due: none

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/static/preview.39dba07136eac90475ed.bundle.js
  docs/static/preview.437f60e0381eec89d3d8.bundle.js
Due: eslint-app

feat(style): add styling for the focused state of the switch component
  packages/input-checkbox/src/styledComponents/Checkbox.js
Due: eslint-app

feat(switch onChange): remove focus after switch toggle if it was from a mouse click
  packages/input-checkbox/src/Checkbox.js
Due: eslint-app

test(mouseup): tests for the mouseup event wrapping and the removal of focus for the switch componen
  packages/input-checkbox/src/Checkbox.test.js
Due: eslint-test

chore(release): [ci skip] publish
  packages/alert/CHANGELOG.md
  packages/alert/package.json
  packages/button/CHANGELOG.md
  packages/button/package.json
  packages/card/CHANGELOG.md
  packages/card/package.json
  packages/dropdown/CHANGELOG.md
  packages/dropdown/package.json
  packages/empty-state/CHANGELOG.md
  packages/empty-state/package.json
  packages/footer/CHANGELOG.md
  packages/footer/package.json
  packages/hoc-disabled-tooltip/CHANGELOG.md
  packages/hoc-disabled-tooltip/package.json
  packages/hoc-input/CHANGELOG.md
  packages/hoc-input/package.json
  packages/input-select/CHANGELOG.md
  packages/input-select/package.json
  packages/input-text/CHANGELOG.md
  packages/input-text/package.json
  packages/link/CHANGELOG.md
  packages/link/package.json
  packages/table/CHANGELOG.md
  packages/table/package.json
Due: none

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/index.html
  docs/static/manager.048d9e01532ee77a758c.bundle.js
  docs/static/manager.4c2e719a98de247c77eb.bundle.js
  docs/static/preview.437f60e0381eec89d3d8.bundle.js
  docs/static/preview.ec8fbd08ceea115d1a55.bundle.js
Due: eslint-app

Path conditions:
  eslint-app: any of: ^(?!.*\.test).*\.js$
  eslint-test: any of: \.test\.js$
