Repository CraveFood/farmblocks: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint-app, eslint-test

.pre-commit-config.yaml:

fail_fast: true
repos:
-   repo: https://github.com/prettier/prettier
    sha: '1.7.0'
    hooks:
      - id: prettier

-   repo: local
    hooks:
      - id: eslint-app
        name: eslint-app
        entry: ./node_modules/eslint/bin/eslint.js
        args:
          - "--config=.eslintrc.js"
          - "--ignore-path=.eslintignore"
        language: system
        files: '^(?!.*\.test).*\.js$'

      - id: eslint-test
        name: eslint-test
        entry: ./node_modules/eslint/bin/eslint.js
        args:
          - "--config=.test.eslintrc.js"
          - "--ignore-path=.test.eslintignore"
        language: system
        files: '\.test\.js$'

chore(release): [ci skip] publish
  packages/more-info/CHANGELOG.md
  packages/more-info/package.json
Due: none

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/index.html
  docs/static/manager.0410f55e8cf5bb723617.bundle.js
  docs/static/manager.ce59704193f6254f18d6.bundle.js
  docs/static/preview.8580b8de4cd954925057.bundle.js
  docs/static/preview.efc012ee8791db8b8a8f.bundle.js
Due: eslint-app

feat(farmblocks): add wg-question icon to farmblocks
  .storybook/config.js
Due: eslint-app

feat(more-info): make wg-question the default icon
  packages/more-info/src/components/MoreInfo.js
  packages/more-info/src/components/MoreInfo.story.js
Due: eslint-app

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/static/preview.b76a43a2de7ebec140ed.bundle.js
  docs/static/preview.efc012ee8791db8b8a8f.bundle.js
Due: eslint-app

feat(radio): create RadioGroup component
  packages/input-radio/src/RadioGroup.js
  packages/input-radio/src/RadioGroup.story.js
  packages/input-radio/src/index.js
Due: eslint-app

feat(radio): add style
  packages/input-radio/src/Radio.js
  packages/input-radio/src/styledComponents/Label.js
Due: eslint-app

feat(radio): create component package
  packages/input-radio/AUTHORS
  packages/input-radio/LICENSE
  packages/input-radio/README.md
  packages/input-radio/package.json
  packages/input-radio/src/Radio.js
  packages/input-radio/src/Radio.story.js
  packages/input-radio/src/index.js
Due: eslint-app

test(radio): add tests for handleClick
  packages/input-radio/src/Radio.js
  packages/input-radio/src/Radio.test.js
Due: eslint-app, eslint-test

feat(radio): add disabled tooltip
  packages/input-radio/src/Radio.js
  packages/input-radio/src/styledComponents/Label.js
Due: eslint-app

feat(radio): add onChange behavior
  packages/input-radio/src/Radio.js
  packages/input-radio/src/Radio.story.js
  packages/input-radio/src/Radio.test.js
Due: eslint-app, eslint-test

feat(radio): add input and Text as label
  packages/input-radio/src/Radio.js
  packages/input-radio/src/Radio.story.js
Due: eslint-app

feat(radio): add onClick behavior
  packages/input-radio/src/Radio.js
  packages/input-radio/src/Radio.story.js
Due: eslint-app

docs(radio): update readme
  packages/input-radio/README.md
Due: none

feat(radio): update state on prop change
  packages/input-radio/src/Radio.js
  packages/input-radio/src/Radio.test.js
Due: eslint-app, eslint-test

feat(radio): add disabled prop for RadioGroup
  packages/input-radio/src/RadioGroup.js
  packages/input-radio/src/RadioGroup.story.js
Due: eslint-app

feat(radio): visual improvements
  packages/input-radio/src/RadioGroup.js
  packages/input-radio/src/styledComponents/Group.js
  packages/input-radio/src/styledComponents/Label.js
Due: eslint-app

feat(radio): add onChange behavior for RadioGroup
  packages/input-radio/src/Radio.js
  packages/input-radio/src/RadioGroup.js
  packages/input-radio/src/RadioGroup.story.js
  packages/input-radio/src/RadioGroup.test.js
Due: eslint-app, eslint-test

docs(radio): add story for disabled checked
  packages/input-radio/src/Radio.story.js
  packages/input-radio/src/RadioGroup.story.js
Due: eslint-app

perf(radio): add will-change rule to enable gpu transitions
  packages/input-radio/src/Radio.js
  packages/input-radio/src/styledComponents/Label.js
Due: eslint-app

feat(radio): enable keyboard navigation
  packages/input-radio/src/Radio.js
  packages/input-radio/src/Radio.test.js
  packages/input-radio/src/styledComponents/Label.js
Due: eslint-app, eslint-test

style(radio): fix typo
  packages/input-radio/src/styledComponents/Label.js
Due: eslint-app

chore(release): [ci skip] publish
  packages/input-radio/CHANGELOG.md
  packages/input-radio/package.json
Due: none

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/index.html
  docs/static/manager.af17ef4f5b9fc5f4c412.bundle.js
  docs/static/manager.ce59704193f6254f18d6.bundle.js
  docs/static/preview.b76a43a2de7ebec140ed.bundle.js
  docs/static/preview.f60fd23d3174dcb818aa.bundle.js
Due: eslint-app

docs(license): include 2018 in the root license
  LICENSE
Due: none

feat(scaffold): add option to exclude authors from a new component
  packages/scaffold/src/create-component.js
Due: eslint-app

feat(image): add new properties width, height, border, and update docs
  packages/image/README.md
  packages/image/src/Image.js
  packages/image/src/Image.story.js
  packages/image/src/styledComponents/Image.js
Due: eslint-app

feat(carousel): initial files
  packages/carousel/AUTHORS
  packages/carousel/LICENSE
  packages/carousel/README.md
  packages/carousel/package.json
  packages/carousel/src/Carousel.js
  packages/carousel/src/Carousel.story.js
  packages/carousel/src/index.js
Due: eslint-app

WIP(carousel): initial version, with hardcoded dimensions and click to go next
  packages/carousel/src/Carousel.js
  packages/carousel/src/Carousel.story.js
  packages/carousel/src/styledComponents/Carousel.js
Due: eslint-app

feat(carousel): autoplay and events for onChange and onEnd
  packages/carousel/src/Carousel.js
  packages/carousel/src/Carousel.story.js
Due: eslint-app

test(carousel): missing tests
  packages/carousel/src/Carousel.test.js
Due: eslint-test

fix(carousel): address code review requests
  packages/carousel/src/Carousel.js
  packages/carousel/src/Carousel.story.js
  packages/carousel/src/styledComponents/Carousel.js
Due: eslint-app

feat(carousel): add captions
  packages/carousel/package.json
  packages/carousel/src/Carousel.js
  packages/carousel/src/Carousel.story.js
  packages/carousel/src/styledComponents/Carousel.js
Due: eslint-app
