Repository CraveFood/farmblocks: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint-app, eslint-test

eslint-app:
  name: eslint-app
  entry: ./node_modules/eslint/bin/eslint.js
  args:
  - --config=.eslintrc.js
  - --ignore-path=.eslintignore
  language: system

eslint-test:
  name: eslint-test
  entry: ./node_modules/eslint/bin/eslint.js
  args:
  - --config=.test.eslintrc.js
  - --ignore-path=.test.eslintignore
  language: system

feat(map-balloon): change singeImage pin into a small circle
  packages/map-balloon/src/MapBalloon.js
  packages/map-balloon/src/styledComponents/Balloon.js
  packages/map-balloon/src/styledComponents/SingleImage.js
Due: eslint-app

test(map-balloon): add tests for onPinClick and onBalloonClick
  packages/map-balloon/src/MapBalloon.test.js
Due: eslint-test

refactor(map-balloon): remove ternary in onPinClick and onBalloonClick
  packages/map-balloon/src/MapBalloon.js
  packages/map-balloon/src/__snapshots__/MapBalloon.story.storyshot
Due: eslint-app

docs(map-balloon): update Readme with props for interactivity
  packages/map-balloon/README.md
Due: none

refactor(map-balloon): rename prop from reference to value
  packages/map-balloon/README.md
  packages/map-balloon/src/MapBalloon.js
  packages/map-balloon/src/MapBalloon.story.js
  packages/map-balloon/src/MapBalloon.test.js
Due: eslint-app, eslint-test

feat(map-balloon): visual improvements
  packages/map-balloon/src/MapBalloon.js
  packages/map-balloon/src/styledComponents/Balloon.js
Due: eslint-app

chore(storyshots): update
  packages/map-balloon/src/__snapshots__/MapBalloon.story.storyshot
Due: none

chore(release): [ci skip] publish
  packages/map-balloon/CHANGELOG.md
  packages/map-balloon/package.json
Due: none

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/index.html
  docs/static/manager.714e5c1c7a5d71abde68.bundle.js
  docs/static/manager.f44b460b8e805d949b53.bundle.js
  docs/static/preview.f1106742fc7c7480b5ef.bundle.js
  docs/static/preview.ff59eb8ab3b1853c5c92.bundle.js
Due: eslint-app

chore(package): update lockfile
  yarn.lock
Due: none

test(snapshots): update
  packages/card/src/__snapshots__/Card.story.storyshot
Due: none

feat(Card): added boxShadow property
  packages/card/README.md
  packages/card/src/Card.js
  packages/card/src/Card.story.js
  packages/card/src/styledComponents/Card.js
Due: eslint-app

chore(release): [ci skip] publish
  packages/card/CHANGELOG.md
  packages/card/package.json
  packages/input-select/CHANGELOG.md
  packages/input-select/package.json
  packages/map-balloon/CHANGELOG.md
  packages/map-balloon/package.json
  packages/search-field/CHANGELOG.md
  packages/search-field/package.json
Due: none

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/static/preview.3fc57b7d2312addf0b37.bundle.js
  docs/static/preview.ff59eb8ab3b1853c5c92.bundle.js
Due: eslint-app

docs(EmptyState): updated README
  packages/empty-state/README.md
Due: none

test(EmptyState): added desired api for the action buttons
  packages/empty-state/src/EmptyState.story.js
Due: eslint-app

feat(EmptyState): created actions property to replace primary and secondary properties
  packages/empty-state/src/EmptyState.js
  packages/empty-state/src/styledComponents/Container.js
Due: eslint-app

test(storyshots): udpate
  packages/card/src/__snapshots__/Card.story.storyshot
  packages/empty-state/src/__snapshots__/EmptyState.story.storyshot
Due: none

chore(release): [ci skip] publish
  packages/card/CHANGELOG.md
  packages/card/package.json
  packages/empty-state/CHANGELOG.md
  packages/empty-state/package.json
  packages/input-select/CHANGELOG.md
  packages/input-select/package.json
  packages/map-balloon/CHANGELOG.md
  packages/map-balloon/package.json
  packages/search-field/CHANGELOG.md
  packages/search-field/package.json
Due: none

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/index.html
  docs/static/manager.94ef8393af02bf20941b.bundle.js
  docs/static/manager.f44b460b8e805d949b53.bundle.js
  docs/static/preview.3fc57b7d2312addf0b37.bundle.js
  docs/static/preview.4348e503e16b140dbb11.bundle.js
Due: eslint-app

feat(Alert): add a prop to position the alert on the bottom of its container
  packages/alert/src/Alert.js
  packages/alert/src/Alert.story.js
  packages/alert/src/styledComponents/Alert.js
Due: eslint-app

test(Storyshots): update
  packages/alert/src/__snapshots__/Alert.story.storyshot
Due: none

fixup! feat(Alert): add a prop to position the alert on the bottom of its container
  packages/alert/src/Alert.js
  packages/alert/src/Alert.story.js
  packages/alert/src/styledComponents/Alert.js
Due: eslint-app

docs(Alert): update README
  packages/alert/README.md
Due: none

chore(release): [ci skip] publish
  packages/alert/CHANGELOG.md
  packages/alert/package.json
Due: none

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/static/preview.30a9c24313efe8cacdc6.bundle.js
  docs/static/preview.4348e503e16b140dbb11.bundle.js
Due: eslint-app

ci(travis): use npm to publish packages (intead of the buggy yarn pulish)
  .travis.yml
Due: none

ci(travis): publish canary only on the push branch builds
  .travis.yml
Due: none

chore(commitizen): change commit adapter to cz-conventional-changelog
  package.json
  yarn.lock
Due: none

chore(travis): upgrade yarn version
  .travis.yml
Due: none

chore(lerna): upgrade
  package.json
  yarn.lock
Due: none

chore(gitignore): include travis_wait logfiles to be ignored
  .gitignore
Due: none

chore(lerna): update json
  lerna.json
Due: none

fixes small typing error on README file
  README.md
Due: none

tst
  packages/tooltip/src/Tooltip.js
Due: eslint-app

ci: Testing lerna 3...
  packages/tooltip/src/Tooltip.js
Due: eslint-app

Path conditions:
  eslint-app: any of: ^(?!.*\.test).*\.js$
  eslint-test: any of: \.test\.js$
