Repository CraveFood/farmblocks: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint-app, eslint-test

.pre-commit-config.yaml:

fail_fast: true
repos:
-   repo: https://github.com/prettier/prettier
    sha: '1.7.0'
    hooks:
      - id: prettier

-   repo: local
    hooks:
      - id: eslint-app
        name: eslint-app
        entry: ./node_modules/eslint/bin/eslint.js
        args:
          - "--config=.eslintrc.js"
          - "--ignore-path=.eslintignore"
        language: system
        files: '^(?!.*\.test).*\.js$'

      - id: eslint-test
        name: eslint-test
        entry: ./node_modules/eslint/bin/eslint.js
        args:
          - "--config=.test.eslintrc.js"
          - "--ignore-path=.test.eslintignore"
        language: system
        files: '\.test\.js$'

feat(MapBalloon): receive pinSize on props
  packages/map-balloon/src/MapBalloon.js
  packages/map-balloon/src/MapBalloon.story.js
  packages/map-balloon/src/styledComponents/Balloon.js
  packages/map-balloon/src/styledComponents/Pin.js
  packages/map-balloon/src/styledComponents/SingleImage.js
Due: eslint-app

feat(MapBallon): receive pinColor from props
  packages/map-balloon/src/MapBalloon.js
  packages/map-balloon/src/styledComponents/Pin.js
Due: eslint-app

feat(MapBallon): replace the circle pin with a location pin
  packages/map-balloon/src/MapBalloon.js
  packages/map-balloon/src/styledComponents/Pin.js
Due: eslint-app

docs(map-balloon): sync readme with new properties and default values
  packages/map-balloon/README.md
Due: none

feat(MapBalloon): receive custom balloonSize, captionSize and imageTextSize. Remove theme object
  packages/map-balloon/src/ImageSet.js
  packages/map-balloon/src/MapBalloon.js
  packages/map-balloon/src/MapBalloon.story.js
  packages/map-balloon/src/constants/sizes.js
  packages/map-balloon/src/index.js
  packages/map-balloon/src/styledComponents/Balloon.js
  packages/map-balloon/src/styledComponents/Pin.js
  packages/map-balloon/src/styledComponents/SingleImage.js
  packages/map-balloon/src/styledComponents/themes.js
Due: eslint-app

chore(release): [ci skip] publish
  packages/map-balloon/CHANGELOG.md
  packages/map-balloon/package.json
Due: none

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/index.html
  docs/static/manager.75862757bff211177954.bundle.js
  docs/static/manager.89d54f81441d6a29567e.bundle.js
  docs/static/preview.8dc68c58fb1c2003d351.bundle.js
  docs/static/preview.a1159316da94faa1184c.bundle.js
Due: eslint-app

fix(Link): replace div for span when no href is provided
  packages/link/src/components/Link.js
  packages/link/src/components/Link.story.js
Due: eslint-app

fix(Input-Hoc tests): fix a test which uses Link
  packages/hoc-input/src/formInput.test.js
Due: eslint-test

chore(release): [ci skip] publish
  packages/hoc-input/CHANGELOG.md
  packages/hoc-input/package.json
  packages/input-select/CHANGELOG.md
  packages/input-select/package.json
  packages/input-text/CHANGELOG.md
  packages/input-text/package.json
  packages/link/CHANGELOG.md
  packages/link/package.json
  packages/table/CHANGELOG.md
  packages/table/package.json
Due: none

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/static/preview.4dc0ebcffabc8bf88219.bundle.js
  docs/static/preview.a1159316da94faa1184c.bundle.js
Due: eslint-app

fix(tag): change margins
  packages/tag/src/components/styledComponent/StyledTag.js
Due: eslint-app

chore(release): [ci skip] publish
  packages/tag/CHANGELOG.md
  packages/tag/package.json
Due: none

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/static/preview.3d0b88d1a9e5e43ee8cb.bundle.js
  docs/static/preview.4dc0ebcffabc8bf88219.bundle.js
Due: eslint-app

chore(jest): run the complete test suite only on some cases
  jest.config.js
Due: eslint-app

refactor(jest): remove raf workaround that is no longer needed
  jest.config.js
  jest.setup.js
Due: eslint-app

chore(jest): update jest version
  package.json
  yarn.lock
Due: none

refactor(jest): remove individual packages Storyshots tests
  packages/alert/src/Storyshots.test.js
  packages/alert/src/__snapshots__/Storyshots.test.js.snap
  packages/button/src/Storyshots.test.js
  packages/button/src/__snapshots__/Storyshots.test.js.snap
  packages/tooltip/src/Storyshots.test.js
  packages/tooltip/src/__snapshots__/Storyshots.test.js.snap
Due: eslint-test

docs(contributing doc): explain that jest watch uses watchman and link to the install instructions
  CONTRIBUTING.md
Due: none

chore(release): [ci skip] publish
  packages/alert/CHANGELOG.md
  packages/alert/package.json
  packages/button/CHANGELOG.md
  packages/button/package.json
  packages/card/CHANGELOG.md
  packages/card/package.json
  packages/dropdown/CHANGELOG.md
  packages/dropdown/package.json
  packages/empty-state/CHANGELOG.md
  packages/empty-state/package.json
  packages/footer/CHANGELOG.md
  packages/footer/package.json
  packages/hoc-disabled-tooltip/CHANGELOG.md
  packages/hoc-disabled-tooltip/package.json
  packages/hoc-input/CHANGELOG.md
  packages/hoc-input/package.json
  packages/input-select/CHANGELOG.md
  packages/input-select/package.json
  packages/input-text/CHANGELOG.md
  packages/input-text/package.json
  packages/link/CHANGELOG.md
  packages/link/package.json
  packages/map-balloon/CHANGELOG.md
  packages/map-balloon/package.json
  packages/more-info/CHANGELOG.md
  packages/more-info/package.json
  packages/table/CHANGELOG.md
  packages/table/package.json
  packages/tooltip/CHANGELOG.md
  packages/tooltip/package.json
Due: none

feat(Checkbox): upgrade farmblocks-hoc-disabled-tooltip dependency
  packages/input-checkbox/package.json
  yarn.lock
Due: none

feat(Checkbox): add noTooltip option to checkbox
  packages/input-checkbox/src/Checkbox.js
  packages/input-checkbox/src/Checkbox.story.js
Due: eslint-app

chore(release): [ci skip] publish
  packages/input-checkbox/CHANGELOG.md
  packages/input-checkbox/package.json
  packages/table/CHANGELOG.md
  packages/table/package.json
Due: none

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/index.html
  docs/static/manager.4b77b96c00da8a121618.bundle.js
  docs/static/manager.75862757bff211177954.bundle.js
  docs/static/preview.3d0b88d1a9e5e43ee8cb.bundle.js
  docs/static/preview.7de2b44ee9edf0eee966.bundle.js
Due: eslint-app

refactor(tooltip align): extract alignment options to constants
  packages/tooltip/package.json
  packages/tooltip/src/Tooltip.js
  packages/tooltip/src/constants/alignments.js
  packages/tooltip/src/index.js
  packages/tooltip/src/styledComponents/Tooltip.js
Due: eslint-app

test(tooltip align): add tests for getAutoAlign
  packages/tooltip/src/Tooltip.story.js
  packages/tooltip/src/Tooltip.test.js
Due: eslint-app, eslint-test

docs(tooltip align): make auto align story more reasonable
  packages/tooltip/src/Tooltip.story.js
Due: eslint-app

refactor(tooltip align): make code for getAutoAlign easier to read
  packages/tooltip/src/Tooltip.js
Due: eslint-app

feat(tooltip): add option to define a container as limit for auto align
  packages/tooltip/README.md
  packages/tooltip/src/Tooltip.js
  packages/tooltip/src/Tooltip.story.js
Due: eslint-app

refactor(tooltip align): move check for align type to componentDidMount
  packages/tooltip/src/Tooltip.js
  packages/tooltip/src/Tooltip.test.js
Due: eslint-app, eslint-test

test(tooltip-autoalign): update tests for recent changes
  packages/tooltip/src/Tooltip.test.js
Due: eslint-test

chore(release): [ci skip] publish
  packages/alert/CHANGELOG.md
  packages/alert/package.json
  packages/button/CHANGELOG.md
  packages/button/package.json
  packages/card/CHANGELOG.md
  packages/card/package.json
  packages/dropdown/CHANGELOG.md
  packages/dropdown/package.json
  packages/empty-state/CHANGELOG.md
  packages/empty-state/package.json
  packages/footer/CHANGELOG.md
  packages/footer/package.json
  packages/hoc-disabled-tooltip/CHANGELOG.md
  packages/hoc-disabled-tooltip/package.json
  packages/hoc-input/CHANGELOG.md
  packages/hoc-input/package.json
  packages/input-checkbox/CHANGELOG.md
  packages/input-checkbox/package.json
  packages/input-select/CHANGELOG.md
  packages/input-select/package.json
  packages/input-text/CHANGELOG.md
  packages/input-text/package.json
  packages/link/CHANGELOG.md
  packages/link/package.json
  packages/map-balloon/CHANGELOG.md
  packages/map-balloon/package.json
  packages/more-info/CHANGELOG.md
  packages/more-info/package.json
  packages/table/CHANGELOG.md
  packages/table/package.json
  packages/tooltip/CHANGELOG.md
  packages/tooltip/package.json
Due: none

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/index.html
  docs/static/manager.4b77b96c00da8a121618.bundle.js
  docs/static/manager.cc6f579c6b797cb2fea5.bundle.js
  docs/static/preview.1e2062f5812e87ce391f.bundle.js
  docs/static/preview.7de2b44ee9edf0eee966.bundle.js
Due: eslint-app

chore(scaffold): upgrade inquirer to next major
  packages/scaffold/package.json
Due: none
