Repository CraveFood/farmblocks: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint-app, eslint-test

.pre-commit-config.yaml:

fail_fast: true
repos:
-   repo: https://github.com/prettier/prettier
    sha: '1.7.0'
    hooks:
      - id: prettier

-   repo: local
    hooks:
      - id: eslint-app
        name: eslint-app
        entry: ./node_modules/eslint/bin/eslint.js
        args:
          - "--config=.eslintrc.js"
          - "--ignore-path=.eslintignore"
        language: system
        files: '^(?!.*\.test).*\.js$'

      - id: eslint-test
        name: eslint-test
        entry: ./node_modules/eslint/bin/eslint.js
        args:
          - "--config=.test.eslintrc.js"
          - "--ignore-path=.test.eslintignore"
        language: system
        files: '\.test\.js$'

fix(footer): rename on help link click property
  __snapshots__/Storyshots.test.js.snap
  packages/footer/src/components/Footer.js
  packages/footer/src/components/Footer.story.js
  packages/footer/src/components/HelperContent.js
  packages/footer/src/styledComponents/HelperContent.js
Due: eslint-app

chore(travis): setup snyk on travis and remove it from test script
  .travis.yml
  package.json
Due: none

chore(release): [ci skip] publish
  packages/footer/CHANGELOG.md
  packages/footer/package.json
Due: none

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/static/preview.6404de4d1fd50a9db771.bundle.js
  docs/static/preview.bce4d015b3d3948f7568.bundle.js
Due: eslint-app

chore(lockfile): [ci skip] greenkeeper lockfile fix
  yarn.lock
Due: none

feat(Card): add a CSS property to prevent children component to overflow its background
  packages/card/src/styledComponents/Card.js
Due: eslint-app

test(storyshots): update storyshots
  __snapshots__/Storyshots.test.js.snap
Due: none

test(Card storybook): add a story for card with footer and empty-state
  packages/card/src/Card.story.js
Due: eslint-app

feat(new hoc): initial files
  packages/hoc-input/AUTHORS
  packages/hoc-input/LICENSE
  packages/hoc-input/README.md
  packages/hoc-input/package.json
  packages/hoc-input/src/constants/errorIcon.js
  packages/hoc-input/src/index.js
Due: eslint-app

feat(input hoc): initial implementation and styles
  packages/hoc-input/src/formInput.js
  packages/hoc-input/src/styledComponents/Wrapper.js
Due: eslint-app

test(stories): stories for the input hoc properties
  packages/hoc-input/src/formInput.story.js
Due: eslint-app

test(snapshots): update
  __snapshots__/Storyshots.test.js.snap
Due: none

test(event handlers): add tests for the form-input hoc
  packages/hoc-input/src/formInput.test.js
Due: eslint-test

docs(authors): add Vinicius to the authors list
  AUTHORS
  packages/hoc-input/AUTHORS
Due: none

chore(release): [ci skip] publish
  packages/card/CHANGELOG.md
  packages/card/package.json
Due: none

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/index.html
  docs/static/manager.0edb71ca2feedc538809.bundle.js
  docs/static/manager.c5843671d1c35e1c58da.bundle.js
  docs/static/preview.b148a17393e586415f93.bundle.js
  docs/static/preview.bce4d015b3d3948f7568.bundle.js
Due: eslint-app

chore(release): [ci skip] publish
  packages/hoc-input/CHANGELOG.md
  packages/hoc-input/package.json
Due: none

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/index.html
  docs/static/manager.0edb71ca2feedc538809.bundle.js
  docs/static/manager.4878b370db3fbe2a8019.bundle.js
  docs/static/preview.5d978638860bf1305935.bundle.js
  docs/static/preview.b148a17393e586415f93.bundle.js
Due: eslint-app

fix(hoc-input): do not update the state value if it does not come from properties
  packages/hoc-input/src/formInput.js
  packages/hoc-input/src/formInput.test.js
Due: eslint-app, eslint-test

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/static/preview.5d978638860bf1305935.bundle.js
  docs/static/preview.7cff084fb063059643d3.bundle.js
Due: eslint-app

chore(travis-ci): upgrade Yarn version for Travis CI tests
  .travis.yml
Due: none

fix(property): dont change value state when the changed property is not value
  packages/hoc-input/src/formInput.js
  packages/hoc-input/src/formInput.test.js
Due: eslint-app, eslint-test

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/static/preview.7cff084fb063059643d3.bundle.js
  docs/static/preview.9df79749784586ca3660.bundle.js
Due: eslint-app

feat(Image): add prop "fit" to Image component
  __snapshots__/Storyshots.test.js.snap
  packages/image/src/Image.js
  packages/image/src/Image.story.js
  packages/image/src/constants/fitModes.js
  packages/image/src/styledComponents/Image.js
Due: eslint-app

chore(release): [ci skip] publish
  packages/card/CHANGELOG.md
  packages/card/package.json
  packages/empty-state/CHANGELOG.md
  packages/empty-state/package.json
  packages/footer/CHANGELOG.md
  packages/footer/package.json
  packages/hoc-input/CHANGELOG.md
  packages/hoc-input/package.json
  packages/image/CHANGELOG.md
  packages/image/package.json
  packages/input-text/CHANGELOG.md
  packages/input-text/package.json
Due: none

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/index.html
  docs/static/manager.4878b370db3fbe2a8019.bundle.js
  docs/static/manager.fa4558a1079014e45d22.bundle.js
  docs/static/preview.973eb54f04b5dc41ff65.bundle.js
  docs/static/preview.9df79749784586ca3660.bundle.js
Due: eslint-app

feat(disabled tooltip hoc): initial files
  packages/hoc-disabled-tooltip/AUTHORS
  packages/hoc-disabled-tooltip/LICENSE
  packages/hoc-disabled-tooltip/README.md
  packages/hoc-disabled-tooltip/package.json
  packages/hoc-disabled-tooltip/src/index.js
Due: eslint-app

feat(hoc): disabled tooltip hoc and stories
  packages/hoc-disabled-tooltip/src/disabledTooltip.js
  packages/hoc-disabled-tooltip/src/disabledTooltip.story.js
  packages/hoc-disabled-tooltip/src/styledComponents/Wrapper.js
Due: eslint-app

test(mouse events): add tests for mouseover and mouseleave event handlers and default values
  packages/hoc-disabled-tooltip/src/disabledTooltip.test.js
Due: eslint-test

chore(lockfile): update
  yarn.lock
Due: none

feat(monorepo): add recompose as a root devdependency
  package.json
Due: none

refactor(minor): a small change, replace a let with a const
  packages/hoc-disabled-tooltip/src/disabledTooltip.test.js
Due: eslint-test

docs(README): improve readme with usage and API
  packages/hoc-disabled-tooltip/README.md
Due: none

test(stories): include both ways of using this hoc: with a component and with an element name as inp
  packages/hoc-disabled-tooltip/src/disabledTooltip.story.js
Due: eslint-app
