Repository CraveFood/farmblocks: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint-app, eslint-test

eslint-app:
  name: eslint-app
  entry: ./node_modules/eslint/bin/eslint.js
  args:
  - --config=.eslintrc.js
  - --ignore-path=.eslintignore
  language: system

eslint-test:
  name: eslint-test
  entry: ./node_modules/eslint/bin/eslint.js
  args:
  - --config=.test.eslintrc.js
  - --ignore-path=.test.eslintignore
  language: system

feat(Checkbox): add loading property
  packages/input-checkbox/src/Checkbox.js
  packages/input-checkbox/src/Checkbox.story.js
  packages/input-checkbox/src/Toggle.js
  packages/input-checkbox/src/styledComponents/Checkbox.js
Due: eslint-app

chore(release): [ci skip] publish
  packages/input-checkbox/CHANGELOG.md
  packages/input-checkbox/package.json
  packages/input-select/CHANGELOG.md
  packages/input-select/package.json
  packages/search-field/CHANGELOG.md
  packages/search-field/package.json
  packages/table/CHANGELOG.md
  packages/table/package.json
Due: none

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/main.63dc70962a02c9bcfe68.bundle.js
  docs/main.63dc70962a02c9bcfe68.bundle.js.map
  docs/main.fcbb069cdf7138b6e179.bundle.js
  docs/main.fcbb069cdf7138b6e179.bundle.js.map
  docs/runtime~main.63dc70962a02c9bcfe68.bundle.js.map
  docs/runtime~main.fcbb069cdf7138b6e179.bundle.js
  docs/runtime~main.fcbb069cdf7138b6e179.bundle.js.map
  docs/vendors~main.63dc70962a02c9bcfe68.bundle.js
  docs/vendors~main.63dc70962a02c9bcfe68.bundle.js.map
  docs/vendors~main.fcbb069cdf7138b6e179.bundle.js
  docs/vendors~main.fcbb069cdf7138b6e179.bundle.js.map
Due: eslint-app

feat(FilterPopover): expose dismiss through formContent
  packages/filter-popover/src/FilterPopover.js
  packages/filter-popover/src/FilterPopover.story.js
  packages/filter-popover/src/FilterPopover.test.js
Due: eslint-app, eslint-test

test(storyshots): update
  packages/filter-popover/src/__snapshots__/FilterPopover.story.storyshot
Due: none

chore(release): [ci skip] publish
  packages/filter-popover/CHANGELOG.md
  packages/filter-popover/package.json
Due: none

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/main.ebb3545a9d9bd18c5581.bundle.js
  docs/main.ebb3545a9d9bd18c5581.bundle.js.map
  docs/main.fcbb069cdf7138b6e179.bundle.js
  docs/main.fcbb069cdf7138b6e179.bundle.js.map
  docs/runtime~main.ebb3545a9d9bd18c5581.bundle.js
  docs/runtime~main.ebb3545a9d9bd18c5581.bundle.js.map
  docs/runtime~main.fcbb069cdf7138b6e179.bundle.js.map
  docs/vendors~main.ebb3545a9d9bd18c5581.bundle.js
  docs/vendors~main.ebb3545a9d9bd18c5581.bundle.js.map
  docs/vendors~main.fcbb069cdf7138b6e179.bundle.js
  docs/vendors~main.fcbb069cdf7138b6e179.bundle.js.map
Due: eslint-app

feat(amount-selectors): add disabled property
  packages/amount-selectors/README.md
  packages/amount-selectors/src/components/AmountSelectors.js
  packages/amount-selectors/src/components/AmountSelectors.story.js
Due: eslint-app

fix(input-radio): change label property type from string to node
  packages/input-radio/README.md
  packages/input-radio/src/Radio.js
Due: eslint-app

fix(table): accept any string on rowHeight property
  packages/table/src/Table.js
Due: eslint-app

test(storyshots): update
  packages/amount-selectors/src/components/__snapshots__/AmountSelectors.story.storyshot
  packages/hoc-input/src/__snapshots__/formInput.story.storyshot
  packages/input-text/src/__snapshots__/TextInput.story.storyshot
Due: none

chore(release): [ci skip] publish
  packages/amount-selectors/CHANGELOG.md
  packages/amount-selectors/package.json
  packages/filter-popover/CHANGELOG.md
  packages/filter-popover/package.json
  packages/form-wrapper/CHANGELOG.md
  packages/form-wrapper/package.json
  packages/hoc-input/CHANGELOG.md
  packages/hoc-input/package.json
  packages/input-currency/CHANGELOG.md
  packages/input-currency/package.json
  packages/input-radio/CHANGELOG.md
  packages/input-radio/package.json
  packages/input-select/CHANGELOG.md
  packages/input-select/package.json
  packages/input-text/CHANGELOG.md
  packages/input-text/package.json
  packages/search-field/CHANGELOG.md
  packages/search-field/package.json
  packages/table/CHANGELOG.md
  packages/table/package.json
Due: none

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/main.e1434bfd3b11d65f3bba.bundle.js
  docs/main.e1434bfd3b11d65f3bba.bundle.js.map
  docs/main.ebb3545a9d9bd18c5581.bundle.js
  docs/main.ebb3545a9d9bd18c5581.bundle.js.map
  docs/runtime~main.e1434bfd3b11d65f3bba.bundle.js
  docs/runtime~main.e1434bfd3b11d65f3bba.bundle.js.map
  docs/runtime~main.ebb3545a9d9bd18c5581.bundle.js.map
  docs/vendors~main.e1434bfd3b11d65f3bba.bundle.js
  docs/vendors~main.e1434bfd3b11d65f3bba.bundle.js.map
  docs/vendors~main.ebb3545a9d9bd18c5581.bundle.js
  docs/vendors~main.ebb3545a9d9bd18c5581.bundle.js.map
Due: eslint-app

chore(dependencies): update deps
  jest.config.js
  package.json
  packages/alert/package.json
  packages/amount-selectors/package.json
  packages/button/package.json
  packages/card/package.json
  packages/carousel/package.json
  packages/dropdown/package.json
  packages/empty-state/package.json
  packages/filter-popover/package.json
  packages/footer/package.json
  packages/form-wrapper/package.json
  packages/hoc-input/package.json
  packages/hoc-validation-messages/package.json
  packages/image/package.json
  packages/input-checkbox/package.json
  packages/input-currency/package.json
  packages/input-radio/package.json
  packages/input-select/package.json
  packages/input-text/package.json
  packages/label/package.json
  packages/link/package.json
  packages/map-balloon/package.json
  packages/modal/package.json
  packages/more-info/package.json
  packages/popover/package.json
  packages/scaffold/package.json
  packages/search-field/package.json
  packages/stepper/package.json
  packages/table/package.json
  packages/tag/package.json
  packages/text/package.json
  packages/tooltip/package.json
  yarn.lock
Due: eslint-app

feat(package): Update scaffold template dep and remove useless resolutions
  package.json
  packages/scaffold/src/templates/package.js
Due: eslint-app

chore(docs): [ci skip] gallery update
  docs/3.5df5ec9b97dcd60839a3.bundle.js
  docs/iframe.html
  docs/index.html
  docs/main.3cb2fc681d3501584844.bundle.js
  docs/main.3cb2fc681d3501584844.bundle.js.map
  docs/main.42f564c679172c211b4d.bundle.js
  docs/main.d1b671a7b149c0163235.bundle.js
  docs/main.e1434bfd3b11d65f3bba.bundle.js
  docs/main.e1434bfd3b11d65f3bba.bundle.js.map
  docs/runtime~main.3cb2fc681d3501584844.bundle.js
  docs/runtime~main.3cb2fc681d3501584844.bundle.js.map
  docs/runtime~main.baaa4e444e1d24745432.bundle.js
  docs/runtime~main.d6878bfc6f9b1805e480.bundle.js
  docs/runtime~main.e1434bfd3b11d65f3bba.bundle.js.map
  docs/sb_dll/storybook_ui_dll.js
  docs/vendors~main.3cb2fc681d3501584844.bundle.js
  docs/vendors~main.3cb2fc681d3501584844.bundle.js.map
  docs/vendors~main.73d56d6f18dae8521687.bundle.js
  docs/vendors~main.88b1d6f7628d3d47a097.bundle.js
  docs/vendors~main.e1434bfd3b11d65f3bba.bundle.js
  docs/vendors~main.e1434bfd3b11d65f3bba.bundle.js.map
Due: eslint-app

feat(Remove deprecated border): remove deprecated border
  packages/carousel/src/Carousel.js
Due: eslint-app

tests(stories): Update storyshots
  packages/card/src/__snapshots__/Card.story.storyshot
  packages/carousel/src/__snapshots__/Carousel.story.storyshot
  packages/empty-state/src/__snapshots__/EmptyState.story.storyshot
  packages/footer/src/components/__snapshots__/Footer.story.storyshot
  packages/hoc-validation-messages/src/__snapshots__/withMessages.story.storyshot
  packages/image/src/__snapshots__/Image.story.storyshot
  packages/input-currency/src/__snapshots__/CurrencyInput.story.storyshot
  packages/input-select/src/__snapshots__/Select.story.storyshot
  packages/input-select/src/components/__snapshots__/EmptyCard.story.storyshot
  packages/input-select/src/components/__snapshots__/Item.story.storyshot
  packages/input-select/src/components/__snapshots__/withImage.story.storyshot
  packages/input-text/src/__snapshots__/TextAreaInput.story.storyshot
  packages/input-text/src/__snapshots__/TextInput.story.storyshot
  packages/map-balloon/src/__snapshots__/MapBalloon.story.storyshot
  packages/modal/src/__snapshots__/DialogModal.story.storyshot
  packages/search-field/src/__snapshots__/SearchField.story.storyshot
  packages/search-field/src/components/__snapshots__/Menu.story.storyshot
  packages/table/src/__snapshots__/Table.story.storyshot
Due: none

Update packages/image/src/constants/fitModes.js
  packages/image/src/constants/fitModes.js
Due: eslint-app

feat(Image/story): Remove deprecated stories and replace fit stories
  packages/image/src/Image.story.js
Due: eslint-app

feat(Image): replace div/background-image by img element
  packages/image/src/Image.js
  packages/image/src/constants/fitModes.js
  packages/image/src/styledComponents/Image.js
Due: eslint-app

Update packages/image/README.md
  packages/image/README.md
Due: none

feat(README): Update properties docs and sort it by required then alphabetically
  packages/image/README.md
Due: none

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/main.2bac990b62ada55fb044.bundle.js
  docs/main.2bac990b62ada55fb044.bundle.js.map
  docs/main.3cb2fc681d3501584844.bundle.js
  docs/main.3cb2fc681d3501584844.bundle.js.map
  docs/runtime~main.2bac990b62ada55fb044.bundle.js
  docs/runtime~main.2bac990b62ada55fb044.bundle.js.map
  docs/runtime~main.3cb2fc681d3501584844.bundle.js.map
  docs/vendors~main.2bac990b62ada55fb044.bundle.js
  docs/vendors~main.2bac990b62ada55fb044.bundle.js.map
  docs/vendors~main.3cb2fc681d3501584844.bundle.js
  docs/vendors~main.3cb2fc681d3501584844.bundle.js.map
Due: eslint-app

feat(SearchField): add onBeforeChange prop
  packages/search-field/src/SearchField.js
  packages/search-field/src/SearchField.story.js
Due: eslint-app

fix(hoc-input): accept object as innerRef
  packages/dropdown/src/components/Dropdown.js
  packages/hoc-input/src/formInput.js
  packages/input-checkbox/src/Checkbox.js
  packages/search-field/src/components/Menu.js
Due: eslint-app

fix(ScrollBox): remove onReachEnd from remainingProps
  packages/search-field/src/components/ScrollBox.js
Due: eslint-app

refactor(SearchField): rename internal methods that had the same name as some props
  packages/search-field/src/SearchField.js
Due: eslint-app

refactor(SearchField): use optional chaining
  packages/search-field/src/SearchField.js
Due: eslint-app

docs(SearchField): add onBeforeChange prop
  packages/search-field/README.md
Due: none

feat(SearchField): accept item manipulation in onBeforeChange
  packages/search-field/src/SearchField.js
  packages/search-field/src/components/Menu.js
Due: eslint-app

chore(storyshots): update
  packages/input-text/src/__snapshots__/TextInput.story.storyshot
  packages/search-field/src/__snapshots__/SearchField.story.storyshot
  packages/search-field/src/components/__snapshots__/Menu.story.storyshot
  packages/search-field/src/components/__snapshots__/ScrollBox.story.storyshot
Due: none

test(SearchField): add tests for onBeforeChange
  packages/search-field/src/SearchField.js
  packages/search-field/src/SearchField.test.js
Due: eslint-app, eslint-test

fix(TextInput): scroll in protected input
  packages/input-text/src/protectedValue.js
Due: eslint-app

chore(release): [ci skip] publish
  packages/amount-selectors/CHANGELOG.md
  packages/amount-selectors/package.json
  packages/dropdown/CHANGELOG.md
  packages/dropdown/package.json
  packages/filter-popover/CHANGELOG.md
  packages/filter-popover/package.json
  packages/form-wrapper/CHANGELOG.md
  packages/form-wrapper/package.json
  packages/hoc-input/CHANGELOG.md
  packages/hoc-input/package.json
  packages/input-checkbox/CHANGELOG.md
  packages/input-checkbox/package.json
  packages/input-currency/CHANGELOG.md
  packages/input-currency/package.json
  packages/input-select/CHANGELOG.md
  packages/input-select/package.json
  packages/input-text/CHANGELOG.md
  packages/input-text/package.json
  packages/search-field/CHANGELOG.md
  packages/search-field/package.json
  packages/table/CHANGELOG.md
  packages/table/package.json
Due: none

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/main.2bac990b62ada55fb044.bundle.js
  docs/main.2bac990b62ada55fb044.bundle.js.map
  docs/main.b8b848183cff7b327229.bundle.js
  docs/main.b8b848183cff7b327229.bundle.js.map
  docs/runtime~main.2bac990b62ada55fb044.bundle.js.map
  docs/runtime~main.b8b848183cff7b327229.bundle.js
  docs/runtime~main.b8b848183cff7b327229.bundle.js.map
  docs/vendors~main.2bac990b62ada55fb044.bundle.js
  docs/vendors~main.2bac990b62ada55fb044.bundle.js.map
  docs/vendors~main.b8b848183cff7b327229.bundle.js
  docs/vendors~main.b8b848183cff7b327229.bundle.js.map
Due: eslint-app

refactor(Tooltip): remove boundariesSelector property
  packages/tooltip/src/Tooltip.story.js
  packages/tooltip/src/TooltipContent.js
  packages/tooltip/src/TooltipContent.story.js
  packages/tooltip/src/useAutoAlign.js
  packages/tooltip/src/useAutoAlign.test.js
Due: eslint-app, eslint-test

fix(More): don't render a bold text on Tooltip content
  packages/more-info/src/components/MoreInfo.js
  packages/more-info/src/styledComponents/StyledInfo.js
Due: eslint-app

Path conditions:
  eslint-app: any of: ^(?!.*\.test).*\.js$
  eslint-test: any of: \.test\.js$
