Repository CraveFood/farmblocks: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint-app, eslint-test

.pre-commit-config.yaml:

fail_fast: true
repos:
-   repo: https://github.com/prettier/prettier
    sha: '1.7.0'
    hooks:
      - id: prettier

-   repo: local
    hooks:
      - id: eslint-app
        name: eslint-app
        entry: ./node_modules/eslint/bin/eslint.js
        args:
          - "--config=.eslintrc.js"
          - "--ignore-path=.eslintignore"
        language: system
        files: '^(?!.*\.test).*\.js$'

      - id: eslint-test
        name: eslint-test
        entry: ./node_modules/eslint/bin/eslint.js
        args:
          - "--config=.test.eslintrc.js"
          - "--ignore-path=.test.eslintignore"
        language: system
        files: '\.test\.js$'

docs(storybook): remove icon fonts
  .storybook/assets/whatsgood-iconfont.eot
  .storybook/assets/whatsgood-iconfont.svg
  .storybook/assets/whatsgood-iconfont.ttf
  .storybook/assets/whatsgood-iconfont.woff
  .storybook/config.js
Due: eslint-app

test: update tests for icons replacement
  packages/alert/src/Alert.js
  packages/alert/src/Alert.test.js
  packages/dropdown/src/components/Dropdown.test.js
  packages/hoc-input/src/formInput.test.js
  packages/table/src/Table.test.js
Due: eslint-app, eslint-test

feat(input-checkbox): use new icons
  packages/input-checkbox/package.json
  packages/input-checkbox/src/Toggle.js
  packages/input-checkbox/src/styledComponents/Checkbox.js
Due: eslint-app

docs(readme): update documentation for icon related props
  packages/empty-state/README.md
  packages/input-checkbox/README.md
  packages/link/README.md
  packages/map-balloon/README.md
  packages/modal/README.md
  packages/search-field/README.md
  packages/table/README.md
Due: none

feat(input-text): use new icon
  packages/input-text/package.json
  packages/input-text/src/protectedValue.js
Due: eslint-app

feat(hoc-input): use new icons
  packages/hoc-input/README.md
  packages/hoc-input/package.json
  packages/hoc-input/src/formInput.js
  packages/hoc-input/src/formInput.story.js
  packages/hoc-input/src/styledComponents/Wrapper.js
Due: eslint-app

feat(input-select): use new icons
  packages/input-select/package.json
  packages/input-select/src/Select.story.js
  packages/input-select/src/components/Item.js
Due: eslint-app

feat(sidenav): use new icons
  packages/sidenav/README.md
  packages/sidenav/package.json
  packages/sidenav/src/SideNav.story.js
  packages/sidenav/src/components/NavButton/CloseButton.js
  packages/sidenav/src/components/NavButton/NavButton.js
  packages/sidenav/src/components/NavButton/NavButton.styled.js
  packages/sidenav/src/components/NavButton/ToggleButton.js
  packages/sidenav/src/components/NavItem/NavItem.js
  packages/sidenav/src/components/NavItem/NavItem.story.js
  packages/sidenav/src/components/NavItem/NavItem.styled.js
Due: eslint-app

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/main.a79cb59e63903b035a58.bundle.js
  docs/main.a79cb59e63903b035a58.bundle.js.map
  docs/main.ae33e6bb2a040647d7c5.bundle.js
  docs/main.ae33e6bb2a040647d7c5.bundle.js.map
  docs/runtime~main.a79cb59e63903b035a58.bundle.js.map
  docs/runtime~main.ae33e6bb2a040647d7c5.bundle.js
  docs/runtime~main.ae33e6bb2a040647d7c5.bundle.js.map
  docs/vendors~main.a79cb59e63903b035a58.bundle.js
  docs/vendors~main.a79cb59e63903b035a58.bundle.js.map
  docs/vendors~main.ae33e6bb2a040647d7c5.bundle.js
  docs/vendors~main.ae33e6bb2a040647d7c5.bundle.js.map
  docs/whatsgood-iconfont.eot
  docs/whatsgood-iconfont.svg
  docs/whatsgood-iconfont.ttf
  docs/whatsgood-iconfont.woff
Due: eslint-app

docs(sidebar): add sidebar base postioned on the right story
  packages/sidenav/src/SideNav.story.js
Due: eslint-app

feat(sidenav): add position property to set x-axis position
  packages/sidenav/src/SideNav.js
  packages/sidenav/src/components/SideBar/SideBar.styled.js
Due: eslint-app

test(sidenav): update storyshots
  __snapshots__/Storyshots.test.js.snap
Due: none

chore(release): [ci skip] publish
  packages/sidenav/CHANGELOG.md
  packages/sidenav/package.json
Due: none

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/main.2fdd1e2429f80d8060b8.bundle.js
  docs/main.2fdd1e2429f80d8060b8.bundle.js.map
  docs/main.ae33e6bb2a040647d7c5.bundle.js
  docs/main.ae33e6bb2a040647d7c5.bundle.js.map
  docs/runtime~main.2fdd1e2429f80d8060b8.bundle.js
  docs/runtime~main.2fdd1e2429f80d8060b8.bundle.js.map
  docs/runtime~main.ae33e6bb2a040647d7c5.bundle.js.map
  docs/vendors~main.2fdd1e2429f80d8060b8.bundle.js
  docs/vendors~main.2fdd1e2429f80d8060b8.bundle.js.map
  docs/vendors~main.ae33e6bb2a040647d7c5.bundle.js
  docs/vendors~main.ae33e6bb2a040647d7c5.bundle.js.map
Due: eslint-app

feat(tooltip): set a min hit area on mobile devices
  packages/tooltip/src/Tooltip.js
Due: eslint-app

feat(phone input popover): set a min height to fill the view
  packages/input-phone/src/PhoneInput.js
  packages/input-phone/src/PhoneInput.styled.js
Due: eslint-app

test(story): update storyshots
  __snapshots__/Storyshots.test.js.snap
  packages/amount-selectors/src/components/__snapshots__/AmountSelectors.story.storyshot
  packages/card/src/__snapshots__/Card.story.storyshot
  packages/hoc-input/src/__snapshots__/formInput.story.storyshot
  packages/input-select/src/__snapshots__/Select.story.storyshot
  packages/more-info/src/components/__snapshots__/MoreInfo.story.storyshot
  packages/tooltip/src/__snapshots__/Tooltip.story.storyshot
  packages/tooltip/src/__snapshots__/TooltipContent.story.storyshot
  yarn.lock
Due: none

chore(addon): add storybook viewport addon
  yarn.lock
Due: none

feat(tooltip mobile): add mobile styles for tooltip
  packages/more-info/src/styledComponents/StyledInfo.js
  packages/tooltip/package.json
  packages/tooltip/src/Tooltip.js
  packages/tooltip/src/Tooltip.story.js
  packages/tooltip/src/TooltipContent.js
  packages/tooltip/src/TooltipContent.styled.js
  packages/tooltip/src/useAutoAlign.js
Due: eslint-app

feat(tooltip): add touch breakpoint and refactor styled structure
  packages/tooltip/src/Tooltip.js
  packages/tooltip/src/Tooltip.styled.js
  packages/tooltip/src/styledComponents/Tooltip.js
Due: eslint-app

Update packages/tooltip/src/Tooltip.story.js
  packages/tooltip/src/Tooltip.story.js
Due: eslint-app

chore(release): [ci skip] publish
  packages/amount-selectors/CHANGELOG.md
  packages/amount-selectors/package.json
  packages/card/CHANGELOG.md
  packages/card/package.json
  packages/filter-popover/CHANGELOG.md
  packages/filter-popover/package.json
  packages/form-wrapper/CHANGELOG.md
  packages/form-wrapper/package.json
  packages/hoc-input/CHANGELOG.md
  packages/hoc-input/package.json
  packages/input-currency/CHANGELOG.md
  packages/input-currency/package.json
  packages/input-phone/CHANGELOG.md
  packages/input-phone/package.json
  packages/input-select/CHANGELOG.md
  packages/input-select/package.json
  packages/input-text/CHANGELOG.md
  packages/input-text/package.json
  packages/label/CHANGELOG.md
  packages/label/package.json
  packages/map-balloon/CHANGELOG.md
  packages/map-balloon/package.json
  packages/modal/CHANGELOG.md
  packages/modal/package.json
  packages/more-info/CHANGELOG.md
  packages/more-info/package.json
  packages/popover/CHANGELOG.md
  packages/popover/package.json
  packages/search-field/CHANGELOG.md
  packages/search-field/package.json
  packages/sidenav/CHANGELOG.md
  packages/sidenav/package.json
  packages/tooltip/CHANGELOG.md
  packages/tooltip/package.json
Due: none

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/main.2fdd1e2429f80d8060b8.bundle.js
  docs/main.2fdd1e2429f80d8060b8.bundle.js.map
  docs/main.b96e5fd451583ac4c2ae.bundle.js
  docs/main.b96e5fd451583ac4c2ae.bundle.js.map
  docs/runtime~main.2fdd1e2429f80d8060b8.bundle.js.map
  docs/runtime~main.b96e5fd451583ac4c2ae.bundle.js
  docs/runtime~main.b96e5fd451583ac4c2ae.bundle.js.map
  docs/vendors~main.2fdd1e2429f80d8060b8.bundle.js
  docs/vendors~main.2fdd1e2429f80d8060b8.bundle.js.map
  docs/vendors~main.b96e5fd451583ac4c2ae.bundle.js
  docs/vendors~main.b96e5fd451583ac4c2ae.bundle.js.map
Due: eslint-app

feat(Card): use padding from styled-sysmte
  packages/card/README.md
  packages/card/package.json
  packages/card/src/Card.js
  packages/card/src/Card.story.js
  packages/card/src/styledComponents/Card.js
Due: eslint-app

feat(EmptyState): adapt component to work on small screens
  packages/empty-state/README.md
  packages/empty-state/package.json
  packages/empty-state/src/Buttons.js
  packages/empty-state/src/EmptyState.js
  packages/empty-state/src/Thumbnail.js
  packages/empty-state/src/styledComponents/Container.js
Due: eslint-app

chore(storybook): add space to the theme provider
  .storybook/config.js
Due: eslint-app

refactor(Balloon): fix breaking change on Card
  packages/map-balloon/src/styledComponents/Balloon.js
Due: eslint-app

feat(Modal): change slide animation
  packages/modal/src/Modal.js
Due: eslint-app

feat(Modal): adjust modal position on small screens
  packages/modal/README.md
  packages/modal/package.json
  packages/modal/src/DialogModal.js
  packages/modal/src/Modal.js
  packages/modal/src/Modal.styled.js
Due: eslint-app

test(storyshots): update
  __snapshots__/Storyshots.test.js.snap
  packages/card/src/__snapshots__/Card.story.storyshot
  packages/empty-state/src/__snapshots__/EmptyState.story.storyshot
  packages/input-select/src/components/__snapshots__/EmptyCard.story.storyshot
  packages/map-balloon/src/__snapshots__/MapBalloon.story.storyshot
  packages/modal/src/__snapshots__/DialogModal.story.storyshot
  packages/modal/src/__snapshots__/Modal.story.storyshot
  packages/modal/src/__snapshots__/helpers.story.storyshot
  packages/tooltip/src/__snapshots__/TooltipContent.story.storyshot
Due: none

chore(package): add styled-system as dev dependency
  package.json
  yarn.lock
Due: none

chore(release): [ci skip] publish
  packages/amount-selectors/CHANGELOG.md
  packages/amount-selectors/package.json
  packages/card/CHANGELOG.md
  packages/card/package.json
  packages/empty-state/CHANGELOG.md
  packages/empty-state/package.json
  packages/filter-popover/CHANGELOG.md
  packages/filter-popover/package.json
  packages/form-wrapper/CHANGELOG.md
  packages/form-wrapper/package.json
  packages/hoc-input/CHANGELOG.md
  packages/hoc-input/package.json
  packages/input-currency/CHANGELOG.md
  packages/input-currency/package.json
  packages/input-phone/CHANGELOG.md
  packages/input-phone/package.json
  packages/input-select/CHANGELOG.md
  packages/input-select/package.json
  packages/input-text/CHANGELOG.md
  packages/input-text/package.json
  packages/label/CHANGELOG.md
  packages/label/package.json
  packages/map-balloon/CHANGELOG.md
  packages/map-balloon/package.json
  packages/modal/CHANGELOG.md
  packages/modal/package.json
  packages/more-info/CHANGELOG.md
  packages/more-info/package.json
  packages/popover/CHANGELOG.md
  packages/popover/package.json
  packages/search-field/CHANGELOG.md
  packages/search-field/package.json
  packages/sidenav/CHANGELOG.md
  packages/sidenav/package.json
  packages/tooltip/CHANGELOG.md
  packages/tooltip/package.json
Due: none

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/main.ab608bae4df32d14b887.bundle.js
  docs/main.ab608bae4df32d14b887.bundle.js.map
  docs/main.b96e5fd451583ac4c2ae.bundle.js
  docs/main.b96e5fd451583ac4c2ae.bundle.js.map
  docs/runtime~main.ab608bae4df32d14b887.bundle.js
  docs/runtime~main.ab608bae4df32d14b887.bundle.js.map
  docs/runtime~main.b96e5fd451583ac4c2ae.bundle.js.map
  docs/vendors~main.ab608bae4df32d14b887.bundle.js
  docs/vendors~main.ab608bae4df32d14b887.bundle.js.map
  docs/vendors~main.b96e5fd451583ac4c2ae.bundle.js
  docs/vendors~main.b96e5fd451583ac4c2ae.bundle.js.map
Due: eslint-app

chore: update prettier
  .pre-commit-config.yaml
  package.json
  packages/dropdown/src/index.js
  packages/icon/src/jsx/index.js
  packages/input-text/src/TextAreaInput.js
  yarn.lock
Due: eslint-app

test(storyshots): update
  packages/tooltip/src/__snapshots__/Tooltip.story.storyshot
  packages/tooltip/src/__snapshots__/TooltipContent.story.storyshot
Due: none

chore(Tooltip): update farmblocks-button
  packages/tooltip/package.json
  yarn.lock
Due: none

chore: update babel
  package.json
  yarn.lock
Due: none

chore: update storybook
  package.json
  yarn.lock
Due: none

chore: update @testing-libreary and coveralls
  package.json
  yarn.lock
Due: none
