Repository CraveFood/farmblocks: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint-app, eslint-test

.pre-commit-config.yaml:

fail_fast: true
repos:
-   repo: https://github.com/prettier/prettier
    sha: '1.7.0'
    hooks:
      - id: prettier

-   repo: local
    hooks:
      - id: eslint-app
        name: eslint-app
        entry: ./node_modules/eslint/bin/eslint.js
        args:
          - "--config=.eslintrc.js"
          - "--ignore-path=.eslintignore"
        language: system
        files: '^(?!.*\.test).*\.js$'

      - id: eslint-test
        name: eslint-test
        entry: ./node_modules/eslint/bin/eslint.js
        args:
          - "--config=.test.eslintrc.js"
          - "--ignore-path=.test.eslintignore"
        language: system
        files: '\.test\.js$'

test(Select): add story for multi with errors
  packages/input-select/src/Select.story.js
Due: eslint-app

feat(Select): remove tags with Backspace key
  packages/input-select/package.json
  packages/input-select/src/Select.js
  packages/input-select/src/Select.test.js
  yarn.lock
Due: eslint-app, eslint-test

feat(Select): handle item selection on multi
  packages/input-select/package.json
  packages/input-select/src/Select.js
  packages/input-select/src/Select.story.js
  packages/input-select/src/Select.test.js
  yarn.lock
Due: eslint-app, eslint-test

refactor(Select): move check for multi prop on renderTag to JSX
  packages/input-select/src/Select.js
Due: eslint-app

feat(Select): pass disabled prop to tags
  packages/input-select/src/Select.js
  packages/input-select/src/Select.story.js
Due: eslint-app

feat(Select): accept value prop as an array
  packages/input-select/src/Select.js
  packages/input-select/src/Select.story.js
Due: eslint-app

feat(Tag): add disabled prop
  packages/tag/src/components/Tag.js
  packages/tag/src/components/Tag.story.js
  packages/tag/src/components/styledComponent/StyledTag.js
Due: eslint-app

fix(Select): value proptype should warn when it's not an array on multi
  packages/input-select/src/Select.js
Due: eslint-app

Update packages/input-select/src/Select.test.js
  packages/input-select/src/Select.test.js
Due: eslint-test

chore(tavis): avoid publishing alpha version twice per push
  .travis.yml
Due: none

docs(Select): update Readme
  packages/input-select/README.md
Due: none

feat(Select): show tags for each selected item in multi
  packages/input-select/package.json
  packages/input-select/src/Select.js
  packages/input-select/src/Select.story.js
  packages/input-select/src/components/InputWithTags.js
  packages/input-select/src/styledComponents/LabelContainer.js
  packages/input-select/src/styledComponents/TagsWrapper.js
Due: eslint-app

feat(Select): render checkbox in items when select is multi
  packages/input-select/package.json
  packages/input-select/src/Select.js
  packages/input-select/src/Select.story.js
  packages/input-select/src/components/Item.js
  packages/input-select/src/components/Item.story.js
  packages/input-select/src/styledComponents/LabelContainer.js
Due: eslint-app

chore(storyshots): update
  packages/input-select/src/__snapshots__/Select.story.storyshot
  packages/input-select/src/components/__snapshots__/Item.story.storyshot
  packages/input-select/src/components/__snapshots__/withImage.story.storyshot
  packages/search-field/src/components/__snapshots__/Menu.story.storyshot
  packages/tag/src/components/__snapshots__/Tag.story.storyshot
  yarn.lock
Due: none

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/main.04354a08f2e049e02571.bundle.js
  docs/main.04354a08f2e049e02571.bundle.js.map
  docs/runtime~main.04354a08f2e049e02571.bundle.js
  docs/runtime~main.04354a08f2e049e02571.bundle.js.map
  docs/vendors~main.04354a08f2e049e02571.bundle.js
  docs/vendors~main.04354a08f2e049e02571.bundle.js.map
Due: eslint-app

chore(.travis.yml): bump yarn version to 1.12.1
  .travis.yml
Due: none

chore(.travis.yml): lock node version @ 10.7.0
  .travis.yml
Due: none

test(storyshots): update
  packages/input-select/src/components/__snapshots__/Item.story.storyshot
Due: none

chore(yarn.lock): update
  yarn.lock
Due: none

chore(release): [ci skip] publish
  packages/input-select/CHANGELOG.md
  packages/input-select/package.json
  packages/search-field/CHANGELOG.md
  packages/search-field/package.json
Due: none

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/main.4e54f04ceb090b457c47.bundle.js
  docs/main.4e54f04ceb090b457c47.bundle.js.map
  docs/runtime~main.4e54f04ceb090b457c47.bundle.js
  docs/runtime~main.4e54f04ceb090b457c47.bundle.js.map
  docs/vendors~main.4e54f04ceb090b457c47.bundle.js
  docs/vendors~main.4e54f04ceb090b457c47.bundle.js.map
Due: eslint-app

feat(Table): check added rows when previous were all checked
  packages/table/src/Table.js
  packages/table/src/Table.story.js
Due: eslint-app

feat(Table): increase row selection checkbox hit area
  packages/table/src/styledComponents/Table.js
Due: eslint-app

feat(Table): pass allChecked bool to selectionHeader rander prop
  packages/table/src/Table.js
Due: eslint-app

test(Table): add test for allChecked been passed to selectionHeader
  packages/table/src/Table.test.js
Due: eslint-test

chore(storyshots): update
  packages/table/src/__snapshots__/Table.story.storyshot
Due: none

chore(release): [ci skip] publish
  packages/table/CHANGELOG.md
  packages/table/package.json
Due: none

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/main.3688122de3476203ed62.bundle.js
  docs/main.3688122de3476203ed62.bundle.js.map
  docs/runtime~main.3688122de3476203ed62.bundle.js
  docs/runtime~main.3688122de3476203ed62.bundle.js.map
  docs/vendors~main.3688122de3476203ed62.bundle.js
  docs/vendors~main.3688122de3476203ed62.bundle.js.map
Due: eslint-app

chore(travis): update greenkeeper version to support monorepos
  .travis.yml
Due: none

fix(SelectInput): clear placeholder for multi values
  packages/input-select/src/Select.js
Due: eslint-app

test(storyshot): update
  packages/input-select/src/__snapshots__/Select.story.storyshot
Due: none

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/main.431ade8d68a51f752bc8.bundle.js
  docs/main.431ade8d68a51f752bc8.bundle.js.map
  docs/runtime~main.431ade8d68a51f752bc8.bundle.js
  docs/runtime~main.431ade8d68a51f752bc8.bundle.js.map
  docs/vendors~main.431ade8d68a51f752bc8.bundle.js
  docs/vendors~main.431ade8d68a51f752bc8.bundle.js.map
Due: eslint-app

refactor(images): Make all storybook images, that come from picsum, static
  packages/empty-state/src/EmptyState.story.js
  packages/image/src/Image.story.js
  packages/input-select/src/Select.story.js
  packages/input-select/src/components/Item.story.js
  packages/input-select/src/components/withImage.story.js
  packages/map-balloon/src/MapBalloon.test.js
  packages/search-field/src/SearchField.story.js
  packages/search-field/src/components/Menu.story.js
  packages/table/src/Table.story.js
  packages/tag/src/components/Tag.story.js
Due: eslint-app, eslint-test

tests(storyshots): Update storyshots
  packages/empty-state/src/__snapshots__/EmptyState.story.storyshot
  packages/image/src/__snapshots__/Image.story.storyshot
  packages/input-select/src/__snapshots__/Select.story.storyshot
  packages/input-select/src/components/__snapshots__/Item.story.storyshot
  packages/input-select/src/components/__snapshots__/withImage.story.storyshot
  packages/search-field/src/components/__snapshots__/Menu.story.storyshot
  packages/table/src/__snapshots__/Table.story.storyshot
  packages/tag/src/components/__snapshots__/Tag.story.storyshot
Due: none

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/main.3fcfd2a45788d25bc769.bundle.js
  docs/main.3fcfd2a45788d25bc769.bundle.js.map
  docs/runtime~main.3fcfd2a45788d25bc769.bundle.js
  docs/runtime~main.3fcfd2a45788d25bc769.bundle.js.map
  docs/vendors~main.3fcfd2a45788d25bc769.bundle.js
  docs/vendors~main.3fcfd2a45788d25bc769.bundle.js.map
Due: eslint-app

docs(FormWrapper): add id prop documentation
  packages/form-wrapper/README.md
Due: none

feat(FormWrapper): add id to save and cancel actionables
  packages/form-wrapper/src/FormWrapper.js
  packages/form-wrapper/src/FormWrapper.story.js
Due: eslint-app
