Repository CraveFood/farmblocks: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint-app, eslint-test

eslint-app:
  name: eslint-app
  entry: ./node_modules/eslint/bin/eslint.js
  args:
  - --config=.eslintrc.js
  - --ignore-path=.eslintignore
  language: system

eslint-test:
  name: eslint-test
  entry: ./node_modules/eslint/bin/eslint.js
  args:
  - --config=.test.eslintrc.js
  - --ignore-path=.test.eslintignore
  language: system

fix(Tag): lint
  packages/tag/src/components/Tag.js
  packages/tag/src/components/Tag.story.js
  packages/tag/src/components/Tag.test.js
  packages/tag/src/components/styledComponent/StyledTag.js
  packages/tag/src/constants/tagTypes.js
Due: eslint-app, eslint-test

fix(Select): lint
  packages/input-select/src/Select.js
  packages/input-select/src/Select.story.js
  packages/input-select/src/Select.test.js
  packages/input-select/src/components/EmptyCard.js
  packages/input-select/src/components/Item.js
  packages/input-select/src/components/withImage.js
Due: eslint-app, eslint-test

style: fix lint on Carousel, EmptyState and FilterPopover
  packages/carousel/src/Carousel.js
  packages/carousel/src/Carousel.story.js
  packages/carousel/src/Carousel.test.js
  packages/empty-state/src/EmptyState.js
  packages/empty-state/src/EmptyState.story.js
  packages/filter-popover/src/FilterPopover.js
  packages/filter-popover/src/FilterPopover.story.js
  packages/filter-popover/src/FilterPopover.test.js
Due: eslint-app, eslint-test

fix(Tooltip): lint
  packages/tooltip/package.json
  packages/tooltip/src/Tooltip.js
  packages/tooltip/src/Tooltip.story.js
  packages/tooltip/src/Tooltip.test.js
  packages/tooltip/src/constants/alignments.js
Due: eslint-app, eslint-test

fix(MoreInfo): lint
  packages/more-info/src/components/MoreInfo.js
Due: eslint-app

fix(MapBalloon): lint
  packages/map-balloon/src/ImageSet.js
  packages/map-balloon/src/MapBalloon.js
  packages/map-balloon/src/MapBalloon.story.js
  packages/map-balloon/src/MapBalloon.test.js
  packages/map-balloon/src/constants/alignments.js
  packages/map-balloon/src/styledComponents/Balloon.js
  packages/map-balloon/src/styledComponents/Pin.js
  packages/map-balloon/src/styledComponents/SingleImage.js
  packages/map-balloon/src/styledComponents/Wrapper.js
  packages/more-info/src/components/MoreInfo.js
Due: eslint-app, eslint-test

fix(Radio): lint
  packages/input-radio/src/Radio.js
  packages/input-radio/src/RadioGroup.js
  packages/input-radio/src/RadioGroup.test.js
Due: eslint-app, eslint-test

refactor(Button): fix lint
  packages/button/src/Button.js
  packages/button/src/Button.story.js
  packages/button/src/constants/buttonSizes.js
  packages/button/src/constants/buttonTypes.js
  packages/button/src/constants/colorTypes.js
  packages/button/src/styledComponents/Button.js
Due: eslint-app

fix(Checkbox): lint
  packages/input-checkbox/src/Checkbox.js
  packages/input-checkbox/src/Checkbox.story.js
  packages/input-checkbox/src/Checkbox.test.js
  packages/input-checkbox/src/styledComponents/Checkbox.js
Due: eslint-app, eslint-test

style(Link): fix lint
  packages/label/src/Label.js
  packages/link/src/components/Link.js
  packages/link/src/components/Link.story.js
  packages/link/src/constants/hoverColors.js
  packages/link/src/constants/linkTypes.js
  packages/link/src/styledComponents/Link.js
Due: eslint-app

fix(SearchField): lint
  packages/search-field/src/SearchField.js
  packages/search-field/src/SearchField.story.js
  packages/search-field/src/SearchField.test.js
  packages/search-field/src/components/Menu.js
  packages/search-field/src/components/Menu.story.js
  packages/search-field/src/components/ScrollBox.js
  packages/search-field/src/components/ScrollBox.test.js
Due: eslint-app, eslint-test

refactor(disabledTooltip): fix lint
  packages/hoc-disabled-tooltip/src/disabledTooltip.js
  packages/hoc-disabled-tooltip/src/disabledTooltip.story.js
Due: eslint-app

fix(Popover): lint
  packages/popover/src/Popover.js
  packages/popover/src/Popover.story.js
  packages/popover/src/Popover.test.js
Due: eslint-app, eslint-test

fix(formInput): lint
  packages/hoc-input/package.json
  packages/hoc-input/src/formInput.js
  packages/hoc-input/src/formInput.story.js
  packages/hoc-input/src/formInput.test.js
Due: eslint-app, eslint-test

style: fix lint on withMessages and Image
  packages/hoc-validation-messages/src/withMessages.js
  packages/hoc-validation-messages/src/withMessages.story.js
  packages/hoc-validation-messages/src/withMessages.test.js
  packages/image/src/Image.js
  packages/image/src/Image.story.js
  packages/image/src/constants/badgeSizes.js
  packages/image/src/constants/fitModes.js
  packages/image/src/constants/thumbnailSizes.js
  packages/image/src/styledComponents/Image.js
Due: eslint-app, eslint-test

fix(theme): lint
  packages/theme/src/colors.js
  packages/theme/src/fontSizes.js
  packages/theme/src/fontTypes.js
  packages/theme/src/fontWeights.js
Due: eslint-app

fix(TextInput): lint
  packages/input-text/src/TextAreaInput.js
  packages/input-text/src/TextAreaInput.story.js
  packages/input-text/src/TextInput.js
  packages/input-text/src/TextInput.story.js
  packages/input-text/src/protectedValue.js
  packages/input-text/src/protectedValue.test.js
Due: eslint-app, eslint-test

fix(Text): lint
  packages/text/src/components/Text.js
  packages/text/src/components/Text.story.js
  packages/text/src/constants/paragraphLineHeights.js
  packages/text/src/styledComponents/Text.js
Due: eslint-app

fix(Footer): lint
  packages/footer/src/components/Footer.js
  packages/footer/src/components/Footer.story.js
  packages/footer/src/components/HelperContent.js
Due: eslint-app

fix(Alert): lint
  packages/alert/src/Alert.js
  packages/alert/src/Alert.story.js
  packages/alert/src/Alert.test.js
  packages/alert/src/BrieflyDisplay.js
  packages/alert/src/BrieflyDisplay.test.js
  packages/alert/src/constants/alertTypes.js
  packages/alert/src/constants/colors.js
Due: eslint-app, eslint-test

test: fix lint
  packages/dropdown/src/index.js
Due: eslint-app

test(storyshot): update
  __snapshots__/Storyshots.test.js.snap
  packages/amount-selectors/src/components/__snapshots__/AmountSelectors.story.storyshot
  packages/card/src/__snapshots__/Card.story.storyshot
  packages/empty-state/src/__snapshots__/EmptyState.story.storyshot
  packages/filter-popover/src/__snapshots__/FilterPopover.story.storyshot
  packages/footer/src/components/__snapshots__/Footer.story.storyshot
  packages/form-wrapper/src/__snapshots__/FormWrapper.story.storyshot
  packages/hoc-disabled-tooltip/src/__snapshots__/disabledTooltip.story.storyshot
  packages/hoc-input/src/__snapshots__/formInput.story.storyshot
  packages/hoc-validation-messages/src/__snapshots__/withMessages.story.storyshot
  packages/hoc-withtooltip/src/__snapshots__/withTooltip.story.storyshot
  packages/input-checkbox/src/__snapshots__/Checkbox.story.storyshot
  packages/input-currency/src/__snapshots__/CurrencyInput.story.storyshot
  packages/input-select/src/__snapshots__/Select.story.storyshot
  packages/input-select/src/components/__snapshots__/EmptyCard.story.storyshot
  packages/input-text/src/__snapshots__/TextAreaInput.story.storyshot
  packages/input-text/src/__snapshots__/TextInput.story.storyshot
  packages/more-info/src/components/__snapshots__/MoreInfo.story.storyshot
  packages/popover/src/__snapshots__/Popover.story.storyshot
  packages/search-field/src/__snapshots__/SearchField.story.storyshot
  packages/search-field/src/components/__snapshots__/Menu.story.storyshot
  packages/table/src/__snapshots__/Table.story.storyshot
  packages/tag/src/components/__snapshots__/Tag.story.storyshot
  packages/text/src/components/__snapshots__/Text.Paragraph.story.storyshot
  packages/text/src/components/__snapshots__/Text.story.storyshot
Due: none

Update packages/search-field/src/SearchField.js
  packages/search-field/src/SearchField.js
Due: eslint-app

chore(prettierrc): add trailing comma
  .prettierrc
Due: none

fix: lint
  Storyshots.test.js
  babel.config.js
  jest.config.js
  packages/form-wrapper/src/FormWrapper.js
  packages/hoc-disabled-tooltip/src/disabledTooltip.js
  packages/label/src/Label.js
Due: eslint-app, eslint-test

fix(Dropdown): lint
  packages/dropdown/src/components/Dropdown.js
  packages/dropdown/src/components/Dropdown.story.js
  packages/dropdown/src/components/Dropdown.test.js
  packages/dropdown/src/components/DropdownItem.js
Due: eslint-app, eslint-test

chore(yarn.lock): update
  yarn.lock
Due: none

style(create-component): fix lint
  packages/scaffold/src/create-component.js
  packages/scaffold/src/templates/component.js
  packages/scaffold/src/templates/componentStory.js
  packages/scaffold/src/templates/package.js
Due: eslint-app

chore(test.eslintrc): configure new rules
  .eslintrc.js
  .test.eslintrc.js
Due: eslint-app

fix(Card): lint
  packages/card/src/Card.js
  packages/card/src/constants/cardTypes.js
Due: eslint-app

fix(withTooltip): lint
  packages/hoc-withtooltip/src/withTooltip.js
  packages/hoc-withtooltip/src/withTooltip.test.js
Due: eslint-app, eslint-test

Update packages/table/src/constants.js
  packages/table/src/constants.js
Due: eslint-app

feat(Tag): call onRemove on onKeyDown only for enter and space keys
  packages/tag/src/components/Tag.js
  packages/tag/src/components/Tag.test.js
Due: eslint-app, eslint-test

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/main.f960c00bc99a9941678e.bundle.js
  docs/main.f960c00bc99a9941678e.bundle.js.map
  docs/runtime~main.f960c00bc99a9941678e.bundle.js
  docs/runtime~main.f960c00bc99a9941678e.bundle.js.map
  docs/vendors~main.f960c00bc99a9941678e.bundle.js
  docs/vendors~main.f960c00bc99a9941678e.bundle.js.map
Due: eslint-app

chore: update lerna
  lerna.json
  package.json
  yarn.lock
Due: none

chore: update enzyme
  package.json
  yarn.lock
Due: none

chore: update snyk
  package.json
  yarn.lock
Due: none

chore: update prettier and babel dependencies
  package.json
  packages/scaffold/package.json
  yarn.lock
Due: none

chore: update @crave/farmblocks-dev-scaffold
  package.json
Due: none

Path conditions:
  eslint-app: any of: ^(?!.*\.test).*\.js$
  eslint-test: any of: \.test\.js$
