Repository CraveFood/farmblocks: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint-app, eslint-test

eslint-app:
  name: eslint-app
  entry: ./node_modules/eslint/bin/eslint.js
  args:
  - --config=.eslintrc.js
  - --ignore-path=.eslintignore
  language: system

eslint-test:
  name: eslint-test
  entry: ./node_modules/eslint/bin/eslint.js
  args:
  - --config=.test.eslintrc.js
  - --ignore-path=.test.eslintignore
  language: system

refactor(SearchField): removed onMenuMouseDown from props
  packages/search-field/src/components/Menu.js
  packages/search-field/src/components/Menu.story.js
Due: eslint-app

docs(SearchField): document use of onMouseDown over onClick on items
  packages/search-field/README.md
Due: none

test(snapshots): update
  packages/search-field/src/components/__snapshots__/Menu.story.storyshot
Due: none

chore(release): [ci skip] publish
  packages/search-field/CHANGELOG.md
  packages/search-field/package.json
Due: none

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/static/preview.6499e8e4c85dc1d77194.bundle.js
  docs/static/preview.ee3f4b3fb2a3389d8384.bundle.js
Due: eslint-app

feat(Table): add top and bottom padding for cells
  packages/table/src/styledComponents/Table.js
Due: eslint-app

feat(Table.Column): add whiteSpace prop
  packages/table/README.md
  packages/table/src/Column.js
  packages/table/src/Table.js
  packages/table/src/Table.story.js
  packages/table/src/styledComponents/Cell.js
Due: eslint-app

chore(storyshots): update
  packages/table/src/__snapshots__/Table.story.storyshot
Due: none

fix(Table.Column): set propType of align to any string
  packages/table/README.md
  packages/table/src/Column.js
  packages/table/src/Table.js
  packages/table/src/Table.story.js
Due: eslint-app

chore(release): [ci skip] publish
  packages/table/CHANGELOG.md
  packages/table/package.json
Due: none

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/static/preview.6499e8e4c85dc1d77194.bundle.js
  docs/static/preview.856576666a14faf91b28.bundle.js
Due: eslint-app

fix(Button): rotate only lefticon on loading state
  packages/button/src/Button.js
  packages/button/src/Button.story.js
  packages/button/src/styledComponents/Button.js
Due: eslint-app

test(storybook): update
  packages/alert/src/__snapshots__/Alert.story.storyshot
  packages/amount-selectors/src/components/__snapshots__/AmountSelectors.story.storyshot
  packages/button/src/__snapshots__/Button.story.storyshot
  packages/footer/src/components/__snapshots__/Footer.story.storyshot
  packages/form-wrapper/src/__snapshots__/FormWrapper.story.storyshot
  packages/table/src/__snapshots__/Table.story.storyshot
Due: none

chore(release): [ci skip] publish
  packages/alert/CHANGELOG.md
  packages/alert/package.json
  packages/amount-selectors/CHANGELOG.md
  packages/amount-selectors/package.json
  packages/button/CHANGELOG.md
  packages/button/package.json
  packages/card/CHANGELOG.md
  packages/card/package.json
  packages/dropdown/CHANGELOG.md
  packages/dropdown/package.json
  packages/empty-state/CHANGELOG.md
  packages/empty-state/package.json
  packages/filter-popover/CHANGELOG.md
  packages/filter-popover/package.json
  packages/footer/CHANGELOG.md
  packages/footer/package.json
  packages/form-wrapper/CHANGELOG.md
  packages/form-wrapper/package.json
  packages/input-select/CHANGELOG.md
  packages/input-select/package.json
  packages/input-text/CHANGELOG.md
  packages/input-text/package.json
  packages/map-balloon/CHANGELOG.md
  packages/map-balloon/package.json
  packages/search-field/CHANGELOG.md
  packages/search-field/package.json
  packages/table/CHANGELOG.md
  packages/table/package.json
Due: none

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/static/preview.625d0dab1faa3f0f0e6a.bundle.js
  docs/static/preview.856576666a14faf91b28.bundle.js
Due: eslint-app

docs(popover): add story for onOpen and onClose props
  packages/popover/src/Popover.story.js
Due: eslint-app

feat(popover): add onOpen and onCLose props
  packages/popover/README.md
  packages/popover/src/Popover.js
Due: eslint-app

test(popover): add tests for onOpen and onClose
  packages/popover/src/Popover.test.js
Due: eslint-test

feat(popover): accept trigger as render prop
  packages/popover/src/Popover.js
  packages/popover/src/Popover.story.js
  packages/popover/src/Popover.test.js
Due: eslint-app, eslint-test

feat(popover): add triggerWidth prop
  packages/popover/src/Popover.js
  packages/popover/src/Popover.story.js
Due: eslint-app

feat(popover): expose tooltip hideArrow prop
  packages/popover/README.md
  packages/popover/src/Popover.js
  packages/popover/src/Popover.story.js
Due: eslint-app

chore(storyshots): update
  packages/filter-popover/src/__snapshots__/FilterPopover.story.storyshot
  packages/popover/src/__snapshots__/Popover.story.storyshot
Due: none

chore(release): [ci skip] publish
  packages/filter-popover/CHANGELOG.md
  packages/filter-popover/package.json
  packages/popover/CHANGELOG.md
  packages/popover/package.json
Due: none

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/static/preview.625d0dab1faa3f0f0e6a.bundle.js
  docs/static/preview.8af7c628612665a3c03c.bundle.js
Due: eslint-app

fix(form-wrapper): add space between title and cancel link
  packages/form-wrapper/src/FormWrapper.js
  packages/form-wrapper/src/FormWrapper.story.js
Due: eslint-app

chore(storyshots): update
  packages/form-wrapper/src/__snapshots__/FormWrapper.story.storyshot
Due: none

chore(release): [ci skip] publish
  packages/filter-popover/CHANGELOG.md
  packages/filter-popover/package.json
  packages/form-wrapper/CHANGELOG.md
  packages/form-wrapper/package.json
Due: none

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/static/preview.1aa021aa8dddafcea302.bundle.js
  docs/static/preview.8af7c628612665a3c03c.bundle.js
Due: eslint-app

docs(Tag): update readme
  packages/tag/README.md
Due: none

docs(Tag): add stories
  packages/tag/src/components/Tag.story.js
Due: eslint-app

feat(Tag): add icon prop
  packages/tag/src/components/Tag.js
  packages/tag/src/components/styledComponent/StyledTag.js
Due: eslint-app

test(Tag): fix test
  packages/tag/src/components/Tag.test.js
Due: eslint-test

test(Storyshots): update
  packages/tag/src/components/__snapshots__/Tag.story.storyshot
Due: none

chore(release): [ci skip] publish
  packages/tag/CHANGELOG.md
  packages/tag/package.json
Due: none

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/static/preview.1aa021aa8dddafcea302.bundle.js
  docs/static/preview.eef853ce812754f1402c.bundle.js
Due: eslint-app

feat(Image): add css property
  packages/image/README.md
  packages/image/src/Image.js
  packages/image/src/Image.story.js
  packages/image/src/styledComponents/Image.js
Due: eslint-app

test(storyshots): update
  packages/image/src/__snapshots__/Image.story.storyshot
Due: none

refactor(Image): accept new types on css property
  packages/image/src/Image.js
Due: eslint-app

chore(release): [ci skip] publish
  packages/amount-selectors/CHANGELOG.md
  packages/amount-selectors/package.json
  packages/card/CHANGELOG.md
  packages/card/package.json
  packages/carousel/CHANGELOG.md
  packages/carousel/package.json
  packages/empty-state/CHANGELOG.md
  packages/empty-state/package.json
  packages/filter-popover/CHANGELOG.md
  packages/filter-popover/package.json
  packages/footer/CHANGELOG.md
  packages/footer/package.json
  packages/form-wrapper/CHANGELOG.md
  packages/form-wrapper/package.json
  packages/hoc-input/CHANGELOG.md
  packages/hoc-input/package.json
  packages/hoc-validation-messages/CHANGELOG.md
  packages/hoc-validation-messages/package.json
  packages/image/CHANGELOG.md
  packages/image/package.json
  packages/input-select/CHANGELOG.md
  packages/input-select/package.json
  packages/input-text/CHANGELOG.md
  packages/input-text/package.json
  packages/map-balloon/CHANGELOG.md
  packages/map-balloon/package.json
  packages/search-field/CHANGELOG.md
  packages/search-field/package.json
  packages/table/CHANGELOG.md
  packages/table/package.json
Due: none

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/static/preview.2f44391451283bceb4e0.bundle.js
  docs/static/preview.eef853ce812754f1402c.bundle.js
Due: eslint-app

Path conditions:
  eslint-app: any of: ^(?!.*\.test).*\.js$
  eslint-test: any of: \.test\.js$
