Repository CraveFood/farmblocks: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint-app, eslint-test

.pre-commit-config.yaml:

fail_fast: true
repos:
-   repo: https://github.com/prettier/prettier
    sha: '1.7.0'
    hooks:
      - id: prettier

-   repo: local
    hooks:
      - id: eslint-app
        name: eslint-app
        entry: ./node_modules/eslint/bin/eslint.js
        args:
          - "--config=.eslintrc.js"
          - "--ignore-path=.eslintignore"
        language: system
        files: '^(?!.*\.test).*\.js$'

      - id: eslint-test
        name: eslint-test
        entry: ./node_modules/eslint/bin/eslint.js
        args:
          - "--config=.test.eslintrc.js"
          - "--ignore-path=.test.eslintignore"
        language: system
        files: '\.test\.js$'

chore(storyshots): update
  packages/hoc-input/src/__snapshots__/formInput.story.storyshot
  packages/input-select/src/__snapshots__/Select.story.storyshot
  packages/input-text/src/__snapshots__/TextInput.story.storyshot
  packages/more-info/src/components/__snapshots__/MoreInfo.story.storyshot
  packages/search-field/src/__snapshots__/SearchField.story.storyshot
  packages/search-field/src/components/__snapshots__/Menu.story.storyshot
  packages/tag/src/components/__snapshots__/Tag.story.storyshot
Due: none

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/index.html
  docs/static/manager.812bbf47ef91d7b724bf.bundle.js
  docs/static/manager.c00108f78a1c287453b5.bundle.js
  docs/static/preview.48177214f9f819652d4a.bundle.js
  docs/static/preview.814af214816bf7a229f8.bundle.js
Due: eslint-app

fix(HOC withtooltip): mount tooltip only when conditions are met instead of setting its visibility
  packages/hoc-withtooltip/src/withTooltip.js
Due: eslint-app

test(Storyshots): update
  packages/alert/src/__snapshots__/Alert.story.storyshot
  packages/amount-selectors/src/components/__snapshots__/AmountSelectors.story.storyshot
  packages/button/src/__snapshots__/Button.story.storyshot
  packages/card/src/__snapshots__/Card.story.storyshot
  packages/dropdown/src/components/__snapshots__/Dropdown.story.storyshot
  packages/empty-state/src/__snapshots__/EmptyState.story.storyshot
  packages/filter-popover/src/__snapshots__/FilterPopover.story.storyshot
  packages/footer/src/components/__snapshots__/Footer.story.storyshot
  packages/form-wrapper/src/__snapshots__/FormWrapper.story.storyshot
  packages/hoc-disabled-tooltip/src/__snapshots__/disabledTooltip.story.storyshot
  packages/hoc-input/src/__snapshots__/formInput.story.storyshot
  packages/hoc-withtooltip/src/__snapshots__/withTooltip.story.storyshot
  packages/input-select/src/__snapshots__/Select.story.storyshot
  packages/more-info/src/components/__snapshots__/MoreInfo.story.storyshot
  packages/table/src/__snapshots__/Table.story.storyshot
  packages/tooltip/src/__snapshots__/Tooltip.story.storyshot
Due: none

chore: add react-transition-group as dependency
  packages/hoc-withtooltip/package.json
  yarn.lock
Due: none

feat(Tooltip): remove display animation from tooltip
  packages/tooltip/src/styledComponents/Tooltip.js
Due: eslint-app

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/index.html
  docs/static/manager.812bbf47ef91d7b724bf.bundle.js
  docs/static/manager.c2be87d0529fc2fb419a.bundle.js
  docs/static/preview.4d83023ffb57a41d6bc3.bundle.js
  docs/static/preview.814af214816bf7a229f8.bundle.js
Due: eslint-app

tst
  packages/filter-popover/src/__snapshots__/FilterPopover.story.storyshot
  packages/hoc-input/src/__snapshots__/formInput.story.storyshot
  packages/input-select/src/__snapshots__/Select.story.storyshot
  packages/more-info/src/components/__snapshots__/MoreInfo.story.storyshot
  packages/popover/src/__snapshots__/Popover.story.storyshot
  packages/tooltip/src/Tooltip.js
  packages/tooltip/src/__snapshots__/Tooltip.story.storyshot
Due: eslint-app

fix(Tooltip): revert https://github.com/CraveFood/farmblocks/pull/606
  packages/tooltip/README.md
  packages/tooltip/src/Tooltip.js
  packages/tooltip/src/styledComponents/Tooltip.js
Due: eslint-app

test(storyshots): update
  packages/filter-popover/src/__snapshots__/FilterPopover.story.storyshot
  packages/hoc-input/src/__snapshots__/formInput.story.storyshot
  packages/input-select/src/__snapshots__/Select.story.storyshot
  packages/more-info/src/components/__snapshots__/MoreInfo.story.storyshot
  packages/popover/src/__snapshots__/Popover.story.storyshot
  packages/tooltip/src/__snapshots__/Tooltip.story.storyshot
Due: none

chore: removed unused farmblocks-hoc-disabled-tooltip from dependencies of several packages
  packages/input-checkbox/package.json
  packages/input-radio/package.json
  packages/input-select/package.json
  packages/input-text/package.json
  packages/link/package.json
  packages/search-field/package.json
Due: none

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/static/preview.3a55a203529c68c732d6.bundle.js
  docs/static/preview.4d83023ffb57a41d6bc3.bundle.js
Due: eslint-app

feat(alert): pass className prop to styled-component so it can be extended
  packages/alert/src/Alert.js
  packages/alert/src/Alert.story.js
Due: eslint-app

chore(storyshots): update
  packages/alert/src/__snapshots__/Alert.story.storyshot
Due: none

chore(release): [ci skip] publish
  packages/alert/CHANGELOG.md
  packages/alert/package.json
Due: none

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/static/preview.3a55a203529c68c732d6.bundle.js
  docs/static/preview.46cfe9abb5cee2867a68.bundle.js
Due: eslint-app

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/index.html
  docs/static/manager.122dfce85c32d7280bd8.bundle.js
  docs/static/manager.c2be87d0529fc2fb419a.bundle.js
  docs/static/preview.46cfe9abb5cee2867a68.bundle.js
  docs/static/preview.a71c422a486cb7fda754.bundle.js
Due: eslint-app

feat(input-currency): create component package
  packages/input-currency/AUTHORS
  packages/input-currency/LICENSE
  packages/input-currency/README.md
  packages/input-currency/package.json
  packages/input-currency/src/CurrencyInput.js
  packages/input-currency/src/CurrencyInput.story.js
  packages/input-currency/src/index.js
Due: eslint-app

test(input-currency): add stories
  packages/input-currency/src/CurrencyInput.story.js
Due: eslint-app

chore(input-currency): add dependencies
  packages/input-currency/package.json
  yarn.lock
Due: none

docs(input-currency): add usage instructions and props list
  packages/input-currency/README.md
Due: none

feat(input-text): extract margin container to hoc for reusability
  packages/input-text/src/TextAreaInput.js
  packages/input-text/src/TextInput.js
  packages/input-text/src/index.js
Due: eslint-app

feat(input-currency): compose component from input-text HOCs
  Storyshots.test.js
  packages/input-currency/src/CurrencyInput.js
Due: eslint-app, eslint-test

feat(input-text): export EnhancedInput composition
  packages/input-text/src/TextInput.js
  packages/input-text/src/index.js
Due: eslint-app

chore(storyshots): update
  packages/input-currency/src/__snapshots__/CurrencyInput.story.storyshot
Due: none

chore(snyk): fix vulnerabilities and temporarily ignore unsolvable ones
  .snyk
  package.json
  yarn.lock
Due: none

chore(release): [ci skip] publish
  packages/amount-selectors/CHANGELOG.md
  packages/amount-selectors/package.json
  packages/filter-popover/CHANGELOG.md
  packages/filter-popover/package.json
  packages/form-wrapper/CHANGELOG.md
  packages/form-wrapper/package.json
  packages/input-currency/CHANGELOG.md
  packages/input-currency/package.json
  packages/input-text/CHANGELOG.md
  packages/input-text/package.json
  packages/search-field/CHANGELOG.md
  packages/search-field/package.json
Due: none

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/index.html
  docs/static/manager.122dfce85c32d7280bd8.bundle.js
  docs/static/manager.39a3b8d3259cc13f4ea3.bundle.js
  docs/static/preview.a71c422a486cb7fda754.bundle.js
  docs/static/preview.b52ce1b4f47fe0e21fd3.bundle.js
Due: eslint-app

fix(input-currency): fix typo deafaultProps -> defaultProps
  packages/input-currency/src/CurrencyInput.js
Due: eslint-app

chore(release): [ci skip] publish
  packages/input-currency/CHANGELOG.md
  packages/input-currency/package.json
Due: none

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/static/preview.a03c2d00b74abe00d588.bundle.js
  docs/static/preview.b52ce1b4f47fe0e21fd3.bundle.js
Due: eslint-app

chore(storybook): update icon-font
  docs/whatsgood-iconfont.eot
  docs/whatsgood-iconfont.svg
  docs/whatsgood-iconfont.ttf
  docs/whatsgood-iconfont.woff
Due: none

feat(button): spin only loading icon glyph instead of the whole <i> element
  packages/button/src/styledComponents/Button.js
Due: eslint-app

chore(storyshots): update
  packages/button/src/__snapshots__/Button.story.storyshot
  packages/form-wrapper/src/__snapshots__/FormWrapper.story.storyshot
Due: none

chore(package.json): resolve cached-path-relative to 1.0.2 to fix vulnerability
  package.json
  yarn.lock
Due: none

chore(release): [ci skip] publish
  packages/alert/CHANGELOG.md
  packages/alert/package.json
  packages/amount-selectors/CHANGELOG.md
  packages/amount-selectors/package.json
  packages/button/CHANGELOG.md
  packages/button/package.json
  packages/card/CHANGELOG.md
  packages/card/package.json
  packages/dropdown/CHANGELOG.md
  packages/dropdown/package.json
  packages/empty-state/CHANGELOG.md
  packages/empty-state/package.json
  packages/filter-popover/CHANGELOG.md
  packages/filter-popover/package.json
  packages/footer/CHANGELOG.md
  packages/footer/package.json
  packages/form-wrapper/CHANGELOG.md
  packages/form-wrapper/package.json
  packages/hoc-disabled-tooltip/CHANGELOG.md
  packages/hoc-disabled-tooltip/package.json
  packages/hoc-withtooltip/CHANGELOG.md
  packages/hoc-withtooltip/package.json
  packages/input-currency/CHANGELOG.md
  packages/input-currency/package.json
  packages/input-select/CHANGELOG.md
  packages/input-select/package.json
  packages/input-text/CHANGELOG.md
  packages/input-text/package.json
  packages/map-balloon/CHANGELOG.md
  packages/map-balloon/package.json
  packages/search-field/CHANGELOG.md
  packages/search-field/package.json
  packages/table/CHANGELOG.md
  packages/table/package.json
Due: none
