Repository CraveFood/farmblocks: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint-app, eslint-test

eslint-app:
  name: eslint-app
  entry: ./node_modules/eslint/bin/eslint.js
  args:
  - --config=.eslintrc.js
  - --ignore-path=.eslintignore
  language: system

eslint-test:
  name: eslint-test
  entry: ./node_modules/eslint/bin/eslint.js
  args:
  - --config=.test.eslintrc.js
  - --ignore-path=.test.eslintignore
  language: system

feat(modal): add 'openAtMount' option to 'useModal' helper
  packages/modal/README.md
  packages/modal/src/helpers.js
  packages/modal/src/helpers.story.js
  packages/modal/src/helpers.test.js
Due: eslint-app, eslint-test

feat(modal): set max-width
  packages/modal/src/Modal.js
  packages/modal/src/Modal.styled.js
Due: eslint-app

feat(modal): add zIndex prop
  packages/modal/README.md
  packages/modal/src/Modal.js
  packages/modal/src/Modal.story.js
Due: eslint-app

fix(empty-state): icon style affecting buttons icons
  packages/empty-state/src/EmptyState.story.js
  packages/empty-state/src/styledComponents/Container.js
Due: eslint-app

feat(modal): swap transition direction
  packages/modal/src/Modal.js
Due: eslint-app

chore(storyshots): update
  packages/card/src/__snapshots__/Card.story.storyshot
  packages/empty-state/src/__snapshots__/EmptyState.story.storyshot
  packages/modal/src/__snapshots__/DialogModal.story.storyshot
  packages/modal/src/__snapshots__/Modal.story.storyshot
  packages/modal/src/__snapshots__/helpers.story.storyshot
Due: none

fix(modal): scroll lock causing document.body resize when scrollbar gets hidden
  packages/modal/src/Modal.hooks.js
  packages/modal/src/Modal.test.js
  packages/modal/src/utils.js
Due: eslint-app, eslint-test

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/main.72f2d01d66b0107932cf.bundle.js
  docs/main.72f2d01d66b0107932cf.bundle.js.map
  docs/main.c7eaab9eaac7c8115471.bundle.js
  docs/main.c7eaab9eaac7c8115471.bundle.js.map
  docs/runtime~main.72f2d01d66b0107932cf.bundle.js
  docs/runtime~main.72f2d01d66b0107932cf.bundle.js.map
  docs/runtime~main.c7eaab9eaac7c8115471.bundle.js.map
  docs/vendors~main.72f2d01d66b0107932cf.bundle.js
  docs/vendors~main.72f2d01d66b0107932cf.bundle.js.map
  docs/vendors~main.c7eaab9eaac7c8115471.bundle.js
  docs/vendors~main.c7eaab9eaac7c8115471.bundle.js.map
Due: eslint-app

feat(Text): Add truncate proptype
  packages/text/src/components/Text.js
Due: eslint-app

feat(Text/styled): Add truncate style based on boolean prop
  packages/text/src/styledComponents/Text.js
Due: eslint-app

feat(Text/story): Add new truncate property to Text story
  packages/text/src/components/Text.story.js
Due: eslint-app

tests(story): Update storyshots
  __snapshots__/Storyshots.test.js.snap
  packages/card/src/__snapshots__/Card.story.storyshot
  packages/carousel/src/__snapshots__/Carousel.story.storyshot
  packages/empty-state/src/__snapshots__/EmptyState.story.storyshot
  packages/footer/src/components/__snapshots__/Footer.story.storyshot
  packages/form-wrapper/src/__snapshots__/FormWrapper.story.storyshot
  packages/hoc-input/src/__snapshots__/formInput.story.storyshot
  packages/hoc-validation-messages/src/__snapshots__/withMessages.story.storyshot
  packages/hoc-withtooltip/src/__snapshots__/withTooltip.story.storyshot
  packages/input-checkbox/src/__snapshots__/Checkbox.story.storyshot
  packages/input-currency/src/__snapshots__/CurrencyInput.story.storyshot
  packages/input-radio/src/__snapshots__/Radio.story.storyshot
  packages/input-radio/src/__snapshots__/RadioGroup.story.storyshot
  packages/input-select/src/__snapshots__/Select.story.storyshot
  packages/input-select/src/components/__snapshots__/EmptyCard.story.storyshot
  packages/input-text/src/__snapshots__/TextAreaInput.story.storyshot
  packages/input-text/src/__snapshots__/TextInput.story.storyshot
  packages/map-balloon/src/__snapshots__/MapBalloon.story.storyshot
  packages/modal/src/__snapshots__/DialogModal.story.storyshot
  packages/more-info/src/components/__snapshots__/MoreInfo.story.storyshot
  packages/search-field/src/__snapshots__/SearchField.story.storyshot
  packages/search-field/src/components/__snapshots__/Menu.story.storyshot
  packages/table/src/__snapshots__/Table.story.storyshot
  packages/text/src/components/__snapshots__/Text.Paragraph.story.storyshot
  packages/text/src/components/__snapshots__/Text.story.storyshot
Due: none

feat(Text): Add font weight and upper properties
  packages/text/src/components/Text.Title.story.js
  packages/text/src/components/Text.js
  packages/text/src/components/Text.story.js
  packages/text/src/styledComponents/Text.js
Due: eslint-app

feat(Text/fontWeight): Apply new Text props
  .storybook/config.js
  packages/form-wrapper/src/FormWrapper.js
  packages/input-radio/src/Radio.js
  packages/map-balloon/src/ImageSet.js
  packages/table/src/SelectionBar.js
  packages/table/src/Table.story.js
  packages/text/src/components/Text.story.js
Due: eslint-app

refactor(Text/README): Update jsx example that use old title prop and remove deprecated design spec
  packages/text/README.md
Due: none

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/main.6b7cebb41d00431f5829.bundle.js
  docs/main.6b7cebb41d00431f5829.bundle.js.map
  docs/main.72f2d01d66b0107932cf.bundle.js
  docs/main.72f2d01d66b0107932cf.bundle.js.map
  docs/runtime~main.6b7cebb41d00431f5829.bundle.js
  docs/runtime~main.6b7cebb41d00431f5829.bundle.js.map
  docs/runtime~main.72f2d01d66b0107932cf.bundle.js.map
  docs/vendors~main.6b7cebb41d00431f5829.bundle.js
  docs/vendors~main.6b7cebb41d00431f5829.bundle.js.map
  docs/vendors~main.72f2d01d66b0107932cf.bundle.js
  docs/vendors~main.72f2d01d66b0107932cf.bundle.js.map
Due: eslint-app

chore: update babel
  package.json
  yarn.lock
Due: none

chore: update jest
  package.json
  yarn.lock
Due: none

chore: update enzyme
  package.json
  yarn.lock
Due: none

chore: update storybook
  package.json
  yarn.lock
Due: none

chore: update react
  package.json
  yarn.lock
Due: none

chore: update styled-components
  package.json
  yarn.lock
Due: none

chore(packages): update react and styled-components versions
  packages/alert/package.json
  packages/amount-selectors/package.json
  packages/button/package.json
  packages/card/package.json
  packages/carousel/package.json
  packages/dropdown/package.json
  packages/empty-state/package.json
  packages/filter-popover/package.json
  packages/footer/package.json
  packages/form-wrapper/package.json
  packages/hoc-disabled-tooltip/package.json
  packages/hoc-input/package.json
  packages/hoc-validation-messages/package.json
  packages/hoc-withtooltip/package.json
  packages/image/package.json
  packages/input-checkbox/package.json
  packages/input-currency/package.json
  packages/input-radio/package.json
  packages/input-select/package.json
  packages/input-text/package.json
  packages/label/package.json
  packages/link/package.json
  packages/map-balloon/package.json
  packages/modal/package.json
  packages/more-info/package.json
  packages/popover/package.json
  packages/scaffold/src/templates/package.js
  packages/search-field/package.json
  packages/stepper/package.json
  packages/table/package.json
  packages/tag/package.json
  packages/text/package.json
  packages/tooltip/package.json
Due: eslint-app

chore: update eslint and prettier
  package.json
  packages/scaffold/package.json
  yarn.lock
Due: none

chore: replace react-testing-library with @testing-library/react
  jest.config.js
  package.json
  packages/modal/src/Modal.test.js
  packages/modal/src/helpers.test.js
  yarn.lock
Due: eslint-app, eslint-test

chore(travis.yml): bump node version
  .travis.yml
Due: none

chore: update polished, react-number-format, memoize-one, react-spring, inquirer and slug
  packages/input-currency/package.json
  packages/input-select/package.json
  packages/modal/package.json
  packages/scaffold/package.json
  packages/table/package.json
  yarn.lock
Due: none

fix(Button): don't pass loading prop to the button tag
  packages/button/src/Button.js
  packages/button/src/styledComponents/Button.js
Due: eslint-app

chore: update react-transition-group
  packages/hoc-withtooltip/package.json
  packages/map-balloon/package.json
  yarn.lock
Due: none

chore: update coveralls and snyk
  package.json
  yarn.lock
Due: none

chore: update commitizen
  package.json
  yarn.lock
Due: none

chore: update lerna to v3.13.4
  lerna.json
  package.json
  yarn.lock
Due: none

chore: replace jest-dom by @testing-library/jest-dom
  jest.testFramework.js
  package.json
  yarn.lock
Due: none

fix(lint): cycle dependency on modal and some array indexes used as key
  packages/empty-state/src/EmptyState.js
  packages/modal/src/DialogModal.js
  packages/stepper/src/components/Stepper.js
Due: eslint-app

chore(Modal): move react-spring to peer dependencies
  package.json
  packages/modal/package.json
  yarn.lock
Due: none

fix: use fontWeight instead of title property on Text
  packages/carousel/src/Carousel.js
  packages/empty-state/src/EmptyState.js
  packages/input-checkbox/src/Checkbox.js
  packages/label/src/Label.js
  packages/map-balloon/src/MapBalloon.js
  packages/more-info/src/components/MoreInfo.js
  packages/table/src/Table.js
Due: eslint-app

test(storyshots): update
  __snapshots__/Storyshots.test.js.snap
  packages/card/src/__snapshots__/Card.story.storyshot
  packages/carousel/src/__snapshots__/Carousel.story.storyshot
  packages/empty-state/src/__snapshots__/EmptyState.story.storyshot
  packages/form-wrapper/src/__snapshots__/FormWrapper.story.storyshot
  packages/hoc-input/src/__snapshots__/formInput.story.storyshot
  packages/input-checkbox/src/__snapshots__/Checkbox.story.storyshot
  packages/input-select/src/__snapshots__/Select.story.storyshot
  packages/input-text/src/__snapshots__/TextAreaInput.story.storyshot
  packages/input-text/src/__snapshots__/TextInput.story.storyshot
  packages/map-balloon/src/__snapshots__/MapBalloon.story.storyshot
  packages/modal/src/__snapshots__/DialogModal.story.storyshot
  packages/more-info/src/components/__snapshots__/MoreInfo.story.storyshot
  packages/search-field/src/__snapshots__/SearchField.story.storyshot
  packages/table/src/__snapshots__/Table.story.storyshot
Due: none

Path conditions:
  eslint-app: any of: ^(?!.*\.test).*\.js$
  eslint-test: any of: \.test\.js$
