Repository CraveFood/farmblocks: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint-app, eslint-test

eslint-app:
  name: eslint-app
  entry: ./node_modules/eslint/bin/eslint.js
  args:
  - --config=.eslintrc.js
  - --ignore-path=.eslintignore
  language: system

eslint-test:
  name: eslint-test
  entry: ./node_modules/eslint/bin/eslint.js
  args:
  - --config=.test.eslintrc.js
  - --ignore-path=.test.eslintignore
  language: system

feat(hoc-input): make it extendable by styled()
  packages/hoc-input/src/formInput.js
  packages/hoc-input/src/formInput.story.js
Due: eslint-app

chore(storyshots): update
  __snapshots__/Storyshots.test.js.snap
  packages/alert/src/__snapshots__/Alert.story.storyshot
  packages/amount-selectors/src/components/__snapshots__/AmountSelectors.story.storyshot
  packages/button/src/__snapshots__/Button.story.storyshot
  packages/card/src/__snapshots__/Card.story.storyshot
  packages/carousel/src/__snapshots__/Carousel.story.storyshot
  packages/dropdown/src/components/__snapshots__/Dropdown.story.storyshot
  packages/empty-state/src/__snapshots__/EmptyState.story.storyshot
  packages/filter-popover/src/__snapshots__/FilterPopover.story.storyshot
  packages/footer/src/components/__snapshots__/Footer.story.storyshot
  packages/form-wrapper/src/__snapshots__/FormWrapper.story.storyshot
  packages/hoc-disabled-tooltip/src/__snapshots__/disabledTooltip.story.storyshot
  packages/hoc-input/src/__snapshots__/formInput.story.storyshot
  packages/hoc-validation-messages/src/__snapshots__/withMessages.story.storyshot
  packages/hoc-withtooltip/src/__snapshots__/withTooltip.story.storyshot
  packages/image/src/__snapshots__/Image.story.storyshot
  packages/input-checkbox/src/__snapshots__/Checkbox.story.storyshot
  packages/input-currency/src/__snapshots__/CurrencyInput.story.storyshot
  packages/input-radio/src/__snapshots__/RadioGroup.story.storyshot
  packages/input-select/src/__snapshots__/Select.story.storyshot
  packages/input-select/src/components/__snapshots__/EmptyCard.story.storyshot
  packages/input-select/src/components/__snapshots__/Item.story.storyshot
  packages/input-select/src/components/__snapshots__/withImage.story.storyshot
  packages/input-text/src/__snapshots__/TextAreaInput.story.storyshot
  packages/input-text/src/__snapshots__/TextInput.story.storyshot
  packages/map-balloon/src/__snapshots__/MapBalloon.story.storyshot
  packages/more-info/src/components/__snapshots__/MoreInfo.story.storyshot
  packages/popover/src/__snapshots__/Popover.story.storyshot
  packages/search-field/src/__snapshots__/SearchField.story.storyshot
  packages/search-field/src/components/__snapshots__/Menu.story.storyshot
  packages/search-field/src/components/__snapshots__/ScrollBox.story.storyshot
  packages/stepper/src/components/__snapshots__/Stepper.story.storyshot
  packages/table/src/__snapshots__/Table.story.storyshot
  packages/tag/src/components/__snapshots__/Tag.story.storyshot
  packages/text/src/components/__snapshots__/Text.Paragraph.story.storyshot
  packages/text/src/components/__snapshots__/Text.Title.story.storyshot
  packages/text/src/components/__snapshots__/Text.story.storyshot
  packages/tooltip/src/__snapshots__/Tooltip.story.storyshot
Due: none

feat(Table): allow injection of props in Columns with customCell
  packages/table/src/Table.js
  packages/table/src/Table.story.js
Due: eslint-app

chore(storyshots): update
  packages/table/src/__snapshots__/Table.story.storyshot
Due: none

chore(travis): add build number to canary pacakage name
  .travis.yml
Due: none

chore(release): [ci skip] publish
  packages/table/CHANGELOG.md
  packages/table/package.json
Due: none

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/main.5d2565f67839196d267b.bundle.js
  docs/main.5d2565f67839196d267b.bundle.js.map
  docs/main.69218cff701bff70ee15.bundle.js
  docs/main.69218cff701bff70ee15.bundle.js.map
  docs/runtime~main.5d2565f67839196d267b.bundle.js.map
  docs/runtime~main.69218cff701bff70ee15.bundle.js
  docs/runtime~main.69218cff701bff70ee15.bundle.js.map
  docs/vendors~main.5d2565f67839196d267b.bundle.js.map
  docs/vendors~main.69218cff701bff70ee15.bundle.js
  docs/vendors~main.69218cff701bff70ee15.bundle.js.map
Due: eslint-app

fix(scaffold): update templates parser
  packages/scaffold/src/templates/component.js
  packages/scaffold/src/templates/componentStory.js
Due: eslint-app

docs(authors): add Mateus
  AUTHORS
Due: none

feat(modal): create component files from scaffold
  packages/modal/AUTHORS
  packages/modal/LICENSE
  packages/modal/README.md
  packages/modal/package.json
  packages/modal/src/Modal.js
  packages/modal/src/Modal.story.js
  packages/modal/src/index.js
Due: eslint-app

feat(modal): create basic components
  packages/modal/package.json
  packages/modal/src/Modal.js
  packages/modal/src/Modal.story.js
  packages/modal/src/index.js
Due: eslint-app

feat(modal): constrain modal size to viewport
  packages/modal/package.json
  packages/modal/src/Modal.js
  packages/modal/src/Modal.story.js
  packages/modal/src/lipsum.js
Due: eslint-app

feat(modal): close on click in overlay or ESC key press
  packages/modal/src/Modal.js
  packages/modal/src/Modal.story.js
Due: eslint-app

feat(modal): prevent scrolling of underneath content while modal is open
  packages/modal/src/Modal.js
Due: eslint-app

fix(modal): don't trigger ovelay click event when clicking in the modal content
  packages/modal/src/Modal.js
  packages/modal/src/Modal.styled.js
Due: eslint-app

fix(modal): handle proptype warnings in stories
  packages/modal/src/Modal.story.js
  packages/modal/src/helpers.js
Due: eslint-app

test(modal): add tests for Modal component
  packages/modal/src/Modal.js
  packages/modal/src/Modal.test.js
Due: eslint-app, eslint-test

feat(modal): create DialogModal
  packages/modal/package.json
  packages/modal/src/DialogModal.js
  packages/modal/src/DialogModal.story.js
  packages/modal/src/index.js
  yarn.lock
Due: eslint-app

test: setup react-testing-library
  jest.config.js
  jest.testFramework.js
  package.json
  yarn.lock
Due: eslint-app

test(storyshots): mock createPortal
  Storyshots.test.js
Due: eslint-test

docs(modal): add story with parentNode
  packages/modal/src/Modal.js
  packages/modal/src/Modal.story.js
  packages/modal/src/Modal.styled.js
Due: eslint-app

feat(modal): extract style and helpers into their own files
  .eslintrc.js
  packages/modal/src/Modal.js
  packages/modal/src/Modal.story.js
  packages/modal/src/Modal.styled.js
  packages/modal/src/helpers.js
  packages/modal/src/index.js
Due: eslint-app

test(modal): add tests for helpers
  packages/modal/src/helpers.js
  packages/modal/src/helpers.test.js
Due: eslint-app, eslint-test

feat(modal): add customization for the card wrapper and the close icon
  packages/modal/src/Modal.js
  packages/modal/src/Modal.story.js
  packages/modal/src/Modal.styled.js
Due: eslint-app

docs(readme): update
  packages/modal/README.md
Due: none

fix(Modal): remove keydown event listener on unmount
  packages/modal/src/Modal.js
Due: eslint-app

docs(modal): organize stories
  packages/modal/src/DialogModal.story.js
  packages/modal/src/Modal.story.js
  packages/modal/src/helpers.story.js
Due: eslint-app

feat(modal): add close button
  packages/modal/package.json
  packages/modal/src/Modal.js
  packages/modal/src/Modal.styled.js
Due: eslint-app

fix(link): remove isRequired for children prop
  packages/link/src/components/Link.js
  packages/link/src/components/Link.story.js
Due: eslint-app

feat(modal): add transitions
  packages/modal/package.json
  packages/modal/src/Modal.js
  packages/modal/src/Modal.story.js
  packages/modal/src/Modal.styled.js
  packages/modal/src/helpers.js
  packages/modal/src/index.js
  yarn.lock
Due: eslint-app

chore(storyshots): update
  packages/link/src/components/__snapshots__/Link.story.storyshot
  packages/modal/src/__snapshots__/DialogModal.story.storyshot
  packages/modal/src/__snapshots__/Modal.story.storyshot
  packages/modal/src/__snapshots__/helpers.story.storyshot
Due: none

refactor(modal): extract useEffect into custom hooks
  packages/modal/src/Modal.hooks.js
  packages/modal/src/Modal.js
Due: eslint-app

feat(modal): add verticalAlign prop
  packages/modal/README.md
  packages/modal/src/Modal.js
  packages/modal/src/Modal.story.js
  packages/modal/src/Modal.styled.js
Due: eslint-app

feat(modal): add onOpen and onClose props
  packages/modal/README.md
  packages/modal/src/Modal.hooks.js
  packages/modal/src/Modal.js
  packages/modal/src/Modal.story.js
  packages/modal/src/Modal.test.js
  packages/modal/src/helpers.story.js
Due: eslint-app, eslint-test

fix(modal): rename close button to close icon
  packages/modal/README.md
  packages/modal/src/DialogModal.js
  packages/modal/src/Modal.js
  packages/modal/src/Modal.test.js
Due: eslint-app, eslint-test

fix(iconfont): close-int icon cutted on the edges
  .storybook/assets/whatsgood-iconfont.eot
  .storybook/assets/whatsgood-iconfont.svg
  .storybook/assets/whatsgood-iconfont.ttf
  .storybook/assets/whatsgood-iconfont.woff
Due: none

chore(release): [ci skip] publish
  packages/amount-selectors/CHANGELOG.md
  packages/amount-selectors/package.json
  packages/filter-popover/CHANGELOG.md
  packages/filter-popover/package.json
  packages/footer/CHANGELOG.md
  packages/footer/package.json
  packages/form-wrapper/CHANGELOG.md
  packages/form-wrapper/package.json
  packages/hoc-input/CHANGELOG.md
  packages/hoc-input/package.json
  packages/input-currency/CHANGELOG.md
  packages/input-currency/package.json
  packages/input-select/CHANGELOG.md
  packages/input-select/package.json
  packages/input-text/CHANGELOG.md
  packages/input-text/package.json
  packages/link/CHANGELOG.md
  packages/link/package.json
  packages/modal/CHANGELOG.md
  packages/modal/package.json
  packages/popover/CHANGELOG.md
  packages/popover/package.json
  packages/scaffold/CHANGELOG.md
  packages/scaffold/package.json
  packages/search-field/CHANGELOG.md
  packages/search-field/package.json
  packages/table/CHANGELOG.md
  packages/table/package.json
Due: none

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/main.69218cff701bff70ee15.bundle.js
  docs/main.69218cff701bff70ee15.bundle.js.map
  docs/main.c7eaab9eaac7c8115471.bundle.js
  docs/main.c7eaab9eaac7c8115471.bundle.js.map
  docs/runtime~main.69218cff701bff70ee15.bundle.js.map
  docs/runtime~main.c7eaab9eaac7c8115471.bundle.js
  docs/runtime~main.c7eaab9eaac7c8115471.bundle.js.map
  docs/vendors~main.69218cff701bff70ee15.bundle.js
  docs/vendors~main.69218cff701bff70ee15.bundle.js.map
  docs/vendors~main.c7eaab9eaac7c8115471.bundle.js
  docs/vendors~main.c7eaab9eaac7c8115471.bundle.js.map
  docs/whatsgood-iconfont.eot
  docs/whatsgood-iconfont.svg
  docs/whatsgood-iconfont.ttf
  docs/whatsgood-iconfont.woff
Due: eslint-app

Path conditions:
  eslint-app: any of: ^(?!.*\.test).*\.js$
  eslint-test: any of: \.test\.js$
