Repository CraveFood/farmblocks: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint-app, eslint-test

eslint-app:
  name: eslint-app
  entry: ./node_modules/eslint/bin/eslint.js
  args:
  - --config=.eslintrc.js
  - --ignore-path=.eslintignore
  language: system

eslint-test:
  name: eslint-test
  entry: ./node_modules/eslint/bin/eslint.js
  args:
  - --config=.test.eslintrc.js
  - --ignore-path=.test.eslintignore
  language: system

feat(Dropdown): add innerRef property
  packages/dropdown/src/components/Dropdown.js
Due: eslint-app

chore(release): [ci skip] publish
  packages/table/CHANGELOG.md
  packages/table/package.json
Due: none

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/static/preview.a1482141921e7aa16fde.bundle.js
  docs/static/preview.de25a80b318714d1110b.bundle.js
Due: eslint-app

docs(storybook): add
  packages/dropdown/src/components/Dropdown.story.js
Due: eslint-app

chore(release): [ci skip] publish
  packages/dropdown/CHANGELOG.md
  packages/dropdown/package.json
  packages/input-select/CHANGELOG.md
  packages/input-select/package.json
  packages/table/CHANGELOG.md
  packages/table/package.json
Due: none

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/static/preview.4b4df3dcfeaa10c4118e.bundle.js
  docs/static/preview.de25a80b318714d1110b.bundle.js
Due: eslint-app

feat(Hoc-Input): add readOnly property
  packages/hoc-input/src/formInput.js
  packages/hoc-input/src/formInput.story.js
Due: eslint-app

docs(Select): add select readOnly story
  packages/input-select/src/Select.story.js
Due: eslint-app

feat(Select): add disableSearch prop
  packages/input-select/src/Select.js
  packages/input-select/src/Select.story.js
Due: eslint-app

chore(release): [ci skip] publish
  packages/hoc-input/CHANGELOG.md
  packages/hoc-input/package.json
  packages/input-select/CHANGELOG.md
  packages/input-select/package.json
  packages/input-text/CHANGELOG.md
  packages/input-text/package.json
Due: none

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/static/preview.4b4df3dcfeaa10c4118e.bundle.js
  docs/static/preview.78c7a0745a48cdff73ef.bundle.js
Due: eslint-app

fix(input-select): stop passing the items props to the html input element
  packages/input-select/src/Select.js
Due: eslint-app

chore(release): [ci skip] publish
  packages/input-select/CHANGELOG.md
  packages/input-select/package.json
Due: none

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/static/preview.5625c8eea139b445cca4.bundle.js
  docs/static/preview.78c7a0745a48cdff73ef.bundle.js
Due: eslint-app

chore(release): [ci skip] publish
  packages/map-balloon/CHANGELOG.md
  packages/map-balloon/package.json
Due: none

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/static/preview.176d68afe556260767f3.bundle.js
  docs/static/preview.5625c8eea139b445cca4.bundle.js
Due: eslint-app

feat(input-select): allow items with images
  packages/input-select/src/Select.js
  packages/input-select/src/Select.story.js
  packages/input-select/src/styledComponents/ItemContainer.js
  packages/input-select/src/styledComponents/ItemImage.js
Due: eslint-app

feat(input-select): show image of selected item
  packages/input-select/src/Select.js
  packages/input-select/src/Select.story.js
Due: eslint-app

feat(hoc-input): enable custom content rendering
  packages/hoc-input/src/formInput.js
  packages/hoc-input/src/formInput.story.js
Due: eslint-app

test(input-select): increase coverage
  packages/hoc-input/src/formInput.test.js
  packages/input-select/src/Select.story.js
  packages/input-select/src/Select.test.js
Due: eslint-app, eslint-test

feat(input-select): add width prop
  packages/input-select/README.md
  packages/input-select/src/Select.js
  packages/input-select/src/Select.story.js
  packages/input-select/src/styledComponents/DropdownWrapper.js
  packages/input-select/src/styledComponents/ItemContainer.js
Due: eslint-app

docs(input-select): change Custom items story to look different than image items
  packages/input-select/src/Select.story.js
Due: eslint-app

feat(input-select): show checkmark in selected item
  packages/input-select/src/Select.js
  packages/input-select/src/Select.test.js
  packages/input-select/src/styledComponents/ItemImage.js
  packages/input-select/src/styledComponents/LabelContainer.js
Due: eslint-app, eslint-test

refactor(input-select): remove constructor
  packages/input-select/src/Select.js
Due: eslint-app

refactor(input-select): use refName instead of renderContent
  packages/hoc-input/src/formInput.js
  packages/input-select/src/Select.js
  packages/input-select/src/components/withImage.js
Due: eslint-app

fix(input-select): move custom renderItem to outside of ItemContainer
  packages/input-select/src/Select.js
  packages/input-select/src/Select.story.js
Due: eslint-app

docs(input-select): add new props description to README
  packages/input-select/README.md
Due: none

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/index.html
  docs/static/manager.37b95fddd532b08db437.bundle.js
  docs/static/manager.836fc215991c5d46203d.bundle.js
  docs/static/preview.0972af1a5efe9a5db67e.bundle.js
  docs/static/preview.176d68afe556260767f3.bundle.js
Due: eslint-app

feat(Select): support empty items and number values
  packages/hoc-input/src/formInput.js
  packages/input-select/src/Select.js
  packages/input-select/src/Select.story.js
Due: eslint-app

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/static/preview.0972af1a5efe9a5db67e.bundle.js
  docs/static/preview.de68b185029f5cc3a00a.bundle.js
Due: eslint-app

Path conditions:
  eslint-app: any of: ^(?!.*\.test).*\.js$
  eslint-test: any of: \.test\.js$
