Repository CraveFood/farmblocks: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint-app, eslint-test

eslint-app:
  name: eslint-app
  entry: ./node_modules/eslint/bin/eslint.js
  args:
  - --config=.eslintrc.js
  - --ignore-path=.eslintignore
  language: system

eslint-test:
  name: eslint-test
  entry: ./node_modules/eslint/bin/eslint.js
  args:
  - --config=.test.eslintrc.js
  - --ignore-path=.test.eslintignore
  language: system

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/main.e86305487e7ffb050cb9.bundle.js
  docs/main.e86305487e7ffb050cb9.bundle.js.map
  docs/runtime~main.e86305487e7ffb050cb9.bundle.js
  docs/runtime~main.e86305487e7ffb050cb9.bundle.js.map
  docs/vendors~main.e86305487e7ffb050cb9.bundle.js
  docs/vendors~main.e86305487e7ffb050cb9.bundle.js.map
Due: eslint-app

feat(Dropdown): add maxHeight property
  packages/dropdown/src/components/Dropdown.js
  packages/dropdown/src/components/Dropdown.story.js
Due: eslint-app

test(Storyshots): update
  packages/dropdown/src/components/__snapshots__/Dropdown.story.storyshot
Due: none

chore(release): [ci skip] publish
  packages/dropdown/CHANGELOG.md
  packages/dropdown/package.json
  packages/input-select/CHANGELOG.md
  packages/input-select/package.json
  packages/search-field/CHANGELOG.md
  packages/search-field/package.json
  packages/table/CHANGELOG.md
  packages/table/package.json
Due: none

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/main.a01d820e9b26a67bce1a.bundle.js
  docs/main.a01d820e9b26a67bce1a.bundle.js.map
  docs/runtime~main.a01d820e9b26a67bce1a.bundle.js
  docs/runtime~main.a01d820e9b26a67bce1a.bundle.js.map
  docs/vendors~main.a01d820e9b26a67bce1a.bundle.js
  docs/vendors~main.a01d820e9b26a67bce1a.bundle.js.map
Due: eslint-app

chore(jest): changed deprecated setupTestFrameworkScriptFile for setupFilesAfterEnv
  jest.config.js
Due: eslint-app

chore(yarn.lock): update file
  yarn.lock
Due: none

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/main.f4a92f189c086075b818.bundle.js
  docs/main.f4a92f189c086075b818.bundle.js.map
  docs/runtime~main.f4a92f189c086075b818.bundle.js
  docs/runtime~main.f4a92f189c086075b818.bundle.js.map
  docs/vendors~main.f4a92f189c086075b818.bundle.js
  docs/vendors~main.f4a92f189c086075b818.bundle.js.map
Due: eslint-app

feat(babel.config): add optional-chaining
  babel.config.js
  package.json
  yarn.lock
Due: eslint-app

feat(Popover): add onBeforeOpen prop
  packages/popover/README.md
  packages/popover/src/Popover.js
  packages/popover/src/Popover.story.js
Due: eslint-app

test(Popover): add onBeforeOpen tests
  packages/filter-popover/src/FilterPopover.test.js
  packages/popover/src/Popover.test.js
Due: eslint-test

test(jest.config): add regenerator-runtime
  jest.config.js
Due: eslint-app

chore(storyshots): update
  packages/popover/src/__snapshots__/Popover.story.storyshot
Due: none

chore(release): [ci skip] publish
  packages/filter-popover/CHANGELOG.md
  packages/filter-popover/package.json
  packages/popover/CHANGELOG.md
  packages/popover/package.json
Due: none

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/main.864e55589c29b9e47fc4.bundle.js
  docs/main.864e55589c29b9e47fc4.bundle.js.map
  docs/runtime~main.864e55589c29b9e47fc4.bundle.js
  docs/runtime~main.864e55589c29b9e47fc4.bundle.js.map
  docs/vendors~main.864e55589c29b9e47fc4.bundle.js
  docs/vendors~main.864e55589c29b9e47fc4.bundle.js.map
Due: eslint-app

chore(package.json): Update react/dom/prop-types
  package.json
  packages/alert/package.json
  packages/amount-selectors/package.json
  packages/button/package.json
  packages/card/package.json
  packages/carousel/package.json
  packages/dropdown/package.json
  packages/empty-state/package.json
  packages/filter-popover/package.json
  packages/footer/package.json
  packages/form-wrapper/package.json
  packages/hoc-disabled-tooltip/package.json
  packages/hoc-input/package.json
  packages/hoc-validation-messages/package.json
  packages/hoc-withtooltip/package.json
  packages/image/package.json
  packages/input-checkbox/package.json
  packages/input-currency/package.json
  packages/input-radio/package.json
  packages/input-select/package.json
  packages/input-text/package.json
  packages/label/package.json
  packages/link/package.json
  packages/map-balloon/package.json
  packages/more-info/package.json
  packages/popover/package.json
  packages/scaffold/src/templates/package.js
  packages/search-field/package.json
  packages/stepper/package.json
  packages/table/package.json
  packages/tag/package.json
  packages/text/package.json
  packages/tooltip/package.json
  yarn.lock
Due: eslint-app

chore(yarn.lock): Updates yarn.lock
  yarn.lock
Due: none

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/index.html
  docs/main.81c38f3b5931922457a2.bundle.js
  docs/main.81c38f3b5931922457a2.bundle.js.map
  docs/main.c3d46b87d9dc4ba107b4.bundle.js
  docs/runtime~main.81c38f3b5931922457a2.bundle.js
  docs/runtime~main.81c38f3b5931922457a2.bundle.js.map
  docs/vendors~main.62a47f28b43454fcf0cb.bundle.js
  docs/vendors~main.81c38f3b5931922457a2.bundle.js
  docs/vendors~main.81c38f3b5931922457a2.bundle.js.map
Due: eslint-app

feat(package.json): update react and related packages
  package.json
  packages/alert/package.json
  packages/amount-selectors/package.json
  packages/button/package.json
  packages/card/package.json
  packages/carousel/package.json
  packages/dropdown/package.json
  packages/empty-state/package.json
  packages/filter-popover/package.json
  packages/footer/package.json
  packages/form-wrapper/package.json
  packages/hoc-disabled-tooltip/package.json
  packages/hoc-input/package.json
  packages/hoc-validation-messages/package.json
  packages/hoc-withtooltip/package.json
  packages/image/package.json
  packages/input-checkbox/package.json
  packages/input-currency/package.json
  packages/input-radio/package.json
  packages/input-select/package.json
  packages/input-text/package.json
  packages/label/package.json
  packages/link/package.json
  packages/map-balloon/package.json
  packages/more-info/package.json
  packages/popover/package.json
  packages/scaffold/src/templates/package.js
  packages/search-field/package.json
  packages/stepper/package.json
  packages/table/package.json
  packages/tag/package.json
  packages/text/package.json
  packages/tooltip/package.json
  yarn.lock
Due: eslint-app

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/main.981b04283fa4db4fabfa.bundle.js
  docs/main.981b04283fa4db4fabfa.bundle.js.map
  docs/runtime~main.981b04283fa4db4fabfa.bundle.js
  docs/runtime~main.981b04283fa4db4fabfa.bundle.js.map
  docs/vendors~main.981b04283fa4db4fabfa.bundle.js
  docs/vendors~main.981b04283fa4db4fabfa.bundle.js.map
Due: eslint-app

feat(Select): When Select has ID, add that in items too
  packages/input-select/src/Select.js
  packages/input-select/src/components/Item.js
Due: eslint-app

feat(README): Adds new property to component API
  packages/input-select/README.md
Due: none

feat(Storybook): Adds new property case to storybook documentation
  packages/input-select/src/Select.story.js
  packages/input-select/src/components/Item.story.js
Due: eslint-app

test(Storyshots): Adds new stories to storyshot
  packages/input-select/src/__snapshots__/Select.story.storyshot
  packages/input-select/src/components/__snapshots__/Item.story.storyshot
Due: none

chore(release): [ci skip] publish
  packages/input-select/CHANGELOG.md
  packages/input-select/package.json
  packages/search-field/CHANGELOG.md
  packages/search-field/package.json
Due: none

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/main.6a48073e4bf152557dbb.bundle.js
  docs/main.6a48073e4bf152557dbb.bundle.js.map
  docs/runtime~main.6a48073e4bf152557dbb.bundle.js
  docs/runtime~main.6a48073e4bf152557dbb.bundle.js.map
  docs/vendors~main.6a48073e4bf152557dbb.bundle.js
  docs/vendors~main.6a48073e4bf152557dbb.bundle.js.map
Due: eslint-app

feat(Select): Use value to compose Item id
  packages/input-select/src/Select.js
Due: eslint-app

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/main.f59c7ff3d0a5f7d263e0.bundle.js
  docs/main.f59c7ff3d0a5f7d263e0.bundle.js.map
  docs/runtime~main.f59c7ff3d0a5f7d263e0.bundle.js
  docs/runtime~main.f59c7ff3d0a5f7d263e0.bundle.js.map
  docs/vendors~main.f59c7ff3d0a5f7d263e0.bundle.js
  docs/vendors~main.f59c7ff3d0a5f7d263e0.bundle.js.map
Due: eslint-app

chore(package): add eslint-plugin-prettier
  package.json
  yarn.lock
Due: none

style(AmountSelectors): fix lint
  packages/amount-selectors/package.json
  packages/amount-selectors/src/components/AmountSelectors.js
  packages/amount-selectors/src/components/AmountSelectors.story.js
  packages/amount-selectors/src/components/AmountSelectors.test.js
  packages/amount-selectors/src/constants/selectorSizes.js
Due: eslint-app, eslint-test

chore(package): add eslint-config-airbnb
  package.json
  yarn.lock
Due: none

style: format code using prettier
  packages/hoc-input/src/formInput.js
  packages/input-checkbox/src/Checkbox.test.js
  packages/input-currency/src/CurrencyInput.js
  packages/input-text/src/TextAreaInput.js
  packages/input-text/src/protectedValue.js
Due: eslint-app, eslint-test

chore(eslintrc): configure airbnb rules
  .eslintrc.js
Due: eslint-app

chore(pre-commit-config): update prettier version
  .pre-commit-config.yaml
Due: none

chore(eslintrc): throw errors on prettier formatting rules
  .eslintrc.js
Due: eslint-app

fix(Table): lint
  packages/table/src/Column.js
  packages/table/src/SelectionBar.js
  packages/table/src/SelectionBar.test.js
  packages/table/src/Table.js
  packages/table/src/Table.story.js
  packages/table/src/Table.test.js
  packages/table/src/constants.js
Due: eslint-app, eslint-test

fix(Stepper): lint
  packages/stepper/src/components/Step.js
  packages/stepper/src/components/Stepper.js
  packages/stepper/src/components/Stepper.story.js
  packages/stepper/src/components/Stepper.test.js
  packages/stepper/src/constants/colorTypes.js
  packages/stepper/src/constants/statusTypes.js
  packages/stepper/src/styledComponents/Step.js
Due: eslint-app, eslint-test

Path conditions:
  eslint-app: any of: ^(?!.*\.test).*\.js$
  eslint-test: any of: \.test\.js$
