Repository CraveFood/farmblocks: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint-app, eslint-test

eslint-app:
  name: eslint-app
  entry: ./node_modules/eslint/bin/eslint.js
  args:
  - --config=.eslintrc.js
  - --ignore-path=.eslintignore
  language: system

eslint-test:
  name: eslint-test
  entry: ./node_modules/eslint/bin/eslint.js
  args:
  - --config=.test.eslintrc.js
  - --ignore-path=.test.eslintignore
  language: system

chore(footer): upgrade the link dependency to next major
  packages/footer/package.json
Due: none

test(map-balloon): refactor a test in which the line-break gives an error on newer versions of style
  packages/map-balloon/src/MapBalloon.story.js
Due: eslint-app

chore(input-checkbox): upgrade a major bump dependency
  packages/input-checkbox/package.json
Due: none

chore(storybook): satisfy some warnings about storybook peer dependencies
  package.json
Due: none

chore(package.json): run prettier on all packages package.json
  packages/alert/package.json
  packages/button/package.json
  packages/card/package.json
  packages/carousel/package.json
  packages/dropdown/package.json
  packages/empty-state/package.json
  packages/hoc-disabled-tooltip/package.json
  packages/hoc-input/package.json
  packages/hoc-validation-messages/package.json
  packages/image/package.json
  packages/input-radio/package.json
  packages/input-select/package.json
  packages/input-text/package.json
  packages/link/package.json
  packages/map-balloon/package.json
  packages/more-info/package.json
  packages/stepper/package.json
  packages/table/package.json
  packages/tag/package.json
  packages/text/package.json
  packages/theme/package.json
  packages/tooltip/package.json
Due: none

chore(peer dependencies): bump styled components peer dependency to 3.x
  packages/alert/package.json
  packages/button/package.json
  packages/card/package.json
  packages/carousel/package.json
  packages/dropdown/package.json
  packages/empty-state/package.json
  packages/hoc-disabled-tooltip/package.json
  packages/hoc-input/package.json
  packages/hoc-validation-messages/package.json
  packages/image/package.json
  packages/input-checkbox/package.json
  packages/input-select/package.json
  packages/input-text/package.json
  packages/link/package.json
  packages/map-balloon/package.json
  packages/more-info/package.json
  packages/scaffold/src/templates/package.js
  packages/stepper/package.json
  packages/table/package.json
  packages/tag/package.json
  packages/text/package.json
  packages/tooltip/package.json
Due: eslint-app

chore(storyshots): carefully upgrade storybook storyshots overriding a buggy dependency
  package.json
  yarn.lock
Due: none

chore(input-radio): fix dependencies listed as peer dependencies
  packages/input-radio/package.json
Due: none

chore(lockfile): update
  yarn.lock
Due: none

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/index.html
  docs/static/manager.45ffd1b4f09897f39aea.bundle.js
  docs/static/manager.cc6f579c6b797cb2fea5.bundle.js
  docs/static/preview.1e2062f5812e87ce391f.bundle.js
  docs/static/preview.b9787ff47119a3798dbd.bundle.js
Due: eslint-app

feat(formInput hoc): support onChange and value comming from redux-form Field
  packages/hoc-input/src/formInput.js
  packages/hoc-input/src/formInput.story.js
Due: eslint-app

fixup! feat(formInput hoc): support onChange and value comming from redux-form Field
  packages/hoc-input/src/formInput.js
Due: eslint-app

test(formInput): add missing test
  packages/hoc-input/src/formInput.test.js
Due: eslint-test

chore(release): [ci skip] publish
  packages/hoc-input/CHANGELOG.md
  packages/hoc-input/package.json
  packages/input-select/CHANGELOG.md
  packages/input-select/package.json
  packages/input-text/CHANGELOG.md
  packages/input-text/package.json
Due: none

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/static/preview.9409219c0038089c6cfa.bundle.js
  docs/static/preview.b9787ff47119a3798dbd.bundle.js
Due: eslint-app

feat(SelectInput): add display block styles
  packages/input-select/src/Select.js
Due: eslint-app

feat(DropdownWrapper): add displayBlock property
  packages/dropdown/src/styledComponents/DropdownWrapper.js
Due: eslint-app

docs(Link): update readme
  packages/link/README.md
Due: none

feat(Link): add rightIcon prop to Link
  packages/link/src/components/Link.js
  packages/link/src/components/Link.story.js
Due: eslint-app

docs(Link): add right icon stories for neutral and normal links
  packages/link/src/components/Link.Neutral.story.js
  packages/link/src/components/Link.Normal.story.js
Due: eslint-app

chore(release): [ci skip] publish
  packages/footer/CHANGELOG.md
  packages/footer/package.json
  packages/hoc-input/CHANGELOG.md
  packages/hoc-input/package.json
  packages/input-select/CHANGELOG.md
  packages/input-select/package.json
  packages/input-text/CHANGELOG.md
  packages/input-text/package.json
  packages/link/CHANGELOG.md
  packages/link/package.json
  packages/table/CHANGELOG.md
  packages/table/package.json
Due: none

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/static/preview.841c9dec27440a24fd31.bundle.js
  docs/static/preview.9409219c0038089c6cfa.bundle.js
Due: eslint-app

chore(package): update lockfile
  yarn.lock
Due: none

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/index.html
  docs/static/manager.45ffd1b4f09897f39aea.bundle.js
  docs/static/manager.836fc215991c5d46203d.bundle.js
  docs/static/preview.717a322d8d31fe4dfb4b.bundle.js
  docs/static/preview.841c9dec27440a24fd31.bundle.js
Due: eslint-app

feat(map-balloon): make imageSet names optional
  packages/map-balloon/src/ImageSet.js
  packages/map-balloon/src/MapBalloon.story.js
Due: eslint-app

chore(snyk): ignore vulnerabilities for 30 days
  .snyk
Due: none

chore(release): [ci skip] publish
  packages/map-balloon/CHANGELOG.md
  packages/map-balloon/package.json
Due: none

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/static/preview.453a7e55de2887d76e26.bundle.js
  docs/static/preview.717a322d8d31fe4dfb4b.bundle.js
Due: eslint-app

fix(hoc-input): possible fix for a css issue preventing Stripe Card Element to display when wrapped
  packages/hoc-input/src/formInput.js
  packages/hoc-input/src/styledComponents/Wrapper.js
Due: eslint-app

feat(Table/Column): add light option
  packages/table/src/Table.js
  packages/table/src/Table.story.js
Due: eslint-app

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/static/preview.453a7e55de2887d76e26.bundle.js
  docs/static/preview.a1482141921e7aa16fde.bundle.js
Due: eslint-app

Path conditions:
  eslint-app: any of: ^(?!.*\.test).*\.js$
  eslint-test: any of: \.test\.js$
