Repository CraveFood/farmblocks: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint-app, eslint-test

eslint-app:
  name: eslint-app
  entry: ./node_modules/eslint/bin/eslint.js
  args:
  - --config=.eslintrc.js
  - --ignore-path=.eslintignore
  language: system

eslint-test:
  name: eslint-test
  entry: ./node_modules/eslint/bin/eslint.js
  args:
  - --config=.test.eslintrc.js
  - --ignore-path=.test.eslintignore
  language: system

fix(search-field): fix bug of extra onChange and onSearchChange on selection
  packages/search-field/src/SearchField.js
Due: eslint-app

test(search-field): refactor the story that tests value update
  packages/search-field/src/SearchField.story.js
Due: eslint-app

refactor(search-field): change menu item click to be triggered on mousedown
  packages/search-field/src/components/Menu.js
Due: eslint-app

test(search-field): update snapshot
  packages/search-field/src/__snapshots__/SearchField.story.storyshot
Due: none

refactor(search-field): remove unused className
  packages/search-field/src/SearchField.js
Due: eslint-app

test(search-field): fix failing tests
  packages/search-field/src/SearchField.test.js
Due: eslint-test

fix(search-field): wait until the setState to blur the input
  packages/search-field/src/SearchField.js
Due: eslint-app

chore(lockfile): update
  yarn.lock
Due: none

refactor(input-text): reuse variable that checks if buttons are to be displayed
  packages/input-text/src/protectedValue.js
Due: eslint-app

test(search-field): minor, typo on test title
  packages/search-field/src/SearchField.test.js
Due: eslint-test

fix(hoc-input): fix react warning of custom parameter getting to a dom element
  packages/hoc-input/src/formInput.js
Due: eslint-app

test(search-field): removed timeout test leftover and fix typo
  packages/search-field/src/SearchField.test.js
Due: eslint-test

fix(input-text): fix css position difference in the label caused by the cover of a protected input
  packages/input-text/src/protectedValue.js
  packages/search-field/package.json
Due: eslint-app

test(input-text, search-field): update storyshots
  packages/input-text/src/__snapshots__/TextInput.story.storyshot
  packages/search-field/src/__snapshots__/SearchField.story.storyshot
Due: none

feat(search-input): cover the cases where the value changes from something to nothing or to some not
  packages/search-field/src/SearchField.js
  packages/search-field/src/SearchField.test.js
Due: eslint-app, eslint-test

chore(release): [ci skip] publish
  packages/amount-selectors/CHANGELOG.md
  packages/amount-selectors/package.json
  packages/hoc-input/CHANGELOG.md
  packages/hoc-input/package.json
  packages/input-select/CHANGELOG.md
  packages/input-select/package.json
  packages/input-text/CHANGELOG.md
  packages/input-text/package.json
  packages/search-field/CHANGELOG.md
  packages/search-field/package.json
Due: none

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/index.html
  docs/static/manager.56cfbc0df1f28796a54c.bundle.js
  docs/static/manager.7cf249748d92a05699d0.bundle.js
  docs/static/preview.6dc0c5269ab4856896d9.bundle.js
  docs/static/preview.95015217dfa58512c238.bundle.js
Due: eslint-app

feat(Select Input): add a maxHeight prop to set a maximum height for the menu
  packages/input-select/README.md
  packages/input-select/src/Select.js
  packages/input-select/src/Select.story.js
Due: eslint-app

feat(Dropdown): allow a scroll bar to appear when content overflows the menu with a set max-height
  packages/dropdown/src/styledComponents/DropdownMenuWrapper.js
Due: eslint-app

test(Storyshots): update
  packages/dropdown/src/components/__snapshots__/DropdownItem.story.storyshot
  packages/input-select/src/__snapshots__/Select.story.storyshot
  packages/search-field/src/components/__snapshots__/Menu.story.storyshot
Due: none

chore(release): [ci skip] publish
  packages/dropdown/CHANGELOG.md
  packages/dropdown/package.json
  packages/input-select/CHANGELOG.md
  packages/input-select/package.json
  packages/search-field/CHANGELOG.md
  packages/search-field/package.json
  packages/table/CHANGELOG.md
  packages/table/package.json
Due: none

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/static/preview.3cc97fd0f3eab7e74ba9.bundle.js
  docs/static/preview.6dc0c5269ab4856896d9.bundle.js
Due: eslint-app

fix(Select input): fix label display when value is equal to zero
  packages/input-select/src/Select.js
  packages/input-select/src/Select.story.js
Due: eslint-app

test(Select input): add unit test
  packages/input-select/src/Select.test.js
Due: eslint-test

test(Storyshots): update
  packages/input-select/src/__snapshots__/Select.story.storyshot
  packages/search-field/src/__snapshots__/SearchField.story.storyshot
Due: none

chore(release): [ci skip] publish
  packages/input-select/CHANGELOG.md
  packages/input-select/package.json
  packages/search-field/CHANGELOG.md
  packages/search-field/package.json
Due: none

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/static/preview.3cc97fd0f3eab7e74ba9.bundle.js
  docs/static/preview.e5b19dc61ad4ce83db71.bundle.js
Due: eslint-app

chore(package): update lockfile
  yarn.lock
Due: none

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/index.html
  docs/static/manager.3ced39d70742266cc361.bundle.js
  docs/static/manager.7cf249748d92a05699d0.bundle.js
  docs/static/preview.5237051e5af8d22993a5.bundle.js
  docs/static/preview.e5b19dc61ad4ce83db71.bundle.js
Due: eslint-app

docs(input-text): add mask property on docs
  packages/input-text/README.md
Due: none

refactor(input-text): move styles into TextInput file
  packages/input-text/src/TextInput.js
  packages/input-text/src/styledComponents/TextInput.js
Due: eslint-app

feat(input-text): render ReactInputMask instead of regular input when mask property is present
  packages/input-text/src/TextInput.js
Due: eslint-app

chore(input-text): add dependency react-input-mask
  packages/input-text/package.json
  yarn.lock
Due: none

test(storyshots): update
  packages/amount-selectors/src/components/__snapshots__/AmountSelectors.story.storyshot
  packages/input-text/src/__snapshots__/TextInput.story.storyshot
  packages/search-field/src/__snapshots__/SearchField.story.storyshot
Due: none

test(input-text): add unit test for MaskedInput component
  packages/input-text/src/TextInput.test.js
Due: eslint-test

chore(release): [ci skip] publish
  packages/amount-selectors/CHANGELOG.md
  packages/amount-selectors/package.json
  packages/input-text/CHANGELOG.md
  packages/input-text/package.json
  packages/search-field/CHANGELOG.md
  packages/search-field/package.json
Due: none

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/index.html
  docs/static/manager.3ced39d70742266cc361.bundle.js
  docs/static/manager.adcc239343b02623df39.bundle.js
  docs/static/preview.3c4c53ebed218e5545ff.bundle.js
  docs/static/preview.5237051e5af8d22993a5.bundle.js
Due: eslint-app

feat(Input hoc): update label proptype to allow anything that can be rendered
  packages/hoc-input/src/formInput.js
  packages/hoc-input/src/formInput.story.js
Due: eslint-app

Path conditions:
  eslint-app: any of: ^(?!.*\.test).*\.js$
  eslint-test: any of: \.test\.js$
