Repository CraveFood/farmblocks: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint-app, eslint-test

eslint-app:
  name: eslint-app
  entry: ./node_modules/eslint/bin/eslint.js
  args:
  - --config=.eslintrc.js
  - --ignore-path=.eslintignore
  language: system

eslint-test:
  name: eslint-test
  entry: ./node_modules/eslint/bin/eslint.js
  args:
  - --config=.test.eslintrc.js
  - --ignore-path=.test.eslintignore
  language: system

feat(input-text): added margin property
  packages/input-text/README.md
  packages/input-text/src/TextInput.js
  packages/input-text/src/TextInput.story.js
Due: eslint-app

test: update snapshots
  packages/amount-selectors/src/components/__snapshots__/AmountSelectors.story.storyshot
  packages/form-wrapper/src/__snapshots__/FormWrapper.story.storyshot
  packages/input-text/src/__snapshots__/TextInput.story.storyshot
  packages/search-field/src/__snapshots__/SearchField.story.storyshot
Due: none

chore(release): [ci skip] publish
  packages/amount-selectors/CHANGELOG.md
  packages/amount-selectors/package.json
  packages/form-wrapper/CHANGELOG.md
  packages/form-wrapper/package.json
  packages/input-text/CHANGELOG.md
  packages/input-text/package.json
  packages/search-field/CHANGELOG.md
  packages/search-field/package.json
Due: none

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/static/preview.99e2a5181145fd8ca19f.bundle.js
  docs/static/preview.b710abe1796f6ac7feeb.bundle.js
Due: eslint-app

docs(image): fix sample url for image stories
  packages/image/src/Image.story.js
Due: eslint-app

chore(storyshots): update
  packages/image/src/__snapshots__/Image.story.storyshot
Due: none

chore(release): [ci skip] publish
  packages/amount-selectors/CHANGELOG.md
  packages/amount-selectors/package.json
  packages/card/CHANGELOG.md
  packages/card/package.json
  packages/carousel/CHANGELOG.md
  packages/carousel/package.json
  packages/empty-state/CHANGELOG.md
  packages/empty-state/package.json
  packages/footer/CHANGELOG.md
  packages/footer/package.json
  packages/form-wrapper/CHANGELOG.md
  packages/form-wrapper/package.json
  packages/hoc-input/CHANGELOG.md
  packages/hoc-input/package.json
  packages/hoc-validation-messages/CHANGELOG.md
  packages/hoc-validation-messages/package.json
  packages/image/CHANGELOG.md
  packages/image/package.json
  packages/input-select/CHANGELOG.md
  packages/input-select/package.json
  packages/input-text/CHANGELOG.md
  packages/input-text/package.json
  packages/map-balloon/CHANGELOG.md
  packages/map-balloon/package.json
  packages/search-field/CHANGELOG.md
  packages/search-field/package.json
  packages/table/CHANGELOG.md
  packages/table/package.json
Due: none

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/static/preview.99e2a5181145fd8ca19f.bundle.js
  docs/static/preview.e801fa7962ab09054ffd.bundle.js
Due: eslint-app

refactor(FilterPopover): use paddingX on Button instead of padding
  packages/filter-popover/src/FilterPopover.js
Due: eslint-app

chore: updated whatsgood-iconfont
  .storybook/assets/whatsgood-iconfont.eot
  .storybook/assets/whatsgood-iconfont.svg
  .storybook/assets/whatsgood-iconfont.ttf
  .storybook/assets/whatsgood-iconfont.woff
  .storybook/config.js
Due: eslint-app

feat(Button): added padding property
  packages/button/src/Button.js
  packages/button/src/Button.story.js
  packages/button/src/styledComponents/Button.js
Due: eslint-app

chore(FilterPopover): added dependencies
  packages/filter-popover/package.json
Due: none

feat(Button): added boxShadow property
  packages/button/src/Button.js
  packages/button/src/Button.story.js
  packages/button/src/styledComponents/Button.js
Due: eslint-app

feat(FilterPopover): created component
  packages/filter-popover/src/FilterPopover.js
  packages/filter-popover/src/FilterPopover.story.js
Due: eslint-app

refactor(Button): refactored padding property to paddingX
  packages/button/src/Button.js
  packages/button/src/Button.story.js
  packages/button/src/styledComponents/Button.js
Due: eslint-app

test(FilterPopover): add tests
  packages/filter-popover/src/FilterPopover.test.js
Due: eslint-test

test: update storyshots
  packages/button/src/__snapshots__/Button.story.storyshot
  packages/filter-popover/src/__snapshots__/FilterPopover.story.storyshot
Due: none

feat(FilterPopover): initial scaffold
  packages/filter-popover/AUTHORS
  packages/filter-popover/LICENSE
  packages/filter-popover/README.md
  packages/filter-popover/package.json
  packages/filter-popover/src/FilterPopover.js
  packages/filter-popover/src/FilterPopover.story.js
  packages/filter-popover/src/index.js
Due: eslint-app

docs(FilterPopover): add README
  packages/filter-popover/README.md
Due: none

chore(release): [ci skip] publish
  packages/alert/CHANGELOG.md
  packages/alert/package.json
  packages/amount-selectors/CHANGELOG.md
  packages/amount-selectors/package.json
  packages/button/CHANGELOG.md
  packages/button/package.json
  packages/card/CHANGELOG.md
  packages/card/package.json
  packages/dropdown/CHANGELOG.md
  packages/dropdown/package.json
  packages/empty-state/CHANGELOG.md
  packages/empty-state/package.json
  packages/filter-popover/CHANGELOG.md
  packages/filter-popover/package.json
  packages/footer/CHANGELOG.md
  packages/footer/package.json
  packages/form-wrapper/CHANGELOG.md
  packages/form-wrapper/package.json
  packages/input-select/CHANGELOG.md
  packages/input-select/package.json
  packages/input-text/CHANGELOG.md
  packages/input-text/package.json
  packages/map-balloon/CHANGELOG.md
  packages/map-balloon/package.json
  packages/search-field/CHANGELOG.md
  packages/search-field/package.json
  packages/table/CHANGELOG.md
  packages/table/package.json
Due: none

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/index.html
  docs/static/manager.1e7d9d67981504cf62b9.bundle.js
  docs/static/manager.e619f2cae3a52a164534.bundle.js
  docs/static/preview.4b6b284d24b98b754f5c.bundle.js
  docs/static/preview.e801fa7962ab09054ffd.bundle.js
  docs/whatsgood-iconfont.eot
  docs/whatsgood-iconfont.svg
  docs/whatsgood-iconfont.ttf
  docs/whatsgood-iconfont.woff
Due: eslint-app

fix(lerna): bump version to fix the difference between lerna and npm
  README.md
Due: none

fix: updated styled-components to 3.4.9 peer-dependency on all packages
  package.json
  packages/alert/package.json
  packages/amount-selectors/package.json
  packages/button/package.json
  packages/card/package.json
  packages/carousel/package.json
  packages/dropdown/package.json
  packages/empty-state/package.json
  packages/filter-popover/package.json
  packages/form-wrapper/package.json
  packages/hoc-disabled-tooltip/package.json
  packages/hoc-input/package.json
  packages/hoc-validation-messages/package.json
  packages/image/package.json
  packages/input-checkbox/package.json
  packages/input-radio/package.json
  packages/input-select/package.json
  packages/input-text/package.json
  packages/link/package.json
  packages/map-balloon/package.json
  packages/more-info/package.json
  packages/popover/package.json
  packages/scaffold/src/templates/package.js
  packages/search-field/package.json
  packages/stepper/package.json
  packages/table/package.json
  packages/tag/package.json
  packages/text/package.json
  packages/tooltip/package.json
  yarn.lock
Due: eslint-app

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/static/preview.a01a83cf2b38f0bb80e5.bundle.js
Due: eslint-app

feat(Button): export colorTypes file
  packages/button/src/index.js
Due: eslint-app

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/index.html
  docs/static/manager.be7ec4bdd3371d390d50.bundle.js
  docs/static/manager.e619f2cae3a52a164534.bundle.js
  docs/static/preview.84a42a974dc16e471536.bundle.js
  docs/static/preview.a01a83cf2b38f0bb80e5.bundle.js
Due: eslint-app

feat(Button): added fontSize, fontWeight and textColor properties
  packages/button/src/Button.js
  packages/button/src/Button.story.js
  packages/button/src/styledComponents/Button.js
Due: eslint-app

test: update snapshots
  packages/button/src/__snapshots__/Button.story.storyshot
  packages/filter-popover/src/__snapshots__/FilterPopover.story.storyshot
Due: none

feat(FilterPopover): added triggerFontSize, triggerTextColor and triggerFontWeight properties
  packages/filter-popover/README.md
  packages/filter-popover/package.json
  packages/filter-popover/src/FilterPopover.js
Due: eslint-app

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/static/preview.84a42a974dc16e471536.bundle.js
  docs/static/preview.d5cd49c2ef580240a9cf.bundle.js
Due: eslint-app

test: update snapshots
  packages/popover/src/__snapshots__/Popover.story.storyshot
Due: none

docs(Popover): add story for nested popover
  packages/popover/src/Popover.story.js
Due: eslint-app

fix(Popover): use capture=true on addEventListener
  packages/popover/src/Popover.js
  packages/popover/src/Popover.test.js
Due: eslint-app, eslint-test

chore(release): [ci skip] publish
  packages/filter-popover/CHANGELOG.md
  packages/filter-popover/package.json
  packages/popover/CHANGELOG.md
  packages/popover/package.json
Due: none

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/static/preview.6e368686ba5943f61ae4.bundle.js
  docs/static/preview.d5cd49c2ef580240a9cf.bundle.js
Due: eslint-app

fix(hoc-input): override browser default min-width
  packages/hoc-input/src/formInput.story.js
  packages/hoc-input/src/styledComponents/Wrapper.js
Due: eslint-app

chore(storyshots): update
  packages/amount-selectors/src/components/__snapshots__/AmountSelectors.story.storyshot
  packages/form-wrapper/src/__snapshots__/FormWrapper.story.storyshot
  packages/hoc-input/src/__snapshots__/formInput.story.storyshot
  packages/input-select/src/__snapshots__/Select.story.storyshot
  packages/input-text/src/__snapshots__/TextInput.story.storyshot
  packages/search-field/src/__snapshots__/SearchField.story.storyshot
Due: none

Path conditions:
  eslint-app: any of: ^(?!.*\.test).*\.js$
  eslint-test: any of: \.test\.js$
