Repository CraveFood/farmblocks: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint-app, eslint-test

eslint-app:
  name: eslint-app
  entry: ./node_modules/eslint/bin/eslint.js
  args:
  - --config=.eslintrc.js
  - --ignore-path=.eslintignore
  language: system

eslint-test:
  name: eslint-test
  entry: ./node_modules/eslint/bin/eslint.js
  args:
  - --config=.test.eslintrc.js
  - --ignore-path=.test.eslintignore
  language: system

chore(release): [ci skip] publish
  packages/input-checkbox/CHANGELOG.md
  packages/input-checkbox/package.json
  packages/table/CHANGELOG.md
  packages/table/package.json
Due: none

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/static/preview.9b50b97a13934909f30c.bundle.js
  docs/static/preview.ec8fbd08ceea115d1a55.bundle.js
Due: eslint-app

chore(package): update lockfile
  yarn.lock
Due: none

chore(eslint): updated eslint dependencies
  package.json
  yarn.lock
Due: none

refactor(theme prop): replace Object.assign with spread operator
  packages/button/src/styledComponents/Button.js
Due: eslint-app

feat: initial version of hoc validation messages
  packages/hoc-validation-messages/AUTHORS
  packages/hoc-validation-messages/LICENSE
  packages/hoc-validation-messages/README.md
  packages/hoc-validation-messages/package.json
  packages/hoc-validation-messages/src/constants/errorIcon.js
  packages/hoc-validation-messages/src/index.js
  packages/hoc-validation-messages/src/styledComponents/MessageWrapper.js
  packages/hoc-validation-messages/src/withMessages.js
  packages/hoc-validation-messages/src/withMessages.story.js
  packages/hoc-validation-messages/src/withMessages.test.js
Due: eslint-app, eslint-test

feat(Button): hide tooltip on disabled loading buttons
  packages/button/src/Button.js
Due: eslint-app

chore(release): [ci skip] publish
  packages/alert/CHANGELOG.md
  packages/alert/package.json
  packages/button/CHANGELOG.md
  packages/button/package.json
  packages/card/CHANGELOG.md
  packages/card/package.json
  packages/dropdown/CHANGELOG.md
  packages/dropdown/package.json
  packages/empty-state/CHANGELOG.md
  packages/empty-state/package.json
  packages/footer/CHANGELOG.md
  packages/footer/package.json
  packages/input-select/CHANGELOG.md
  packages/input-select/package.json
  packages/table/CHANGELOG.md
  packages/table/package.json
Due: none

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/static/preview.9b50b97a13934909f30c.bundle.js
  docs/static/preview.a1c87cde99d413f79dc6.bundle.js
Due: eslint-app

refactor: refactor withMessages constructor
  packages/hoc-validation-messages/src/withMessages.js
Due: eslint-app

docs: fix readme
  packages/hoc-validation-messages/README.md
Due: none

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/static/preview.942f08dfd696817f157c.bundle.js
  docs/static/preview.a1c87cde99d413f79dc6.bundle.js
Due: eslint-app

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/static/preview.0b8ee651d44c6a3e40de.bundle.js
  docs/static/preview.942f08dfd696817f157c.bundle.js
Due: eslint-app

chore(release): [ci skip] publish
  packages/hoc-validation-messages/CHANGELOG.md
  packages/hoc-validation-messages/package.json
Due: none

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/index.html
  docs/static/manager.4c2e719a98de247c77eb.bundle.js
  docs/static/manager.e012ecc3466b1be4eb86.bundle.js
  docs/static/preview.0b8ee651d44c6a3e40de.bundle.js
  docs/static/preview.1db3a9d616b007767307.bundle.js
Due: eslint-app

fix(table-children): support for empty / null / false childs inside Table component
  packages/table/src/Table.js
  packages/table/src/Table.story.js
Due: eslint-app

chore(release): [ci skip] publish
  packages/table/CHANGELOG.md
  packages/table/package.json
Due: none

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/static/preview.1db3a9d616b007767307.bundle.js
  docs/static/preview.e3e9c01ea05fcd7270c7.bundle.js
Due: eslint-app

feat(Column): add onClick property on table columns
  packages/table/src/Column.js
  packages/table/src/Table.js
  packages/table/src/Table.story.js
  packages/table/src/styledComponents/Cell.js
Due: eslint-app

feat(Table): add borderless property to Table component
  packages/table/src/Table.js
  packages/table/src/Table.story.js
  packages/table/src/styledComponents/Table.js
Due: eslint-app

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/static/preview.7026dc428d9942e1dd98.bundle.js
  docs/static/preview.e3e9c01ea05fcd7270c7.bundle.js
Due: eslint-app

feat(Removable tags): initial files
  packages/removable-tags/AUTHORS
  packages/removable-tags/LICENSE
  packages/removable-tags/README.md
  packages/removable-tags/package.json
  packages/removable-tags/src/RemovableTags.js
  packages/removable-tags/src/RemovableTags.story.js
  packages/removable-tags/src/index.js
Due: eslint-app

chore(removable-tags): add farmblocks-theme dependency
  packages/removable-tags/package.json
Due: none

feat(removable-tags): feature complete component
  packages/removable-tags/src/RemovableTags.js
  packages/removable-tags/src/RemovableTags.story.js
  packages/removable-tags/src/components/RemovableTags.js
  packages/removable-tags/src/components/styledComponent/StyledTag.js
  packages/removable-tags/src/index.js
Due: eslint-app

test(removable-tags): add stories and test
  packages/removable-tags/src/components/RemovableTags.story.js
  packages/removable-tags/src/components/RemovableTags.test.js
Due: eslint-app, eslint-test

Path conditions:
  eslint-app: any of: ^(?!.*\.test).*\.js$
  eslint-test: any of: \.test\.js$
