Repository CraveFood/farmblocks: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint-app, eslint-test

.pre-commit-config.yaml:

fail_fast: true
repos:
-   repo: https://github.com/prettier/prettier
    sha: '1.7.0'
    hooks:
      - id: prettier

-   repo: local
    hooks:
      - id: eslint-app
        name: eslint-app
        entry: ./node_modules/eslint/bin/eslint.js
        args:
          - "--config=.eslintrc.js"
          - "--ignore-path=.eslintignore"
        language: system
        files: '^(?!.*\.test).*\.js$'

      - id: eslint-test
        name: eslint-test
        entry: ./node_modules/eslint/bin/eslint.js
        args:
          - "--config=.test.eslintrc.js"
          - "--ignore-path=.test.eslintignore"
        language: system
        files: '\.test\.js$'

fix(compatibility): use a shim for Object.values
  packages/link/package.json
  packages/link/src/components/Link.js
  packages/text/package.json
  packages/text/src/components/Text.js
Due: eslint-app

fix(dependencies): update the 4 packages that depends on link or text
  packages/empty-state/package.json
  packages/footer/package.json
  packages/hoc-input/package.json
  packages/input-text/package.json
Due: none

chore(lockfile): update
  yarn.lock
Due: none

test(flow): add stub for farmblocks-text
  flow-typed/npm/@crave/farmblocks-text_vx.x.x.js
Due: eslint-app

test(snapshots): update
  __snapshots__/Storyshots.test.js.snap
Due: none

fix(proptypes): fixed a merge leftover pointed by eslint
  packages/link/src/components/Link.js
Due: eslint-app

chore(release): [ci skip] publish
  packages/card/CHANGELOG.md
  packages/card/package.json
  packages/empty-state/CHANGELOG.md
  packages/empty-state/package.json
  packages/footer/CHANGELOG.md
  packages/footer/package.json
  packages/hoc-input/CHANGELOG.md
  packages/hoc-input/package.json
  packages/input-checkbox/CHANGELOG.md
  packages/input-checkbox/package.json
  packages/input-text/CHANGELOG.md
  packages/input-text/package.json
  packages/link/CHANGELOG.md
  packages/link/package.json
  packages/text/CHANGELOG.md
  packages/text/package.json
Due: none

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/index.html
  docs/static/manager.a317372dfdb14f0ed5bd.bundle.js
  docs/static/manager.aebc4792f958bbba17bf.bundle.js
  docs/static/preview.0df47bd60bd3b4f016e1.bundle.js
  docs/static/preview.2fc34379110868ba0b52.bundle.js
Due: eslint-app

chore(release): [ci skip] publish
  packages/dropdown/CHANGELOG.md
  packages/dropdown/package.json
Due: none

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/static/preview.2fc34379110868ba0b52.bundle.js
  docs/static/preview.5270431de5371f026bc7.bundle.js
Due: eslint-app

testing prettier on travis
  packages/dropdown/src/components/Dropdown.js
Due: eslint-app

chore(release): [ci skip] publish
  packages/scaffold/CHANGELOG.md
  packages/scaffold/package.json
Due: none

chore(package): update lockfile
  yarn.lock
Due: none

chore(lockfile): [ci skip] greenkeeper lockfile fix
  yarn.lock
Due: none

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/static/preview.5270431de5371f026bc7.bundle.js
  docs/static/preview.a67a01dd9df104855d71.bundle.js
Due: eslint-app

fix(dependencies): upgrade jest-styled-component to the version that works with styled-components-3
  package.json
  yarn.lock
Due: none

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/index.html
  docs/static/manager.aebc4792f958bbba17bf.bundle.js
  docs/static/manager.e1ca0797e322bfc79473.bundle.js
  docs/static/preview.a67a01dd9df104855d71.bundle.js
  docs/static/preview.cc350fe073e9fabfb4ad.bundle.js
Due: eslint-app

feat(filter-input): add icon and clear button for search input type
  .storybook/config.js
  __snapshots__/Storyshots.test.js.snap
  packages/hoc-input/package.json
  packages/hoc-input/src/formInput.js
  packages/hoc-input/src/formInput.story.js
  packages/hoc-input/src/formInput.test.js
  packages/hoc-input/src/styledComponents/Wrapper.js
  packages/input-text/src/TextInput.story.js
Due: eslint-app, eslint-test

refactor(filter-input): refactor handleClearClick
  __snapshots__/Storyshots.test.js.snap
  packages/hoc-input/src/formInput.js
  packages/hoc-input/src/formInput.story.js
  packages/hoc-input/src/formInput.test.js
  packages/hoc-input/src/styledComponents/Wrapper.js
  packages/input-text/src/TextInput.story.js
Due: eslint-app, eslint-test

chore(release): [ci skip] publish
  packages/hoc-input/CHANGELOG.md
  packages/hoc-input/package.json
  packages/input-text/CHANGELOG.md
  packages/input-text/package.json
Due: none

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/index.html
  docs/static/manager.92abab810c84f9118b90.bundle.js
  docs/static/manager.e1ca0797e322bfc79473.bundle.js
  docs/static/preview.cc350fe073e9fabfb4ad.bundle.js
  docs/static/preview.fd8765a9add2368bf17e.bundle.js
Due: eslint-app

feat(styling): basic styles for the table and it's cells
  packages/table/package.json
  packages/table/src/Table.js
  packages/table/src/Table.story.js
  packages/table/src/constants.js
  packages/table/src/styledComponents/Cell.js
  packages/table/src/styledComponents/Table.js
Due: eslint-app

feat(package): initial skeleton
  packages/table/AUTHORS
  packages/table/LICENSE
  packages/table/README.md
  packages/table/package.json
  packages/table/src/Table.js
  packages/table/src/Table.story.js
  packages/table/src/index.js
Due: eslint-app

feat(api): stories with the desired api and initial basic implementation
  packages/table/src/Column.js
  packages/table/src/Table.js
  packages/table/src/Table.story.js
  packages/table/src/index.js
Due: eslint-app

Change 'Services' for 'Systems' on several docs
  AUTHORS
  LICENSE
  packages/alert/AUTHORS
  packages/alert/LICENSE
  packages/button/LICENSE
  packages/card/AUTHORS
  packages/card/LICENSE
  packages/dropdown/AUTHORS
  packages/dropdown/LICENSE
  packages/empty-state/AUTHORS
  packages/empty-state/LICENSE
  packages/footer/AUTHORS
  packages/footer/LICENSE
  packages/hoc-disabled-tooltip/AUTHORS
  packages/hoc-disabled-tooltip/LICENSE
  packages/hoc-input/AUTHORS
  packages/hoc-input/LICENSE
  packages/image/AUTHORS
  packages/image/LICENSE
  packages/input-text/AUTHORS
  packages/input-text/LICENSE
  packages/link/AUTHORS
  packages/link/LICENSE
  packages/stepper/AUTHORS
  packages/stepper/LICENSE
  packages/text/AUTHORS
  packages/text/LICENSE
  packages/theme/LICENSE
  packages/tooltip/LICENSE
Due: none

docs(package.json): change 'services' to 'systems'
  package.json
  packages/alert/package.json
  packages/button/package.json
  packages/card/package.json
  packages/dropdown/package.json
  packages/empty-state/package.json
  packages/footer/package.json
  packages/hoc-disabled-tooltip/package.json
  packages/hoc-input/package.json
  packages/image/package.json
  packages/input-checkbox/package.json
  packages/input-text/package.json
  packages/link/package.json
  packages/text/package.json
  packages/theme/package.json
  packages/tooltip/package.json
Due: none

fix(onChange): onChange event from a checkbox that got it's checked property changed programatically
  packages/input-checkbox/src/Checkbox.js
Due: eslint-app

feat(headers): suport for clickable column titles
  packages/table/package.json
  packages/table/src/Column.js
  packages/table/src/Table.js
  packages/table/src/styledComponents/Cell.js
Due: eslint-app

test(stories): better stories
  packages/table/src/Table.story.js
Due: eslint-app

feat(cell render): support for 2 types of text cell renderers
  packages/table/src/Column.js
  packages/table/src/Table.js
Due: eslint-app

feat(headers): accept columns with no title
  packages/table/src/Table.js
Due: eslint-app

feat(headers): support for custom column headers
  packages/table/src/Table.js
Due: eslint-app

feat(selectable rows): basic support for selecting rows
  packages/table/package.json
  packages/table/src/Table.js
  packages/table/src/styledComponents/Cell.js
  packages/table/src/styledComponents/Table.js
Due: eslint-app

feat(sizes): add property size to allow trigger buttons of the same sizes as button
  packages/dropdown/package.json
  packages/dropdown/src/components/Dropdown.js
Due: eslint-app

feat(custom cells): include more metadata about the row: index and selected state
  packages/table/src/Table.js
Due: eslint-app

# This is a combination of 2 commits. # This is the 1st commit message:
  packages/table/package.json
  packages/table/src/Column.js
  packages/table/src/Table.js
Due: eslint-app

feat(table): support for custom table width
  packages/table/src/Table.js
Due: eslint-app

chore(devDependencies): for the stories
  packages/table/package.json
Due: none
