Repository CraveFood/farmblocks: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint-app, eslint-test

eslint-app:
  name: eslint-app
  entry: ./node_modules/eslint/bin/eslint.js
  args:
  - --config=.eslintrc.js
  - --ignore-path=.eslintignore
  language: system

eslint-test:
  name: eslint-test
  entry: ./node_modules/eslint/bin/eslint.js
  args:
  - --config=.test.eslintrc.js
  - --ignore-path=.test.eslintignore
  language: system

docs(Select input): add story to document updated label prop
  packages/input-select/src/Select.story.js
Due: eslint-app

feat(Input hoc): add moreInfoContent prop
  packages/hoc-input/src/formInput.js
  packages/hoc-input/src/formInput.story.js
  packages/hoc-input/src/styledComponents/Wrapper.js
Due: eslint-app

test(Storyshots): update
  packages/amount-selectors/src/components/__snapshots__/AmountSelectors.story.storyshot
  packages/card/src/__snapshots__/Card.story.storyshot
  packages/carousel/src/__snapshots__/Carousel.story.storyshot
  packages/empty-state/src/__snapshots__/EmptyState.story.storyshot
  packages/hoc-input/src/__snapshots__/formInput.story.storyshot
  packages/hoc-validation-messages/src/__snapshots__/withMessages.story.storyshot
  packages/input-select/src/Select.story.js
  packages/input-select/src/__snapshots__/Select.story.storyshot
  packages/input-select/src/components/__snapshots__/EmptyCard.story.storyshot
  packages/input-text/src/__snapshots__/TextInput.story.storyshot
  packages/search-field/src/__snapshots__/SearchField.story.storyshot
  packages/table/src/__snapshots__/Table.story.storyshot
Due: eslint-app

chore(release): [ci skip] publish
  packages/amount-selectors/CHANGELOG.md
  packages/amount-selectors/package.json
  packages/card/CHANGELOG.md
  packages/card/package.json
  packages/carousel/CHANGELOG.md
  packages/carousel/package.json
  packages/empty-state/CHANGELOG.md
  packages/empty-state/package.json
  packages/hoc-input/CHANGELOG.md
  packages/hoc-input/package.json
  packages/hoc-validation-messages/CHANGELOG.md
  packages/hoc-validation-messages/package.json
  packages/input-select/CHANGELOG.md
  packages/input-select/package.json
  packages/input-text/CHANGELOG.md
  packages/input-text/package.json
  packages/map-balloon/CHANGELOG.md
  packages/map-balloon/package.json
  packages/search-field/CHANGELOG.md
  packages/search-field/package.json
  packages/table/CHANGELOG.md
  packages/table/package.json
Due: none

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/index.html
  docs/static/manager.ab810c5b6254e27fc85b.bundle.js
  docs/static/manager.adcc239343b02623df39.bundle.js
  docs/static/preview.3c4c53ebed218e5545ff.bundle.js
  docs/static/preview.780a56a423a8f405b37e.bundle.js
Due: eslint-app

docs(dropdown): add story for small sized dropdown
  packages/dropdown/src/components/Dropdown.story.js
Due: eslint-app

docs(dropdown): add size prop to README
  packages/dropdown/README.md
  packages/dropdown/src/components/Dropdown.story.js
  packages/dropdown/src/index.js
Due: eslint-app

docs(input-select): add story for small sized select input
  packages/input-select/src/Select.story.js
Due: eslint-app

docs(input-select): add fontSize prop to README
  packages/input-select/README.md
  packages/input-select/src/Select.story.js
  packages/input-select/src/index.js
Due: eslint-app

docs(button): fix usage example
  packages/button/README.md
Due: none

chore(storyshots): update
  packages/dropdown/src/components/__snapshots__/Dropdown.story.storyshot
  packages/input-select/src/__snapshots__/Select.story.storyshot
Due: none

chore(release): [ci skip] publish
  packages/alert/CHANGELOG.md
  packages/alert/package.json
  packages/amount-selectors/CHANGELOG.md
  packages/amount-selectors/package.json
  packages/button/CHANGELOG.md
  packages/button/package.json
  packages/card/CHANGELOG.md
  packages/card/package.json
  packages/dropdown/CHANGELOG.md
  packages/dropdown/package.json
  packages/empty-state/CHANGELOG.md
  packages/empty-state/package.json
  packages/footer/CHANGELOG.md
  packages/footer/package.json
  packages/input-select/CHANGELOG.md
  packages/input-select/package.json
  packages/input-text/CHANGELOG.md
  packages/input-text/package.json
  packages/map-balloon/CHANGELOG.md
  packages/map-balloon/package.json
  packages/search-field/CHANGELOG.md
  packages/search-field/package.json
  packages/table/CHANGELOG.md
  packages/table/package.json
Due: none

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/index.html
  docs/static/manager.378668f5c70564ff3026.bundle.js
  docs/static/manager.ab810c5b6254e27fc85b.bundle.js
  docs/static/preview.780a56a423a8f405b37e.bundle.js
  docs/static/preview.e75ba2fbabafbccab942.bundle.js
Due: eslint-app

refactor(table): render SelectionBar actions from children
  packages/table/src/SelectionBar.js
  packages/table/src/Table.story.js
  packages/table/src/styledComponents/SelectionBar.js
Due: eslint-app

chore(storyshots): update
  packages/table/src/__snapshots__/Table.story.storyshot
Due: none

test(table): update tests for SelectionBar refactor
  packages/table/src/SelectionBar.test.js
Due: eslint-test

fixup! refactor(table): render SelectionBar actions from children
  packages/table/src/Table.story.js
Due: eslint-app

chore(devDependencies): update react-dom to patch vulnerability
  package.json
  yarn.lock
Due: none

chore(release): [ci skip] publish
  packages/table/CHANGELOG.md
  packages/table/package.json
Due: none

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/index.html
  docs/static/manager.364769278db432d0fdf9.bundle.js
  docs/static/manager.378668f5c70564ff3026.bundle.js
  docs/static/preview.5305a93f507d80810536.bundle.js
  docs/static/preview.e75ba2fbabafbccab942.bundle.js
Due: eslint-app

chore(greenkeeper): remoe workaround for gk bug that have been fixed
  .travis.yml
Due: none

chore(travis): update node and yarn versions used by travis
  .travis.yml
Due: none

test(Search field): add unit test
  packages/search-field/src/SearchField.test.js
Due: eslint-test

fix(Search field): update inputValue when items changes
  packages/search-field/src/SearchField.js
  packages/search-field/src/SearchField.story.js
Due: eslint-app

test(Storyshots): update
  packages/search-field/src/__snapshots__/SearchField.story.storyshot
Due: none

test(formInput): cover test of preventing blur of clear icon
  packages/hoc-input/src/formInput.test.js
Due: eslint-test

fix(formInput): only prevent blur of clicks on clear icon
  packages/hoc-input/src/formInput.js
Due: eslint-app

chore(release): [ci skip] publish
  packages/search-field/CHANGELOG.md
  packages/search-field/package.json
Due: none

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/static/preview.4dcd4f2e65210709b081.bundle.js
  docs/static/preview.5305a93f507d80810536.bundle.js
Due: eslint-app

feat(text): make children optional
  packages/text/src/components/Text.js
Due: eslint-app

test(text): story with empty text component
  packages/text/src/components/Text.story.js
  packages/text/src/components/__snapshots__/Text.story.storyshot
Due: eslint-app

chore(release): [ci skip] publish
  packages/amount-selectors/CHANGELOG.md
  packages/amount-selectors/package.json
  packages/card/CHANGELOG.md
  packages/card/package.json
  packages/carousel/CHANGELOG.md
  packages/carousel/package.json
  packages/empty-state/CHANGELOG.md
  packages/empty-state/package.json
  packages/hoc-validation-messages/CHANGELOG.md
  packages/hoc-validation-messages/package.json
  packages/input-checkbox/CHANGELOG.md
  packages/input-checkbox/package.json
  packages/input-radio/CHANGELOG.md
  packages/input-radio/package.json
  packages/input-select/CHANGELOG.md
  packages/input-select/package.json
  packages/input-text/CHANGELOG.md
  packages/input-text/package.json
  packages/map-balloon/CHANGELOG.md
  packages/map-balloon/package.json
  packages/more-info/CHANGELOG.md
  packages/more-info/package.json
  packages/popover/CHANGELOG.md
  packages/popover/package.json
  packages/search-field/CHANGELOG.md
  packages/search-field/package.json
  packages/table/CHANGELOG.md
  packages/table/package.json
  packages/text/CHANGELOG.md
  packages/text/package.json
Due: none

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/static/preview.016cd2dc4efa48f4d383.bundle.js
  docs/static/preview.4dcd4f2e65210709b081.bundle.js
Due: eslint-app

chore(release): [ci skip] publish
  packages/amount-selectors/CHANGELOG.md
  packages/amount-selectors/package.json
  packages/hoc-input/CHANGELOG.md
  packages/hoc-input/package.json
  packages/input-select/CHANGELOG.md
  packages/input-select/package.json
  packages/input-text/CHANGELOG.md
  packages/input-text/package.json
  packages/search-field/CHANGELOG.md
  packages/search-field/package.json
Due: none

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/static/preview.016cd2dc4efa48f4d383.bundle.js
  docs/static/preview.61f783cc4e63ee35bcfd.bundle.js
Due: eslint-app

refactor(Select): dropped componentWillReceiveProps in favor of componentDidUpdate
  packages/input-select/src/Select.js
Due: eslint-app

test(storyshots): update
  packages/carousel/src/__snapshots__/Carousel.story.storyshot
Due: none

refactor(Carousel): changed scale property name to shouldScale to avoid a warning about it
  packages/carousel/src/Carousel.js
  packages/carousel/src/styledComponents/Carousel.js
Due: eslint-app

refactor(Carousel): dropped componentWillReceiveProps in favor of componentDidUpdate
  packages/carousel/src/Carousel.js
  packages/carousel/src/Carousel.test.js
Due: eslint-app, eslint-test

Path conditions:
  eslint-app: any of: ^(?!.*\.test).*\.js$
  eslint-test: any of: \.test\.js$
