Repository CraveFood/farmblocks: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint-app, eslint-test

eslint-app:
  name: eslint-app
  entry: ./node_modules/eslint/bin/eslint.js
  args:
  - --config=.eslintrc.js
  - --ignore-path=.eslintignore
  language: system

eslint-test:
  name: eslint-test
  entry: ./node_modules/eslint/bin/eslint.js
  args:
  - --config=.test.eslintrc.js
  - --ignore-path=.test.eslintignore
  language: system

feat(styling): styles for input label
  packages/input-text/src/TextInput.js
  packages/input-text/src/styledComponents/TextInput.js
Due: eslint-app

feat(styling): styles for the text input field
  packages/input-text/src/TextInput.js
  packages/input-text/src/TextInput.story.js
  packages/input-text/src/styledComponents/TextInput.js
Due: eslint-app

test(event handlers): add tests for events of the text input
  packages/input-text/src/TextInput.test.js
Due: eslint-test

feat(disabled text field): styles, tooltip display and tests
  packages/input-text/package.json
  packages/input-text/src/TextInput.js
  packages/input-text/src/TextInput.story.js
  packages/input-text/src/TextInput.test.js
  packages/input-text/src/styledComponents/TextInput.js
Due: eslint-app, eslint-test

style(minor): reorder component methods order
  packages/input-text/src/TextInput.js
Due: eslint-app

feat(form validation): support for multiple error messages per input field
  packages/input-text/src/TextInput.js
  packages/input-text/src/TextInput.story.js
  packages/input-text/src/styledComponents/TextInput.js
Due: eslint-app

feat(field errors): add icon to the error messages
  packages/input-text/package.json
  packages/input-text/src/TextInput.js
  packages/input-text/src/TextInput.story.js
  packages/input-text/src/constants/errorIcon.js
  packages/input-text/src/styledComponents/TextInput.js
Due: eslint-app

test(snapshots): update
  __snapshots__/Storyshots.test.js.snap
Due: none

docs(properties): add story for the lineHeight property
  packages/text/src/components/Text.story.js
Due: eslint-app

fix(text): use farmblocks text component for the labels and error messages
  packages/input-text/package.json
  packages/input-text/src/TextInput.js
  packages/input-text/src/styledComponents/TextInput.js
Due: eslint-app

docs(hacks): document the inversion of the logical order of instantiating the input before the label
  packages/input-text/src/TextInput.js
Due: eslint-app

feat(validation): better integration wit built-in constraint validation
  packages/input-text/README.md
  packages/input-text/src/TextInput.js
  packages/input-text/src/TextInput.story.js
  packages/input-text/src/TextInput.test.js
Due: eslint-app, eslint-test

fix(dependencies): add missing dependency theme
  packages/input-text/package.json
Due: none

fix(invalid field): fix the sync between property invalid and state invalid
  packages/input-text/src/TextInput.js
  packages/input-text/src/TextInput.test.js
Due: eslint-app, eslint-test

docs(readme): improve readme, add usage
  packages/input-text/README.md
Due: none

fix(style): fix box-shadows to meet the spec
  packages/input-text/src/styledComponents/TextInput.js
Due: eslint-app

fix(dependencies): add missing farmblocks-theme dependency
  packages/tooltip/package.json
Due: none

docs(readme): list text input on the main readme
  README.md
Due: none

chore(lockfile): update
  yarn.lock
Due: none

chore(release): [ci skip] publish
  packages/alert/CHANGELOG.md
  packages/alert/package.json
  packages/button/CHANGELOG.md
  packages/button/package.json
  packages/card/CHANGELOG.md
  packages/card/package.json
  packages/empty-state/CHANGELOG.md
  packages/empty-state/package.json
  packages/footer/CHANGELOG.md
  packages/footer/package.json
  packages/input-text/CHANGELOG.md
  packages/input-text/package.json
  packages/link/CHANGELOG.md
  packages/link/package.json
  packages/text/CHANGELOG.md
  packages/text/package.json
  packages/tooltip/CHANGELOG.md
  packages/tooltip/package.json
Due: none

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/index.html
  docs/static/manager.769041f646d9dc6c9f15.bundle.js
  docs/static/manager.da5e9c5079fe0192edc2.bundle.js
  docs/static/preview.3de0ec0939167fbfeb0a.bundle.js
  docs/static/preview.425db05817ff1c5d8ca1.bundle.js
Due: eslint-app

refactor(Footer): add farmblocks-link to Footer component
  __snapshots__/Storyshots.test.js.snap
  packages/footer/src/components/Footer.js
  packages/footer/src/components/Footer.story.js
  packages/footer/src/components/HelperContent.js
  packages/footer/src/styledComponents/HelperContent.js
Due: eslint-app

test(snapshots): update snapshots
  __snapshots__/Storyshots.test.js.snap
Due: none

fix(Footer): update link component
  yarn.lock
Due: none

fix(Footer): rename onclick property
  packages/footer/src/components/Footer.js
  packages/footer/src/components/HelperContent.js
Due: eslint-app

chore(dependency): add farmblock-link as dependency on farmblock-footer
  packages/footer/package.json
  yarn.lock
Due: none

fix(dependency): update link dependency on Footer component
  __snapshots__/Storyshots.test.js.snap
  packages/footer/package.json
  yarn.lock
Due: none

fix(footer): rename on help link click property
  packages/footer/src/components/Footer.js
  packages/footer/src/components/Footer.story.js
Due: eslint-app

chore(release): [ci skip] publish
  packages/footer/CHANGELOG.md
  packages/footer/package.json
Due: none

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/index.html
  docs/static/manager.c5843671d1c35e1c58da.bundle.js
  docs/static/manager.da5e9c5079fe0192edc2.bundle.js
  docs/static/preview.425db05817ff1c5d8ca1.bundle.js
  docs/static/preview.6404de4d1fd50a9db771.bundle.js
Due: eslint-app

chore(lockfile): remove package-lock.json
  package-lock.json
Due: none

fix(greenkeeper-lockfile): workaround for bug that puts wrong prefix on the updated lockfile
  .travis.yml
Due: none

chore(yarn): lockfile update
  yarn.lock
Due: none

chore(travis): setup snyk test and snyk monitor to run on travis
  .snyk
  .travis.yml
  package.json
Due: none

Path conditions:
  eslint-app: any of: ^(?!.*\.test).*\.js$
  eslint-test: any of: \.test\.js$
