Repository CraveFood/farmblocks: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint-app, eslint-test

.pre-commit-config.yaml:

fail_fast: true
repos:
-   repo: https://github.com/prettier/prettier
    sha: '1.7.0'
    hooks:
      - id: prettier

-   repo: local
    hooks:
      - id: eslint-app
        name: eslint-app
        entry: ./node_modules/eslint/bin/eslint.js
        args:
          - "--config=.eslintrc.js"
          - "--ignore-path=.eslintignore"
        language: system
        files: '^(?!.*\.test).*\.js$'

      - id: eslint-test
        name: eslint-test
        entry: ./node_modules/eslint/bin/eslint.js
        args:
          - "--config=.test.eslintrc.js"
          - "--ignore-path=.test.eslintignore"
        language: system
        files: '\.test\.js$'

refactor(Radio): dropped componentWillReceiveProps in favor of componentDidUpdate
  packages/input-radio/src/Radio.js
  packages/input-radio/src/Radio.test.js
  packages/input-radio/src/RadioGroup.js
Due: eslint-app, eslint-test

refactor(Checkbox): dropped componentWillReceiveProps in favor of componentDidUpdate
  packages/input-checkbox/src/Checkbox.js
Due: eslint-app

refactor(Checkbox): remove useless constructor
  packages/input-checkbox/src/Checkbox.js
Due: eslint-app

refactor(formInput): remove useless constructor
  packages/hoc-input/src/formInput.js
Due: eslint-app

fixup! refactor(Carousel): dropped componentWillReceiveProps in favor of componentDidUpdate
  packages/carousel/src/Carousel.test.js
Due: eslint-test

refactor(withMessages): dropped componentWillReceiveProps in favor of componentDidUpdate
  packages/hoc-validation-messages/src/withMessages.js
  packages/hoc-validation-messages/src/withMessages.test.js
Due: eslint-app, eslint-test

refactor(formInput): dropped componentWillReceiveProps in favor of componentDidUpdate
  packages/hoc-input/src/formInput.js
  packages/hoc-input/src/formInput.test.js
Due: eslint-app, eslint-test

chore(release): [ci skip] publish
  packages/amount-selectors/CHANGELOG.md
  packages/amount-selectors/package.json
  packages/carousel/CHANGELOG.md
  packages/carousel/package.json
  packages/hoc-input/CHANGELOG.md
  packages/hoc-input/package.json
  packages/hoc-validation-messages/CHANGELOG.md
  packages/hoc-validation-messages/package.json
  packages/input-checkbox/CHANGELOG.md
  packages/input-checkbox/package.json
  packages/input-radio/CHANGELOG.md
  packages/input-radio/package.json
  packages/input-select/CHANGELOG.md
  packages/input-select/package.json
  packages/input-text/CHANGELOG.md
  packages/input-text/package.json
  packages/search-field/CHANGELOG.md
  packages/search-field/package.json
  packages/table/CHANGELOG.md
  packages/table/package.json
Due: none

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/static/preview.0ade57ef719b4d91b644.bundle.js
  docs/static/preview.61f783cc4e63ee35bcfd.bundle.js
Due: eslint-app

feat(Checkbox): remove default tooltip for disabled state
  packages/input-checkbox/README.md
  packages/input-checkbox/src/Checkbox.js
  packages/input-checkbox/src/Checkbox.story.js
  packages/input-checkbox/src/styledComponents/Checkbox.js
Due: eslint-app

feat(Radio): remove default tooltip for disabled state
  packages/input-radio/src/Radio.js
  packages/input-radio/src/styledComponents/Label.js
Due: eslint-app

feat(Input text): remove default tooltip for disabled state
  packages/input-text/README.md
  packages/input-text/src/TextInput.js
  packages/input-text/src/TextInput.story.js
Due: eslint-app

test(Storyshots): update
  packages/amount-selectors/src/components/__snapshots__/AmountSelectors.story.storyshot
  packages/button/src/__snapshots__/Button.story.storyshot
  packages/card/src/__snapshots__/Card.story.storyshot
  packages/footer/src/components/__snapshots__/Footer.story.storyshot
  packages/hoc-input/src/__snapshots__/formInput.story.storyshot
  packages/input-checkbox/src/__snapshots__/Checkbox.story.storyshot
  packages/input-radio/src/__snapshots__/Radio.story.storyshot
  packages/input-radio/src/__snapshots__/RadioGroup.story.storyshot
  packages/input-select/src/__snapshots__/Select.story.storyshot
  packages/input-text/src/__snapshots__/TextInput.story.storyshot
  packages/link/src/components/__snapshots__/Link.Neutral.story.storyshot
  packages/link/src/components/__snapshots__/Link.Normal.story.storyshot
  packages/link/src/components/__snapshots__/Link.story.storyshot
  packages/popover/src/__snapshots__/Popover.story.storyshot
  packages/search-field/src/__snapshots__/SearchField.story.storyshot
  packages/search-field/src/components/__snapshots__/Menu.story.storyshot
  packages/table/src/__snapshots__/Table.story.storyshot
Due: none

feat(Button): show disabled tooltip only if a tooltipText is explicitly passed
  packages/button/src/Button.js
  packages/button/src/Button.story.js
Due: eslint-app

feat(Link): remove default tooltip for disabled state
  packages/link/README.md
  packages/link/src/components/Link.Neutral.story.js
  packages/link/src/components/Link.Normal.story.js
  packages/link/src/components/Link.js
  packages/link/src/components/Link.story.js
Due: eslint-app

feat(Select): remove default tooltip for disabled state
  packages/input-select/src/Select.js
Due: eslint-app

fix(Input hoc): fix mouse cursor when component is disabled
  packages/hoc-input/src/formInput.story.js
  packages/hoc-input/src/styledComponents/Wrapper.js
Due: eslint-app

chore(release): [ci skip] publish
  packages/alert/CHANGELOG.md
  packages/alert/package.json
  packages/amount-selectors/CHANGELOG.md
  packages/amount-selectors/package.json
  packages/button/CHANGELOG.md
  packages/button/package.json
  packages/card/CHANGELOG.md
  packages/card/package.json
  packages/dropdown/CHANGELOG.md
  packages/dropdown/package.json
  packages/empty-state/CHANGELOG.md
  packages/empty-state/package.json
  packages/footer/CHANGELOG.md
  packages/footer/package.json
  packages/hoc-input/CHANGELOG.md
  packages/hoc-input/package.json
  packages/input-checkbox/CHANGELOG.md
  packages/input-checkbox/package.json
  packages/input-radio/CHANGELOG.md
  packages/input-radio/package.json
  packages/input-select/CHANGELOG.md
  packages/input-select/package.json
  packages/input-text/CHANGELOG.md
  packages/input-text/package.json
  packages/link/CHANGELOG.md
  packages/link/package.json
  packages/map-balloon/CHANGELOG.md
  packages/map-balloon/package.json
  packages/popover/CHANGELOG.md
  packages/popover/package.json
  packages/search-field/CHANGELOG.md
  packages/search-field/package.json
  packages/table/CHANGELOG.md
  packages/table/package.json
Due: none

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/index.html
  docs/static/manager.364769278db432d0fdf9.bundle.js
  docs/static/manager.a73e570c76e01a2a3393.bundle.js
  docs/static/preview.0ade57ef719b4d91b644.bundle.js
  docs/static/preview.4167fcbd14a7eb58d864.bundle.js
Due: eslint-app

feat(Table): added onRowClick property
  packages/table/src/Table.js
  packages/table/src/Table.story.js
  packages/table/src/styledComponents/Table.js
Due: eslint-app

refactor(Table): expandedRows now store rowKey instead of index
  packages/table/src/Table.js
Due: eslint-app

feat(Checkbox): add innerRef property
  packages/input-checkbox/src/Checkbox.js
Due: eslint-app

feat(Table): expand/collapse rows on line click when onRowClick is present
  packages/table/src/Table.js
Due: eslint-app

test(Table): tests for onRowClick function
  packages/table/src/Table.test.js
Due: eslint-test

docs(Table): add onRowClick
  packages/table/README.md
Due: none

refactor(Table): stop click propagation on collapse/expand button
  packages/table/src/Table.js
Due: eslint-app

docs(Checkbox): add innerRef
  packages/input-checkbox/README.md
Due: none

fix(Table): check if checkbox ref is present before calling contains
  packages/table/src/Table.js
Due: eslint-app

test(storyshots): update
  packages/table/src/__snapshots__/Table.story.storyshot
Due: none

chore(Table): updated checkbox component
  packages/input-checkbox/package.json
Due: none

chore(release): [ci skip] publish
  packages/input-checkbox/CHANGELOG.md
  packages/input-checkbox/package.json
  packages/table/CHANGELOG.md
  packages/table/package.json
Due: none

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/static/preview.01b68f8c8236fc393398.bundle.js
  docs/static/preview.4167fcbd14a7eb58d864.bundle.js
Due: eslint-app

fix(Select): fix shouldItemRender function to handle nullable search terms
  packages/input-select/src/Select.js
  packages/input-select/src/Select.test.js
Due: eslint-app, eslint-test

chore(release): [ci skip] publish
  packages/input-select/CHANGELOG.md
  packages/input-select/package.json
  packages/search-field/CHANGELOG.md
  packages/search-field/package.json
Due: none

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/static/preview.01b68f8c8236fc393398.bundle.js
  docs/static/preview.199e333756ab1b2449c4.bundle.js
Due: eslint-app

docs(link): remove broken links for Design Specs
  packages/link/README.md
Due: none

docs(link): add example of custom link color
  packages/link/README.md
  packages/link/src/components/Link.js
  packages/link/src/components/Link.story.js
Due: eslint-app

chore(storyshots): update
  packages/link/src/components/__snapshots__/Link.story.storyshot
Due: none

chore(release): [ci skip] publish
  packages/amount-selectors/CHANGELOG.md
  packages/amount-selectors/package.json
  packages/footer/CHANGELOG.md
  packages/footer/package.json
  packages/hoc-input/CHANGELOG.md
  packages/hoc-input/package.json
  packages/input-select/CHANGELOG.md
  packages/input-select/package.json
  packages/input-text/CHANGELOG.md
  packages/input-text/package.json
  packages/link/CHANGELOG.md
  packages/link/package.json
  packages/popover/CHANGELOG.md
  packages/popover/package.json
  packages/search-field/CHANGELOG.md
  packages/search-field/package.json
  packages/table/CHANGELOG.md
  packages/table/package.json
Due: none

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/index.html
  docs/static/manager.76e1a3d4fb7be81a9e41.bundle.js
  docs/static/manager.a73e570c76e01a2a3393.bundle.js
  docs/static/preview.199e333756ab1b2449c4.bundle.js
  docs/static/preview.ee0fd70ddb6f228e40c4.bundle.js
Due: eslint-app
