Repository CraveFood/farmblocks: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint-app, eslint-test

eslint-app:
  name: eslint-app
  entry: ./node_modules/eslint/bin/eslint.js
  args:
  - --config=.eslintrc.js
  - --ignore-path=.eslintignore
  language: system

eslint-test:
  name: eslint-test
  entry: ./node_modules/eslint/bin/eslint.js
  args:
  - --config=.test.eslintrc.js
  - --ignore-path=.test.eslintignore
  language: system

chore: remove greenkeeper
  .travis.yml
  README.md
Due: none

fix(Tooltip): consider the top boundary before autopositioning the tooltip on the top
  packages/tooltip/src/Tooltip.story.js
  packages/tooltip/src/TooltipContent.js
  packages/tooltip/src/useAutoAlign.js
  packages/tooltip/src/useAutoAlign.test.js
Due: eslint-app, eslint-test

test(storyshots): update
  __snapshots__/Storyshots.test.js.snap
  packages/card/src/__snapshots__/Card.story.storyshot
  packages/hoc-input/src/__snapshots__/formInput.story.storyshot
  packages/input-select/src/__snapshots__/Select.story.storyshot
  packages/more-info/src/components/__snapshots__/MoreInfo.story.storyshot
  packages/tooltip/src/__snapshots__/Tooltip.story.storyshot
  packages/tooltip/src/__snapshots__/TooltipContent.story.storyshot
Due: none

chore(release): [ci skip] publish
  packages/amount-selectors/CHANGELOG.md
  packages/amount-selectors/package.json
  packages/card/CHANGELOG.md
  packages/card/package.json
  packages/filter-popover/CHANGELOG.md
  packages/filter-popover/package.json
  packages/form-wrapper/CHANGELOG.md
  packages/form-wrapper/package.json
  packages/hoc-input/CHANGELOG.md
  packages/hoc-input/package.json
  packages/input-currency/CHANGELOG.md
  packages/input-currency/package.json
  packages/input-select/CHANGELOG.md
  packages/input-select/package.json
  packages/input-text/CHANGELOG.md
  packages/input-text/package.json
  packages/label/CHANGELOG.md
  packages/label/package.json
  packages/map-balloon/CHANGELOG.md
  packages/map-balloon/package.json
  packages/modal/CHANGELOG.md
  packages/modal/package.json
  packages/more-info/CHANGELOG.md
  packages/more-info/package.json
  packages/popover/CHANGELOG.md
  packages/popover/package.json
  packages/search-field/CHANGELOG.md
  packages/search-field/package.json
  packages/tooltip/CHANGELOG.md
  packages/tooltip/package.json
Due: none

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/main.6c970de0a3403d3e601c.bundle.js
  docs/main.6c970de0a3403d3e601c.bundle.js.map
  docs/main.b8b848183cff7b327229.bundle.js
  docs/main.b8b848183cff7b327229.bundle.js.map
  docs/runtime~main.6c970de0a3403d3e601c.bundle.js
  docs/runtime~main.6c970de0a3403d3e601c.bundle.js.map
  docs/runtime~main.b8b848183cff7b327229.bundle.js.map
  docs/vendors~main.6c970de0a3403d3e601c.bundle.js
  docs/vendors~main.6c970de0a3403d3e601c.bundle.js.map
  docs/vendors~main.b8b848183cff7b327229.bundle.js
  docs/vendors~main.b8b848183cff7b327229.bundle.js.map
Due: eslint-app

feat(withImage): Use different classes for selected or option images
  packages/input-select/src/components/withImage.js
Due: eslint-app

fix(storybook): Fix imgSrc removing params
  packages/input-select/src/Select.story.js
Due: eslint-app

tests(Storyshots): Update storyshots
  packages/input-select/src/__snapshots__/Select.story.storyshot
  packages/input-select/src/components/__snapshots__/withImage.story.storyshot
Due: none

chore(release): [ci skip] publish
  packages/input-select/CHANGELOG.md
  packages/input-select/package.json
  packages/search-field/CHANGELOG.md
  packages/search-field/package.json
Due: none

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/main.6c970de0a3403d3e601c.bundle.js
  docs/main.6c970de0a3403d3e601c.bundle.js.map
  docs/main.dee2858c4c1ddd9eb532.bundle.js
  docs/main.dee2858c4c1ddd9eb532.bundle.js.map
  docs/runtime~main.6c970de0a3403d3e601c.bundle.js.map
  docs/runtime~main.dee2858c4c1ddd9eb532.bundle.js
  docs/runtime~main.dee2858c4c1ddd9eb532.bundle.js.map
  docs/vendors~main.6c970de0a3403d3e601c.bundle.js.map
  docs/vendors~main.dee2858c4c1ddd9eb532.bundle.js
  docs/vendors~main.dee2858c4c1ddd9eb532.bundle.js.map
Due: eslint-app

chore(amount-selectors): add react-spring and @crave/farmblocks-tooltip as dependencies
  packages/amount-selectors/package.json
Due: none

test(storyshot): update
  packages/amount-selectors/src/components/__snapshots__/AmountSelectors.story.storyshot
Due: none

feat(AmountSelectors): add tooltip when user types a value above the maximum amount allowed
  packages/amount-selectors/README.md
  packages/amount-selectors/src/components/AmountSelectors.js
  packages/amount-selectors/src/components/AmountSelectors.story.js
  packages/amount-selectors/src/components/AmountSelectors.test.js
Due: eslint-app, eslint-test

chore(release): [ci skip] publish
  packages/amount-selectors/CHANGELOG.md
  packages/amount-selectors/package.json
Due: none

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/main.dee2858c4c1ddd9eb532.bundle.js
  docs/main.dee2858c4c1ddd9eb532.bundle.js.map
  docs/main.ea1681f2579ecacb8b65.bundle.js
  docs/main.ea1681f2579ecacb8b65.bundle.js.map
  docs/runtime~main.dee2858c4c1ddd9eb532.bundle.js.map
  docs/runtime~main.ea1681f2579ecacb8b65.bundle.js
  docs/runtime~main.ea1681f2579ecacb8b65.bundle.js.map
  docs/vendors~main.dee2858c4c1ddd9eb532.bundle.js
  docs/vendors~main.dee2858c4c1ddd9eb532.bundle.js.map
  docs/vendors~main.ea1681f2579ecacb8b65.bundle.js
  docs/vendors~main.ea1681f2579ecacb8b65.bundle.js.map
Due: eslint-app

fix(Image): remove orverflow hidden from default image styles
  packages/image/src/styledComponents/Image.js
Due: eslint-app

chore(stories): Update storyshots
  packages/card/src/__snapshots__/Card.story.storyshot
  packages/carousel/src/__snapshots__/Carousel.story.storyshot
  packages/empty-state/src/__snapshots__/EmptyState.story.storyshot
  packages/footer/src/components/__snapshots__/Footer.story.storyshot
  packages/hoc-validation-messages/src/__snapshots__/withMessages.story.storyshot
  packages/image/src/__snapshots__/Image.story.storyshot
  packages/input-currency/src/__snapshots__/CurrencyInput.story.storyshot
  packages/input-select/src/__snapshots__/Select.story.storyshot
  packages/input-select/src/components/__snapshots__/EmptyCard.story.storyshot
  packages/input-select/src/components/__snapshots__/Item.story.storyshot
  packages/input-select/src/components/__snapshots__/withImage.story.storyshot
  packages/input-text/src/__snapshots__/TextAreaInput.story.storyshot
  packages/input-text/src/__snapshots__/TextInput.story.storyshot
  packages/map-balloon/src/__snapshots__/MapBalloon.story.storyshot
  packages/modal/src/__snapshots__/DialogModal.story.storyshot
  packages/search-field/src/__snapshots__/SearchField.story.storyshot
  packages/search-field/src/components/__snapshots__/Menu.story.storyshot
  packages/table/src/__snapshots__/Table.story.storyshot
Due: none

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/main.c35a793b7dc6c6dc0853.bundle.js
  docs/main.c35a793b7dc6c6dc0853.bundle.js.map
  docs/main.ea1681f2579ecacb8b65.bundle.js
  docs/main.ea1681f2579ecacb8b65.bundle.js.map
  docs/runtime~main.c35a793b7dc6c6dc0853.bundle.js
  docs/runtime~main.c35a793b7dc6c6dc0853.bundle.js.map
  docs/runtime~main.ea1681f2579ecacb8b65.bundle.js.map
  docs/vendors~main.c35a793b7dc6c6dc0853.bundle.js
  docs/vendors~main.c35a793b7dc6c6dc0853.bundle.js.map
  docs/vendors~main.ea1681f2579ecacb8b65.bundle.js.map
Due: eslint-app

fix(Modal): add trail option on react-spring animations to dismiss the memory leak warning
  packages/modal/src/Modal.js
Due: eslint-app

chore(release): [ci skip] publish
  packages/modal/CHANGELOG.md
  packages/modal/package.json
Due: none

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/main.638420e00105813de7a8.bundle.js
  docs/main.638420e00105813de7a8.bundle.js.map
  docs/main.c35a793b7dc6c6dc0853.bundle.js
  docs/main.c35a793b7dc6c6dc0853.bundle.js.map
  docs/runtime~main.638420e00105813de7a8.bundle.js
  docs/runtime~main.638420e00105813de7a8.bundle.js.map
  docs/runtime~main.c35a793b7dc6c6dc0853.bundle.js.map
  docs/vendors~main.638420e00105813de7a8.bundle.js
  docs/vendors~main.638420e00105813de7a8.bundle.js.map
  docs/vendors~main.c35a793b7dc6c6dc0853.bundle.js.map
Due: eslint-app

feat(FormWrapper): allow save button props customization
  packages/form-wrapper/src/FormWrapper.story.js
Due: eslint-app

feat(FormWrapper): Add story for save button prop customization
  packages/form-wrapper/src/FormWrapper.js
Due: eslint-app

chore(AUTHORS): Add me as an author
  packages/form-wrapper/AUTHORS
Due: none

chore(README): Add new prop to the docs
  packages/form-wrapper/README.md
Due: none

chore(storyshots): Update with the new story
  packages/form-wrapper/src/__snapshots__/FormWrapper.story.storyshot
Due: none

feat(FormWrapper): Decouple header and footer components
  packages/form-wrapper/src/FormWrapper.js
  packages/form-wrapper/src/FormWrapperFooter.js
  packages/form-wrapper/src/FormWrapperHeader.js
  packages/form-wrapper/src/index.js
Due: eslint-app

chore(release): [ci skip] publish
  packages/filter-popover/CHANGELOG.md
  packages/filter-popover/package.json
  packages/form-wrapper/CHANGELOG.md
  packages/form-wrapper/package.json
Due: none

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/main.638420e00105813de7a8.bundle.js
  docs/main.638420e00105813de7a8.bundle.js.map
  docs/main.6cbc64e479e2e53ac943.bundle.js
  docs/main.6cbc64e479e2e53ac943.bundle.js.map
  docs/runtime~main.638420e00105813de7a8.bundle.js.map
  docs/runtime~main.6cbc64e479e2e53ac943.bundle.js
  docs/runtime~main.6cbc64e479e2e53ac943.bundle.js.map
  docs/vendors~main.638420e00105813de7a8.bundle.js
  docs/vendors~main.638420e00105813de7a8.bundle.js.map
  docs/vendors~main.6cbc64e479e2e53ac943.bundle.js
  docs/vendors~main.6cbc64e479e2e53ac943.bundle.js.map
Due: eslint-app

feat(Table): add sticky header option
  packages/table/README.md
  packages/table/src/Table.js
  packages/table/src/Table.story.js
  packages/table/src/styledComponents/Table.js
Due: eslint-app

test(storyshots): update
  packages/table/src/__snapshots__/Table.story.storyshot
Due: none

feat(theme): add new grey scale
  packages/theme/src/colors.js
Due: eslint-app

feat(sidenav): bootstrap sidenav package
  packages/sidenav/AUTHORS
  packages/sidenav/LICENSE
  packages/sidenav/README.md
  packages/sidenav/package.json
Due: none

chore(deps): update storybook to use new format
  .storybook/config.js
  package.json
  yarn.lock
Due: eslint-app

feat(styled): create component styles
  packages/sidenav/src/SideNav.styled.js
Due: eslint-app

feat(sidenav): add navbutton helper comp
  packages/sidenav/src/NavButton.js
Due: eslint-app

feat(sidenav): add navitem component
  packages/sidenav/src/NavItem.js
Due: eslint-app

feat(sidenav): add sidenav main component
  packages/sidenav/src/SideNav.js
Due: eslint-app

chore(release): [ci skip] publish
  packages/table/CHANGELOG.md
  packages/table/package.json
Due: none

Path conditions:
  eslint-app: any of: ^(?!.*\.test).*\.js$
  eslint-test: any of: \.test\.js$
