Repository CraveFood/farmblocks: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint-app, eslint-test

.pre-commit-config.yaml:

fail_fast: true
repos:
-   repo: https://github.com/prettier/prettier
    sha: '1.7.0'
    hooks:
      - id: prettier

-   repo: local
    hooks:
      - id: eslint-app
        name: eslint-app
        entry: ./node_modules/eslint/bin/eslint.js
        args:
          - "--config=.eslintrc.js"
          - "--ignore-path=.eslintignore"
        language: system
        files: '^(?!.*\.test).*\.js$'

      - id: eslint-test
        name: eslint-test
        entry: ./node_modules/eslint/bin/eslint.js
        args:
          - "--config=.test.eslintrc.js"
          - "--ignore-path=.test.eslintignore"
        language: system
        files: '\.test\.js$'

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/static/preview.2eabaad9bc08ac562136.bundle.js
  docs/static/preview.a03c2d00b74abe00d588.bundle.js
  docs/whatsgood-iconfont.eot
  docs/whatsgood-iconfont.svg
  docs/whatsgood-iconfont.ttf
  docs/whatsgood-iconfont.woff
Due: eslint-app

refactor(More Info): remove function bindings and dead test code
  packages/more-info/src/components/MoreInfo.js
  packages/more-info/src/components/MoreInfo.test.js
Due: eslint-app, eslint-test

fix(More Info): adjust tooltip margin
  packages/more-info/src/styledComponents/StyledInfo.js
Due: eslint-app

test(Storyshots): update
  packages/input-select/src/__snapshots__/Select.story.storyshot
  packages/more-info/src/components/__snapshots__/MoreInfo.story.storyshot
Due: none

chore(release): [ci skip] publish
  packages/input-select/CHANGELOG.md
  packages/input-select/package.json
  packages/more-info/CHANGELOG.md
  packages/more-info/package.json
  packages/search-field/CHANGELOG.md
  packages/search-field/package.json
Due: none

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/static/preview.2eabaad9bc08ac562136.bundle.js
  docs/static/preview.bc652cf128a88e5e8971.bundle.js
Due: eslint-app

chore(package.json): update react to 16.6.3
  package.json
  packages/alert/package.json
  packages/amount-selectors/package.json
  packages/button/package.json
  packages/card/package.json
  packages/carousel/package.json
  packages/dropdown/package.json
  packages/empty-state/package.json
  packages/filter-popover/package.json
  packages/footer/package.json
  packages/form-wrapper/package.json
  packages/hoc-disabled-tooltip/package.json
  packages/hoc-input/package.json
  packages/hoc-validation-messages/package.json
  packages/hoc-withtooltip/package.json
  packages/image/package.json
  packages/input-checkbox/package.json
  packages/input-currency/package.json
  packages/input-radio/package.json
  packages/input-select/package.json
  packages/input-text/package.json
  packages/link/package.json
  packages/map-balloon/package.json
  packages/more-info/package.json
  packages/popover/package.json
  packages/scaffold/src/templates/package.js
  packages/search-field/package.json
  packages/stepper/package.json
  packages/table/package.json
  packages/tag/package.json
  packages/text/package.json
  packages/tooltip/package.json
  yarn.lock
Due: eslint-app

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/index.html
  docs/static/manager.39a3b8d3259cc13f4ea3.bundle.js
  docs/static/manager.732effe303ddd9448a35.bundle.js
  docs/static/preview.b6daa83b9da675bd830d.bundle.js
  docs/static/preview.bc652cf128a88e5e8971.bundle.js
Due: eslint-app

chore(input-currency): installed react-number-format and removed react-currency-input
  packages/input-currency/package.json
  yarn.lock
Due: none

feat(input-currency): use react-number-format as the auxiliary formatting lib
  packages/input-currency/README.md
  packages/input-currency/src/CurrencyInput.js
  packages/input-currency/src/CurrencyInput.story.js
Due: eslint-app

chore(snyk): removed ignored packages related to react-currency-input
  .snyk
  package.json
  yarn.lock
Due: none

test: removed fix for react-currency-input
  Storyshots.test.js
Due: eslint-test

test(storyshots): update
  packages/input-currency/src/__snapshots__/CurrencyInput.story.storyshot
Due: none

feat(CurrencyInput): set default allowNegative to false
  packages/input-currency/src/CurrencyInput.js
Due: eslint-app

chore(release): [ci skip] publish
  packages/input-currency/CHANGELOG.md
  packages/input-currency/package.json
Due: none

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/index.html
  docs/static/manager.732effe303ddd9448a35.bundle.js
  docs/static/manager.c8e775c9c7e0db4aeed2.bundle.js
  docs/static/preview.a7daea64cf80da44f3e0.bundle.js
  docs/static/preview.b6daa83b9da675bd830d.bundle.js
Due: eslint-app

test(Storyshots): update
  packages/alert/src/__snapshots__/Alert.story.storyshot
  packages/amount-selectors/src/components/__snapshots__/AmountSelectors.story.storyshot
  packages/button/src/__snapshots__/Button.story.storyshot
  packages/card/src/__snapshots__/Card.story.storyshot
  packages/dropdown/src/components/__snapshots__/Dropdown.story.storyshot
  packages/empty-state/src/__snapshots__/EmptyState.story.storyshot
  packages/filter-popover/src/__snapshots__/FilterPopover.story.storyshot
  packages/footer/src/components/__snapshots__/Footer.story.storyshot
  packages/form-wrapper/src/__snapshots__/FormWrapper.story.storyshot
  packages/more-info/src/components/__snapshots__/MoreInfo.story.storyshot
  packages/table/src/__snapshots__/Table.story.storyshot
Due: none

fix(Button): fix icon alignment
  packages/button/src/styledComponents/Button.js
Due: eslint-app

chore(release): [ci skip] publish
  packages/alert/CHANGELOG.md
  packages/alert/package.json
  packages/amount-selectors/CHANGELOG.md
  packages/amount-selectors/package.json
  packages/button/CHANGELOG.md
  packages/button/package.json
  packages/card/CHANGELOG.md
  packages/card/package.json
  packages/dropdown/CHANGELOG.md
  packages/dropdown/package.json
  packages/empty-state/CHANGELOG.md
  packages/empty-state/package.json
  packages/filter-popover/CHANGELOG.md
  packages/filter-popover/package.json
  packages/footer/CHANGELOG.md
  packages/footer/package.json
  packages/form-wrapper/CHANGELOG.md
  packages/form-wrapper/package.json
  packages/hoc-disabled-tooltip/CHANGELOG.md
  packages/hoc-disabled-tooltip/package.json
  packages/hoc-withtooltip/CHANGELOG.md
  packages/hoc-withtooltip/package.json
  packages/input-currency/CHANGELOG.md
  packages/input-currency/package.json
  packages/input-select/CHANGELOG.md
  packages/input-select/package.json
  packages/input-text/CHANGELOG.md
  packages/input-text/package.json
  packages/map-balloon/CHANGELOG.md
  packages/map-balloon/package.json
  packages/more-info/CHANGELOG.md
  packages/more-info/package.json
  packages/search-field/CHANGELOG.md
  packages/search-field/package.json
  packages/table/CHANGELOG.md
  packages/table/package.json
Due: none

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/static/preview.1868dd845ca61aee07c9.bundle.js
  docs/static/preview.a7daea64cf80da44f3e0.bundle.js
Due: eslint-app

feat(SearchField): return full selected item on onChange event
  packages/search-field/README.md
  packages/search-field/src/SearchField.js
  packages/search-field/src/SearchField.test.js
Due: eslint-app, eslint-test

feat(SearchField): receive objects key names as properties
  packages/search-field/README.md
  packages/search-field/src/SearchField.js
  packages/search-field/src/SearchField.story.js
  packages/search-field/src/components/Menu.js
  packages/search-field/src/components/Menu.story.js
Due: eslint-app

test(storyshots): update
  packages/search-field/src/__snapshots__/SearchField.story.storyshot
  packages/search-field/src/components/__snapshots__/Menu.story.storyshot
Due: none

chore(release): [ci skip] publish
  packages/search-field/CHANGELOG.md
  packages/search-field/package.json
Due: none

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/static/preview.1868dd845ca61aee07c9.bundle.js
  docs/static/preview.dfca808893beb40d6d15.bundle.js
Due: eslint-app

chore(package): update lockfile
  yarn.lock
Due: none

feat(Card): changed default behavior of overflow property to "visible"
  packages/card/README.md
  packages/card/src/Card.js
  packages/card/src/Card.story.js
Due: eslint-app

test(storyshots): update
  packages/card/src/__snapshots__/Card.story.storyshot
  packages/input-select/src/components/__snapshots__/EmptyCard.story.storyshot
  packages/map-balloon/src/__snapshots__/MapBalloon.story.storyshot
  packages/more-info/src/components/__snapshots__/MoreInfo.story.storyshot
  packages/tooltip/src/__snapshots__/Tooltip.story.storyshot
Due: none

chore(yarn.lock): update
  yarn.lock
Due: none

chore(release): [ci skip] publish
  packages/alert/CHANGELOG.md
  packages/alert/package.json
  packages/amount-selectors/CHANGELOG.md
  packages/amount-selectors/package.json
  packages/button/CHANGELOG.md
  packages/button/package.json
  packages/card/CHANGELOG.md
  packages/card/package.json
  packages/dropdown/CHANGELOG.md
  packages/dropdown/package.json
  packages/empty-state/CHANGELOG.md
  packages/empty-state/package.json
  packages/filter-popover/CHANGELOG.md
  packages/filter-popover/package.json
  packages/footer/CHANGELOG.md
  packages/footer/package.json
  packages/form-wrapper/CHANGELOG.md
  packages/form-wrapper/package.json
  packages/hoc-disabled-tooltip/CHANGELOG.md
  packages/hoc-disabled-tooltip/package.json
  packages/hoc-withtooltip/CHANGELOG.md
  packages/hoc-withtooltip/package.json
  packages/input-currency/CHANGELOG.md
  packages/input-currency/package.json
  packages/input-select/CHANGELOG.md
  packages/input-select/package.json
  packages/input-text/CHANGELOG.md
  packages/input-text/package.json
  packages/map-balloon/CHANGELOG.md
  packages/map-balloon/package.json
  packages/more-info/CHANGELOG.md
  packages/more-info/package.json
  packages/popover/CHANGELOG.md
  packages/popover/package.json
  packages/search-field/CHANGELOG.md
  packages/search-field/package.json
  packages/table/CHANGELOG.md
  packages/table/package.json
  packages/tooltip/CHANGELOG.md
  packages/tooltip/package.json
Due: none

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/index.html
  docs/static/manager.c8e775c9c7e0db4aeed2.bundle.js
  docs/static/manager.f12184d3f3c1b2e5a8c1.bundle.js
  docs/static/preview.503ccd2317cb029b42f7.bundle.js
  docs/static/preview.dfca808893beb40d6d15.bundle.js
Due: eslint-app

feat(Text): add light property
  packages/text/src/components/Text.js
  packages/text/src/components/Text.story.js
  packages/text/src/styledComponents/Text.js
Due: eslint-app

test(storyshots): update
  packages/form-wrapper/src/__snapshots__/FormWrapper.story.storyshot
  packages/hoc-input/src/__snapshots__/formInput.story.storyshot
  packages/input-select/src/__snapshots__/Select.story.storyshot
  packages/input-text/src/__snapshots__/TextAreaInput.story.storyshot
  packages/input-text/src/__snapshots__/TextInput.story.storyshot
  packages/search-field/src/__snapshots__/SearchField.story.storyshot
  packages/text/src/components/__snapshots__/Text.story.storyshot
Due: none

Update packages/text/src/components/Text.js
  packages/text/src/components/Text.js
Due: eslint-app

fix(Text): accept any string on type property
  packages/text/package.json
  packages/text/src/components/Text.js
Due: eslint-app

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/index.html
  docs/static/manager.500537a1300f5dea6235.bundle.js
  docs/static/manager.f12184d3f3c1b2e5a8c1.bundle.js
  docs/static/preview.18d4353b851a2adc3f9d.bundle.js
  docs/static/preview.503ccd2317cb029b42f7.bundle.js
Due: eslint-app

feat(formInput): use farmblocks-label component
  packages/hoc-input/package.json
  packages/hoc-input/src/formInput.js
  packages/hoc-input/src/styledComponents/Wrapper.js
Due: eslint-app
