Repository CraveFood/farmblocks: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint-app, eslint-test

.pre-commit-config.yaml:

fail_fast: true
repos:
-   repo: https://github.com/prettier/prettier
    sha: '1.7.0'
    hooks:
      - id: prettier

-   repo: local
    hooks:
      - id: eslint-app
        name: eslint-app
        entry: ./node_modules/eslint/bin/eslint.js
        args:
          - "--config=.eslintrc.js"
          - "--ignore-path=.eslintignore"
        language: system
        files: '^(?!.*\.test).*\.js$'

      - id: eslint-test
        name: eslint-test
        entry: ./node_modules/eslint/bin/eslint.js
        args:
          - "--config=.test.eslintrc.js"
          - "--ignore-path=.test.eslintignore"
        language: system
        files: '\.test\.js$'

feat(MoreInfo): receive tooltipProps and pass it to Tooltip
  packages/more-info/README.md
  packages/more-info/package.json
  packages/more-info/src/components/MoreInfo.js
  packages/more-info/src/components/MoreInfo.story.js
  packages/more-info/src/components/MoreInfo.test.js
  packages/more-info/src/styledComponents/StyledInfo.js
Due: eslint-app, eslint-test

test(Tooltip): rewrite tests after refactor
  packages/tooltip/src/Tooltip.test.js
  packages/tooltip/src/useAutoAlign.test.js
Due: eslint-test

test(Card): change stories with overflowing content
  packages/card/package.json
  packages/card/src/Card.story.js
Due: eslint-app

refactor(Tooltip): convert class component into function
  packages/tooltip/src/Tooltip.js
  packages/tooltip/src/useAutoAlign.js
Due: eslint-app

feat(formInput): receive moreInfoTooltipProps and pass it to MoreInfo
  packages/hoc-input/package.json
  packages/hoc-input/src/formInput.js
  packages/hoc-input/src/formInput.story.js
Due: eslint-app

feat(Tooltip): transform component into a functional Tooltip
  packages/tooltip/package.json
  packages/tooltip/src/Tooltip.js
  packages/tooltip/src/Tooltip.story.js
  packages/tooltip/src/Tooltip.test.js
  packages/tooltip/src/TooltipContent.js
  packages/tooltip/src/TooltipContent.story.js
  packages/tooltip/src/TooltipContent.styled.js
  packages/tooltip/src/index.js
Due: eslint-app, eslint-test

feat(Tooltip): rename align and position props to positionX and positionY
  packages/tooltip/README.md
  packages/tooltip/src/Tooltip.js
  packages/tooltip/src/Tooltip.story.js
  packages/tooltip/src/constants/alignments.js
  packages/tooltip/src/constants/positions.js
  packages/tooltip/src/index.js
  packages/tooltip/src/styledComponents/Tooltip.js
  packages/tooltip/src/useAutoAlign.js
  packages/tooltip/src/useAutoAlign.test.js
Due: eslint-app, eslint-test

refactor(hoc-withtooltip): remove component
  packages/hoc-withtooltip/AUTHORS
  packages/hoc-withtooltip/CHANGELOG.md
  packages/hoc-withtooltip/LICENSE
  packages/hoc-withtooltip/README.md
  packages/hoc-withtooltip/package.json
  packages/hoc-withtooltip/src/__snapshots__/withTooltip.story.storyshot
  packages/hoc-withtooltip/src/index.js
  packages/hoc-withtooltip/src/withTooltip.js
  packages/hoc-withtooltip/src/withTooltip.story.js
  packages/hoc-withtooltip/src/withTooltip.test.js
Due: eslint-app, eslint-test

refactor(MoreInfo): replace hoc-withtooltip with Tooltip
  packages/more-info/package.json
  packages/more-info/src/components/MoreInfo.js
  packages/more-info/src/components/MoreInfo.story.js
  packages/more-info/src/components/MoreInfo.test.js
Due: eslint-app, eslint-test

refactor(Popover): use TooltipContent instead of Tooltip and add animation
  packages/popover/package.json
  packages/popover/src/Popover.js
  packages/popover/src/Popover.story.js
Due: eslint-app

feat(FilterPopover): receive tooltipProps and pass it to Popover
  packages/filter-popover/README.md
  packages/filter-popover/src/FilterPopover.js
  packages/filter-popover/src/FilterPopover.story.js
  packages/filter-popover/src/FilterPopover.test.js
Due: eslint-app, eslint-test

test(storyshots): update
  __snapshots__/Storyshots.test.js.snap
  packages/alert/src/__snapshots__/Alert.story.storyshot
  packages/amount-selectors/src/components/__snapshots__/AmountSelectors.story.storyshot
  packages/button/src/__snapshots__/Button.story.storyshot
  packages/card/src/__snapshots__/Card.story.storyshot
  packages/dropdown/src/components/__snapshots__/Dropdown.story.storyshot
  packages/empty-state/src/__snapshots__/EmptyState.story.storyshot
  packages/filter-popover/src/__snapshots__/FilterPopover.story.storyshot
  packages/footer/src/components/__snapshots__/Footer.story.storyshot
  packages/form-wrapper/src/__snapshots__/FormWrapper.story.storyshot
  packages/hoc-input/src/__snapshots__/formInput.story.storyshot
  packages/input-select/src/__snapshots__/Select.story.storyshot
  packages/modal/src/__snapshots__/DialogModal.story.storyshot
  packages/modal/src/__snapshots__/Modal.story.storyshot
  packages/modal/src/__snapshots__/helpers.story.storyshot
  packages/more-info/src/components/__snapshots__/MoreInfo.story.storyshot
  packages/popover/src/__snapshots__/Popover.story.storyshot
  packages/table/src/__snapshots__/Table.story.storyshot
  packages/tag/src/components/__snapshots__/Tag.story.storyshot
  packages/tooltip/src/__snapshots__/Tooltip.story.storyshot
  packages/tooltip/src/__snapshots__/TooltipContent.story.storyshot
Due: none

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/main.46fe43c7e6022082f959.bundle.js
  docs/main.46fe43c7e6022082f959.bundle.js.map
  docs/main.c4b9b0d46905a3687cc1.bundle.js
  docs/main.c4b9b0d46905a3687cc1.bundle.js.map
  docs/runtime~main.46fe43c7e6022082f959.bundle.js.map
  docs/runtime~main.c4b9b0d46905a3687cc1.bundle.js
  docs/runtime~main.c4b9b0d46905a3687cc1.bundle.js.map
  docs/vendors~main.46fe43c7e6022082f959.bundle.js
  docs/vendors~main.46fe43c7e6022082f959.bundle.js.map
  docs/vendors~main.c4b9b0d46905a3687cc1.bundle.js
  docs/vendors~main.c4b9b0d46905a3687cc1.bundle.js.map
Due: eslint-app

chore(yarn.lock): update
  yarn.lock
Due: none

chore(release): [ci skip] publish
  packages/table/CHANGELOG.md
  packages/table/package.json
Due: none

fix(empty-state): buttons alignment
  packages/empty-state/src/styledComponents/Container.js
Due: eslint-app

fix(Modal): close button padding
  packages/modal/src/Modal.styled.js
Due: eslint-app

test(storyshots): update
  packages/card/src/__snapshots__/Card.story.storyshot
  packages/empty-state/src/__snapshots__/EmptyState.story.storyshot
  packages/modal/src/__snapshots__/DialogModal.story.storyshot
  packages/modal/src/__snapshots__/Modal.story.storyshot
  packages/modal/src/__snapshots__/helpers.story.storyshot
Due: none

chore(release): [ci skip] publish
  packages/amount-selectors/CHANGELOG.md
  packages/amount-selectors/package.json
  packages/card/CHANGELOG.md
  packages/card/package.json
  packages/empty-state/CHANGELOG.md
  packages/empty-state/package.json
  packages/filter-popover/CHANGELOG.md
  packages/filter-popover/package.json
  packages/form-wrapper/CHANGELOG.md
  packages/form-wrapper/package.json
  packages/hoc-input/CHANGELOG.md
  packages/hoc-input/package.json
  packages/input-currency/CHANGELOG.md
  packages/input-currency/package.json
  packages/input-select/CHANGELOG.md
  packages/input-select/package.json
  packages/input-text/CHANGELOG.md
  packages/input-text/package.json
  packages/label/CHANGELOG.md
  packages/label/package.json
  packages/map-balloon/CHANGELOG.md
  packages/map-balloon/package.json
  packages/modal/CHANGELOG.md
  packages/modal/package.json
  packages/more-info/CHANGELOG.md
  packages/more-info/package.json
  packages/popover/CHANGELOG.md
  packages/popover/package.json
  packages/search-field/CHANGELOG.md
  packages/search-field/package.json
  packages/tooltip/CHANGELOG.md
  packages/tooltip/package.json
Due: none

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/main.1a66c62be6eda8d280ff.bundle.js
  docs/main.1a66c62be6eda8d280ff.bundle.js.map
  docs/main.c4b9b0d46905a3687cc1.bundle.js
  docs/main.c4b9b0d46905a3687cc1.bundle.js.map
  docs/runtime~main.1a66c62be6eda8d280ff.bundle.js
  docs/runtime~main.1a66c62be6eda8d280ff.bundle.js.map
  docs/runtime~main.c4b9b0d46905a3687cc1.bundle.js.map
  docs/vendors~main.1a66c62be6eda8d280ff.bundle.js
  docs/vendors~main.1a66c62be6eda8d280ff.bundle.js.map
  docs/vendors~main.c4b9b0d46905a3687cc1.bundle.js.map
Due: eslint-app

fix(input-text): alignment of protect input buttons
  packages/input-text/src/protectedValue.js
Due: eslint-app

chore(.nvmrc): add file
  .nvmrc
Due: none

test(storyshot): update
  packages/amount-selectors/src/components/__snapshots__/AmountSelectors.story.storyshot
  packages/form-wrapper/src/__snapshots__/FormWrapper.story.storyshot
  packages/input-currency/src/__snapshots__/CurrencyInput.story.storyshot
  packages/input-text/src/__snapshots__/TextInput.story.storyshot
  packages/search-field/src/__snapshots__/SearchField.story.storyshot
Due: none

chore(release): [ci skip] publish
  packages/amount-selectors/CHANGELOG.md
  packages/amount-selectors/package.json
  packages/filter-popover/CHANGELOG.md
  packages/filter-popover/package.json
  packages/form-wrapper/CHANGELOG.md
  packages/form-wrapper/package.json
  packages/input-currency/CHANGELOG.md
  packages/input-currency/package.json
  packages/input-text/CHANGELOG.md
  packages/input-text/package.json
  packages/search-field/CHANGELOG.md
  packages/search-field/package.json
Due: none

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/main.1a66c62be6eda8d280ff.bundle.js
  docs/main.1a66c62be6eda8d280ff.bundle.js.map
  docs/main.c556d1bc2f1114fe59cb.bundle.js
  docs/main.c556d1bc2f1114fe59cb.bundle.js.map
  docs/runtime~main.1a66c62be6eda8d280ff.bundle.js.map
  docs/runtime~main.c556d1bc2f1114fe59cb.bundle.js
  docs/runtime~main.c556d1bc2f1114fe59cb.bundle.js.map
  docs/vendors~main.1a66c62be6eda8d280ff.bundle.js.map
  docs/vendors~main.c556d1bc2f1114fe59cb.bundle.js
  docs/vendors~main.c556d1bc2f1114fe59cb.bundle.js.map
Due: eslint-app

feat(Tooltip): consider the tooltip height on Y axis auto positioning
  packages/tooltip/src/Tooltip.story.js
  packages/tooltip/src/TooltipContent.story.js
  packages/tooltip/src/useAutoAlign.js
  packages/tooltip/src/useAutoAlign.test.js
Due: eslint-app, eslint-test

test(storyshot): update
  packages/tooltip/src/__snapshots__/Tooltip.story.storyshot
  packages/tooltip/src/__snapshots__/TooltipContent.story.storyshot
Due: none

chore(release): [ci skip] publish
  packages/amount-selectors/CHANGELOG.md
  packages/amount-selectors/package.json
  packages/card/CHANGELOG.md
  packages/card/package.json
  packages/filter-popover/CHANGELOG.md
  packages/filter-popover/package.json
  packages/form-wrapper/CHANGELOG.md
  packages/form-wrapper/package.json
  packages/hoc-input/CHANGELOG.md
  packages/hoc-input/package.json
  packages/input-currency/CHANGELOG.md
  packages/input-currency/package.json
  packages/input-select/CHANGELOG.md
  packages/input-select/package.json
  packages/input-text/CHANGELOG.md
  packages/input-text/package.json
  packages/label/CHANGELOG.md
  packages/label/package.json
  packages/more-info/CHANGELOG.md
  packages/more-info/package.json
  packages/popover/CHANGELOG.md
  packages/popover/package.json
  packages/search-field/CHANGELOG.md
  packages/search-field/package.json
  packages/tooltip/CHANGELOG.md
  packages/tooltip/package.json
Due: none

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/main.034327a1bfa25b5de63e.bundle.js
  docs/main.034327a1bfa25b5de63e.bundle.js.map
  docs/main.c556d1bc2f1114fe59cb.bundle.js
  docs/main.c556d1bc2f1114fe59cb.bundle.js.map
  docs/runtime~main.034327a1bfa25b5de63e.bundle.js
  docs/runtime~main.034327a1bfa25b5de63e.bundle.js.map
  docs/runtime~main.c556d1bc2f1114fe59cb.bundle.js.map
  docs/vendors~main.034327a1bfa25b5de63e.bundle.js
  docs/vendors~main.034327a1bfa25b5de63e.bundle.js.map
  docs/vendors~main.c556d1bc2f1114fe59cb.bundle.js
  docs/vendors~main.c556d1bc2f1114fe59cb.bundle.js.map
Due: eslint-app

fix(tooltip): fix z-index style, applying it to the container
  packages/tooltip/src/TooltipContent.styled.js
Due: eslint-app

fix(tooltip): update storyshots
  packages/tooltip/src/__snapshots__/TooltipContent.story.storyshot
Due: none

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/main.034327a1bfa25b5de63e.bundle.js
  docs/main.034327a1bfa25b5de63e.bundle.js.map
  docs/main.390b751e5dff86d25efb.bundle.js
  docs/main.390b751e5dff86d25efb.bundle.js.map
  docs/runtime~main.034327a1bfa25b5de63e.bundle.js.map
  docs/runtime~main.390b751e5dff86d25efb.bundle.js
  docs/runtime~main.390b751e5dff86d25efb.bundle.js.map
  docs/vendors~main.034327a1bfa25b5de63e.bundle.js.map
  docs/vendors~main.390b751e5dff86d25efb.bundle.js
  docs/vendors~main.390b751e5dff86d25efb.bundle.js.map
Due: eslint-app

feat(Modal): memoise results of useModal
  packages/modal/src/helpers.js
  packages/modal/src/helpers.test.js
Due: eslint-app, eslint-test

Revert "feat(Modal): memoise results of useModal"
  packages/modal/src/helpers.js
  packages/modal/src/helpers.test.js
Due: eslint-app, eslint-test

chore(release): [ci skip] publish
  packages/modal/CHANGELOG.md
  packages/modal/package.json
Due: none

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/main.390b751e5dff86d25efb.bundle.js
  docs/main.390b751e5dff86d25efb.bundle.js.map
  docs/main.63dc70962a02c9bcfe68.bundle.js
  docs/main.63dc70962a02c9bcfe68.bundle.js.map
  docs/runtime~main.390b751e5dff86d25efb.bundle.js.map
  docs/runtime~main.63dc70962a02c9bcfe68.bundle.js
  docs/runtime~main.63dc70962a02c9bcfe68.bundle.js.map
  docs/vendors~main.390b751e5dff86d25efb.bundle.js.map
  docs/vendors~main.63dc70962a02c9bcfe68.bundle.js
  docs/vendors~main.63dc70962a02c9bcfe68.bundle.js.map
Due: eslint-app

test(storyshot): update
  packages/input-checkbox/src/__snapshots__/Checkbox.story.storyshot
  packages/input-select/src/components/__snapshots__/Item.story.storyshot
  packages/table/src/__snapshots__/Table.story.storyshot
Due: none
