Repository CraveFood/farmblocks: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint-app, eslint-test

eslint-app:
  name: eslint-app
  entry: ./node_modules/eslint/bin/eslint.js
  args:
  - --config=.eslintrc.js
  - --ignore-path=.eslintignore
  language: system

eslint-test:
  name: eslint-test
  entry: ./node_modules/eslint/bin/eslint.js
  args:
  - --config=.test.eslintrc.js
  - --ignore-path=.test.eslintignore
  language: system

test(snapshots): update snapshots
  __snapshots__/Storyshots.test.js.snap
Due: none

fix(css): add whitespace no-wrap on dropdown
  packages/dropdown/src/styledComponents/DropdownMenuWrapper.js
Due: eslint-app

docs(readme): add width property to readme
  packages/dropdown/README.md
Due: none

chore(release): [ci skip] publish
  packages/dropdown/CHANGELOG.md
  packages/dropdown/package.json
  packages/input-checkbox/CHANGELOG.md
  packages/input-checkbox/package.json
Due: none

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/index.html
  docs/static/manager.878e5391d5ce77b5e821.bundle.js
  docs/static/manager.f456dd105251aaba0ff6.bundle.js
  docs/static/preview.20d92528084261e4091e.bundle.js
  docs/static/preview.b5c9264069981fcbbb1c.bundle.js
Due: eslint-app

chore(dependencies): upgrade jest to latest version
  package.json
  yarn.lock
Due: none

fix(storybook): apply a workaround for storybook bug https://github.com/storybooks/storybook/issues/
  Storyshots.test.js
Due: eslint-test

feat(display name): wrapp the base component name on the display name
  packages/hoc-input/package.json
  packages/hoc-input/src/formInput.js
Due: eslint-app

feat(exports): include the new proptypes of the disabledtooltip hoc in the exports
  packages/hoc-disabled-tooltip/src/disabledTooltip.js
  packages/hoc-disabled-tooltip/src/index.js
Due: eslint-app

feat(exports): include the added proptypes in the exports
  packages/hoc-input/src/formInput.js
  packages/hoc-input/src/index.js
Due: eslint-app

chore(dependencies): add hoc-disabled-tooltip as dependency
  packages/button/package.json
  packages/input-text/package.json
  packages/link/package.json
Due: none

feat(new property): zIndex is a property now
  packages/tooltip/src/Tooltip.js
  packages/tooltip/src/styledComponents/Tooltip.js
Due: eslint-app

fix(margin): remove margin bottom from the hoc input
  packages/hoc-input/src/styledComponents/Wrapper.js
Due: eslint-app

refactor(button tooltip): drop tooltip code from the component in favor of the tooltip code from the
  packages/button/src/Button.js
  packages/button/src/Button.story.js
  packages/button/src/Button.test.js
  packages/button/src/styledComponents/Button.js
  packages/button/src/styledComponents/Container.js
Due: eslint-app, eslint-test

refactor(link): use disabled tooltip hoc on the link
  packages/link/src/components/Link.js
  packages/link/src/components/Link.story.js
  packages/link/src/components/Link.test.js
Due: eslint-app, eslint-test

chore(dependencies): remove tooltip dependencies
  packages/button/package.json
  packages/input-text/package.json
  packages/link/package.json
Due: none

refactor(exports): use better proptypes export names instead of just "newProps"
  packages/button/src/Button.js
  packages/hoc-disabled-tooltip/src/disabledTooltip.js
  packages/hoc-disabled-tooltip/src/index.js
  packages/hoc-input/src/formInput.js
  packages/hoc-input/src/index.js
  packages/input-text/src/TextInput.js
  packages/link/src/components/Link.js
Due: eslint-app

refactor(input-text): replace tooltip code with the tooltip hoc and input code with the hoc-input
  packages/input-text/README.md
  packages/input-text/package.json
  packages/input-text/src/TextInput.js
  packages/input-text/src/TextInput.story.js
  packages/input-text/src/TextInput.test.js
  packages/input-text/src/styledComponents/TextInput.js
Due: eslint-app, eslint-test

fix(rightIcon): add rightIcon support
  packages/button/src/Button.js
Due: eslint-app

test(snapshots): update
  __snapshots__/Storyshots.test.js.snap
Due: none

chore(jest): change config to not include /lib transpiled code in the coverage reports
  jest.config.js
Due: eslint-app

refactor(style): refactor style from checkbox component to remove dup conditional
  __snapshots__/Storyshots.test.js.snap
  packages/input-checkbox/src/styledComponents/Checkbox.js
Due: eslint-app

chore(release): [ci skip] publish
  packages/input-checkbox/CHANGELOG.md
  packages/input-checkbox/package.json
Due: none

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/static/preview.b5c9264069981fcbbb1c.bundle.js
  docs/static/preview.d77e9eaba5056557f65f.bundle.js
Due: eslint-app

feat(package.json): initial package.json with script to create component
  packages/scaffold/package.json
Due: none

refactor(templates): create a folder to all templates
  packages/scaffold/src/create-component.js
  packages/scaffold/src/templates/package.js
  packages/scaffold/src/templates/readme.js
Due: eslint-app

feat(scaffold): main script to create a package folder
  packages/scaffold/src/create-component.js
Due: eslint-app

feat(templates): package and readme templates
  packages/scaffold/src/packageTemplate.js
  packages/scaffold/src/readmeTemplate.js
Due: eslint-app

test(eslint): add node_modules on ingnored files lists
  .eslintignore
  .test.eslintignore
Due: none

chore(lockfile): update
  yarn.lock
Due: none

chore(dependencies): update shelljs version
  packages/scaffold/package.json
  yarn.lock
Due: none

docs(snyk): ignore two vulnerabilities for 4 months
  .snyk
Due: none

feat(scaffold): include a build script to bootstrap new farmblocks components
  package.json
  yarn.lock
Due: none

feat(templates): add basic index.js and main component file templates
  packages/scaffold/package.json
  packages/scaffold/src/create-component.js
  packages/scaffold/src/templates/component.js
  packages/scaffold/src/templates/index.js
Due: eslint-app

feat(templates): storybook stories initial file template
  packages/scaffold/src/create-component.js
  packages/scaffold/src/templates/componentStory.js
Due: eslint-app

docs(contibuting): included section about how to start a new component
  CONTRIBUTING.md
Due: none

feat(dropdown): add focused outline on dropdown component
  packages/dropdown/src/styledComponents/DropdownItemWrapper.js
Due: eslint-app

docs(company name): change Crave Food Services to Crave Food Systems
  packages/scaffold/package.json
  packages/scaffold/src/templates/package.js
Due: eslint-app

chore(release): [ci skip] publish
  packages/alert/CHANGELOG.md
  packages/alert/package.json
  packages/button/CHANGELOG.md
  packages/button/package.json
  packages/card/CHANGELOG.md
  packages/card/package.json
  packages/dropdown/CHANGELOG.md
  packages/dropdown/package.json
  packages/empty-state/CHANGELOG.md
  packages/empty-state/package.json
  packages/footer/CHANGELOG.md
  packages/footer/package.json
  packages/hoc-disabled-tooltip/CHANGELOG.md
  packages/hoc-disabled-tooltip/package.json
  packages/hoc-input/CHANGELOG.md
  packages/hoc-input/package.json
  packages/input-text/CHANGELOG.md
  packages/input-text/package.json
  packages/link/CHANGELOG.md
  packages/link/package.json
  packages/tooltip/CHANGELOG.md
  packages/tooltip/package.json
Due: none

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/index.html
  docs/static/manager.a317372dfdb14f0ed5bd.bundle.js
  docs/static/manager.f456dd105251aaba0ff6.bundle.js
  docs/static/preview.0df47bd60bd3b4f016e1.bundle.js
  docs/static/preview.d77e9eaba5056557f65f.bundle.js
Due: eslint-app

Path conditions:
  eslint-app: any of: ^(?!.*\.test).*\.js$
  eslint-test: any of: \.test\.js$
