Repository CraveFood/farmblocks: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint-app, eslint-test

.pre-commit-config.yaml:

fail_fast: true
repos:
-   repo: https://github.com/prettier/prettier
    sha: '1.7.0'
    hooks:
      - id: prettier

-   repo: local
    hooks:
      - id: eslint-app
        name: eslint-app
        entry: ./node_modules/eslint/bin/eslint.js
        args:
          - "--config=.eslintrc.js"
          - "--ignore-path=.eslintignore"
        language: system
        files: '^(?!.*\.test).*\.js$'

      - id: eslint-test
        name: eslint-test
        entry: ./node_modules/eslint/bin/eslint.js
        args:
          - "--config=.test.eslintrc.js"
          - "--ignore-path=.test.eslintignore"
        language: system
        files: '\.test\.js$'

test(search-field): rise coverage for ScrollBox
  packages/search-field/src/components/ScrollBox.js
  packages/search-field/src/components/ScrollBox.story.js
  packages/search-field/src/components/ScrollBox.test.js
Due: eslint-app, eslint-test

test(search-fields): add tests for SearchField component
  packages/search-field/src/SearchField.js
  packages/search-field/src/SearchField.test.js
  yarn.lock
Due: eslint-app, eslint-test

refactor(search-field): extract menu rendering into a component
  packages/search-field/src/SearchField.js
  packages/search-field/src/components/Menu.js
  packages/search-field/src/components/ScrollBox.story.js
Due: eslint-app

docs(search-field): add stories for Menu component
  packages/search-field/src/SearchField.js
  packages/search-field/src/components/Menu.story.js
Due: eslint-app

test(search-fields): increase coverage for SearchField
  packages/search-field/src/SearchField.js
  packages/search-field/src/SearchField.test.js
Due: eslint-app, eslint-test

chore(search-field): upgrade dependencies
  packages/search-field/package.json
  yarn.lock
Due: none

fix(search-field): clearIcon inverted
  packages/search-field/src/SearchField.js
Due: eslint-app

fix(search-field): show search icon when its blank
  packages/search-field/src/SearchField.js
Due: eslint-app

fix(search-field): search-field
  packages/search-field/src/styledComponents/DropdownWrapper.js
Due: eslint-app

docs(input-select): add information on readme for Item subcomponent
  packages/input-select/README.md
Due: none

refactor(search-field): add information about the scroll position math
  packages/search-field/src/components/ScrollBox.js
Due: eslint-app

fix(search-field): update yarn.lock
  yarn.lock
Due: none

fix(proptypes): fix security vulnerability on ua-parser-js reported by snyk
  package.json
  yarn.lock
Due: none

chore(dependencies): update root dependencies
  package.json
Due: none

chore(scaffold): update dependencies
  packages/scaffold/package.json
Due: none

refactor(scaffold): future versions of prettier will require users to always set the parser
  packages/scaffold/src/templates/component.js
  packages/scaffold/src/templates/componentStory.js
Due: eslint-app

fix(dependencies): force a version of ua-parser-js bigger than 0.7.18
  package.json
Due: none

chore(snyk): remove all exceptions
  .snyk
Due: none

chore(search-field): remove alpha version and let lerna do its thing
  packages/search-field/package.json
Due: none

chore(lockfile): update
  yarn.lock
Due: none

chore(react): ignore componentWillReceiveProps eslint errors until the fix for #390
  packages/carousel/src/Carousel.js
  packages/hoc-input/src/formInput.js
  packages/hoc-validation-messages/src/withMessages.js
  packages/input-checkbox/src/Checkbox.js
  packages/input-radio/src/Radio.js
  packages/input-radio/src/RadioGroup.js
  packages/input-select/src/Select.js
Due: eslint-app

chore(release): [ci skip] publish
  packages/alert/CHANGELOG.md
  packages/alert/package.json
  packages/amount-selectors/CHANGELOG.md
  packages/amount-selectors/package.json
  packages/button/CHANGELOG.md
  packages/button/package.json
  packages/card/CHANGELOG.md
  packages/card/package.json
  packages/carousel/CHANGELOG.md
  packages/carousel/package.json
  packages/dropdown/CHANGELOG.md
  packages/dropdown/package.json
  packages/empty-state/CHANGELOG.md
  packages/empty-state/package.json
  packages/footer/CHANGELOG.md
  packages/footer/package.json
  packages/hoc-input/CHANGELOG.md
  packages/hoc-input/package.json
  packages/hoc-validation-messages/CHANGELOG.md
  packages/hoc-validation-messages/package.json
  packages/input-checkbox/CHANGELOG.md
  packages/input-checkbox/package.json
  packages/input-radio/CHANGELOG.md
  packages/input-radio/package.json
  packages/input-select/CHANGELOG.md
  packages/input-select/package.json
  packages/input-text/CHANGELOG.md
  packages/input-text/package.json
  packages/map-balloon/CHANGELOG.md
  packages/map-balloon/package.json
  packages/scaffold/CHANGELOG.md
  packages/scaffold/package.json
  packages/search-field/CHANGELOG.md
  packages/search-field/package.json
  packages/table/CHANGELOG.md
  packages/table/package.json
Due: none

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/index.html
  docs/static/manager.554abfc2f4aaed75a2cb.bundle.js
  docs/static/manager.d942c82e583c99f5c411.bundle.js
  docs/static/preview.6f8686b39f7d3703a6f9.bundle.js
  docs/static/preview.a779a7007f12968b478c.bundle.js
Due: eslint-app

feat(Select): add zIndex prop
  packages/input-select/src/Select.js
  packages/input-select/src/Select.story.js
  packages/input-select/src/styledComponents/DropdownWrapper.js
Due: eslint-app

WIP(Select): remove zindex defaultProp
  packages/input-select/src/Select.js
Due: eslint-app

chore(release): [ci skip] publish
  packages/input-select/CHANGELOG.md
  packages/input-select/package.json
  packages/search-field/CHANGELOG.md
  packages/search-field/package.json
Due: none

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/static/preview.6f8686b39f7d3703a6f9.bundle.js
  docs/static/preview.90dca7c863794d82515c.bundle.js
Due: eslint-app

fix(amount-selector): remove hardcoded tooltip and use browser provided validationMessage for toolti
  packages/amount-selectors/src/components/AmountSelectors.js
Due: eslint-app

fix(amount-selector): remove Firefox default :invalid styles for the amount selector input
  packages/amount-selectors/src/styledComponents/AmountSelector.js
Due: eslint-app

test(amount-selector): new tests to check the cases where both buttons should be disabled
  packages/amount-selectors/src/components/AmountSelectors.test.js
Due: eslint-test

feat(amount-selector): disable both buttons if the browser validation fails for the typed value
  packages/amount-selectors/src/components/AmountSelectors.js
Due: eslint-app

test(amount-selector): fix stepmismatch test, it now requires a new prop
  packages/amount-selectors/src/components/AmountSelectors.test.js
Due: eslint-test

feat(amount-selector): include option to use step mismatch validation from browser
  packages/amount-selectors/src/components/AmountSelectors.js
  packages/amount-selectors/src/components/AmountSelectors.story.js
Due: eslint-app

docs(amount-selector): document new property enforceStep
  packages/amount-selectors/README.md
Due: none
