Repository CraveFood/farmblocks: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint-app, eslint-test

eslint-app:
  name: eslint-app
  entry: ./node_modules/eslint/bin/eslint.js
  args:
  - --config=.eslintrc.js
  - --ignore-path=.eslintignore
  language: system

eslint-test:
  name: eslint-test
  entry: ./node_modules/eslint/bin/eslint.js
  args:
  - --config=.test.eslintrc.js
  - --ignore-path=.test.eslintignore
  language: system

fix(theme): adjust font size value of x _small from 14 to 12
  packages/theme/src/fontSizes.js
Due: eslint-app

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/main.b67c31d20a07e61db665.bundle.js
  docs/main.b67c31d20a07e61db665.bundle.js.map
  docs/main.c5fccb9a4d3b6f5abb67.bundle.js
  docs/main.c5fccb9a4d3b6f5abb67.bundle.js.map
  docs/runtime~main.b67c31d20a07e61db665.bundle.js.map
  docs/runtime~main.c5fccb9a4d3b6f5abb67.bundle.js
  docs/runtime~main.c5fccb9a4d3b6f5abb67.bundle.js.map
  docs/vendors~main.b67c31d20a07e61db665.bundle.js.map
  docs/vendors~main.c5fccb9a4d3b6f5abb67.bundle.js
  docs/vendors~main.c5fccb9a4d3b6f5abb67.bundle.js.LICENSE.txt
  docs/vendors~main.c5fccb9a4d3b6f5abb67.bundle.js.map
Due: none

fix(modal): pass remaining props to the modal wrapper
  packages/modal/src/Modal.js
Due: eslint-app

chore(release): [ci skip] publish
  packages/modal/CHANGELOG.md
  packages/modal/package.json
Due: none

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/main.96f213c73d5485a32e6e.bundle.js
  docs/main.96f213c73d5485a32e6e.bundle.js.map
  docs/main.c5fccb9a4d3b6f5abb67.bundle.js
  docs/main.c5fccb9a4d3b6f5abb67.bundle.js.map
  docs/runtime~main.96f213c73d5485a32e6e.bundle.js
  docs/runtime~main.96f213c73d5485a32e6e.bundle.js.map
  docs/runtime~main.c5fccb9a4d3b6f5abb67.bundle.js.map
  docs/vendors~main.96f213c73d5485a32e6e.bundle.js
  docs/vendors~main.96f213c73d5485a32e6e.bundle.js.LICENSE.txt
  docs/vendors~main.96f213c73d5485a32e6e.bundle.js.map
  docs/vendors~main.c5fccb9a4d3b6f5abb67.bundle.js.map
Due: none

chore: bump node version to 16.13.1
  .nvmrc
Due: none

chore: remove percy
  .gitignore
  .storybook/preview.js
  .travis.yml
  package.json
  yarn.lock
Due: eslint-app

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/main.479e439de783f7546b69.bundle.js
  docs/main.479e439de783f7546b69.bundle.js.map
  docs/main.96f213c73d5485a32e6e.bundle.js
  docs/main.96f213c73d5485a32e6e.bundle.js.map
  docs/runtime~main.479e439de783f7546b69.bundle.js
  docs/runtime~main.479e439de783f7546b69.bundle.js.map
  docs/runtime~main.96f213c73d5485a32e6e.bundle.js.map
  docs/vendors~main.479e439de783f7546b69.bundle.js
  docs/vendors~main.479e439de783f7546b69.bundle.js.LICENSE.txt
  docs/vendors~main.479e439de783f7546b69.bundle.js.map
  docs/vendors~main.96f213c73d5485a32e6e.bundle.js
  docs/vendors~main.96f213c73d5485a32e6e.bundle.js.map
Due: none

chore(deps): update babel
  package.json
  sidenav/src/__snapshots__/SideNav.story.storyshot
  yarn.lock
Due: none

chore(deps): update @testing-library/*
  package.json
  packages/amount-selectors/src/components/AmountSelectors.test.js
  packages/hoc-input/src/formInput.test.js
  packages/input-phone/src/PhoneInput.test.js
  yarn.lock
Due: eslint-test

chore(deps): update commitizen
  package.json
  yarn.lock
Due: none

chore(deps): update coveralls
  package.json
  yarn.lock
Due: none

chore(deps): update object.values
  packages/amount-selectors/package.json
  packages/link/package.json
  packages/map-balloon/package.json
  packages/popover/package.json
  packages/tag/package.json
  packages/tooltip/package.json
  yarn.lock
Due: none

chore(deps): update polished
  packages/hoc-input/package.json
  packages/sidenav/package.json
  yarn.lock
Due: none

chore(deps): update react-spring
  package.json
  packages/amount-selectors/package.json
  packages/amount-selectors/src/components/AmountSelectors.js
  packages/modal/package.json
  packages/modal/src/Modal.js
  packages/modal/src/Modal.styled.js
  yarn.lock
Due: eslint-app

chore(deps): remove react-is
  package.json
Due: none

chore(deps): update react-number-format
  packages/input-currency/package.json
  yarn.lock
Due: none

test(storyshots): update
  __snapshots__/Storyshots.test.js.snap
  packages/alert/src/__snapshots__/Alert.story.storyshot
  packages/button/src/__snapshots__/Button.story.storyshot
  packages/card/src/__snapshots__/Card.story.storyshot
  packages/dropdown/src/components/__snapshots__/Dropdown.story.storyshot
  packages/empty-state/src/__snapshots__/EmptyState.story.storyshot
  packages/filter-popover/src/__snapshots__/FilterPopover.story.storyshot
  packages/form-wrapper/src/__snapshots__/FormWrapper.story.storyshot
  packages/input-checkbox/src/__snapshots__/Checkbox.story.storyshot
  packages/input-select/src/__snapshots__/Select.story.storyshot
  packages/input-select/src/components/__snapshots__/Item.story.storyshot
  packages/link/src/components/__snapshots__/Link.Neutral.story.storyshot
  packages/link/src/components/__snapshots__/Link.Normal.story.storyshot
  packages/link/src/components/__snapshots__/Link.story.storyshot
  packages/map-balloon/src/__snapshots__/MapBalloon.story.storyshot
  packages/modal/src/__snapshots__/DialogModal.story.storyshot
  packages/modal/src/__snapshots__/Modal.story.storyshot
  packages/modal/src/__snapshots__/helpers.story.storyshot
  packages/more-info/src/components/__snapshots__/MoreInfo.story.storyshot
  packages/search-field/src/__snapshots__/SearchField.story.storyshot
  packages/search-field/src/components/__snapshots__/Menu.story.storyshot
  packages/stepper/src/components/__snapshots__/Step.story.storyshot
  packages/stepper/src/components/__snapshots__/Stepper.story.storyshot
  packages/tag/src/components/__snapshots__/Tag.story.storyshot
  packages/tooltip/src/__snapshots__/Tooltip.story.storyshot
Due: none

chore(deps): update react-responsive
  packages/empty-state/package.json
  packages/sidenav/package.json
  yarn.lock
Due: none

chore(deps): update slug
  packages/scaffold/package.json
  yarn.lock
Due: none

chore(deps): update memoize-one
  packages/input-select/package.json
  yarn.lock
Due: none

chore(deps): update icon packages
  packages/icon/buildJSX.mjs
  packages/icon/package.json
  packages/icon/sizes.js
  packages/icon/sizes.mjs
  yarn.lock
Due: eslint-app

chore(deps): update storybook
  .eslintrc.js
  __snapshots__/Storyshots.test.js.snap
  amount-selectors/src/components/__snapshots__/AmountSelectors.story.storyshot
  button/src/__snapshots__/Button.story.storyshot
  hoc-input/src/__snapshots__/formInput.story.storyshot
  input-currency/src/__snapshots__/CurrencyInput.story.storyshot
  input-text/src/__snapshots__/TextInput.story.storyshot
  package.json
  packages/amount-selectors/src/components/AmountSelectors.story.mdx
  packages/button/src/Button.story.mdx
  packages/card/src/__snapshots__/Card.story.storyshot
  packages/footer/src/components/__snapshots__/Footer.story.storyshot
  packages/form-wrapper/src/__snapshots__/FormWrapper.story.storyshot
  packages/hoc-input/src/formInput.story.mdx
  packages/icon/src/__snapshots__/Icon.story.storyshot
  packages/input-currency/src/CurrencyInput.story.mdx
  packages/input-phone/src/__snapshots__/PhoneInput.story.storyshot
  packages/input-select/src/__snapshots__/Select.story.storyshot
  packages/input-text/src/TextInput.story.mdx
  packages/label/src/__snapshots__/Label.story.storyshot
  packages/more-info/src/components/__snapshots__/MoreInfo.story.storyshot
  packages/search-field/src/__snapshots__/SearchField.story.storyshot
  packages/search-field/src/components/__snapshots__/Menu.story.storyshot
  packages/sidenav/src/__snapshots__/SideNav.story.storyshot
  packages/sidenav/src/components/NavItem/__snapshots__/NavItem.story.storyshot
  packages/sidenav/src/helpers/PageWrapper/__snapshots__/PageWrapper.story.storyshot
  packages/tooltip/src/__snapshots__/Tooltip.story.storyshot
  packages/tooltip/src/__snapshots__/TooltipContent.story.storyshot
  yarn.lock
Due: eslint-app

chore(deps): update styled-system
  packages/card/package.json
  packages/empty-state/package.json
  packages/modal/package.json
  packages/text/package.json
Due: none

chore(sidenav): remove react-router-dom from devdependencies and remove stories using react-router
  __snapshots__/Storyshots.test.js.snap
  packages/sidenav/package.json
  packages/sidenav/src/SideNav.story.js
  packages/sidenav/src/__snapshots__/SideNav.story.storyshot
  yarn.lock
Due: eslint-app

style: fix eslint errors
  packages/button/src/styledComponents/Button.js
  packages/hoc-input/src/styledComponents/Wrapper.js
  packages/icon/src/Icon.story.js
  packages/input-phone/src/PhoneInput.story.js
  packages/label/src/Label.story.js
  packages/map-balloon/src/MapBalloon.js
  packages/modal/src/helpers.js
  packages/sidenav/src/SideNav.story.js
  packages/table/src/hooks/useTableMap.story.js
  packages/tooltip/src/TooltipContent.js
  packages/tooltip/src/TooltipContent.styled.js
Due: eslint-app

chore(deps): update prettier
  .pre-commit-config.yaml
  package.json
  packages/scaffold/package.json
  yarn.lock
Due: none

test(storyshots): update
  packages/icon/src/__snapshots__/Icon.story.storyshot
  packages/input-phone/src/__snapshots__/PhoneInput.story.storyshot
  packages/label/src/__snapshots__/Label.story.storyshot
Due: none

chore(deps): update jest
  jest.config.js
  package.json
  yarn.lock
Due: eslint-app

chore(deps): update react-aria-menubutton
  packages/dropdown/package.json
  yarn.lock
Due: none

chore(deps): update farmblocks-icon
  packages/alert/package.json
  packages/amount-selectors/package.json
  packages/button/package.json
  packages/dropdown/package.json
  packages/empty-state/package.json
  packages/filter-popover/package.json
  packages/hoc-input/package.json
  packages/input-checkbox/package.json
  packages/input-select/package.json
  packages/input-text/package.json
  packages/link/package.json
  packages/map-balloon/package.json
  packages/modal/package.json
  packages/more-info/package.json
  packages/sidenav/package.json
  packages/stepper/package.json
  packages/tag/package.json
Due: none

fix(select-input): fix disabled color
  packages/input-select/src/__snapshots__/Select.story.storyshot
  packages/input-select/src/styledComponents/DropdownWrapper.js
Due: eslint-app

chore(deps): update styled-components
  package.json
  packages/alert/package.json
  packages/amount-selectors/package.json
  packages/button/package.json
  packages/card/package.json
  packages/carousel/package.json
  packages/dropdown/package.json
  packages/empty-state/package.json
  packages/filter-popover/package.json
  packages/footer/package.json
  packages/form-wrapper/package.json
  packages/hoc-input/package.json
  packages/icon/package.json
  packages/image/package.json
  packages/input-checkbox/package.json
  packages/input-currency/package.json
  packages/input-phone/package.json
  packages/input-radio/package.json
  packages/input-select/package.json
  packages/input-text/package.json
  packages/label/package.json
  packages/link/package.json
  packages/map-balloon/package.json
  packages/modal/package.json
  packages/more-info/package.json
  packages/popover/package.json
  packages/scaffold/src/templates/package.js
  packages/search-field/package.json
  packages/sidenav/package.json
  packages/stepper/package.json
  packages/table/package.json
  packages/tag/package.json
  packages/text/package.json
  packages/theme/package.json
  packages/tooltip/package.json
  yarn.lock
Due: eslint-app

chore(deps): update prop-types
  package.json
  packages/alert/package.json
  packages/amount-selectors/package.json
  packages/button/package.json
  packages/card/package.json
  packages/carousel/package.json
  packages/dropdown/package.json
  packages/empty-state/package.json
  packages/filter-popover/package.json
  packages/footer/package.json
  packages/form-wrapper/package.json
  packages/hoc-input/package.json
  packages/icon/package.json
  packages/image/package.json
  packages/input-checkbox/package.json
  packages/input-currency/package.json
  packages/input-phone/package.json
  packages/input-radio/package.json
  packages/input-select/package.json
  packages/input-text/package.json
  packages/label/package.json
  packages/link/package.json
  packages/map-balloon/package.json
  packages/modal/package.json
  packages/more-info/package.json
  packages/popover/package.json
  packages/scaffold/src/templates/package.js
  packages/search-field/package.json
  packages/sidenav/package.json
  packages/stepper/package.json
  packages/table/package.json
  packages/tag/package.json
  packages/text/package.json
  packages/tooltip/package.json
  yarn.lock
Due: eslint-app

test(deps): use @wojtekmaj/enzyme-adapter-react-17 to work with enzyme
  package.json
  packages/carousel/src/Carousel.test.js
  packages/dropdown/src/components/Dropdown.test.js
  packages/input-checkbox/src/Checkbox.test.js
  packages/input-radio/src/Radio.test.js
  packages/input-radio/src/RadioGroup.test.js
  packages/input-select/src/Select.test.js
  packages/map-balloon/src/MapBalloon.test.js
  packages/popover/src/Popover.test.js
  packages/search-field/src/SearchField.test.js
  packages/stepper/src/components/Stepper.test.js
  packages/tag/src/components/Tag.test.js
  yarn.lock
Due: eslint-test

test: fix broken tests after upgrading dependencies
  packages/alert/src/BrieflyDisplay.test.js
  packages/carousel/src/Carousel.test.js
  packages/input-phone/src/PhoneInput.test.js
  packages/search-field/src/SearchField.test.js
Due: eslint-test

chore(deps): update react
  package.json
  packages/alert/package.json
  packages/amount-selectors/package.json
  packages/button/package.json
  packages/card/package.json
  packages/carousel/package.json
  packages/dropdown/package.json
  packages/empty-state/package.json
  packages/filter-popover/package.json
  packages/footer/package.json
  packages/form-wrapper/package.json
  packages/hoc-input/package.json
  packages/image/package.json
  packages/input-checkbox/package.json
  packages/input-currency/package.json
  packages/input-phone/package.json
  packages/input-radio/package.json
  packages/input-select/package.json
  packages/input-text/package.json
  packages/label/package.json
  packages/link/package.json
  packages/map-balloon/package.json
  packages/modal/package.json
  packages/more-info/package.json
  packages/popover/package.json
  packages/search-field/package.json
  packages/sidenav/package.json
  packages/stepper/package.json
  packages/table/package.json
  packages/tag/package.json
  packages/text/package.json
  packages/theme/package.json
  packages/tooltip/package.json
  yarn.lock
Due: none

Path conditions:
  eslint-app: any of: ^(?!.*\.test).*\.js$, but not: ^docs
  eslint-test: any of: \.test\.js$
