Repository CraveFood/farmblocks: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint-app, eslint-test

.pre-commit-config.yaml:

fail_fast: true
repos:
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: "v2.2.1"
    hooks:
      - id: prettier
        exclude: ".mdx$"

  - repo: local
    hooks:
      - id: eslint-app
        name: eslint-app
        entry: ./node_modules/eslint/bin/eslint.js
        args:
          - "--config=.eslintrc.js"
          - "--ignore-path=.eslintignore"
        language: system
        files: '^(?!.*\.test).*\.js$'
        exclude: "^docs"

      - id: eslint-test
        name: eslint-test
        entry: ./node_modules/eslint/bin/eslint.js
        args:
          - "--config=.test.eslintrc.js"
          - "--ignore-path=.test.eslintignore"
        language: system
        files: '\.test\.js$'

refactor(Carousel): add hooks for handling resize and touch
  packages/carousel/src/Carousel.js
  packages/carousel/src/hooks/useResizeWindow.js
  packages/carousel/src/hooks/useTouch.js
Due: eslint-app

test(storyshots): update
  packages/carousel/src/Carousel.story.js
  packages/carousel/src/__snapshots__/Carousel.story.storyshot
Due: eslint-app

feat(Carousel): add infinite loop
  packages/carousel/src/Carousel.js
  packages/carousel/src/styledComponents/Carousel.js
Due: eslint-app

test(Carousel): add test cases
  packages/carousel/src/Carousel.test.js
  packages/carousel/src/components/ArrowButton.js
  packages/carousel/src/components/Dots.js
  packages/carousel/src/hooks/useResizeWindow.test.js
  packages/carousel/src/styledComponents/Dots.js
Due: eslint-app, eslint-test

feat(Carousel): add responsive layout
  packages/carousel/package.json
  packages/carousel/src/Carousel.js
  packages/carousel/src/components/ArrowButton.js
  packages/carousel/src/components/Dots.js
  packages/carousel/src/styledComponents/ArrowButton.js
  packages/carousel/src/styledComponents/Carousel.js
  packages/carousel/src/styledComponents/Dots.js
Due: eslint-app

test(storyshots): update
  packages/carousel/src/__snapshots__/Carousel.story.storyshot
Due: none

feat(Carousel/Slide): add prop to customize border radius
  packages/carousel/src/components/Slide.js
  packages/carousel/src/styledComponents/Slide.js
Due: eslint-app

fix(Carousel): add delay to ensure additional slides are renderer
  packages/carousel/src/Carousel.js
Due: eslint-app

refactor(Carousel): adjust aligments and rearrange slide logic into separate component
  packages/carousel/src/Carousel.js
  packages/carousel/src/components/Slide.js
  packages/carousel/src/styledComponents/Carousel.js
  packages/carousel/src/styledComponents/Slide.js
Due: eslint-app

test(storyshots): update carousel storyshots
  packages/carousel/src/__snapshots__/Carousel.story.storyshot
Due: none

feat(Carousel): add option to customize arrow buttons
  packages/carousel/src/Carousel.js
  packages/carousel/src/Carousel.story.js
Due: eslint-app

refactor(Carousel): change the basic structure and remove unnecessary components
  packages/carousel/src/Carousel.js
  packages/carousel/src/components/ArrowButton.js
  packages/carousel/src/components/Dots.js
  packages/carousel/src/components/Slide.js
  packages/carousel/src/hooks/useResizeWindow.js
  packages/carousel/src/index.js
  packages/carousel/src/styledComponents/ArrowButton.js
  packages/carousel/src/styledComponents/Carousel.js
  packages/carousel/src/styledComponents/Slide.js
Due: eslint-app

feat(Carousel): add prop to set carousel breakpoints
  packages/carousel/src/Carousel.js
  packages/carousel/src/Carousel.story.js
  packages/carousel/src/hooks/useResizeWindow.js
Due: eslint-app

test(Carousel): update tests
  packages/carousel/src/Carousel.story.js
  packages/carousel/src/Carousel.test.js
  packages/carousel/src/hooks/useResizeWindow.test.js
Due: eslint-app, eslint-test

feat(Carousel): add full responsive carousel component
  packages/carousel/src/Carousel.js
  packages/carousel/src/Carousel.story.js
  packages/carousel/src/Carousel.test.js
  packages/carousel/src/components/Dots.js
  packages/carousel/src/components/Slide.js
  packages/carousel/src/hooks/useResizeWindow.js
  packages/carousel/src/hooks/useResizeWindow.test.js
  packages/carousel/src/styledComponents/Carousel.js
  packages/carousel/src/styledComponents/Dots.js
  packages/carousel/src/styledComponents/Slide.js
Due: eslint-app, eslint-test

test(storyshots): fix story using hook
  packages/carousel/src/Carousel.story.js
  packages/carousel/src/__snapshots__/Carousel.story.storyshot
Due: eslint-app

feat(Carousel/useResizeWindow): add breakpoints logic only on resize window hook
  packages/carousel/src/Carousel.js
  packages/carousel/src/hooks/useResizeWindow.js
  packages/carousel/src/index.js
Due: eslint-app

refactor(Carousel/useTouch): change variable names to more descriptive ones
  packages/carousel/src/hooks/useTouch.js
Due: eslint-app

fix(Carousel/useResizeWindow): adjust breakpoints resizing
  packages/carousel/src/hooks/useResizeWindow.js
Due: eslint-app

WIP(Carousel): update storyshots and skip tests with error
  packages/carousel/src/__snapshots__/Carousel.story.storyshot
  packages/carousel/src/hooks/useResizeWindow.test.js
Due: eslint-test

perf(Carousel): add debounce in the next and previous slide actions
  packages/carousel/src/Carousel.js
Due: eslint-app

test(Carousel): update storyshots
  packages/carousel/src/Carousel.story.js
  packages/carousel/src/__snapshots__/Carousel.story.storyshot
Due: eslint-app

perf(Carousel/useResizeWindow): add debounce on window resizing
  packages/carousel/package.json
  packages/carousel/src/hooks/useResizeWindow.js
Due: eslint-app

fix(SideBar): baackground color on fullscreen mode
  packages/sidenav/src/components/SideBar/SideBar.styled.js
Due: eslint-app

test(storyshot): update
  sidenav/src/__snapshots__/SideNav.story.storyshot
Due: none

chore(release): [ci skip] publish
  packages/sidenav/CHANGELOG.md
  packages/sidenav/package.json
Due: none

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/main.0dae1b1c8b0e002e4f31.bundle.js
  docs/main.0dae1b1c8b0e002e4f31.bundle.js.map
  docs/main.2f0c65005604b9a492fc.bundle.js
  docs/main.2f0c65005604b9a492fc.bundle.js.map
  docs/runtime~main.0dae1b1c8b0e002e4f31.bundle.js
  docs/runtime~main.0dae1b1c8b0e002e4f31.bundle.js.map
  docs/runtime~main.2f0c65005604b9a492fc.bundle.js.map
  docs/vendors~main.0dae1b1c8b0e002e4f31.bundle.js
  docs/vendors~main.0dae1b1c8b0e002e4f31.bundle.js.LICENSE.txt
  docs/vendors~main.0dae1b1c8b0e002e4f31.bundle.js.map
  docs/vendors~main.2f0c65005604b9a492fc.bundle.js.map
Due: none

feat(theme): add font size x_small
  packages/theme/src/fontSizes.js
Due: eslint-app

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/main.0dae1b1c8b0e002e4f31.bundle.js
  docs/main.0dae1b1c8b0e002e4f31.bundle.js.map
  docs/main.888971347c072f65ab23.bundle.js
  docs/main.888971347c072f65ab23.bundle.js.map
  docs/runtime~main.0dae1b1c8b0e002e4f31.bundle.js.map
  docs/runtime~main.888971347c072f65ab23.bundle.js
  docs/runtime~main.888971347c072f65ab23.bundle.js.map
  docs/vendors~main.0dae1b1c8b0e002e4f31.bundle.js.map
  docs/vendors~main.888971347c072f65ab23.bundle.js
  docs/vendors~main.888971347c072f65ab23.bundle.js.LICENSE.txt
  docs/vendors~main.888971347c072f65ab23.bundle.js.map
Due: none

fix(useScrollLock): reset element style whenever condition changes
  packages/modal/src/Modal.hooks.js
Due: eslint-app

feat(theme): add ScrollLock component
  packages/theme/package.json
  packages/theme/src/ScrollLock.js
  packages/theme/src/index.js
Due: eslint-app

fix(sidenav): use ScrollLock from theme package
  packages/sidenav/package.json
  packages/sidenav/src/SideNav.js
Due: eslint-app

test(storyshot): update
  packages/modal/src/__snapshots__/helpers.story.storyshot
Due: none

fix(modal): use ScrollLock from theme package
  packages/modal/src/Modal.hooks.js
  packages/modal/src/Modal.js
  packages/modal/src/Modal.test.js
  packages/modal/src/helpers.story.js
  packages/modal/src/index.js
  packages/modal/src/utils.js
Due: eslint-app, eslint-test

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/main.888971347c072f65ab23.bundle.js
  docs/main.888971347c072f65ab23.bundle.js.map
  docs/main.b67c31d20a07e61db665.bundle.js
  docs/main.b67c31d20a07e61db665.bundle.js.map
  docs/runtime~main.888971347c072f65ab23.bundle.js.map
  docs/runtime~main.b67c31d20a07e61db665.bundle.js
  docs/runtime~main.b67c31d20a07e61db665.bundle.js.map
  docs/vendors~main.888971347c072f65ab23.bundle.js
  docs/vendors~main.888971347c072f65ab23.bundle.js.map
  docs/vendors~main.b67c31d20a07e61db665.bundle.js
  docs/vendors~main.b67c31d20a07e61db665.bundle.js.LICENSE.txt
  docs/vendors~main.b67c31d20a07e61db665.bundle.js.map
Due: none

chore(lerna): force publish
  .travis.yml
Due: none
