Repository CraveFood/farmblocks: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint-app, eslint-test

eslint-app:
  name: eslint-app
  entry: ./node_modules/eslint/bin/eslint.js
  args:
  - --config=.eslintrc.js
  - --ignore-path=.eslintignore
  language: system

eslint-test:
  name: eslint-test
  entry: ./node_modules/eslint/bin/eslint.js
  args:
  - --config=.test.eslintrc.js
  - --ignore-path=.test.eslintignore
  language: system

feat(Footer): receive actions property instead of primary and secondary button properties
  packages/footer/src/components/Footer.js
  packages/footer/src/components/HelperContent.js
  packages/footer/src/styledComponents/Footer.js
  packages/footer/src/styledComponents/HelperContent.js
Due: eslint-app

feat(Footer): added desired api
  packages/footer/src/components/Footer.story.js
Due: eslint-app

chore(Footer): move farmblocks-button to dev dependencies
  packages/footer/package.json
Due: none

docs(Footer): update docs
  packages/footer/README.md
Due: none

test(storyshots): update
  packages/card/src/__snapshots__/Card.story.storyshot
  packages/footer/src/components/__snapshots__/Footer.story.storyshot
Due: none

feat(Footer): make text property optional
  packages/footer/src/components/Footer.js
  packages/footer/src/components/HelperContent.js
Due: eslint-app

chore(release): [ci skip] publish
  packages/card/CHANGELOG.md
  packages/card/package.json
  packages/footer/CHANGELOG.md
  packages/footer/package.json
  packages/input-select/CHANGELOG.md
  packages/input-select/package.json
  packages/map-balloon/CHANGELOG.md
  packages/map-balloon/package.json
  packages/search-field/CHANGELOG.md
  packages/search-field/package.json
Due: none

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/index.html
  docs/static/manager.584b9fc82981d871bddd.bundle.js
  docs/static/manager.f0dfd55f0157973d8c1d.bundle.js
  docs/static/preview.2f44391451283bceb4e0.bundle.js
  docs/static/preview.6cd708cee8e997f7133d.bundle.js
Due: eslint-app

fix(tooltip): keep arrow visible when overflow is hidden
  packages/tooltip/README.md
  packages/tooltip/src/Tooltip.js
  packages/tooltip/src/styledComponents/Tooltip.js
Due: eslint-app

chore(storyshots): update
  packages/filter-popover/src/__snapshots__/FilterPopover.story.storyshot
  packages/hoc-input/src/__snapshots__/formInput.story.storyshot
  packages/input-select/src/__snapshots__/Select.story.storyshot
  packages/more-info/src/components/__snapshots__/MoreInfo.story.storyshot
  packages/popover/src/__snapshots__/Popover.story.storyshot
  packages/tooltip/src/__snapshots__/Tooltip.story.storyshot
Due: none

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/static/preview.28b4394d39d5021bc275.bundle.js
  docs/static/preview.6cd708cee8e997f7133d.bundle.js
Due: eslint-app

feat(HOC-withTooltip): create component
  packages/hoc-withtooltip/src/HocWithTooltip.js
  packages/hoc-withtooltip/src/withTooltip.js
Due: eslint-app

docs(HOC-withTooltip): add readme
  packages/hoc-withtooltip/README.md
Due: none

WIP(HOC-withTooltip): initial files
  packages/hoc-withtooltip/AUTHORS
  packages/hoc-withtooltip/LICENSE
  packages/hoc-withtooltip/README.md
  packages/hoc-withtooltip/package.json
  packages/hoc-withtooltip/src/HocWithTooltip.js
  packages/hoc-withtooltip/src/HocWithTooltip.story.js
  packages/hoc-withtooltip/src/index.js
  yarn.lock
Due: eslint-app

test(HOC-withTooltip): add tests and stories
  packages/hoc-withtooltip/src/HocWithTooltip.story.js
  packages/hoc-withtooltip/src/withTooltip.story.js
  packages/hoc-withtooltip/src/withTooltip.test.js
Due: eslint-app, eslint-test

test(Storyshots): update
  packages/alert/src/__snapshots__/Alert.story.storyshot
  packages/amount-selectors/src/components/__snapshots__/AmountSelectors.story.storyshot
  packages/button/src/__snapshots__/Button.story.storyshot
  packages/card/src/__snapshots__/Card.story.storyshot
  packages/dropdown/src/components/__snapshots__/Dropdown.story.storyshot
  packages/empty-state/src/__snapshots__/EmptyState.story.storyshot
  packages/filter-popover/src/__snapshots__/FilterPopover.story.storyshot
  packages/footer/src/components/__snapshots__/Footer.story.storyshot
  packages/form-wrapper/src/__snapshots__/FormWrapper.story.storyshot
  packages/hoc-disabled-tooltip/src/__snapshots__/disabledTooltip.story.storyshot
  packages/hoc-withtooltip/src/__snapshots__/withTooltip.story.storyshot
  packages/more-info/src/components/__snapshots__/MoreInfo.story.storyshot
  packages/table/src/__snapshots__/Table.story.storyshot
Due: none

test(DisableTooltip and withTooltip): fix broken tests
  packages/hoc-disabled-tooltip/src/disabledTooltip.test.js
  packages/hoc-withtooltip/src/withTooltip.test.js
Due: eslint-test

Fix tooltipContent PropType
  packages/hoc-withtooltip/src/withTooltip.js
Due: eslint-app

feat(HOC-DisabledTooltip): use withTooltip-HOC on DisabledTooltip-HOC
  packages/hoc-disabled-tooltip/src/disabledTooltip.js
  packages/hoc-disabled-tooltip/src/styledComponents/Wrapper.js
Due: eslint-app

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/index.html
  docs/static/manager.584b9fc82981d871bddd.bundle.js
  docs/static/manager.c00108f78a1c287453b5.bundle.js
  docs/static/preview.28b4394d39d5021bc275.bundle.js
  docs/static/preview.ca6815f39dbdc05d8439.bundle.js
Due: eslint-app

feat(Tag): allow children rendering
  packages/tag/src/components/Tag.js
  packages/tag/src/components/Tag.story.js
Due: eslint-app

docs(Tag): update README
  packages/tag/README.md
Due: none

test(Storyshots): update
  packages/tag/src/components/__snapshots__/Tag.story.storyshot
Due: none

chore(release): [ci skip] publish
  packages/hoc-withtooltip/CHANGELOG.md
  packages/hoc-withtooltip/package.json
  packages/tag/CHANGELOG.md
  packages/tag/package.json
Due: none

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/static/preview.4c71866af7fa6d2b5801.bundle.js
  docs/static/preview.ca6815f39dbdc05d8439.bundle.js
Due: eslint-app

fix(Link): set onClick as undefined when link is disabled
  packages/link/src/components/Link.js
  packages/link/src/components/Link.story.js
Due: eslint-app

test(Storyshots): update
  packages/link/src/components/__snapshots__/Link.story.storyshot
Due: none

chore(Yarn.lock): update
  yarn.lock
Due: none

chore(release): [ci skip] publish
  packages/amount-selectors/CHANGELOG.md
  packages/amount-selectors/package.json
  packages/filter-popover/CHANGELOG.md
  packages/filter-popover/package.json
  packages/footer/CHANGELOG.md
  packages/footer/package.json
  packages/form-wrapper/CHANGELOG.md
  packages/form-wrapper/package.json
  packages/hoc-input/CHANGELOG.md
  packages/hoc-input/package.json
  packages/input-select/CHANGELOG.md
  packages/input-select/package.json
  packages/input-text/CHANGELOG.md
  packages/input-text/package.json
  packages/link/CHANGELOG.md
  packages/link/package.json
  packages/popover/CHANGELOG.md
  packages/popover/package.json
  packages/search-field/CHANGELOG.md
  packages/search-field/package.json
  packages/table/CHANGELOG.md
  packages/table/package.json
Due: none

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/static/preview.48177214f9f819652d4a.bundle.js
  docs/static/preview.4c71866af7fa6d2b5801.bundle.js
Due: eslint-app

fix(hoc-disabled-tooltip): change dependecy from tooltip to hoc-withtooltip
  packages/hoc-disabled-tooltip/package.json
  packages/hoc-withtooltip/package.json
Due: none

feat(package.json): upgrade styled-components to v4
  package.json
  packages/alert/package.json
  packages/amount-selectors/package.json
  packages/button/package.json
  packages/card/package.json
  packages/carousel/package.json
  packages/dropdown/package.json
  packages/empty-state/package.json
  packages/filter-popover/package.json
  packages/form-wrapper/package.json
  packages/hoc-disabled-tooltip/package.json
  packages/hoc-input/package.json
  packages/hoc-validation-messages/package.json
  packages/image/package.json
  packages/input-checkbox/package.json
  packages/input-radio/package.json
  packages/input-select/package.json
  packages/input-text/package.json
  packages/link/package.json
  packages/map-balloon/package.json
  packages/more-info/package.json
  packages/popover/package.json
  packages/search-field/package.json
  packages/stepper/package.json
  packages/table/package.json
  packages/tag/package.json
  packages/text/package.json
  packages/tooltip/package.json
  yarn.lock
Due: none

chore(Storybook): replace injectGlobal by createGlobalStyle
  .storybook/config.js
Due: eslint-app

fix(styled-components): use ref instead of innerRef
  packages/button/src/Button.js
  packages/dropdown/src/components/Dropdown.js
  packages/input-checkbox/src/Checkbox.js
  packages/input-select/src/Select.js
  packages/popover/src/Popover.js
  packages/search-field/src/components/ScrollBox.js
  packages/tooltip/src/Tooltip.js
Due: eslint-app

fix(styled-components): update dev dependencies needed for tests
  package.json
  yarn.lock
Due: none

test(input-select): fix tests broken after update of styled-components
  packages/input-select/src/Select.test.js
  packages/input-select/src/components/Item.js
Due: eslint-app, eslint-test

feat(update styled-components): update peer dependency for all packages
  packages/alert/package.json
  packages/amount-selectors/package.json
  packages/button/package.json
  packages/card/package.json
  packages/carousel/package.json
  packages/dropdown/package.json
  packages/empty-state/package.json
  packages/filter-popover/package.json
  packages/form-wrapper/package.json
  packages/hoc-disabled-tooltip/package.json
  packages/hoc-input/package.json
  packages/hoc-validation-messages/package.json
  packages/hoc-withtooltip/package.json
  packages/image/package.json
  packages/input-checkbox/package.json
  packages/input-radio/package.json
  packages/input-select/package.json
  packages/input-select/src/Select.js
  packages/link/package.json
  packages/map-balloon/package.json
  packages/more-info/package.json
  packages/popover/package.json
  packages/scaffold/src/templates/package.js
  packages/search-field/package.json
  packages/stepper/package.json
  packages/table/package.json
  packages/tag/package.json
  packages/text/package.json
  packages/tooltip/package.json
Due: eslint-app

Path conditions:
  eslint-app: any of: ^(?!.*\.test).*\.js$
  eslint-test: any of: \.test\.js$
