Repository CraveFood/farmblocks: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint-app, eslint-test

.pre-commit-config.yaml:

fail_fast: true
repos:
-   repo: https://github.com/prettier/prettier
    sha: '1.7.0'
    hooks:
      - id: prettier

-   repo: local
    hooks:
      - id: eslint-app
        name: eslint-app
        entry: ./node_modules/eslint/bin/eslint.js
        args:
          - "--config=.eslintrc.js"
          - "--ignore-path=.eslintignore"
        language: system
        files: '^(?!.*\.test).*\.js$'

      - id: eslint-test
        name: eslint-test
        entry: ./node_modules/eslint/bin/eslint.js
        args:
          - "--config=.test.eslintrc.js"
          - "--ignore-path=.test.eslintignore"
        language: system
        files: '\.test\.js$'

feat(search-field): change input background when an item is selected
  packages/search-field/package.json
  packages/search-field/src/SearchField.js
  packages/search-field/src/styledComponents/DropdownWrapper.js
Due: eslint-app

feat(search-field): rename event props for consistency with other components
  packages/search-field/src/SearchField.js
  packages/search-field/src/SearchField.story.js
Due: eslint-app

fix(search-field): component behavior on input clear or blur
  packages/search-field/src/SearchField.js
  packages/search-field/src/SearchField.story.js
Due: eslint-app

feat(search-field): discard displayValue prop
  packages/search-field/src/SearchField.js
  packages/search-field/src/SearchField.story.js
Due: eslint-app

test(search-field): update tests for behavior change
  packages/search-field/__mocks__/lodash.debounce.js
  packages/search-field/src/SearchField.js
  packages/search-field/src/SearchField.test.js
Due: eslint-app, eslint-test

test(search-field): update tests for SearchField change
  packages/search-field/src/SearchField.js
  packages/search-field/src/SearchField.test.js
Due: eslint-app, eslint-test

fix(search-field): clear input on blur
  packages/search-field/src/SearchField.js
Due: eslint-app

docs(search-field): update readme for props name changes
  packages/search-field/README.md
Due: none

fix(search-field): input behavior when an item is selected
  packages/search-field/src/SearchField.js
  packages/search-field/src/components/StaticInput.js
  packages/search-field/src/styledComponents/DropdownWrapper.js
Due: eslint-app

feat(search-field): add zIndex prop
  packages/search-field/src/SearchField.js
  packages/search-field/src/SearchField.story.js
Due: eslint-app

chore(release): [ci skip] publish
  packages/amount-selectors/CHANGELOG.md
  packages/amount-selectors/package.json
Due: none

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/static/preview.753408779d831e7e9407.bundle.js
  docs/static/preview.90dca7c863794d82515c.bundle.js
Due: eslint-app

chore(release): [ci skip] publish
  packages/search-field/CHANGELOG.md
  packages/search-field/package.json
Due: none

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/index.html
  docs/static/manager.45bb2cac1462e6744f5c.bundle.js
  docs/static/manager.d942c82e583c99f5c411.bundle.js
  docs/static/preview.09d1fc682a7904d60802.bundle.js
  docs/static/preview.753408779d831e7e9407.bundle.js
Due: eslint-app

refactor(snapshots config): remove old workaround
  Storyshots.test.js
Due: eslint-test

fix(snapshots config): exclude addon-info HTML from the snapshots
  Storyshots.test.js
Due: eslint-test

chore(dependencies): updgrade storybook related dependencies and clean unused
  .storybook/addons.js
Due: eslint-app

feat(snapshots): enable multi-snapshots
  Storyshots.test.js
Due: eslint-test

fix(stories): the second argument of storiesOf shouldnt be a string
  packages/amount-selectors/src/components/AmountSelectors.story.js
  packages/carousel/src/Carousel.story.js
  packages/dropdown/src/components/Dropdown.story.js
  packages/dropdown/src/components/DropdownItem.story.js
  packages/hoc-disabled-tooltip/src/disabledTooltip.story.js
  packages/hoc-input/src/formInput.story.js
  packages/hoc-validation-messages/src/withMessages.story.js
  packages/input-checkbox/src/Checkbox.story.js
  packages/input-radio/src/Radio.story.js
  packages/input-radio/src/RadioGroup.story.js
  packages/input-select/src/Select.story.js
  packages/input-select/src/components/EmptyCard.story.js
  packages/input-select/src/components/Item.story.js
  packages/input-select/src/components/withImage.story.js
  packages/input-text/src/TextInput.story.js
  packages/map-balloon/src/MapBalloon.story.js
  packages/more-info/src/components/MoreInfo.story.js
  packages/scaffold/src/templates/componentStory.js
  packages/search-field/src/SearchField.story.js
  packages/search-field/src/components/Menu.story.js
  packages/search-field/src/components/ScrollBox.story.js
  packages/table/src/Table.story.js
  packages/tag/src/components/Tag.story.js
Due: eslint-app

fix(snapshots): make jest-styled-components work with multi snapshots
  Storyshots.test.js
Due: eslint-test

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/index.html
  docs/static/manager.1180a290d9632a767541.bundle.js
  docs/static/manager.45bb2cac1462e6744f5c.bundle.js
  docs/static/preview.09d1fc682a7904d60802.bundle.js
  docs/static/preview.8968cac50a61e3edbca5.bundle.js
Due: eslint-app

fix(Amount Selectors): parse value to number in onChange function
  packages/amount-selectors/src/components/AmountSelectors.js
Due: eslint-app

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/static/preview.8968cac50a61e3edbca5.bundle.js
  docs/static/preview.aa35cd7e73c53119629d.bundle.js
Due: eslint-app

test(amount-selector): new story to test props received after mount
  packages/amount-selectors/src/components/AmountSelectors.story.js
Due: eslint-app

fix(amount-selector): update input value when prop is set after mount
  packages/amount-selectors/src/components/AmountSelectors.js
Due: eslint-app

test(amount-selector): new tests for checking prop update after first mount
  packages/amount-selectors/src/components/AmountSelectors.test.js
Due: eslint-test

docs(storyshots): update
  packages/amount-selectors/src/components/__snapshots__/AmountSelectors.story.storyshot
Due: none

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/static/preview.06f1b8ba93cc27524fa1.bundle.js
  docs/static/preview.aa35cd7e73c53119629d.bundle.js
Due: eslint-app

test(table): fix failing test that used old selected rows key format (integer)
  packages/table/src/Table.test.js
Due: eslint-test

docs(table): add story with the expected API for row groups
  packages/table/README.md
  packages/table/src/Table.story.js
Due: eslint-app

feat(table): implement expandable groups and row buttons
  packages/table/src/Table.js
Due: eslint-app

docs(table): reorganize stories into more categories
  packages/table/src/Table.story.js
Due: eslint-app

chore(table): include button dependency
  packages/table/package.json
Due: none

docs(table): add story with selection header and row groups
  packages/table/src/Table.story.js
Due: eslint-app
