Repository CraveFood/farmblocks: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint-app, eslint-test

eslint-app:
  name: eslint-app
  entry: ./node_modules/eslint/bin/eslint.js
  args:
  - --config=.eslintrc.js
  - --ignore-path=.eslintignore
  language: system

eslint-test:
  name: eslint-test
  entry: ./node_modules/eslint/bin/eslint.js
  args:
  - --config=.test.eslintrc.js
  - --ignore-path=.test.eslintignore
  language: system

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/index.html
  docs/main.35afc418d69a4797fd52.bundle.js
  docs/main.cc765405beb0e00da12c.bundle.js
  docs/main.cc765405beb0e00da12c.bundle.js.map
  docs/main.d7eb1d72bd01463d5d5f.bundle.js
  docs/main.e2a8951c447b02cfaa72.bundle.js
  docs/main.e2a8951c447b02cfaa72.bundle.js.map
  docs/runtime~main.707b56da4e928e093175.bundle.js
  docs/runtime~main.cc765405beb0e00da12c.bundle.js
  docs/runtime~main.cc765405beb0e00da12c.bundle.js.map
  docs/runtime~main.e2a8951c447b02cfaa72.bundle.js.map
  docs/sb_dll/storybook_ui-manifest.json
  docs/sb_dll/storybook_ui_dll.js
  docs/vendors~main.2f08d858f9fb00081d8e.bundle.js
  docs/vendors~main.b5397500498f68f5f484.bundle.js
  docs/vendors~main.cc765405beb0e00da12c.bundle.js
  docs/vendors~main.cc765405beb0e00da12c.bundle.js.LICENSE.txt
  docs/vendors~main.cc765405beb0e00da12c.bundle.js.map
  docs/vendors~main.e2a8951c447b02cfaa72.bundle.js
  docs/vendors~main.e2a8951c447b02cfaa72.bundle.js.map
Due: eslint-app

feat(amount-selector): add removable option and style
  packages/amount-selectors/src/components/AmountSelectors.js
  packages/amount-selectors/src/components/AmountSelectors.story.js
Due: eslint-app

feat(amount-selectors): change component style
  packages/amount-selectors/src/components/AmountSelectors.js
Due: eslint-app

chore(storyshots): update
  packages/amount-selectors/src/components/__snapshots__/AmountSelectors.story.storyshot
Due: none

chore(release): [ci skip] publish
  packages/amount-selectors/CHANGELOG.md
  packages/amount-selectors/package.json
Due: none

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/main.cc765405beb0e00da12c.bundle.js
  docs/main.cc765405beb0e00da12c.bundle.js.map
  docs/main.ded9415758d83536a2ef.bundle.js
  docs/main.ded9415758d83536a2ef.bundle.js.map
  docs/runtime~main.cc765405beb0e00da12c.bundle.js.map
  docs/runtime~main.ded9415758d83536a2ef.bundle.js
  docs/runtime~main.ded9415758d83536a2ef.bundle.js.map
  docs/vendors~main.cc765405beb0e00da12c.bundle.js
  docs/vendors~main.cc765405beb0e00da12c.bundle.js.map
  docs/vendors~main.ded9415758d83536a2ef.bundle.js
  docs/vendors~main.ded9415758d83536a2ef.bundle.js.LICENSE.txt
  docs/vendors~main.ded9415758d83536a2ef.bundle.js.map
Due: eslint-app

feat(amount-selects): add data-testid to buttons
  packages/amount-selectors/src/components/AmountSelectors.js
Due: eslint-app

test(storyshots): update
  packages/amount-selectors/src/components/__snapshots__/AmountSelectors.story.storyshot
Due: none

feat(icons): add github and dribbble
  packages/icon/src/svg/Social/MdDribbble.svg
  packages/icon/src/svg/Social/MdDribbbleFilled.svg
  packages/icon/src/svg/Social/MdGithub.svg
  packages/icon/src/svg/Social/MdGithubFilled.svg
Due: none

chore(storyshots): update
  __snapshots__/Storyshots.test.js.snap
Due: none

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/main.30b82db749bcd8d4a242.bundle.js
  docs/main.30b82db749bcd8d4a242.bundle.js.map
  docs/main.ded9415758d83536a2ef.bundle.js
  docs/main.ded9415758d83536a2ef.bundle.js.map
  docs/runtime~main.30b82db749bcd8d4a242.bundle.js
  docs/runtime~main.30b82db749bcd8d4a242.bundle.js.map
  docs/runtime~main.ded9415758d83536a2ef.bundle.js.map
  docs/vendors~main.30b82db749bcd8d4a242.bundle.js
  docs/vendors~main.30b82db749bcd8d4a242.bundle.js.LICENSE.txt
  docs/vendors~main.30b82db749bcd8d4a242.bundle.js.map
  docs/vendors~main.ded9415758d83536a2ef.bundle.js
  docs/vendors~main.ded9415758d83536a2ef.bundle.js.map
Due: eslint-app

fix(icon): color of MdDribbble and MdGithub
  packages/icon/src/jsx/MdDribbble.js
  packages/icon/src/jsx/MdDribbbleFilled.js
  packages/icon/src/jsx/MdGithub.js
  packages/icon/src/jsx/MdGithubFilled.js
  packages/icon/src/svg/Social/MdDribbble.svg
  packages/icon/src/svg/Social/MdDribbbleFilled.svg
  packages/icon/src/svg/Social/MdGithub.svg
  packages/icon/src/svg/Social/MdGithubFilled.svg
Due: eslint-app

test(storyshot): update
  __snapshots__/Storyshots.test.js.snap
Due: none

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/main.30b82db749bcd8d4a242.bundle.js
  docs/main.30b82db749bcd8d4a242.bundle.js.map
  docs/main.5cf94d9c7733f4d3c2a0.bundle.js
  docs/main.5cf94d9c7733f4d3c2a0.bundle.js.map
  docs/runtime~main.30b82db749bcd8d4a242.bundle.js.map
  docs/runtime~main.5cf94d9c7733f4d3c2a0.bundle.js
  docs/runtime~main.5cf94d9c7733f4d3c2a0.bundle.js.map
  docs/vendors~main.30b82db749bcd8d4a242.bundle.js.map
  docs/vendors~main.5cf94d9c7733f4d3c2a0.bundle.js
  docs/vendors~main.5cf94d9c7733f4d3c2a0.bundle.js.LICENSE.txt
  docs/vendors~main.5cf94d9c7733f4d3c2a0.bundle.js.map
Due: eslint-app

feat(input-select): add onMenuVisibilityChange callback
  packages/input-select/README.md
  packages/input-select/src/Select.js
  packages/input-select/src/Select.story.js
  packages/input-select/src/Select.test.js
Due: eslint-app, eslint-test

test(storyshots): update
  packages/input-select/src/__snapshots__/Select.story.storyshot
Due: none

chore(release): [ci skip] publish
  packages/input-phone/CHANGELOG.md
  packages/input-phone/package.json
  packages/input-select/CHANGELOG.md
  packages/input-select/package.json
  packages/search-field/CHANGELOG.md
  packages/search-field/package.json
Due: none

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/main.2d232d489be4d2e45b3b.bundle.js
  docs/main.2d232d489be4d2e45b3b.bundle.js.map
  docs/main.5cf94d9c7733f4d3c2a0.bundle.js
  docs/main.5cf94d9c7733f4d3c2a0.bundle.js.map
  docs/runtime~main.2d232d489be4d2e45b3b.bundle.js
  docs/runtime~main.2d232d489be4d2e45b3b.bundle.js.map
  docs/runtime~main.5cf94d9c7733f4d3c2a0.bundle.js.map
  docs/vendors~main.2d232d489be4d2e45b3b.bundle.js
  docs/vendors~main.2d232d489be4d2e45b3b.bundle.js.LICENSE.txt
  docs/vendors~main.2d232d489be4d2e45b3b.bundle.js.map
  docs/vendors~main.5cf94d9c7733f4d3c2a0.bundle.js
  docs/vendors~main.5cf94d9c7733f4d3c2a0.bundle.js.map
Due: eslint-app

feat(label): rewrite with new style
  packages/label/AUTHORS
  packages/label/README.md
  packages/label/package.json
  packages/label/src/Label.js
  packages/label/src/Label.story.js
Due: eslint-app

test(storyshots): update
  __snapshots__/Storyshots.test.js.snap
  packages/card/src/__snapshots__/Card.story.storyshot
  packages/carousel/src/__snapshots__/Carousel.story.storyshot
  packages/empty-state/src/__snapshots__/EmptyState.story.storyshot
  packages/footer/src/components/__snapshots__/Footer.story.storyshot
  packages/form-wrapper/src/__snapshots__/FormWrapper.story.storyshot
  packages/hoc-input/src/__snapshots__/formInput.story.storyshot
  packages/hoc-validation-messages/src/__snapshots__/withMessages.story.storyshot
  packages/input-currency/src/__snapshots__/CurrencyInput.story.storyshot
  packages/input-select/src/__snapshots__/Select.story.storyshot
  packages/input-select/src/components/__snapshots__/EmptyCard.story.storyshot
  packages/input-text/src/__snapshots__/TextAreaInput.story.storyshot
  packages/input-text/src/__snapshots__/TextInput.story.storyshot
  packages/modal/src/__snapshots__/DialogModal.story.storyshot
  packages/search-field/src/__snapshots__/SearchField.story.storyshot
  packages/table/src/__snapshots__/Table.story.storyshot
Due: none

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/main.2d232d489be4d2e45b3b.bundle.js
  docs/main.2d232d489be4d2e45b3b.bundle.js.map
  docs/main.f4bde5061788cdad39a7.bundle.js
  docs/main.f4bde5061788cdad39a7.bundle.js.map
  docs/runtime~main.2d232d489be4d2e45b3b.bundle.js.map
  docs/runtime~main.f4bde5061788cdad39a7.bundle.js
  docs/runtime~main.f4bde5061788cdad39a7.bundle.js.map
  docs/vendors~main.2d232d489be4d2e45b3b.bundle.js
  docs/vendors~main.2d232d489be4d2e45b3b.bundle.js.map
  docs/vendors~main.f4bde5061788cdad39a7.bundle.js
  docs/vendors~main.f4bde5061788cdad39a7.bundle.js.LICENSE.txt
  docs/vendors~main.f4bde5061788cdad39a7.bundle.js.map
Due: eslint-app

chore(table): clean up
  packages/table/AUTHORS
  packages/table/README.md
  packages/table/package.json
  packages/table/src/Column.js
  packages/table/src/Column.test.js
  packages/table/src/SelectionBar.js
  packages/table/src/SelectionBar.test.js
  packages/table/src/Table.js
  packages/table/src/Table.story.js
  packages/table/src/Table.test.js
  packages/table/src/__snapshots__/Table.story.storyshot
  packages/table/src/components.styled.js
  packages/table/src/constants.js
  packages/table/src/index.js
  packages/table/src/styledComponents/Cell.js
  packages/table/src/styledComponents/ChildRow.js
  packages/table/src/styledComponents/SelectionBar.js
  packages/table/src/styledComponents/Table.js
  yarn.lock
Due: eslint-app, eslint-test

feat(table): create basic components
  packages/table/src/Table.story.js
  packages/table/src/components.styled.js
Due: eslint-app

test(storyshots): add support for MDX stories
  jest.config.js
Due: eslint-app

feat(table): pass data to custom components in useTableMap
  packages/table/src/hooks/index.js
  packages/table/src/hooks/useTableMap.js
  packages/table/src/hooks/useTableMap.test.js
  packages/table/src/index.js
Due: eslint-app, eslint-test

refactor(table): use Text component's props to set color, size and weight
  packages/table/src/components.styled.js
Due: eslint-app

feat(table): use css grid
  packages/table/README.md
  packages/table/src/Table.story.js
  packages/table/src/components.styled.js
Due: eslint-app

feat(table): create useTableMap hook
  packages/table/src/hooks/useTableMap.js
  packages/table/src/hooks/useTableMap.test.js
Due: eslint-app, eslint-test

docs(table): convert stories to MDX
  .pre-commit-config.yaml
  .prettierignore
  packages/table/README.md
  packages/table/src/Table.story.js
  packages/table/src/Table.story.mdx
Due: eslint-app

docs(storybook): add MDX support
  .storybook/addons.js
  .storybook/main.js
  .storybook/presets.js
  .storybook/preview.js
  package.json
  yarn.lock
Due: eslint-app

test(storyshots): update
  __snapshots__/Storyshots.test.js.snap
Due: none

docs(table): add story and instructions for the useTableMap hook
  packages/table/src/Table.story.mdx
  packages/table/src/hooks/useTableMap.story.js
Due: eslint-app

chore(release): [ci skip] publish
  packages/table/CHANGELOG.md
  packages/table/package.json
Due: none

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/index.html
  docs/main.10ed0118d293a07d532a.bundle.js
  docs/main.10ed0118d293a07d532a.bundle.js.map
  docs/main.1ec05aa297c91ad29a49.bundle.js
  docs/main.35afc418d69a4797fd52.bundle.js
  docs/main.f4bde5061788cdad39a7.bundle.js
  docs/main.f4bde5061788cdad39a7.bundle.js.map
  docs/runtime~main.10ed0118d293a07d532a.bundle.js
  docs/runtime~main.10ed0118d293a07d532a.bundle.js.map
  docs/runtime~main.f4bde5061788cdad39a7.bundle.js.map
  docs/vendors~main.10ed0118d293a07d532a.bundle.js
  docs/vendors~main.10ed0118d293a07d532a.bundle.js.LICENSE.txt
  docs/vendors~main.10ed0118d293a07d532a.bundle.js.map
  docs/vendors~main.a85cf3a6e04026ff4fe7.bundle.js
  docs/vendors~main.f4bde5061788cdad39a7.bundle.js
  docs/vendors~main.f4bde5061788cdad39a7.bundle.js.map
Due: eslint-app

feat: remove obsolete hoc-validation-messages from dependent packages
  packages/input-select/package.json
  packages/input-select/src/Select.js
  packages/input-text/package.json
  packages/input-text/src/TextAreaInput.js
  packages/input-text/src/TextInput.js
  packages/search-field/package.json
Due: eslint-app

refactor(hoc-validation-messages): remove component
  __snapshots__/Storyshots.test.js.snap
  greenkeeper.json
  packages/hoc-validation-messages/AUTHORS
  packages/hoc-validation-messages/CHANGELOG.md
  packages/hoc-validation-messages/LICENSE
  packages/hoc-validation-messages/README.md
  packages/hoc-validation-messages/package.json
  packages/hoc-validation-messages/src/__snapshots__/withMessages.story.storyshot
  packages/hoc-validation-messages/src/constants/errorIcon.js
  packages/hoc-validation-messages/src/index.js
  packages/hoc-validation-messages/src/styledComponents/MessageWrapper.js
  packages/hoc-validation-messages/src/withMessages.js
  packages/hoc-validation-messages/src/withMessages.story.js
  packages/hoc-validation-messages/src/withMessages.test.js
Due: eslint-app, eslint-test

Path conditions:
  eslint-app: any of: ^(?!.*\.test).*\.js$
  eslint-test: any of: \.test\.js$
