Repository CraveFood/farmblocks: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint-app, eslint-test

eslint-app:
  name: eslint-app
  entry: ./node_modules/eslint/bin/eslint.js
  args:
  - --config=.eslintrc.js
  - --ignore-path=.eslintignore
  language: system

eslint-test:
  name: eslint-test
  entry: ./node_modules/eslint/bin/eslint.js
  args:
  - --config=.test.eslintrc.js
  - --ignore-path=.test.eslintignore
  language: system

docs(sidenav): update storybook link
  packages/sidenav/README.md
Due: none

Update packages/sidenav/README.md
  packages/sidenav/README.md
Due: none

Update packages/sidenav/LICENSE
  packages/sidenav/LICENSE
Due: none

feat(sidenav): remove useless file and add proptypes to sidebar
  packages/sidenav/src/SideNav.story.js
  packages/sidenav/src/SideNav.test.js
  packages/sidenav/src/components/SideBar/SideBar.styled.js
  packages/sidenav/src/components/SideBar/Sidebar.js
  packages/sidenav/src/components/SideBar/index.js
  packages/sidenav/src/helpers/PageWrapper/PageWrapper.js
Due: eslint-app, eslint-test

chore(sidebar): fix lint error
  packages/icon/src/Icon.story.js
Due: eslint-app

feat(pagewrapper): change overlay logic and update storybook
  __snapshots__/Storyshots.test.js.snap
  package.json
  packages/sidenav/src/helpers/PageWrapper/PageWrapper.js
  packages/sidenav/src/helpers/PageWrapper/PageWrapper.styled.js
  yarn.lock
Due: eslint-app

feat(sidebar): fix fullscreen expand transition
  __snapshots__/Storyshots.test.js.snap
  packages/input-select/src/__snapshots__/Select.story.storyshot
  packages/sidenav/src/components/SideBar/SideBar.styled.js
Due: eslint-app

chore(sidebar): update yarn lock
  __snapshots__/Storyshots.test.js.snap
  yarn.lock
Due: none

feat(sidenav): extract overlay to a diferent component and spread its props
  packages/sidenav/README.md
  packages/sidenav/src/SideNav.story.js
  packages/sidenav/src/helpers/PageWrapper/PageWrapper.js
  packages/sidenav/src/helpers/PageWrapper/PageWrapper.styled.js
Due: eslint-app

feat(sidebar): fix safari backdrop blur
  packages/sidenav/src/components/SideBar/SideBar.styled.js
  packages/sidenav/src/helpers/PageWrapper/PageWrapper.styled.js
Due: eslint-app

chore: fix linter errors
  packages/amount-selectors/src/components/AmountSelectors.js
  packages/button/src/Button.js
  packages/carousel/src/Carousel.js
  packages/empty-state/src/EmptyState.js
  packages/hoc-input/src/formInput.js
  packages/hoc-validation-messages/src/withMessages.js
  packages/input-checkbox/src/Checkbox.js
  packages/input-radio/src/Radio.js
  packages/input-radio/src/RadioGroup.js
  packages/input-select/src/Select.js
  packages/input-select/src/components/withImage.js
  packages/input-text/src/protectedValue.js
  packages/modal/src/helpers.story.js
  packages/popover/src/Popover.js
  packages/search-field/src/SearchField.js
  packages/search-field/src/components/ScrollBox.js
  packages/sidenav/src/SideNav.test.js
  packages/stepper/src/components/Step.js
  packages/stepper/src/components/Stepper.js
  yarn.lock
Due: eslint-app, eslint-test

chore(sidenav): reset yarn lock
  yarn.lock
Due: none

chore(sidenav): update storyshots
  __snapshots__/Storyshots.test.js.snap
  packages/alert/src/__snapshots__/Alert.story.storyshot
  packages/amount-selectors/src/components/__snapshots__/AmountSelectors.story.storyshot
  packages/button/src/__snapshots__/Button.story.storyshot
  packages/card/src/__snapshots__/Card.story.storyshot
  packages/carousel/src/__snapshots__/Carousel.story.storyshot
  packages/dropdown/src/components/__snapshots__/Dropdown.story.storyshot
  packages/empty-state/src/__snapshots__/EmptyState.story.storyshot
  packages/filter-popover/src/__snapshots__/FilterPopover.story.storyshot
  packages/footer/src/components/__snapshots__/Footer.story.storyshot
  packages/form-wrapper/src/__snapshots__/FormWrapper.story.storyshot
  packages/hoc-input/src/__snapshots__/formInput.story.storyshot
  packages/hoc-validation-messages/src/__snapshots__/withMessages.story.storyshot
  packages/image/src/__snapshots__/Image.story.storyshot
  packages/input-checkbox/src/__snapshots__/Checkbox.story.storyshot
  packages/input-currency/src/__snapshots__/CurrencyInput.story.storyshot
  packages/input-radio/src/__snapshots__/RadioGroup.story.storyshot
  packages/input-select/src/__snapshots__/Select.story.storyshot
  packages/input-select/src/components/__snapshots__/EmptyCard.story.storyshot
  packages/input-select/src/components/__snapshots__/Item.story.storyshot
  packages/input-select/src/components/__snapshots__/withImage.story.storyshot
  packages/input-text/src/__snapshots__/TextAreaInput.story.storyshot
  packages/input-text/src/__snapshots__/TextInput.story.storyshot
  packages/map-balloon/src/__snapshots__/MapBalloon.story.storyshot
  packages/modal/src/__snapshots__/DialogModal.story.storyshot
  packages/modal/src/__snapshots__/Modal.story.storyshot
  packages/modal/src/__snapshots__/helpers.story.storyshot
  packages/more-info/src/components/__snapshots__/MoreInfo.story.storyshot
  packages/popover/src/__snapshots__/Popover.story.storyshot
  packages/search-field/src/__snapshots__/SearchField.story.storyshot
  packages/search-field/src/components/__snapshots__/Menu.story.storyshot
  packages/stepper/src/components/__snapshots__/Stepper.story.storyshot
  packages/table/src/__snapshots__/Table.story.storyshot
  packages/tag/src/components/__snapshots__/Tag.story.storyshot
  packages/text/src/components/__snapshots__/Text.Paragraph.story.storyshot
  packages/text/src/components/__snapshots__/Text.story.storyshot
  packages/tooltip/src/__snapshots__/TooltipContent.story.storyshot
Due: none

feat(sidebar): fix overlay position and zindex proptype
  __snapshots__/Storyshots.test.js.snap
  packages/sidenav/src/SideNav.js
  packages/sidenav/src/components/NavButton/NavButton.js
  packages/sidenav/src/components/SideBar/SideBar.styled.js
  packages/sidenav/src/helpers/PageWrapper/PageWrapper.styled.js
Due: eslint-app

docs(docspage): fix docspage fixed items and add proptypes descriptions
  packages/sidenav/src/SideNav.js
  packages/sidenav/src/SideNav.story.js
  packages/sidenav/src/components/NavItem/NavItem.js
Due: eslint-app

docs(sidenav): add pagewrapper story
  packages/sidenav/package.json
  packages/sidenav/src/helpers/PageWrapper/PageWrapper.story.js
  yarn.lock
Due: eslint-app

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/index.html
  docs/main.3fb049a7a37deddf2562.bundle.js
  docs/main.4559122216f6c3a7a664.bundle.js
  docs/main.5657dc4a3abf301e1ed5.bundle.js
  docs/main.5657dc4a3abf301e1ed5.bundle.js.map
  docs/main.a79cb59e63903b035a58.bundle.js
  docs/main.a79cb59e63903b035a58.bundle.js.map
  docs/runtime~main.4d6118575687c0a0f1fb.bundle.js
  docs/runtime~main.5657dc4a3abf301e1ed5.bundle.js
  docs/runtime~main.5657dc4a3abf301e1ed5.bundle.js.map
  docs/runtime~main.a79cb59e63903b035a58.bundle.js
  docs/runtime~main.a79cb59e63903b035a58.bundle.js.map
  docs/runtime~main.d6878bfc6f9b1805e480.bundle.js
  docs/sb_dll/storybook_ui-manifest.json
  docs/sb_dll/storybook_ui_dll.LICENCE
  docs/sb_dll/storybook_ui_dll.js
  docs/vendors~main.397226b645f2e9974ec7.bundle.js
  docs/vendors~main.5657dc4a3abf301e1ed5.bundle.js
  docs/vendors~main.5657dc4a3abf301e1ed5.bundle.js.map
  docs/vendors~main.96b15de4cd8f37a93367.bundle.js
  docs/vendors~main.a79cb59e63903b035a58.bundle.js
  docs/vendors~main.a79cb59e63903b035a58.bundle.js.map
Due: eslint-app

feat(icon): add withAnimation HOC
  packages/icon/src/Icon.story.js
  packages/icon/src/IconsBrowser.js
  packages/icon/src/index.js
  packages/icon/src/withAnimation.js
Due: eslint-app

feat(icon): add minus
  packages/icon/src/jsx/MdMinus.js
  packages/icon/src/jsx/MdMinusFilled.js
  packages/icon/src/jsx/index.js
  packages/icon/src/svg/Actions/MdMinus.svg
  packages/icon/src/svg/Actions/MdMinusFilled.svg
Due: eslint-app

feat(amount-selectors): use new icons
  packages/amount-selectors/package.json
  packages/amount-selectors/src/components/AmountSelectors.js
Due: eslint-app

feat(dropdown): use new icon
  packages/dropdown/package.json
  packages/dropdown/src/components/Dropdown.js
Due: eslint-app

feat(empty-state): use new icon
  packages/empty-state/package.json
  packages/empty-state/src/EmptyState.js
  packages/empty-state/src/EmptyState.story.js
  packages/empty-state/src/styledComponents/Container.js
Due: eslint-app

feat(button): use new icons
  packages/button/package.json
  packages/button/src/Button.js
  packages/button/src/Button.story.js
  packages/button/src/Button.test.js
  packages/button/src/styledComponents/Button.js
Due: eslint-app, eslint-test

feat(alert): use new icon
  packages/alert/package.json
  packages/alert/src/Alert.js
  packages/alert/src/Alert.story.js
Due: eslint-app

feat(filter-popover): use new icon
  packages/filter-popover/package.json
  packages/filter-popover/src/FilterPopover.js
Due: eslint-app

chore(storyshots): update
  __snapshots__/Storyshots.test.js.snap
  packages/alert/src/__snapshots__/Alert.story.storyshot
  packages/amount-selectors/src/components/__snapshots__/AmountSelectors.story.storyshot
  packages/button/src/__snapshots__/Button.story.storyshot
  packages/card/src/__snapshots__/Card.story.storyshot
  packages/dropdown/src/components/__snapshots__/Dropdown.story.storyshot
  packages/empty-state/src/__snapshots__/EmptyState.story.storyshot
  packages/filter-popover/src/__snapshots__/FilterPopover.story.storyshot
  packages/footer/src/components/__snapshots__/Footer.story.storyshot
  packages/form-wrapper/src/__snapshots__/FormWrapper.story.storyshot
  packages/hoc-input/src/__snapshots__/formInput.story.storyshot
  packages/hoc-input/src/formInput.js
  packages/hoc-input/src/formInput.test.js
  packages/input-checkbox/src/__snapshots__/Checkbox.story.storyshot
  packages/input-currency/src/__snapshots__/CurrencyInput.story.storyshot
  packages/input-select/src/__snapshots__/Select.story.storyshot
  packages/input-select/src/components/__snapshots__/Item.story.storyshot
  packages/input-text/src/__snapshots__/TextAreaInput.story.storyshot
  packages/input-text/src/__snapshots__/TextInput.story.storyshot
  packages/link/src/components/__snapshots__/Link.Neutral.story.storyshot
  packages/link/src/components/__snapshots__/Link.Normal.story.storyshot
  packages/link/src/components/__snapshots__/Link.story.storyshot
  packages/map-balloon/src/__snapshots__/MapBalloon.story.storyshot
  packages/modal/src/__snapshots__/DialogModal.story.storyshot
  packages/modal/src/__snapshots__/Modal.story.storyshot
  packages/modal/src/__snapshots__/helpers.story.storyshot
  packages/more-info/src/components/__snapshots__/MoreInfo.story.storyshot
  packages/popover/src/__snapshots__/Popover.story.storyshot
  packages/search-field/src/__snapshots__/SearchField.story.storyshot
  packages/search-field/src/components/__snapshots__/Menu.story.storyshot
  packages/stepper/src/components/__snapshots__/Step.story.storyshot
  packages/stepper/src/components/__snapshots__/Stepper.story.storyshot
  packages/table/src/__snapshots__/Table.story.storyshot
  packages/tag/src/components/__snapshots__/Tag.story.storyshot
  packages/tooltip/src/__snapshots__/Tooltip.story.storyshot
  packages/tooltip/src/__snapshots__/TooltipContent.story.storyshot
Due: eslint-app, eslint-test

feat(link): use new icons
  packages/link/package.json
  packages/link/src/components/Link.Neutral.story.js
  packages/link/src/components/Link.Normal.story.js
  packages/link/src/components/Link.js
  packages/link/src/components/Link.story.js
  packages/link/src/styledComponents/Link.js
Due: eslint-app

chore: bump icon version in dependent packages
  packages/alert/package.json
  packages/amount-selectors/package.json
  packages/button/package.json
  packages/dropdown/package.json
  packages/empty-state/package.json
  packages/filter-popover/package.json
  packages/hoc-input/package.json
  packages/input-checkbox/package.json
  packages/input-select/package.json
  packages/input-text/package.json
  packages/link/package.json
  packages/map-balloon/package.json
  packages/modal/package.json
  packages/more-info/package.json
  packages/stepper/package.json
  packages/table/package.json
  packages/tag/package.json
Due: none

feat(modal): use new icons
  packages/modal/package.json
  packages/modal/src/DialogModal.story.js
  packages/modal/src/Modal.js
  packages/modal/src/Modal.story.js
Due: eslint-app

feat(icon): crop part of the margin in the icons
  packages/icon/buildJSX.js
  packages/icon/sizes.js
  packages/icon/src/Icon.js
  packages/icon/src/Icon.story.js
  packages/icon/src/IconsBrowser.js
Due: eslint-app

feat(tag): use new icons
  packages/tag/README.md
  packages/tag/package.json
  packages/tag/src/components/Tag.js
  packages/tag/src/components/Tag.story.js
  packages/tag/src/components/styledComponent/StyledTag.js
Due: eslint-app

feat(table): use new icons
  packages/table/package.json
  packages/table/src/Table.js
  packages/table/src/Table.story.js
  packages/table/src/styledComponents/Cell.js
Due: eslint-app

feat(map-balloon): use new icons
  packages/map-balloon/package.json
  packages/map-balloon/src/MapBalloon.js
  packages/map-balloon/src/styledComponents/Balloon.js
  packages/map-balloon/src/styledComponents/Pin.js
Due: eslint-app

feat(stepper): use new icons
  packages/stepper/package.json
  packages/stepper/src/components/Step.js
  packages/stepper/src/constants/colorTypes.js
  packages/stepper/src/styledComponents/Step.js
Due: eslint-app

feat(more-info): use new icons
  packages/more-info/README.md
  packages/more-info/package.json
  packages/more-info/src/components/MoreInfo.js
  packages/more-info/src/components/MoreInfo.story.js
  packages/more-info/src/styledComponents/StyledInfo.js
Due: eslint-app

feat(search-field): use new icons
  packages/search-field/src/SearchField.story.js
  packages/search-field/src/components/Menu.story.js
Due: eslint-app

Path conditions:
  eslint-app: any of: ^(?!.*\.test).*\.js$
  eslint-test: any of: \.test\.js$
