Repository CraveFood/farmblocks: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint-app, eslint-test

eslint-app:
  name: eslint-app
  entry: ./node_modules/eslint/bin/eslint.js
  args:
  - --config=.eslintrc.js
  - --ignore-path=.eslintignore
  language: system

eslint-test:
  name: eslint-test
  entry: ./node_modules/eslint/bin/eslint.js
  args:
  - --config=.test.eslintrc.js
  - --ignore-path=.test.eslintignore
  language: system

feat(Select): highlight input text on menu open
  packages/input-select/src/Select.js
  packages/input-select/src/Select.test.js
Due: eslint-app, eslint-test

fixup! feat(Select): highlight input text on menu open
  packages/input-select/src/Select.js
Due: eslint-app

chore(release): [ci skip] publish
  packages/input-select/CHANGELOG.md
  packages/input-select/package.json
  packages/search-field/CHANGELOG.md
  packages/search-field/package.json
Due: none

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/static/preview.783874417b5edb655884.bundle.js
  docs/static/preview.ee0fd70ddb6f228e40c4.bundle.js
Due: eslint-app

fix(Select): set absolute position to "no results" container
  packages/input-select/src/components/EmptyCard.js
Due: eslint-app

test(Storyshots): update
  packages/input-select/src/components/__snapshots__/EmptyCard.story.storyshot
Due: none

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/static/preview.27969bcc754c11c03d61.bundle.js
  docs/static/preview.783874417b5edb655884.bundle.js
Due: eslint-app

fix(Table): fix vertical align of corner icon
  packages/table/src/styledComponents/Table.js
Due: eslint-app

fix(Table): fix horizontal align of button on expandable rows
  packages/table/src/Table.js
  packages/table/src/Table.story.js
Due: eslint-app

test(Storyshots): update
  packages/table/src/__snapshots__/Table.story.storyshot
Due: none

chore(release): [ci skip] publish
  packages/table/CHANGELOG.md
  packages/table/package.json
Due: none

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/static/preview.27969bcc754c11c03d61.bundle.js
  docs/static/preview.b549d9f6ee4757599674.bundle.js
Due: eslint-app

feat(table): pass full row to parents of row groups
  packages/table/src/Table.js
Due: eslint-app

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/static/preview.8356923de36c6f94eae4.bundle.js
  docs/static/preview.b549d9f6ee4757599674.bundle.js
Due: eslint-app

feat(table): pass grouped to customCell
  packages/table/src/Table.js
  packages/table/src/Table.story.js
Due: eslint-app

chore(storyshots): update
  packages/table/src/__snapshots__/Table.story.storyshot
Due: none

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/static/preview.8356923de36c6f94eae4.bundle.js
  docs/static/preview.c3be31d820d0b5558618.bundle.js
Due: eslint-app

feat(card): export cardTypes constants
  packages/card/src/Card.story.js
  packages/card/src/index.js
Due: eslint-app

chore(release): [ci skip] publish
  packages/card/CHANGELOG.md
  packages/card/package.json
  packages/input-select/CHANGELOG.md
  packages/input-select/package.json
  packages/map-balloon/CHANGELOG.md
  packages/map-balloon/package.json
  packages/search-field/CHANGELOG.md
  packages/search-field/package.json
Due: none

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/index.html
  docs/static/manager.714e5c1c7a5d71abde68.bundle.js
  docs/static/manager.76e1a3d4fb7be81a9e41.bundle.js
  docs/static/preview.c3be31d820d0b5558618.bundle.js
  docs/static/preview.f1106742fc7c7480b5ef.bundle.js
Due: eslint-app

chore(package): update lockfile
  yarn.lock
Due: none

chore(package): update lerna to version 3.1.4
  package.json
  yarn.lock
Due: none

chore(package): update jest-styled-components to version 6.0.1
  package.json
  yarn.lock
Due: none

chore(package): update eslint-config-prettier to version 3.0.1
  package.json
  yarn.lock
Due: none

chore: downgrade lerna to 2.11.0
  package.json
  yarn.lock
Due: none

fixup! chore(yarn): use yarn start to launch storybook
  package.json
Due: none

chore(yarn): use yarn start to launch storybook
  CONTRIBUTING.md
  package.json
Due: none

docs(map-balloon): add stories for interactive balloon
  packages/map-balloon/src/MapBalloon.story.js
Due: eslint-app

feat(map-balloon): add onPinClick
  packages/map-balloon/src/MapBalloon.js
  packages/map-balloon/src/MapBalloon.story.js
  packages/map-balloon/src/styledComponents/Pin.js
Due: eslint-app

feat(map-balloon): add interactive pin style
  packages/map-balloon/src/MapBalloon.js
  packages/map-balloon/src/styledComponents/Pin.js
Due: eslint-app

feat(map-balloon): add onBalloonClick
  packages/map-balloon/package.json
  packages/map-balloon/src/MapBalloon.js
  packages/map-balloon/src/MapBalloon.story.js
  packages/map-balloon/src/styledComponents/Balloon.js
  yarn.lock
Due: eslint-app

feat(map-balloon): use react-transition-group so we can animate the balloon exit as well
  packages/map-balloon/package.json
  packages/map-balloon/src/MapBalloon.js
  packages/map-balloon/src/MapBalloon.story.js
  packages/map-balloon/src/styledComponents/Balloon.js
  yarn.lock
Due: eslint-app

refactor(map-balloon): remove dependency for grid-styled
  packages/map-balloon/package.json
  packages/map-balloon/src/MapBalloon.js
  packages/map-balloon/src/styledComponents/Balloon.js
  yarn.lock
Due: eslint-app

Path conditions:
  eslint-app: any of: ^(?!.*\.test).*\.js$
  eslint-test: any of: \.test\.js$
