Repository CraveFood/farmblocks: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint-app, eslint-test

.pre-commit-config.yaml:

fail_fast: true
repos:
-   repo: https://github.com/prettier/prettier
    sha: '1.7.0'
    hooks:
      - id: prettier

-   repo: local
    hooks:
      - id: eslint-app
        name: eslint-app
        entry: ./node_modules/eslint/bin/eslint.js
        args:
          - "--config=.eslintrc.js"
          - "--ignore-path=.eslintignore"
        language: system
        files: '^(?!.*\.test).*\.js$'

      - id: eslint-test
        name: eslint-test
        entry: ./node_modules/eslint/bin/eslint.js
        args:
          - "--config=.test.eslintrc.js"
          - "--ignore-path=.test.eslintignore"
        language: system
        files: '\.test\.js$'

test(storyshots): update
  __snapshots__/Storyshots.test.js.snap
  packages/amount-selectors/src/components/__snapshots__/AmountSelectors.story.storyshot
  packages/card/src/__snapshots__/Card.story.storyshot
  packages/footer/src/components/__snapshots__/Footer.story.storyshot
  packages/form-wrapper/src/__snapshots__/FormWrapper.story.storyshot
  packages/hoc-input/src/__snapshots__/formInput.story.storyshot
  packages/input-currency/src/__snapshots__/CurrencyInput.story.storyshot
  packages/input-select/src/__snapshots__/Select.story.storyshot
  packages/input-text/src/__snapshots__/TextAreaInput.story.storyshot
  packages/input-text/src/__snapshots__/TextInput.story.storyshot
  packages/search-field/src/__snapshots__/SearchField.story.storyshot
  packages/search-field/src/components/__snapshots__/Menu.story.storyshot
  packages/table/src/__snapshots__/Table.story.storyshot
Due: none

feat(Label): created package
  packages/label/AUTHORS
  packages/label/LICENSE
  packages/label/README.md
  packages/label/package.json
  packages/label/src/Label.js
  packages/label/src/Label.story.js
  packages/label/src/index.js
Due: eslint-app

chore(release): [ci skip] publish
  packages/alert/CHANGELOG.md
  packages/alert/package.json
  packages/amount-selectors/CHANGELOG.md
  packages/amount-selectors/package.json
  packages/button/CHANGELOG.md
  packages/button/package.json
  packages/card/CHANGELOG.md
  packages/card/package.json
  packages/dropdown/CHANGELOG.md
  packages/dropdown/package.json
  packages/empty-state/CHANGELOG.md
  packages/empty-state/package.json
  packages/filter-popover/CHANGELOG.md
  packages/filter-popover/package.json
  packages/footer/CHANGELOG.md
  packages/footer/package.json
  packages/form-wrapper/CHANGELOG.md
  packages/form-wrapper/package.json
  packages/hoc-disabled-tooltip/CHANGELOG.md
  packages/hoc-disabled-tooltip/package.json
  packages/hoc-input/CHANGELOG.md
  packages/hoc-input/package.json
  packages/hoc-withtooltip/CHANGELOG.md
  packages/hoc-withtooltip/package.json
  packages/input-currency/CHANGELOG.md
  packages/input-currency/package.json
  packages/input-select/CHANGELOG.md
  packages/input-select/package.json
  packages/input-text/CHANGELOG.md
  packages/input-text/package.json
  packages/label/CHANGELOG.md
  packages/label/package.json
  packages/map-balloon/CHANGELOG.md
  packages/map-balloon/package.json
  packages/search-field/CHANGELOG.md
  packages/search-field/package.json
  packages/table/CHANGELOG.md
  packages/table/package.json
Due: none

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/index.html
  docs/static/manager.3988421fe34856d0e280.bundle.js
  docs/static/manager.500537a1300f5dea6235.bundle.js
  docs/static/preview.11493643524f46443bd3.bundle.js
  docs/static/preview.18d4353b851a2adc3f9d.bundle.js
Due: eslint-app

fix(Text): fixed font smoothing on firefox
  packages/text/src/styledComponents/Text.js
Due: eslint-app

test(storyshots): update
  __snapshots__/Storyshots.test.js.snap
  packages/card/src/__snapshots__/Card.story.storyshot
  packages/carousel/src/__snapshots__/Carousel.story.storyshot
  packages/empty-state/src/__snapshots__/EmptyState.story.storyshot
  packages/footer/src/components/__snapshots__/Footer.story.storyshot
  packages/form-wrapper/src/__snapshots__/FormWrapper.story.storyshot
  packages/hoc-input/src/__snapshots__/formInput.story.storyshot
  packages/hoc-validation-messages/src/__snapshots__/withMessages.story.storyshot
  packages/hoc-withtooltip/src/__snapshots__/withTooltip.story.storyshot
  packages/input-checkbox/src/__snapshots__/Checkbox.story.storyshot
  packages/input-currency/src/__snapshots__/CurrencyInput.story.storyshot
  packages/input-radio/src/__snapshots__/Radio.story.storyshot
  packages/input-radio/src/__snapshots__/RadioGroup.story.storyshot
  packages/input-select/src/__snapshots__/Select.story.storyshot
  packages/input-select/src/components/__snapshots__/EmptyCard.story.storyshot
  packages/input-text/src/__snapshots__/TextAreaInput.story.storyshot
  packages/input-text/src/__snapshots__/TextInput.story.storyshot
  packages/map-balloon/src/__snapshots__/MapBalloon.story.storyshot
  packages/more-info/src/components/__snapshots__/MoreInfo.story.storyshot
  packages/search-field/src/__snapshots__/SearchField.story.storyshot
  packages/search-field/src/components/__snapshots__/Menu.story.storyshot
  packages/table/src/__snapshots__/Table.story.storyshot
  packages/text/src/components/__snapshots__/Text.Paragraph.story.storyshot
  packages/text/src/components/__snapshots__/Text.Title.story.storyshot
  packages/text/src/components/__snapshots__/Text.story.storyshot
Due: none

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/static/preview.11493643524f46443bd3.bundle.js
  docs/static/preview.682c47102226597b2a2e.bundle.js
Due: eslint-app

feat(Storybook): update storybook to v4
  package.json
Due: none

chore(Storybook): add babel-loader dev dependency
  package.json
  yarn.lock
Due: none

refactor(Storybook): add withInfo decorator as global config
  .storybook/config.js
Due: eslint-app

chore(Storyshots): add babel plugin required to run storyshots
  .babelrc
  .storybook/jest/require.context.js
  jest.config.js
  package.json
  yarn.lock
Due: eslint-app

chore(Snapshots): avoid withInfo decorator when running tests
  .storybook/config.js
  Storyshots.test.js
Due: eslint-app, eslint-test

chore(Babel): update to v7
  .babelrc
  babel.config.js
  package.json
  yarn.lock
Due: eslint-app

test(Storyshots): update
  packages/hoc-input/src/__snapshots__/formInput.story.storyshot
Due: none

fix(Storybook): fix 'Failed prop type' warning when using styled-components in stories
  packages/alert/src/Alert.story.js
  packages/dropdown/src/components/DropdownItem.story.js
  packages/input-select/src/components/Item.story.js
  packages/map-balloon/src/MapBalloon.story.js
  packages/search-field/src/SearchField.story.js
  packages/search-field/src/components/Menu.story.js
  packages/search-field/src/components/ScrollBox.story.js
Due: eslint-app

chore(Scaffold): update scaffold tool to generate package.json with updated build command
  packages/scaffold/src/templates/package.js
Due: eslint-app

fix(Storybook): use action function from @storybook/addon-actions
  packages/map-balloon/src/MapBalloon.story.js
  packages/popover/src/Popover.story.js
  packages/search-field/src/SearchField.story.js
  packages/search-field/src/components/Menu.story.js
  packages/search-field/src/components/ScrollBox.story.js
Due: eslint-app

chore(Babel): allow each package to be built following the babel root config rules
  packages/alert/package.json
  packages/amount-selectors/package.json
  packages/button/package.json
  packages/card/package.json
  packages/carousel/package.json
  packages/dropdown/package.json
  packages/empty-state/package.json
  packages/filter-popover/package.json
  packages/footer/package.json
  packages/form-wrapper/package.json
  packages/hoc-disabled-tooltip/package.json
  packages/hoc-input/package.json
  packages/hoc-validation-messages/package.json
  packages/hoc-withtooltip/package.json
  packages/image/package.json
  packages/input-checkbox/package.json
  packages/input-currency/package.json
  packages/input-radio/package.json
  packages/input-select/package.json
  packages/input-text/package.json
  packages/label/package.json
  packages/link/package.json
  packages/map-balloon/package.json
  packages/more-info/package.json
  packages/popover/package.json
  packages/scaffold/package.json
  packages/search-field/package.json
  packages/stepper/package.json
  packages/table/package.json
  packages/tag/package.json
  packages/text/package.json
  packages/theme/package.json
  packages/tooltip/package.json
Due: none

fix(Card): fix cardTypes exports
  packages/card/src/constants/cardTypes.js
Due: eslint-app

chore(Scaffold): remove withInfo import from story template
  packages/scaffold/src/templates/componentStory.js
Due: eslint-app

chore(docs): [ci skip] gallery update
  docs/favicon.ico
  docs/iframe.html
  docs/index.html
  docs/main.87b8840769496ad79bd6.bundle.js
  docs/main.87b8840769496ad79bd6.bundle.js.map
  docs/main.dfb9a40f80fe631587e4.bundle.js
  docs/runtime~main.3aaa912fd37e258bb4b5.bundle.js
  docs/runtime~main.87b8840769496ad79bd6.bundle.js
  docs/runtime~main.87b8840769496ad79bd6.bundle.js.map
  docs/sb_dll/storybook_ui-manifest.json
  docs/sb_dll/storybook_ui_dll.LICENCE
  docs/sb_dll/storybook_ui_dll.js
  docs/static/manager.3988421fe34856d0e280.bundle.js
  docs/static/preview.682c47102226597b2a2e.bundle.js
  docs/vendors~main.2f5bac6472570dbabae7.bundle.js
  docs/vendors~main.87b8840769496ad79bd6.bundle.js
  docs/vendors~main.87b8840769496ad79bd6.bundle.js.map
Due: eslint-app

chore: updated lerna to v3.8.5
  package.json
  yarn.lock
Due: none

chore: updated commitizen and cz-lerna-changelog
  package.json
  yarn.lock
Due: none

feat(test - drop commit): changed default alert type
  packages/alert/src/Alert.js
  packages/alert/src/__snapshots__/Alert.story.storyshot
Due: eslint-app

feat(testing lerna): to be deleted...
  packages/alert/src/Alert.js
  packages/alert/src/__snapshots__/Alert.story.storyshot
Due: eslint-app

feat: lerna testing...
  packages/alert/src/Alert.js
  packages/alert/src/__snapshots__/Alert.story.storyshot
Due: eslint-app

fix: testing lerna...
  packages/alert/src/Alert.js
  packages/alert/src/__snapshots__/Alert.story.storyshot
Due: eslint-app

fix: testing...
  packages/alert/src/Alert.js
  packages/alert/src/__snapshots__/Alert.story.storyshot
Due: eslint-app

feat: tsts...
  packages/alert/src/Alert.js
  packages/alert/src/__snapshots__/Alert.story.storyshot
Due: eslint-app

feat(tst): tst
  packages/alert/src/Alert.js
  packages/alert/src/__snapshots__/Alert.story.storyshot
Due: eslint-app

feat: updated all dependencies to their latest versions
  package.json
  packages/alert/package.json
  packages/amount-selectors/package.json
  packages/button/package.json
  packages/card/package.json
  packages/carousel/package.json
  packages/dropdown/package.json
  packages/empty-state/package.json
  packages/filter-popover/package.json
  packages/footer/package.json
  packages/form-wrapper/package.json
  packages/hoc-disabled-tooltip/package.json
  packages/hoc-input/package.json
  packages/hoc-validation-messages/package.json
  packages/hoc-withtooltip/package.json
  packages/image/package.json
  packages/input-checkbox/package.json
  packages/input-currency/package.json
  packages/input-radio/package.json
  packages/input-select/package.json
  packages/input-text/package.json
  packages/label/package.json
  packages/link/package.json
  packages/map-balloon/package.json
  packages/more-info/package.json
  packages/popover/package.json
  packages/scaffold/src/templates/package.js
  packages/search-field/package.json
  packages/stepper/package.json
  packages/table/package.json
  packages/tag/package.json
  packages/text/package.json
  packages/tooltip/package.json
  yarn.lock
Due: eslint-app

fix(TextInput): fix Margin proptypes
  packages/input-text/src/TextInput.js
Due: eslint-app

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/index.html
  docs/main.7f25d58b9fcc1375f815.bundle.js
  docs/main.ab0049e0de3a47905b7b.bundle.js
  docs/main.ab0049e0de3a47905b7b.bundle.js.map
  docs/runtime~main.ab0049e0de3a47905b7b.bundle.js
  docs/runtime~main.ab0049e0de3a47905b7b.bundle.js.map
  docs/sb_dll/storybook_ui_dll.LICENCE
  docs/sb_dll/storybook_ui_dll.js
  docs/vendors~main.9a68970add2283dcf32d.bundle.js
  docs/vendors~main.ab0049e0de3a47905b7b.bundle.js
  docs/vendors~main.ab0049e0de3a47905b7b.bundle.js.map
Due: eslint-app

feat(FilterPopover): add zIndex prop
  packages/filter-popover/src/FilterPopover.js
  packages/filter-popover/src/FilterPopover.story.js
Due: eslint-app

chore(storyshots): update
  packages/filter-popover/src/__snapshots__/FilterPopover.story.storyshot
Due: none

chore(release): [ci skip] publish
  packages/filter-popover/CHANGELOG.md
  packages/filter-popover/package.json
Due: none
