Repository CraveFood/farmblocks: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint-app, eslint-test

.pre-commit-config.yaml:

fail_fast: true
repos:
-   repo: https://github.com/prettier/prettier
    sha: '1.7.0'
    hooks:
      - id: prettier

-   repo: local
    hooks:
      - id: eslint-app
        name: eslint-app
        entry: ./node_modules/eslint/bin/eslint.js
        args:
          - "--config=.eslintrc.js"
          - "--ignore-path=.eslintignore"
        language: system
        files: '^(?!.*\.test).*\.js$'

      - id: eslint-test
        name: eslint-test
        entry: ./node_modules/eslint/bin/eslint.js
        args:
          - "--config=.test.eslintrc.js"
          - "--ignore-path=.test.eslintignore"
        language: system
        files: '\.test\.js$'

fix(Step): change padding to margin on step component
  __snapshots__/Storyshots.test.js.snap
  packages/stepper/src/styledComponents/Stepper.js
Due: eslint-app

chore(release): [ci skip] publish
  packages/stepper/CHANGELOG.md
  packages/stepper/package.json
Due: none

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/static/preview.16cacb1fbfa358a621ae.bundle.js
  docs/static/preview.6dd27ec0b7ff5689b190.bundle.js
Due: eslint-app

feat(Storybook): initial files
  packages/link/AUTHORS
  packages/link/LICENSE
  packages/link/README.md
  packages/link/package.json
  packages/link/src/Link.js
  packages/link/src/Link.story.js
  packages/link/src/constants/lineHeights.js
  packages/link/src/constants/linkColors.js
  packages/link/src/constants/linkTypes.js
  packages/link/src/index.js
  packages/link/src/styledComponents/Link.js
Due: eslint-app

feat(link): initial link component
  packages/link/package.json
  packages/link/src/Link.Neutral.story.js
  packages/link/src/Link.Normal.story.js
  packages/link/src/Link.js
  packages/link/src/Link.story.js
  packages/link/src/constants/Container.js
  packages/link/src/constants/linkColors.js
  packages/link/src/constants/linkTypes.js
  packages/link/src/styledComponents/Link.js
Due: eslint-app

docs(storybook): insert address prop on address stories
  packages/link/src/Link.story.js
Due: eslint-app

chore(yarn/npm): update yarn.lock and package.json
  .gitignore
  package.json
  yarn.lock
Due: none

feat(Link): general refactor and feature complete component
  packages/link/src/Link.Neutral.story.js
  packages/link/src/Link.Normal.story.js
  packages/link/src/Link.js
  packages/link/src/Link.story.js
  packages/link/src/constants/Container.js
  packages/link/src/constants/lineHeights.js
  packages/link/src/constants/linkColors.js
  packages/link/src/constants/linkTypes.js
  packages/link/src/index.js
  packages/link/src/styledComponents/Link.js
Due: eslint-app

test(Disabled link): add missing tests for disabled links
  __snapshots__/Storyshots.test.js.snap
  packages/link/src/Link.test.js
Due: eslint-test

WIP(link): fix import module reference
  packages/link/src/index.js
Due: eslint-app

chore(tooltip): update farmblocks-tooltip dependency
  package.json
Due: none

refactor(link): change propType property align to tooltipAlign
  packages/link/src/Link.js
Due: eslint-app

WIP(Link): add display and remove text-align properties
  packages/link/src/styledComponents/Link.js
Due: eslint-app

test: update storyshots
  __snapshots__/Storyshots.test.js.snap
Due: none

style: add hoverColors file
  packages/link/src/constants/hoverColors.js
Due: eslint-app

chore: add lerna-debug.log to gitignore
  .gitignore
Due: none

style(Storybook): add wg-place and wg-external-link icons
  .storybook/assets/fonticon.scss
  .storybook/assets/whatsgood-iconfont.eot
  .storybook/assets/whatsgood-iconfont.svg
  .storybook/assets/whatsgood-iconfont.ttf
  .storybook/assets/whatsgood-iconfont.woff
  .storybook/config.js
Due: eslint-app

WIP: remove initial capital letter from 'propTypes'
  packages/link/src/Link.js
Due: eslint-app

docs(storybook): update right aligned links
  packages/link/src/Link.Neutral.story.js
  packages/link/src/Link.Normal.story.js
  packages/link/src/Link.story.js
Due: eslint-app

fix(link): remove href value as required
  packages/link/src/Link.js
Due: eslint-app

update storyshots
  __snapshots__/Storyshots.test.js.snap
Due: none

feat(tooltipText): add a property to pass a tooltip text instead of a hardcoded one
  packages/link/src/Link.Neutral.story.js
  packages/link/src/Link.Normal.story.js
  packages/link/src/Link.js
  packages/link/src/Link.story.js
Due: eslint-app

feat(link): add onClick function to links
  packages/link/src/Link.js
  packages/link/src/Link.story.js
  packages/link/src/styledComponents/Link.js
Due: eslint-app

test(onClick): add onClick test
  packages/link/src/Link.test.js
Due: eslint-test

fix(link): fix onclick event propagation
  packages/link/src/Link.js
Due: eslint-app

chore: fix dependencies
  packages/link/package.json
Due: none

style(link): change lineHeight possible values
  packages/link/src/Link.js
Due: eslint-app

chore(lockfile): update yarn.lock
  yarn.lock
Due: none

docs(readme): add href value at readme usage section
  packages/link/README.md
Due: none

refactor(fonticon): delete unnecessary file fonticon.scss
  .storybook/assets/fonticon.scss
Due: none

test: update storyshot
  __snapshots__/Storyshots.test.js.snap
  yarn.lock
Due: none

chore(gitignore): clean up gitignore
  .gitignore
Due: none

refactor(link): refactor disabled link markup
  packages/link/src/Link.js
  packages/link/src/styledComponents/Link.js
Due: eslint-app

chore(tooltip dependency): remove tooltip from devDependencies
  package.json
Due: none

fix(linkTypes): fix linkTypes import and export in index.js
  packages/link/src/constants/linkTypes.js
  packages/link/src/index.js
Due: eslint-app

chore(typecheck): kill any flow server in the background before running typecheck
  .travis.yml
Due: none

chore(lockfile): update
  yarn.lock
Due: none

chore(package.json): update
  package.json
Due: none

chore(snapshots): update lockfile and snapshots
  __snapshots__/Storyshots.test.js.snap
  yarn.lock
Due: none
