Repository CraveFood/farmblocks: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint-app, eslint-test

eslint-app:
  name: eslint-app
  entry: ./node_modules/eslint/bin/eslint.js
  args:
  - --config=.eslintrc.js
  - --ignore-path=.eslintignore
  language: system

eslint-test:
  name: eslint-test
  entry: ./node_modules/eslint/bin/eslint.js
  args:
  - --config=.test.eslintrc.js
  - --ignore-path=.test.eslintignore
  language: system

test(formInput): mock setState so test can be more reliable
  packages/hoc-input/src/formInput.test.js
Due: eslint-test

chore: update yarn.lock
  yarn.lock
Due: none

chore(release): [ci skip] publish
  packages/hoc-input/CHANGELOG.md
  packages/hoc-input/package.json
  packages/input-select/CHANGELOG.md
  packages/input-select/package.json
  packages/input-text/CHANGELOG.md
  packages/input-text/package.json
Due: none

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/index.html
  docs/static/manager.58ee99eed97657ab1d50.bundle.js
  docs/static/manager.a47d75f9672c1cc88a45.bundle.js
  docs/static/preview.0940757350abb334c91c.bundle.js
  docs/static/preview.2c681982702e3215f8c4.bundle.js
Due: eslint-app

feat(align): add right aligned version
  packages/map-balloon/src/MapBalloon.js
  packages/map-balloon/src/MapBalloon.story.js
  packages/map-balloon/src/ProductImages.js
  packages/map-balloon/src/constants/alignments.js
  packages/map-balloon/src/index.js
  packages/map-balloon/src/styledComponents/Balloon.js
  packages/map-balloon/src/styledComponents/FarmInfo.js
Due: eslint-app

feat(pin): create component
  packages/map-balloon/AUTHORS
  packages/map-balloon/LICENSE
  packages/map-balloon/README.md
  packages/map-balloon/package.json
  packages/map-balloon/src/MapBalloon.js
  packages/map-balloon/src/MapBalloon.story.js
  packages/map-balloon/src/demoGrid.png
  packages/map-balloon/src/index.js
  packages/map-balloon/src/styledComponents/Pin.js
  packages/map-balloon/src/styledComponents/Wrapper.js
Due: eslint-app

feat(balloon): add logo version
  packages/map-balloon/src/MapBalloon.js
  packages/map-balloon/src/MapBalloon.story.js
  packages/map-balloon/src/ProductImages.js
  packages/map-balloon/src/constants/alignments.js
  packages/map-balloon/src/demoGrid.png
  packages/map-balloon/src/styledComponents/Logo.js
  packages/map-balloon/src/styledComponents/Pin.js
Due: eslint-app

feat(balloon): create component
  packages/map-balloon/src/MapBalloon.js
  packages/map-balloon/src/MapBalloon.story.js
  packages/map-balloon/src/styledComponents/Balloon.js
  packages/map-balloon/src/styledComponents/Pin.js
Due: eslint-app

feat(product-images): create component
  .storybook/config.js
  packages/map-balloon/src/MapBalloon.js
  packages/map-balloon/src/MapBalloon.story.js
  packages/map-balloon/src/ProductImages.js
  packages/map-balloon/src/styledComponents/Balloon.js
  packages/map-balloon/src/styledComponents/FarmInfo.js
Due: eslint-app

chore(package.json): add other farmblocks components as dependencies
  packages/map-balloon/package.json
Due: none

docs(authors): remove Henrique
  packages/map-balloon/AUTHORS
Due: none

docs(readme): add usage instructions
  packages/map-balloon/README.md
Due: none

refactor(styled-components): extract internal styled-components to individual files
  packages/map-balloon/src/ProductImages.js
  packages/map-balloon/src/styledComponents/FarmInfo.js
  packages/map-balloon/src/styledComponents/Gradient.js
  packages/map-balloon/src/styledComponents/Icon.js
  packages/map-balloon/src/styledComponents/PhotoBox.js
  packages/map-balloon/src/styledComponents/VerticalCenter.js
Due: eslint-app

fix(position): swap x and y
  packages/map-balloon/src/styledComponents/Wrapper.js
Due: eslint-app

fix(prop-types): remove isRequired for props x and y as they have default values
  packages/map-balloon/src/MapBalloon.js
Due: eslint-app

docs(license): update year
  packages/map-balloon/LICENSE
Due: none

fix(css): add missing semicolon
  packages/map-balloon/src/styledComponents/Balloon.js
Due: eslint-app

feat(imageSet): change prop text to name
  packages/map-balloon/README.md
  packages/map-balloon/src/ImageSet.js
  packages/map-balloon/src/MapBalloon.story.js
Due: eslint-app

feat(names): use generic names for components and props
  packages/map-balloon/README.md
  packages/map-balloon/src/ImageSet.js
  packages/map-balloon/src/MapBalloon.js
  packages/map-balloon/src/MapBalloon.story.js
  packages/map-balloon/src/ProductImages.js
  packages/map-balloon/src/styledComponents/Caption.js
  packages/map-balloon/src/styledComponents/FarmInfo.js
  packages/map-balloon/src/styledComponents/SingleImage.js
  packages/map-balloon/src/styledComponents/themes.js
Due: eslint-app

test(proptypes): rename requiredIfNoLogo to requiredIfNoSingleImage
  packages/map-balloon/src/MapBalloon.js
  packages/map-balloon/src/MapBalloon.test.js
Due: eslint-app, eslint-test

feat(icon): make customizable
  packages/map-balloon/README.md
  packages/map-balloon/src/MapBalloon.js
  packages/map-balloon/src/MapBalloon.story.js
  packages/map-balloon/src/styledComponents/Caption.js
Due: eslint-app

chore(release): [ci skip] publish
  packages/map-balloon/CHANGELOG.md
  packages/map-balloon/package.json
Due: none

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/index.html
  docs/static/manager.0410f55e8cf5bb723617.bundle.js
  docs/static/manager.a47d75f9672c1cc88a45.bundle.js
  docs/static/preview.2c681982702e3215f8c4.bundle.js
  docs/static/preview.8580b8de4cd954925057.bundle.js
Due: eslint-app

feat: use farmblocks text and add a classname for hover state
  packages/more-info/src/MoreInfo.js
  packages/more-info/src/styledComponent/StyledInfo.js
Due: eslint-app

feat(more-info): add farmblocks-text dependency
  packages/more-info/package.json
Due: none

chore: create a components directory and move files there
  packages/more-info/src/components/MoreInfo.js
  packages/more-info/src/components/MoreInfo.story.js
  packages/more-info/src/components/MoreInfo.test.js
  packages/more-info/src/index.js
  packages/more-info/src/styledComponents/StyledInfo.js
Due: eslint-app, eslint-test

WIP(more info): component files
  packages/more-info/src/MoreInfo.js
  packages/more-info/src/MoreInfo.story.js
  packages/more-info/src/styledComponent/StyledInfo.js
Due: eslint-app

refactor(styledComponent): align function
  packages/more-info/src/styledComponents/StyledInfo.js
Due: eslint-app

WIP(more info): initial files
  packages/more-info/AUTHORS
  packages/more-info/LICENSE
  packages/more-info/README.md
  packages/more-info/package.json
  packages/more-info/src/index.js
Due: eslint-app

test: add unit tests
  packages/more-info/src/MoreInfo.js
  packages/more-info/src/MoreInfo.test.js
Due: eslint-app, eslint-test

feat: overhaul of showing and hiding the tooltip
  packages/more-info/src/components/MoreInfo.js
  packages/more-info/src/components/MoreInfo.story.js
  packages/more-info/src/components/MoreInfo.test.js
Due: eslint-app, eslint-test

Path conditions:
  eslint-app: any of: ^(?!.*\.test).*\.js$
  eslint-test: any of: \.test\.js$
