Repository CraveFood/farmblocks: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint-app, eslint-test

.pre-commit-config.yaml:

fail_fast: true
repos:
-   repo: https://github.com/prettier/prettier
    sha: '1.7.0'
    hooks:
      - id: prettier

-   repo: local
    hooks:
      - id: eslint-app
        name: eslint-app
        entry: ./node_modules/eslint/bin/eslint.js
        args:
          - "--config=.eslintrc.js"
          - "--ignore-path=.eslintignore"
        language: system
        files: '^(?!.*\.test).*\.js$'

      - id: eslint-test
        name: eslint-test
        entry: ./node_modules/eslint/bin/eslint.js
        args:
          - "--config=.test.eslintrc.js"
          - "--ignore-path=.test.eslintignore"
        language: system
        files: '\.test\.js$'

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/main.5657dc4a3abf301e1ed5.bundle.js
  docs/main.5657dc4a3abf301e1ed5.bundle.js.map
  docs/main.e21d9174b2953a816e1e.bundle.js
  docs/main.e21d9174b2953a816e1e.bundle.js.map
  docs/runtime~main.5657dc4a3abf301e1ed5.bundle.js
  docs/runtime~main.5657dc4a3abf301e1ed5.bundle.js.map
  docs/runtime~main.e21d9174b2953a816e1e.bundle.js.map
  docs/static/media/LgPhoto.45d84bba.svg
  docs/vendors~main.5657dc4a3abf301e1ed5.bundle.js
  docs/vendors~main.5657dc4a3abf301e1ed5.bundle.js.map
  docs/vendors~main.e21d9174b2953a816e1e.bundle.js
  docs/vendors~main.e21d9174b2953a816e1e.bundle.js.map
Due: eslint-app

feat(sidenav): export package components
  packages/sidenav/src/index.js
Due: eslint-app

feat(NavButton): add navtoggle and navclose helper components
  packages/sidenav/src/NavButton.js
  packages/sidenav/src/NavButton.styled.js
Due: eslint-app

chore(deps): update storybook to use new format
  .storybook/config.js
  package.json
  yarn.lock
Due: eslint-app

feat(sidenav): add stories for sidenav component
  packages/sidenav/package.json
  packages/sidenav/src/SideNav.story.js
Due: eslint-app

feat(sidenav): add sidenav main component
  packages/sidenav/src/SideNav.js
Due: eslint-app

feat(styled): create component styles
  packages/sidenav/src/SideNav.styled.js
  packages/sidenav/src/constants/variants.js
Due: eslint-app

feat(sidenav): bootstrap sidenav package
  packages/sidenav/AUTHORS
  packages/sidenav/LICENSE
  packages/sidenav/README.md
  packages/sidenav/package.json
Due: none

feat(sidenav): add navitem component
  packages/sidenav/src/NavItem.js
Due: eslint-app

feat(package.json): add storybook breakpoint addon
  .storybook/addons.js
  package.json
  yarn.lock
Due: eslint-app

tests(storyshots): Add snapshot test for sidenav
  __snapshots__/Storyshots.test.js.snap
Due: none

feat(sidenav): add navbutton helper comp
  packages/sidenav/src/NavButton.js
Due: eslint-app

feat(sidenav/button): change navbutton styled childrens file location
  packages/sidenav/src/components/NavButton/CloseButton.js
  packages/sidenav/src/components/NavButton/NavButton.js
  packages/sidenav/src/components/NavButton/NavButton.styled.js
  packages/sidenav/src/components/NavButton/ToggleButton.js
Due: eslint-app

docs(sidenav): add pagewrapper docs
  packages/sidenav/README.md
Due: none

feat(sidenav): change prop name from activated to active
  packages/sidenav/src/SideNav.js
  packages/sidenav/src/SideNav.story.js
  packages/sidenav/src/components/NavItem/NavItem.js
  packages/sidenav/src/components/NavItem/NavItem.styled.js
Due: eslint-app

docs(sidenav): Add sidenav and navitem props documentation
  README.md
  packages/sidenav/README.md
Due: none

chore(sidenav): update storyshots
  __snapshots__/Storyshots.test.js.snap
  yarn.lock
Due: none

feat(sidenav): inject sidenav props into childs and add sidenav with buttons component
  packages/sidenav/src/SideNav.js
Due: eslint-app

feat(sidenav): use scroll lock from modal package
  packages/sidenav/package.json
  packages/sidenav/src/SideNav.js
  packages/sidenav/src/utils/useScrollLock.js
Due: eslint-app

feat(Content): Create page content wrapper
  packages/sidenav/src/Content.js
Due: eslint-app

docs(sidenav): add stories without router and docs readme link
  __snapshots__/Storyshots.test.js.snap
  packages/sidenav/README.md
  packages/sidenav/src/SideNav.story.js
Due: eslint-app

feat(variants):export variants and use local GREY_48
  packages/sidenav/src/NavButton.styled.js
  packages/sidenav/src/SideNav.js
  packages/sidenav/src/SideNav.styled.js
  packages/sidenav/src/index.js
Due: eslint-app

feat(sidenav tests): add test suit for core sidenav behaviors
  packages/sidenav/src/SideNav.test.js
Due: eslint-test

feat(sidenav variants): change variant name from fullwidth, to fullscreen
  packages/sidenav/src/SideNav.styled.js
  packages/sidenav/src/constants/variants.js
Due: eslint-app

feat(sidenav): add default highlight color and update render docs
  packages/sidenav/README.md
  packages/sidenav/src/SideNav.js
Due: eslint-app

feat(sidenav): refactor package structure and some component names
  packages/sidenav/src/SideNav.js
  packages/sidenav/src/SideNav.story.js
  packages/sidenav/src/SideNav.styled.js
  packages/sidenav/src/SideNav.test.js
  packages/sidenav/src/components/NavButton/CloseButton.js
  packages/sidenav/src/components/NavButton/NavButton.js
  packages/sidenav/src/components/NavButton/NavButton.styled.js
  packages/sidenav/src/components/NavButton/ToggleButton.js
  packages/sidenav/src/components/NavButton/index.js
  packages/sidenav/src/components/NavItem/NavItem.js
  packages/sidenav/src/components/NavItem/NavItem.styled.js
  packages/sidenav/src/components/NavItem/index.js
  packages/sidenav/src/components/SideBar/SideBar.styled.js
  packages/sidenav/src/components/SideBar/Sidebar.js
  packages/sidenav/src/components/SideBar/index.js
  packages/sidenav/src/helpers/PageWrapper/PageWrapper.js
  packages/sidenav/src/helpers/PageWrapper/PageWrapper.styled.js
  packages/sidenav/src/helpers/PageWrapper/index.js
  packages/sidenav/src/index.js
Due: eslint-app, eslint-test

feat(sidenav): check children type before inject props
  packages/sidenav/src/components/NavItem/NavItem.js
  packages/sidenav/src/components/SideBar/Sidebar.js
  packages/sidenav/src/utils/componentMatcher.js
Due: eslint-app

chore(travis): terminate travis job on lint errors
  .travis.yml
Due: none

feat(sidenav): rename background prop to backgroundColor
  packages/sidenav/README.md
  packages/sidenav/src/SideNav.js
  packages/sidenav/src/SideNav.story.js
  packages/sidenav/src/components/NavItem/NavItem.js
  packages/sidenav/src/components/NavItem/NavItem.styled.js
  packages/sidenav/src/components/SideBar/SideBar.styled.js
Due: eslint-app

feat(modal): export useScrollLock util
  packages/modal/src/index.js
Due: eslint-app

feat(sidenav): explicit brigde props to sidenav childrens and remove unnecessary component memoizati
  packages/sidenav/src/SideNav.js
  packages/sidenav/src/components/NavButton/CloseButton.js
  packages/sidenav/src/components/NavButton/NavButton.js
  packages/sidenav/src/components/NavButton/ToggleButton.js
  packages/sidenav/src/components/NavItem/NavItem.js
Due: eslint-app

feat(dep xunxo): remove before merge
  packages/sidenav/package.json
Due: none

feat(SideNav): Lock scroll openning a fullwidth navbar
  packages/sidenav/src/SideNav.js
  packages/sidenav/src/SideNav.styled.js
  packages/sidenav/src/utils/useScrollLock.js
Due: eslint-app

feat(sidenav): add icon size and variant prop enum
  __snapshots__/Storyshots.test.js.snap
  packages/sidenav/src/Content.js
  packages/sidenav/src/NavButton.js
  packages/sidenav/src/NavItem.js
  packages/sidenav/src/SideNav.js
  packages/sidenav/src/SideNav.styled.js
Due: eslint-app

feat(sidenav): add prop docs and fix variant name
  packages/sidenav/src/Content.js
  packages/sidenav/src/NavButton.js
  packages/sidenav/src/NavItem.js
  packages/sidenav/src/SideNav.js
Due: eslint-app

feat(sidenav): add initial readme and simple stories
  packages/sidenav/README.md
  packages/sidenav/package.json
  packages/sidenav/src/SideNav.story.js
  yarn.lock
Due: eslint-app

feat(sidenav): remove props injection to use render props
  packages/sidenav/src/SideNav.js
  packages/sidenav/src/SideNav.story.js
  packages/sidenav/src/components/NavButton/NavButton.js
  packages/sidenav/src/components/NavItem/NavItem.js
  packages/sidenav/src/components/SideBar/Sidebar.js
  packages/sidenav/src/components/SideBar/index.js
  packages/sidenav/src/index.js
Due: eslint-app

docs(sidenav): use story hook that control sidenav expanded state
  packages/sidenav/src/SideNav.story.js
  packages/sidenav/src/SideNav.test.js
Due: eslint-app, eslint-test

feat(sidenav): extract navitem story to it's own file/dir
  __snapshots__/Storyshots.test.js.snap
  packages/sidenav/src/SideNav.story.js
  packages/sidenav/src/components/NavItem/NavItem.story.js
  packages/sidenav/src/utils/componentMatcher.js
  packages/sidenav/src/utils/useToggle.js
Due: eslint-app
