Repository CraveFood/farmblocks: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint-app, eslint-test

eslint-app:
  name: eslint-app
  entry: ./node_modules/eslint/bin/eslint.js
  args:
  - --config=.eslintrc.js
  - --ignore-path=.eslintignore
  language: system

eslint-test:
  name: eslint-test
  entry: ./node_modules/eslint/bin/eslint.js
  args:
  - --config=.test.eslintrc.js
  - --ignore-path=.test.eslintignore
  language: system

chore(text): add styled-system dependency
  package.json
  packages/text/package.json
  yarn.lock
Due: none

feat(text): add styled-system typography
  .storybook/config.js
  packages/text/src/components/Text.js
  packages/text/src/components/Text.story.js
  packages/text/src/styledComponents/Text.js
Due: eslint-app

chore(storyshots): update
  __snapshots__/Storyshots.test.js.snap
  packages/card/src/__snapshots__/Card.story.storyshot
  packages/empty-state/src/__snapshots__/EmptyState.story.storyshot
  packages/footer/src/components/__snapshots__/Footer.story.storyshot
  packages/form-wrapper/src/__snapshots__/FormWrapper.story.storyshot
  packages/hoc-input/src/__snapshots__/formInput.story.storyshot
  packages/hoc-validation-messages/src/__snapshots__/withMessages.story.storyshot
  packages/input-currency/src/__snapshots__/CurrencyInput.story.storyshot
  packages/input-select/src/__snapshots__/Select.story.storyshot
  packages/input-select/src/components/__snapshots__/EmptyCard.story.storyshot
  packages/input-text/src/__snapshots__/TextAreaInput.story.storyshot
  packages/input-text/src/__snapshots__/TextInput.story.storyshot
  packages/map-balloon/src/__snapshots__/MapBalloon.story.storyshot
  packages/modal/src/__snapshots__/DialogModal.story.storyshot
  packages/modal/src/__snapshots__/Modal.story.storyshot
  packages/modal/src/__snapshots__/helpers.story.storyshot
  packages/search-field/src/__snapshots__/SearchField.story.storyshot
  packages/search-field/src/components/__snapshots__/Menu.story.storyshot
  packages/table/src/__snapshots__/Table.story.storyshot
  packages/text/src/components/__snapshots__/Text.Paragraph.story.storyshot
  packages/text/src/components/__snapshots__/Text.story.storyshot
  packages/tooltip/src/__snapshots__/Tooltip.story.storyshot
Due: none

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/main.286394eb1a1db9985be2.bundle.js
  docs/main.286394eb1a1db9985be2.bundle.js.map
  docs/main.74c1491210a328c25d82.bundle.js
  docs/main.74c1491210a328c25d82.bundle.js.map
  docs/runtime~main.286394eb1a1db9985be2.bundle.js
  docs/runtime~main.286394eb1a1db9985be2.bundle.js.map
  docs/runtime~main.74c1491210a328c25d82.bundle.js.map
  docs/vendors~main.286394eb1a1db9985be2.bundle.js
  docs/vendors~main.286394eb1a1db9985be2.bundle.js.map
  docs/vendors~main.74c1491210a328c25d82.bundle.js
  docs/vendors~main.74c1491210a328c25d82.bundle.js.map
Due: eslint-app

feat(theme): add GREY_08 color
  packages/theme/src/colors.js
Due: eslint-app

test(storyshot): update
  packages/card/src/__snapshots__/Card.story.storyshot
  packages/input-select/src/components/__snapshots__/EmptyCard.story.storyshot
  packages/map-balloon/src/__snapshots__/MapBalloon.story.storyshot
  packages/modal/src/__snapshots__/DialogModal.story.storyshot
  packages/modal/src/__snapshots__/Modal.story.storyshot
  packages/modal/src/__snapshots__/helpers.story.storyshot
  packages/tooltip/src/__snapshots__/TooltipContent.story.storyshot
Due: none

feat(Card): change border and box shadow color
  packages/card/src/styledComponents/Card.js
Due: eslint-app

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/main.286394eb1a1db9985be2.bundle.js
  docs/main.286394eb1a1db9985be2.bundle.js.map
  docs/main.702c2db13720d099d5b3.bundle.js
  docs/main.702c2db13720d099d5b3.bundle.js.map
  docs/runtime~main.286394eb1a1db9985be2.bundle.js.map
  docs/runtime~main.702c2db13720d099d5b3.bundle.js
  docs/runtime~main.702c2db13720d099d5b3.bundle.js.map
  docs/vendors~main.286394eb1a1db9985be2.bundle.js.map
  docs/vendors~main.702c2db13720d099d5b3.bundle.js
  docs/vendors~main.702c2db13720d099d5b3.bundle.js.map
Due: eslint-app

fix(hoc-input): add textarea to the ref querySelector
  packages/hoc-input/src/formInput.js
  packages/hoc-input/src/formInput.story.js
Due: eslint-app

chore(storyshots): update
  packages/hoc-input/src/__snapshots__/formInput.story.storyshot
Due: none

chore(release): [ci skip] publish
  packages/amount-selectors/CHANGELOG.md
  packages/amount-selectors/package.json
  packages/filter-popover/CHANGELOG.md
  packages/filter-popover/package.json
  packages/form-wrapper/CHANGELOG.md
  packages/form-wrapper/package.json
  packages/hoc-input/CHANGELOG.md
  packages/hoc-input/package.json
  packages/input-currency/CHANGELOG.md
  packages/input-currency/package.json
  packages/input-phone/CHANGELOG.md
  packages/input-phone/package.json
  packages/input-select/CHANGELOG.md
  packages/input-select/package.json
  packages/input-text/CHANGELOG.md
  packages/input-text/package.json
  packages/search-field/CHANGELOG.md
  packages/search-field/package.json
Due: none

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/main.702c2db13720d099d5b3.bundle.js
  docs/main.702c2db13720d099d5b3.bundle.js.map
  docs/main.e2a8951c447b02cfaa72.bundle.js
  docs/main.e2a8951c447b02cfaa72.bundle.js.map
  docs/runtime~main.702c2db13720d099d5b3.bundle.js.map
  docs/runtime~main.e2a8951c447b02cfaa72.bundle.js
  docs/runtime~main.e2a8951c447b02cfaa72.bundle.js.map
  docs/vendors~main.702c2db13720d099d5b3.bundle.js.map
  docs/vendors~main.e2a8951c447b02cfaa72.bundle.js
  docs/vendors~main.e2a8951c447b02cfaa72.bundle.js.map
Due: eslint-app

chore: update babel
  package.json
  yarn.lock
Due: none

chore: update storybook
  package.json
  yarn.lock
Due: none

chore: update enzyme
  package.json
  yarn.lock
Due: none

chore: update @testing-library
  package.json
  yarn.lock
Due: none

chore: update jest
  package.json
  yarn.lock
Due: none

chore: update styled-components and jest-styled-components
  __snapshots__/Storyshots.test.js.snap
  package.json
  packages/button/src/__snapshots__/Button.story.storyshot
  packages/empty-state/src/__snapshots__/EmptyState.story.storyshot
  packages/form-wrapper/src/__snapshots__/FormWrapper.story.storyshot
  packages/hoc-input/src/__snapshots__/formInput.story.storyshot
  packages/image/src/__snapshots__/Image.story.storyshot
  packages/input-checkbox/src/__snapshots__/Checkbox.story.storyshot
  packages/input-currency/src/__snapshots__/CurrencyInput.story.storyshot
  packages/input-select/src/__snapshots__/Select.story.storyshot
  packages/input-text/src/__snapshots__/TextAreaInput.story.storyshot
  packages/input-text/src/__snapshots__/TextInput.story.storyshot
  packages/map-balloon/src/__snapshots__/MapBalloon.story.storyshot
  packages/modal/src/__snapshots__/Modal.story.storyshot
  packages/search-field/src/__snapshots__/SearchField.story.storyshot
  packages/search-field/src/components/__snapshots__/Menu.story.storyshot
  packages/stepper/src/components/__snapshots__/Stepper.story.storyshot
  packages/table/src/__snapshots__/Table.story.storyshot
  packages/tag/src/components/__snapshots__/Tag.story.storyshot
  packages/text/src/components/__snapshots__/Text.Paragraph.story.storyshot
  packages/text/src/components/__snapshots__/Text.story.storyshot
  yarn.lock
Due: none

chore: update lerna
  package.json
  yarn.lock
Due: none

chore: update react and react-dom
  package.json
  packages/alert/package.json
  packages/amount-selectors/package.json
  packages/button/package.json
  packages/card/package.json
  packages/carousel/package.json
  packages/dropdown/package.json
  packages/empty-state/package.json
  packages/filter-popover/package.json
  packages/footer/package.json
  packages/form-wrapper/package.json
  packages/hoc-input/package.json
  packages/hoc-validation-messages/package.json
  packages/image/package.json
  packages/input-checkbox/package.json
  packages/input-currency/package.json
  packages/input-phone/package.json
  packages/input-radio/package.json
  packages/input-select/package.json
  packages/input-text/package.json
  packages/label/package.json
  packages/link/package.json
  packages/map-balloon/package.json
  packages/modal/package.json
  packages/more-info/package.json
  packages/popover/package.json
  packages/search-field/package.json
  packages/sidenav/package.json
  packages/stepper/package.json
  packages/table/package.json
  packages/tag/package.json
  packages/text/package.json
  packages/tooltip/package.json
  yarn.lock
Due: none

chore: update @styled-system/prop-types
  package.json
  packages/text/package.json
  yarn.lock
Due: none

chore: update polished
  packages/sidenav/package.json
  packages/table/package.json
  yarn.lock
Due: none

chore: update styled-system
  package.json
  yarn.lock
Due: none

chore: update world-countries
  packages/input-phone/package.json
  yarn.lock
Due: none

chore: update react-number-format"
  packages/input-currency/package.json
  yarn.lock
Due: none

chore: update react-responsive
  packages/empty-state/package.json
  packages/sidenav/package.json
  yarn.lock
Due: none

chore: update object.values
  packages/amount-selectors/package.json
  packages/dropdown/package.json
  packages/link/package.json
  packages/map-balloon/package.json
  packages/popover/package.json
  packages/table/package.json
  packages/tag/package.json
  packages/tooltip/package.json
  yarn.lock
Due: none

chore: update @svgr/core
  packages/icon/package.json
  yarn.lock
Due: none

chore: update react-responsive
  packages/dropdown/package.json
  yarn.lock
Due: none

chore: update @testing-library/react
  package.json
  packages/input-currency/src/__snapshots__/CurrencyInput.story.storyshot
  yarn.lock
Due: none

chore: update react-test-renderer
  package.json
  yarn.lock
Due: none

chore: update libphonenumber-js
  packages/input-phone/package.json
  packages/input-phone/src/PhoneInput.js
  packages/input-phone/src/PhoneInput.test.js
  yarn.lock
Due: eslint-app, eslint-test

chore: update slug and inquirer
  packages/scaffold/package.json
  yarn.lock
Due: none

chore: update snyk
  package.json
  yarn.lock
Due: none

chore: update styled-components
  packages/alert/package.json
  packages/amount-selectors/package.json
  packages/button/package.json
  packages/card/package.json
  packages/carousel/package.json
  packages/dropdown/package.json
  packages/empty-state/package.json
  packages/filter-popover/package.json
  packages/footer/package.json
  packages/form-wrapper/package.json
  packages/hoc-input/package.json
  packages/hoc-validation-messages/package.json
  packages/icon/package.json
  packages/image/package.json
  packages/input-checkbox/package.json
  packages/input-currency/package.json
  packages/input-phone/package.json
  packages/input-radio/package.json
  packages/input-select/package.json
  packages/input-text/package.json
  packages/label/package.json
  packages/link/package.json
  packages/map-balloon/package.json
  packages/modal/package.json
  packages/more-info/package.json
  packages/popover/package.json
  packages/scaffold/src/templates/package.js
  packages/search-field/package.json
  packages/sidenav/package.json
  packages/stepper/package.json
  packages/table/package.json
  packages/tag/package.json
  packages/text/package.json
  packages/tooltip/package.json
Due: eslint-app

chore: update yarn.lock
  yarn.lock
Due: none

chore(input-select): add @crave/farmblocks-theme as dependency
  packages/input-select/package.json
Due: none

Path conditions:
  eslint-app: any of: ^(?!.*\.test).*\.js$
  eslint-test: any of: \.test\.js$
