Repository CraveFood/farmblocks: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint-app, eslint-test

.pre-commit-config.yaml:

fail_fast: true
repos:
-   repo: https://github.com/prettier/prettier
    sha: '1.7.0'
    hooks:
      - id: prettier

-   repo: local
    hooks:
      - id: eslint-app
        name: eslint-app
        entry: ./node_modules/eslint/bin/eslint.js
        args:
          - "--config=.eslintrc.js"
          - "--ignore-path=.eslintignore"
        language: system
        files: '^(?!.*\.test).*\.js$'

      - id: eslint-test
        name: eslint-test
        entry: ./node_modules/eslint/bin/eslint.js
        args:
          - "--config=.test.eslintrc.js"
          - "--ignore-path=.test.eslintignore"
        language: system
        files: '\.test\.js$'

fix(formInput): value lenght bug
  packages/hoc-input/src/formInput.js
Due: eslint-app

fix(Select): update selected value after receiving new items
  packages/input-select/src/Select.js
Due: eslint-app

fix(Carousel): add min-width to carousel items
  packages/carousel/src/styledComponents/Carousel.js
Due: eslint-app

chore(release): [ci skip] publish
  packages/carousel/CHANGELOG.md
  packages/carousel/package.json
Due: none

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/static/preview.2f2072194f03843b7ff5.bundle.js
  docs/static/preview.de68b185029f5cc3a00a.bundle.js
Due: eslint-app

chore(release): [ci skip] publish
  packages/map-balloon/CHANGELOG.md
  packages/map-balloon/package.json
Due: none

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/static/preview.2f2072194f03843b7ff5.bundle.js
  docs/static/preview.c6d6d6445a56c4c65632.bundle.js
Due: eslint-app

chore(release): [ci skip] publish
  packages/hoc-input/CHANGELOG.md
  packages/hoc-input/package.json
  packages/input-select/CHANGELOG.md
  packages/input-select/package.json
  packages/input-text/CHANGELOG.md
  packages/input-text/package.json
Due: none

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/static/preview.8b3101bb9720d00a630a.bundle.js
  docs/static/preview.c6d6d6445a56c4c65632.bundle.js
Due: eslint-app

feat(Amount Selectors): initial files
  packages/amount-selectors/AUTHORS
  packages/amount-selectors/LICENSE
  packages/amount-selectors/README.md
  packages/amount-selectors/package.json
  packages/amount-selectors/src/components/AmountSelectors.js
  packages/amount-selectors/src/components/AmountSelectors.story.js
  packages/amount-selectors/src/index.js
Due: eslint-app

feat(storybook): update fonticon and include wg-minus class
  .storybook/assets/whatsgood-iconfont.eot
  .storybook/assets/whatsgood-iconfont.svg
  .storybook/assets/whatsgood-iconfont.ttf
  .storybook/assets/whatsgood-iconfont.woff
  .storybook/config.js
Due: eslint-app

(Amount selectors): add farmblocks button and input text dependencies
  packages/amount-selectors/package.json
Due: none

(Amount selector): initial component api
  packages/amount-selectors/src/components/AmountSelectors.js
  packages/amount-selectors/src/components/AmountSelectors.story.js
Due: eslint-app

(amount-selector): basic styles
  packages/amount-selectors/src/components/AmountSelectors.js
  packages/amount-selectors/src/styledComponents/AmountSelector.js
Due: eslint-app

test(Amount-selector): add tests
  packages/amount-selectors/src/components/AmountSelectors.test.js
Due: eslint-test

(amount-selector): disable buttons if cap is reached
  packages/amount-selectors/src/components/AmountSelectors.js
Due: eslint-app

docs(Amount-selector): update readme
  packages/amount-selectors/README.md
Due: none

(amount-selector): add functions to handle typing
  packages/amount-selectors/src/components/AmountSelectors.js
Due: eslint-app

(amount-select): add onChange, disableEdit and tooltip props
  packages/amount-selectors/src/components/AmountSelectors.js
  packages/amount-selectors/src/components/AmountSelectors.story.js
Due: eslint-app

(Amount-selector): add validation message if typed value is out of bound
  packages/amount-selectors/src/components/AmountSelectors.js
  packages/amount-selectors/src/components/AmountSelectors.story.js
Due: eslint-app

test(Amount-selector): use classNames as selectors on button tests
  packages/amount-selectors/src/components/AmountSelectors.js
  packages/amount-selectors/src/components/AmountSelectors.test.js
Due: eslint-app, eslint-test

fix(Amount-selector): prevent an empty value to trigger an invalid value message
  packages/amount-selectors/src/components/AmountSelectors.js
Due: eslint-app

WIP(Amount-selector): add validation messages prop and rename disableEdit
  packages/amount-selectors/README.md
  packages/amount-selectors/src/components/AmountSelectors.js
  packages/amount-selectors/src/components/AmountSelectors.story.js
Due: eslint-app

assume that browser supports input type number
  packages/amount-selectors/src/components/AmountSelectors.js
  packages/amount-selectors/src/components/AmountSelectors.test.js
  packages/amount-selectors/src/styledComponents/AmountSelector.js
Due: eslint-app, eslint-test

feat(amount-selector): format value to fixed 2 after button click or onblur
  packages/amount-selectors/src/components/AmountSelectors.js
Due: eslint-app

fix(amount-selector): style adjusts
  packages/amount-selectors/src/components/AmountSelectors.js
  packages/amount-selectors/src/styledComponents/AmountSelector.js
Due: eslint-app

feat(hoc-input): add new property fonSize to hoc input and set input heights based on that
  packages/hoc-input/src/formInput.js
  packages/hoc-input/src/formInput.story.js
  packages/hoc-input/src/styledComponents/Wrapper.js
Due: eslint-app

WIP(Amount-selector): add small version
  packages/amount-selectors/README.md
  packages/amount-selectors/src/components/AmountSelectors.js
  packages/amount-selectors/src/components/AmountSelectors.story.js
  packages/amount-selectors/src/constants/selectorSizes.js
Due: eslint-app

fix(button): use height and box-sizing to have the correct button height computed
  packages/button/src/Button.story.js
  packages/button/src/styledComponents/Button.js
Due: eslint-app

test(amout-selector): new test for mormatted display number
  packages/amount-selectors/src/components/AmountSelectors.test.js
Due: eslint-test

WIP(Amount-selector): remove validation messages
  packages/amount-selectors/README.md
  packages/amount-selectors/src/components/AmountSelectors.js
  packages/amount-selectors/src/components/AmountSelectors.story.js
  packages/amount-selectors/src/components/AmountSelectors.test.js
Due: eslint-app, eslint-test

WIP(Amount-selector): add helper functions to set buttons and input sizes
  packages/amount-selectors/src/components/AmountSelectors.js
Due: eslint-app

chore(release): [ci skip] publish
  packages/alert/CHANGELOG.md
  packages/alert/package.json
  packages/amount-selectors/CHANGELOG.md
  packages/amount-selectors/package.json
  packages/button/CHANGELOG.md
  packages/button/package.json
  packages/card/CHANGELOG.md
  packages/card/package.json
  packages/dropdown/CHANGELOG.md
  packages/dropdown/package.json
  packages/empty-state/CHANGELOG.md
  packages/empty-state/package.json
  packages/footer/CHANGELOG.md
  packages/footer/package.json
  packages/hoc-input/CHANGELOG.md
  packages/hoc-input/package.json
  packages/input-select/CHANGELOG.md
  packages/input-select/package.json
  packages/input-text/CHANGELOG.md
  packages/input-text/package.json
  packages/map-balloon/CHANGELOG.md
  packages/map-balloon/package.json
  packages/table/CHANGELOG.md
  packages/table/package.json
Due: none
