Repository CraveFood/farmblocks: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint-app, eslint-test

eslint-app:
  name: eslint-app
  entry: ./node_modules/eslint/bin/eslint.js
  args:
  - --config=.eslintrc.js
  - --ignore-path=.eslintignore
  language: system

eslint-test:
  name: eslint-test
  entry: ./node_modules/eslint/bin/eslint.js
  args:
  - --config=.test.eslintrc.js
  - --ignore-path=.test.eslintignore
  language: system

feat(input-phone): filter countries by search term
  packages/input-phone/src/PhoneInput.hooks.js
  packages/input-phone/src/PhoneInput.js
Due: eslint-app

fix(input-phone): border radius of prefix
  packages/input-phone/src/PhoneInput.js
Due: eslint-app

test(input-phone): create tests
  packages/input-phone/src/PhoneInput.js
  packages/input-phone/src/PhoneInput.story.js
  packages/input-phone/src/PhoneInput.test.js
Due: eslint-app, eslint-test

feat(input-phone): catch errors in priorityCountries prop and warn about how the values are expected
  packages/input-phone/src/PhoneInput.hooks.js
Due: eslint-app

fix(input-phone): use js file instead of json for countries list
  .eslintignore
  .prettierignore
  packages/input-phone/src/PhoneInput.js
  packages/input-phone/src/countries.js
  packages/input-phone/src/countries.json
  packages/input-phone/updateCountryList.js
Due: eslint-app

refactor(input-phone): memoize
  packages/input-phone/src/CountrySelectorTrigger.js
  packages/input-phone/src/PhoneInput.js
Due: eslint-app

feat(input-phone): add tooltipProps
  packages/input-phone/src/PhoneInput.js
  packages/input-phone/src/PhoneInput.story.js
Due: eslint-app

refactor(input-phone): extract parts of the main component into smaller ones
  packages/input-phone/src/CountryList.js
  packages/input-phone/src/PhoneInput.js
  packages/input-phone/src/PhoneInput.styled.js
Due: eslint-app

fix(input-phone): reduce popover min-width to fit 320px viewports
  packages/input-phone/src/PhoneInput.styled.js
Due: eslint-app

fix(input-phone): pass ref of popover dismiss instead of actual function
  packages/input-phone/src/PhoneInput.hooks.js
  packages/input-phone/src/PhoneInput.js
Due: eslint-app

chore(storyshots): update
  __snapshots__/Storyshots.test.js.snap
  packages/amount-selectors/src/components/__snapshots__/AmountSelectors.story.storyshot
  packages/filter-popover/src/__snapshots__/FilterPopover.story.storyshot
  packages/form-wrapper/src/__snapshots__/FormWrapper.story.storyshot
  packages/hoc-input/src/__snapshots__/formInput.story.storyshot
  packages/input-currency/src/__snapshots__/CurrencyInput.story.storyshot
  packages/input-select/src/__snapshots__/Select.story.storyshot
  packages/input-select/src/components/__snapshots__/Item.story.storyshot
  packages/input-text/src/__snapshots__/TextAreaInput.story.storyshot
  packages/input-text/src/__snapshots__/TextInput.story.storyshot
  packages/popover/src/__snapshots__/Popover.story.storyshot
  packages/search-field/src/__snapshots__/SearchField.story.storyshot
  packages/search-field/src/components/__snapshots__/Menu.story.storyshot
  packages/tooltip/src/__snapshots__/TooltipContent.story.storyshot
Due: none

chore(release): [ci skip] publish
  packages/amount-selectors/CHANGELOG.md
  packages/amount-selectors/package.json
  packages/card/CHANGELOG.md
  packages/card/package.json
  packages/filter-popover/CHANGELOG.md
  packages/filter-popover/package.json
  packages/form-wrapper/CHANGELOG.md
  packages/form-wrapper/package.json
  packages/hoc-input/CHANGELOG.md
  packages/hoc-input/package.json
  packages/input-currency/CHANGELOG.md
  packages/input-currency/package.json
  packages/input-phone/CHANGELOG.md
  packages/input-phone/package.json
  packages/input-select/CHANGELOG.md
  packages/input-select/package.json
  packages/input-text/CHANGELOG.md
  packages/input-text/package.json
  packages/label/CHANGELOG.md
  packages/label/package.json
  packages/more-info/CHANGELOG.md
  packages/more-info/package.json
  packages/popover/CHANGELOG.md
  packages/popover/package.json
  packages/search-field/CHANGELOG.md
  packages/search-field/package.json
  packages/tooltip/CHANGELOG.md
  packages/tooltip/package.json
Due: none

chore(docs): [ci skip] gallery update
  docs/3.5df5ec9b97dcd60839a3.bundle.js
  docs/favicon.ico
  docs/iframe.html
  docs/index.html
  docs/main.4559122216f6c3a7a664.bundle.js
  docs/main.559d317fc5e5d8b72c06.bundle.js
  docs/main.559d317fc5e5d8b72c06.bundle.js.map
  docs/main.6eaa014e12f2ea2d5ec8.bundle.js
  docs/main.6eaa014e12f2ea2d5ec8.bundle.js.map
  docs/main.d1b671a7b149c0163235.bundle.js
  docs/runtime~main.559d317fc5e5d8b72c06.bundle.js.map
  docs/runtime~main.6eaa014e12f2ea2d5ec8.bundle.js
  docs/runtime~main.6eaa014e12f2ea2d5ec8.bundle.js.map
  docs/runtime~main.baaa4e444e1d24745432.bundle.js
  docs/runtime~main.d6878bfc6f9b1805e480.bundle.js
  docs/sb_dll/storybook_ui-manifest.json
  docs/sb_dll/storybook_ui_dll.LICENCE
  docs/sb_dll/storybook_ui_dll.js
  docs/vendors~main.559d317fc5e5d8b72c06.bundle.js
  docs/vendors~main.559d317fc5e5d8b72c06.bundle.js.map
  docs/vendors~main.6eaa014e12f2ea2d5ec8.bundle.js
  docs/vendors~main.6eaa014e12f2ea2d5ec8.bundle.js.map
  docs/vendors~main.88b1d6f7628d3d47a097.bundle.js
  docs/vendors~main.96b15de4cd8f37a93367.bundle.js
Due: eslint-app

(#935) Fix link to storybook docs in readme.md
  packages/input-phone/README.md
Due: none

Update README.md
  packages/input-phone/README.md
Due: none

chore(release): [ci skip] publish
  packages/input-phone/CHANGELOG.md
  packages/input-phone/package.json
Due: none

chore(icon): create package from scafold
  packages/icon/AUTHORS
  packages/icon/LICENSE
  packages/icon/README.md
  packages/icon/package.json
  packages/icon/src/Icon.js
  packages/icon/src/Icon.story.js
  packages/icon/src/index.js
Due: eslint-app

chore(LICENSE): update year of Copyright
  LICENSE
  packages/alert/LICENSE
  packages/amount-selectors/LICENSE
  packages/button/LICENSE
  packages/card/LICENSE
  packages/carousel/LICENSE
  packages/dropdown/LICENSE
  packages/empty-state/LICENSE
  packages/filter-popover/LICENSE
  packages/footer/LICENSE
  packages/form-wrapper/LICENSE
  packages/hoc-input/LICENSE
  packages/hoc-validation-messages/LICENSE
  packages/image/LICENSE
  packages/input-checkbox/LICENSE
  packages/input-currency/LICENSE
  packages/input-phone/LICENSE
  packages/input-radio/LICENSE
  packages/input-select/LICENSE
  packages/input-text/LICENSE
  packages/label/LICENSE
  packages/link/LICENSE
  packages/map-balloon/LICENSE
  packages/modal/LICENSE
  packages/more-info/LICENSE
  packages/popover/LICENSE
  packages/search-field/LICENSE
  packages/stepper/LICENSE
  packages/table/LICENSE
  packages/tag/LICENSE
  packages/text/LICENSE
  packages/theme/LICENSE
  packages/tooltip/LICENSE
Due: none

feat(icon): create script to generate jsx files from svgs
  packages/icon/buildJSX.js
  packages/icon/package.json
Due: eslint-app

chore(package): add dependencies
  packages/icon/package.json
  yarn.lock
Due: none

feat(icon): include group name to components
  packages/icon/buildJSX.js
Due: eslint-app

feat(icon): build index file exporting all icons
  packages/icon/buildJSX.js
  packages/icon/src/index.js
  packages/icon/src/jsx/index.js
Due: eslint-app

fix(icon): conflicting svg file names
  packages/icon/src/jsx/LgReadytoServe.js
  packages/icon/src/jsx/MdAddtoBag.js
  packages/icon/src/jsx/MdAddtoBagFilled.js
  packages/icon/src/jsx/MdAddtoCart.js
  packages/icon/src/jsx/MdAddtoCartFilled.js
  packages/icon/src/jsx/MdEmptyBag.js
  packages/icon/src/jsx/MdEmptyBagFilled.js
  packages/icon/src/jsx/MdEmptyCart.js
  packages/icon/src/jsx/MdEmptyCartFilled.js
  packages/icon/src/jsx/MdInBag.js
  packages/icon/src/jsx/MdInBagFilled.js
  packages/icon/src/jsx/MdInCart.js
  packages/icon/src/jsx/MdInCartFilled.js
  packages/icon/src/svg/Cart/MdAddtoBag.svg
  packages/icon/src/svg/Cart/MdAddtoBagFilled.svg
  packages/icon/src/svg/Cart/MdEmptyBag.svg
  packages/icon/src/svg/Cart/MdEmptyBagFilled.svg
  packages/icon/src/svg/Cart/MdInBag.svg
  packages/icon/src/svg/Cart/MdInBagFilled.svg
Due: eslint-app

feat(icon): show status of buildJSX script
  packages/icon/buildJSX.js
  packages/icon/package.json
Due: eslint-app

docs(icon): create list with all icons
  packages/icon/src/Icon.story.js
  packages/icon/src/IconsBrowser.js
Due: eslint-app

fix(Select): prevent className prop override
  packages/input-select/src/Select.js
Due: eslint-app

test(storyshots): update
  packages/input-select/src/__snapshots__/Select.story.storyshot
Due: none

docs(icon): add stories
  packages/icon/src/Icon.js
  packages/icon/src/Icon.story.js
  packages/icon/src/IconsBrowser.js
Due: eslint-app

test: add mock svg file imports
  jest.config.js
Due: eslint-app

docs(icon): add Usage and Contributing instruction to the readme file
  packages/icon/README.md
Due: none

chore(storyshots): update
  __snapshots__/Storyshots.test.js.snap
Due: none

fix(icon): case of filenames
  packages/icon/src/jsx/LgReadyToServe.js
  packages/icon/src/jsx/MdAddToBag.js
  packages/icon/src/jsx/MdAddToBagFilled.js
  packages/icon/src/jsx/MdAddToCart.js
  packages/icon/src/jsx/MdAddToCartFilled.js
  packages/icon/src/svg/Cart/MdAddToBag.svg
  packages/icon/src/svg/Cart/MdAddToBagFilled.svg
  packages/icon/src/svg/Cart/MdAddToCart.svg
  packages/icon/src/svg/Cart/MdAddToCartFilled.svg
  packages/icon/src/svg/Categories/LgReadyToServe.svg
Due: eslint-app

fix(Icon): magically renaming
  packages/icon/src/jsx/LgReadyToServeBkp.js
  packages/icon/src/jsx/LgReadytoServe.js
  packages/icon/src/jsx/MdAddToBagBkp.js
  packages/icon/src/jsx/MdAddToBagFilled.js
  packages/icon/src/jsx/MdAddToBagFilledBkp.js
  packages/icon/src/jsx/MdAddToCartBkp.js
  packages/icon/src/jsx/MdAddToCartFilled.js
  packages/icon/src/jsx/MdAddToCartFilledBkp.js
  packages/icon/src/jsx/MdAddtoBag.js
  packages/icon/src/jsx/MdAddtoBagFilled.js
  packages/icon/src/jsx/MdAddtoCart.js
  packages/icon/src/jsx/MdAddtoCartFilled.js
  packages/icon/src/jsx/index.js
  packages/icon/src/svg/Cart/MdAddToBagBkp.svg
  packages/icon/src/svg/Cart/MdAddToBagFilledBkp.svg
  packages/icon/src/svg/Cart/MdAddToCartBkp.svg
  packages/icon/src/svg/Cart/MdAddToCartFilledBkp.svg
  packages/icon/src/svg/Cart/MdAddtoBag.svg
  packages/icon/src/svg/Cart/MdAddtoBagFilled.svg
  packages/icon/src/svg/Cart/MdAddtoCart.svg
  packages/icon/src/svg/Cart/MdAddtoCartFilled.svg
  packages/icon/src/svg/Categories/LgReadyToServeBkp.svg
  packages/icon/src/svg/Categories/LgReadytoServe.svg
Due: eslint-app

fix(Icon): magically renaming version 2
  packages/icon/src/jsx/LgReadyToServe.js
  packages/icon/src/jsx/MdAddToBag.js
  packages/icon/src/jsx/MdAddToBagFilled.js
  packages/icon/src/jsx/MdAddToBagFilledBkp.js
  packages/icon/src/jsx/MdAddToCart.js
  packages/icon/src/jsx/MdAddToCartFilled.js
  packages/icon/src/jsx/MdAddToCartFilledBkp.js
  packages/icon/src/jsx/index.js
  packages/icon/src/svg/Cart/MdAddToBag.svg
  packages/icon/src/svg/Cart/MdAddToBagFilled.svg
  packages/icon/src/svg/Cart/MdAddToCart.svg
  packages/icon/src/svg/Cart/MdAddToCartFilled.svg
  packages/icon/src/svg/Categories/LgReadyToServe.svg
Due: eslint-app

chore(release): [ci skip] publish
  packages/input-phone/CHANGELOG.md
  packages/input-phone/package.json
  packages/input-select/CHANGELOG.md
  packages/input-select/package.json
  packages/search-field/CHANGELOG.md
  packages/search-field/package.json
Due: none

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/main.6eaa014e12f2ea2d5ec8.bundle.js
  docs/main.6eaa014e12f2ea2d5ec8.bundle.js.map
  docs/main.e21d9174b2953a816e1e.bundle.js
  docs/main.e21d9174b2953a816e1e.bundle.js.map
  docs/runtime~main.6eaa014e12f2ea2d5ec8.bundle.js.map
  docs/runtime~main.e21d9174b2953a816e1e.bundle.js
  docs/runtime~main.e21d9174b2953a816e1e.bundle.js.map
  docs/vendors~main.6eaa014e12f2ea2d5ec8.bundle.js.map
  docs/vendors~main.e21d9174b2953a816e1e.bundle.js
  docs/vendors~main.e21d9174b2953a816e1e.bundle.js.map
Due: eslint-app

Path conditions:
  eslint-app: any of: ^(?!.*\.test).*\.js$
  eslint-test: any of: \.test\.js$
