Repository CraveFood/farmblocks: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint-app, eslint-test

.pre-commit-config.yaml:

fail_fast: true
repos:
-   repo: https://github.com/prettier/prettier
    sha: '1.7.0'
    hooks:
      - id: prettier

-   repo: local
    hooks:
      - id: eslint-app
        name: eslint-app
        entry: ./node_modules/eslint/bin/eslint.js
        args:
          - "--config=.eslintrc.js"
          - "--ignore-path=.eslintignore"
        language: system
        files: '^(?!.*\.test).*\.js$'

      - id: eslint-test
        name: eslint-test
        entry: ./node_modules/eslint/bin/eslint.js
        args:
          - "--config=.test.eslintrc.js"
          - "--ignore-path=.test.eslintignore"
        language: system
        files: '\.test\.js$'

fix(search-field): use non-strict comparison for value changes
  packages/search-field/src/SearchField.js
Due: eslint-app

feat(hoc-input): export the wrapper style as part of the lib
  packages/hoc-input/src/index.js
Due: eslint-app

test(text-input): story with the proposed api for protected text fields
  packages/input-text/src/TextInput.story.js
Due: eslint-app

fix(hoc-input): focus the input when the property focused changes from false to true
  packages/hoc-input/src/formInput.js
Due: eslint-app

docs(input-text): document the new properties of protected text inputs in the readme
  packages/input-text/README.md
Due: none

feat(text-input): support for new properties related with protected fields
  packages/input-text/src/TextInput.js
Due: eslint-app

test(text-input): tests for the protected value hoc and the focused property change (hoc-input)
  packages/hoc-input/src/formInput.test.js
  packages/input-text/src/protectedValue.test.js
Due: eslint-test

feat(text-input): new HOC for adding protected field behavior
  packages/input-text/src/protectedValue.js
Due: eslint-app

test(input-text): update test of property value change
  packages/input-text/src/protectedValue.test.js
Due: eslint-test

fix(hoc-input): add point cursor to clear link
  packages/hoc-input/src/styledComponents/Wrapper.js
Due: eslint-app

fix(input-text): dont call onReplace when property value is programatically updated
  packages/input-text/src/TextInput.story.js
  packages/input-text/src/protectedValue.js
Due: eslint-app

test(snapshots): update
  packages/amount-selectors/src/components/__snapshots__/AmountSelectors.story.storyshot
  packages/hoc-input/src/__snapshots__/formInput.story.storyshot
  packages/input-select/src/__snapshots__/Select.story.storyshot
  packages/input-text/src/__snapshots__/TextInput.story.storyshot
  packages/search-field/src/__snapshots__/SearchField.story.storyshot
Due: none

fix(input-text): fix right margin for the edit button on protected inputs
  packages/input-text/src/protectedValue.js
Due: eslint-app

feat(text-input): hide edit icon when disable and forward protected prop to the input below
  packages/input-text/src/protectedValue.js
Due: eslint-app

refactor(input-text): keep consistency on the rendered value of both the cover and the input on prot
  packages/input-text/src/protectedValue.js
Due: eslint-app

test(input-text): new story for protected and disabled
  packages/input-text/src/TextInput.story.js
Due: eslint-app

feat(hoc-input): do not change label color of disabled protected fields
  packages/hoc-input/src/formInput.js
  packages/hoc-input/src/styledComponents/Wrapper.js
Due: eslint-app

test(snapshots): update
  packages/amount-selectors/src/components/__snapshots__/AmountSelectors.story.storyshot
  packages/input-text/src/__snapshots__/TextInput.story.storyshot
Due: none

docs(input-text): fix typo in the readme
  packages/input-text/README.md
Due: none

chore(release): [ci skip] publish
  packages/amount-selectors/CHANGELOG.md
  packages/amount-selectors/package.json
  packages/hoc-input/CHANGELOG.md
  packages/hoc-input/package.json
  packages/input-select/CHANGELOG.md
  packages/input-select/package.json
  packages/input-text/CHANGELOG.md
  packages/input-text/package.json
  packages/search-field/CHANGELOG.md
  packages/search-field/package.json
Due: none

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/index.html
  docs/static/manager.b2276c433681609fa6c3.bundle.js
  docs/static/manager.dd2d768bc52036e29c15.bundle.js
  docs/static/preview.08d34c9bbf1d5e7e9106.bundle.js
  docs/static/preview.ef544a374245533caa97.bundle.js
Due: eslint-app

fix(Select): remove zIndex from inputProps
  packages/input-select/src/Select.js
  packages/input-select/src/__snapshots__/Select.story.storyshot
Due: eslint-app

chore(release): [ci skip] publish
  packages/input-select/CHANGELOG.md
  packages/input-select/package.json
  packages/search-field/CHANGELOG.md
  packages/search-field/package.json
Due: none

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/static/preview.08d34c9bbf1d5e7e9106.bundle.js
  docs/static/preview.4687e218216aa349047e.bundle.js
Due: eslint-app

test(hoc-input): update preventDefault test
  packages/hoc-input/src/formInput.test.js
Due: eslint-test

fix(hoc-input): only prevent click event from bubbling if it is over the clear icon
  packages/hoc-input/src/formInput.js
Due: eslint-app

refactor(hoc-input): change a function name
  packages/hoc-input/src/formInput.js
Due: eslint-app

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/static/preview.4687e218216aa349047e.bundle.js
  docs/static/preview.9d65b123c446b2a4d7fa.bundle.js
Due: eslint-app

test(protectedValue): add tests
  packages/input-text/src/protectedValue.test.js
Due: eslint-test

feat(Protected input): add cancel and save buttons
  packages/input-text/src/protectedValue.js
Due: eslint-app

feat(Protected input): handle cancel/save click
  packages/input-text/src/protectedValue.js
Due: eslint-app

docs(input-text): document new properties used on protected inputs
  packages/input-text/README.md
Due: none

update yarn.lock
  yarn.lock
Due: none

chore(Protected input): add dependencies farmblocks button and theme
  packages/input-text/package.json
  yarn.lock
Due: none

feat(protectedValue): receive cancel and save button texts from props
  packages/input-text/src/protectedValue.js
Due: eslint-app

fix(protectedValue): fix value passed to formInput
  packages/input-text/src/protectedValue.js
Due: eslint-app

chore(release): [ci skip] publish
  packages/amount-selectors/CHANGELOG.md
  packages/amount-selectors/package.json
  packages/input-text/CHANGELOG.md
  packages/input-text/package.json
Due: none

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/index.html
  docs/static/manager.dd2d768bc52036e29c15.bundle.js
  docs/static/manager.fb311624b84ae1fda347.bundle.js
  docs/static/preview.9d65b123c446b2a4d7fa.bundle.js
  docs/static/preview.c94202801a1c6925d48b.bundle.js
Due: eslint-app
