Repository CraveFood/farmblocks: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint-app, eslint-test

.pre-commit-config.yaml:

fail_fast: true
repos:
-   repo: https://github.com/prettier/prettier
    sha: '1.7.0'
    hooks:
      - id: prettier

-   repo: local
    hooks:
      - id: eslint-app
        name: eslint-app
        entry: ./node_modules/eslint/bin/eslint.js
        args:
          - "--config=.eslintrc.js"
          - "--ignore-path=.eslintignore"
        language: system
        files: '^(?!.*\.test).*\.js$'

      - id: eslint-test
        name: eslint-test
        entry: ./node_modules/eslint/bin/eslint.js
        args:
          - "--config=.test.eslintrc.js"
          - "--ignore-path=.test.eslintignore"
        language: system
        files: '\.test\.js$'

chore(docs): [ci skip] gallery update
  docs/favicon.ico
  docs/iframe.html
  docs/index.html
  docs/static/manager.66a35f746bd866c9d959.bundle.js
  docs/static/manager.76aff555dea1a8c3d5b5.bundle.js
  docs/static/preview.16cacb1fbfa358a621ae.bundle.js
  docs/static/preview.211af6d3a679254834f0.bundle.js
Due: eslint-app

feat(link): initial link component
  packages/link/src/Link.Neutral.story.js
  packages/link/src/Link.Normal.story.js
  packages/link/src/Link.js
  packages/link/src/Link.story.js
  packages/link/src/constants/lineHeights.js
  packages/link/src/constants/linkColors.js
  packages/link/src/constants/linkTypes.js
  packages/link/src/index.js
  packages/link/src/styledComponents/Link.js
Due: eslint-app

feat(Storybook): initial files
  __snapshots__/Storyshots.test.js.snap
  packages/link/AUTHORS
  packages/link/LICENSE
  packages/link/README.md
  packages/link/package.json
  packages/link/src/Link.js
  packages/link/src/Link.story.js
  packages/link/src/constants/lineHeights.js
  packages/link/src/constants/linkColors.js
  packages/link/src/constants/linkTypes.js
  packages/link/src/index.js
  packages/link/src/styledComponents/Link.js
  yarn.lock
Due: eslint-app

refactor(link): change propType property align to tooltipAlign
  packages/link/src/Link.js
Due: eslint-app

feat(tooltipText): add a property to pass a tooltip text instead of a hardcoded one
  packages/link/src/Link.Neutral.story.js
  packages/link/src/Link.Normal.story.js
  packages/link/src/Link.js
  packages/link/src/Link.story.js
Due: eslint-app

style(Storybook): add wg-place and wg-external-link icons
  .storybook/assets/whatsgood-iconfont.eot
  .storybook/assets/whatsgood-iconfont.svg
  .storybook/assets/whatsgood-iconfont.ttf
  .storybook/assets/whatsgood-iconfont.woff
  .storybook/config.js
Due: eslint-app

refactor: move api and tests files to components folder
  packages/link/src/components/Link.Neutral.story.js
  packages/link/src/components/Link.Normal.story.js
  packages/link/src/components/Link.js
  packages/link/src/components/Link.story.js
  packages/link/src/components/Link.test.js
  packages/link/src/index.js
Due: eslint-app, eslint-test

style: add hoverColors file
  packages/link/src/constants/hoverColors.js
Due: eslint-app

fix(link): remove href value as required
  packages/link/src/Link.js
Due: eslint-app

feat(link): add onClick function to links
  packages/link/src/Link.js
  packages/link/src/Link.story.js
  packages/link/src/Link.test.js
  packages/link/src/styledComponents/Link.js
Due: eslint-app, eslint-test

refactor(link): refactor disabled link markup
  packages/link/src/Link.js
  packages/link/src/styledComponents/Link.js
Due: eslint-app

test: update storyshots
  __snapshots__/Storyshots.test.js.snap
Due: none

test(Disabled link): add missing tests for disabled links
  __snapshots__/Storyshots.test.js.snap
  packages/link/src/Link.test.js
Due: eslint-test

style(link): change lineHeight possible values
  packages/link/src/Link.js
Due: eslint-app

docs(storybook): update right aligned links
  packages/link/src/Link.Neutral.story.js
  packages/link/src/Link.Normal.story.js
  packages/link/src/Link.story.js
Due: eslint-app

feat(new component): initial files for the text input component
  packages/input-text/AUTHORS
  packages/input-text/LICENSE
  packages/input-text/README.md
  packages/input-text/package.json
Due: none

Revert "feat(new component): initial files for the text input component"
  packages/input-text/AUTHORS
  packages/input-text/LICENSE
  packages/input-text/README.md
  packages/input-text/package.json
Due: none

docs(readme): major rewriting
  packages/link/README.md
Due: none

chore: remove devDependencies from package.json
  packages/link/package.json
Due: none

chore(release): [ci skip] publish
  packages/link/CHANGELOG.md
  packages/link/package.json
Due: none

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/index.html
  docs/static/manager.66a35f746bd866c9d959.bundle.js
  docs/static/manager.769041f646d9dc6c9f15.bundle.js
  docs/static/preview.211af6d3a679254834f0.bundle.js
  docs/static/preview.2184108b6bab3d0c4661.bundle.js
  docs/whatsgood-iconfont.eot
  docs/whatsgood-iconfont.svg
  docs/whatsgood-iconfont.ttf
  docs/whatsgood-iconfont.woff
Due: eslint-app

feat(button): add configurable tooltipText for disabled buttons
  packages/button/src/Button.js
  packages/button/src/Button.story.js
Due: eslint-app

test(storybook): update storyshots
  __snapshots__/Storyshots.test.js.snap
Due: none

chore(release): [ci skip] publish
  packages/alert/CHANGELOG.md
  packages/alert/package.json
  packages/button/CHANGELOG.md
  packages/button/package.json
  packages/card/CHANGELOG.md
  packages/card/package.json
  packages/empty-state/CHANGELOG.md
  packages/empty-state/package.json
  packages/footer/CHANGELOG.md
  packages/footer/package.json
Due: none

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/static/preview.2184108b6bab3d0c4661.bundle.js
  docs/static/preview.3de0ec0939167fbfeb0a.bundle.js
Due: eslint-app

docs(link): fix broken storybook link
  packages/link/README.md
Due: none

docs(farmblocks): update readme with newer packages
  README.md
Due: none

docs(image): improved readme
  packages/image/README.md
Due: none

chore(release): [ci skip] publish
  packages/card/CHANGELOG.md
  packages/card/package.json
  packages/empty-state/CHANGELOG.md
  packages/empty-state/package.json
  packages/footer/CHANGELOG.md
  packages/footer/package.json
  packages/image/CHANGELOG.md
  packages/image/package.json
Due: none

chore(dependencies): upgrade dev dependencies
  package.json
  yarn.lock
Due: none

chore(package.json): remove dev dependencies from individual packages
  packages/alert/package.json
  packages/button/package.json
  packages/image/package.json
  packages/stepper/package.json
  packages/tooltip/package.json
Due: none

chore(release): [ci skip] publish
  packages/alert/CHANGELOG.md
  packages/alert/package.json
  packages/button/CHANGELOG.md
  packages/button/package.json
  packages/card/CHANGELOG.md
  packages/card/package.json
  packages/empty-state/CHANGELOG.md
  packages/empty-state/package.json
  packages/footer/CHANGELOG.md
  packages/footer/package.json
  packages/image/CHANGELOG.md
  packages/image/package.json
  packages/link/CHANGELOG.md
  packages/link/package.json
  packages/stepper/CHANGELOG.md
  packages/stepper/package.json
  packages/tooltip/CHANGELOG.md
  packages/tooltip/package.json
Due: none

fix(licenses): fix the year and add missing license files
  packages/alert/LICENSE
  packages/button/LICENSE
  packages/card/LICENSE
  packages/empty-state/LICENSE
  packages/footer/LICENSE
  packages/image/LICENSE
  packages/stepper/LICENSE
  packages/text/LICENSE
  packages/theme/LICENSE
  packages/tooltip/LICENSE
Due: none

chore(release): [ci skip] publish
  packages/alert/CHANGELOG.md
  packages/alert/package.json
  packages/button/CHANGELOG.md
  packages/button/package.json
  packages/card/CHANGELOG.md
  packages/card/package.json
  packages/empty-state/CHANGELOG.md
  packages/empty-state/package.json
  packages/footer/CHANGELOG.md
  packages/footer/package.json
  packages/image/CHANGELOG.md
  packages/image/package.json
  packages/link/CHANGELOG.md
  packages/link/package.json
  packages/stepper/CHANGELOG.md
  packages/stepper/package.json
  packages/text/CHANGELOG.md
  packages/text/package.json
  packages/theme/CHANGELOG.md
  packages/theme/package.json
  packages/tooltip/CHANGELOG.md
  packages/tooltip/package.json
Due: none

feat(label): label property, and stories for label and placeholder
  packages/input-text/src/TextInput.js
  packages/input-text/src/TextInput.story.js
Due: eslint-app

feat(new component): initial files for the text input component
  packages/input-text/AUTHORS
  packages/input-text/LICENSE
  packages/input-text/README.md
  packages/input-text/package.json
  packages/input-text/src/TextInput.js
  packages/input-text/src/TextInput.story.js
  packages/input-text/src/index.js
  packages/input-text/src/styledComponents/TextInput.js
Due: eslint-app

feat(properties): accept value and onChange properties
  packages/input-text/src/TextInput.js
  packages/input-text/src/TextInput.story.js
Due: eslint-app

feat(form validation): add support to the required flag and, an invalid prop and an onInvalid handle
  packages/input-text/package.json
  packages/input-text/src/TextInput.js
  packages/input-text/src/TextInput.story.js
  packages/input-text/src/styledComponents/TextInput.js
Due: eslint-app

docs(input properties): add a story for the disabled flag and document this property on the proptype
  packages/input-text/src/TextInput.js
  packages/input-text/src/TextInput.story.js
Due: eslint-app
