Repository CraveFood/farmblocks: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint-app, eslint-test

eslint-app:
  name: eslint-app
  entry: ./node_modules/eslint/bin/eslint.js
  args:
  - --config=.eslintrc.js
  - --ignore-path=.eslintignore
  language: system

eslint-test:
  name: eslint-test
  entry: ./node_modules/eslint/bin/eslint.js
  args:
  - --config=.test.eslintrc.js
  - --ignore-path=.test.eslintignore
  language: system

chore(storyshots): update
  packages/tag/src/components/__snapshots__/Tag.story.storyshot
Due: none

refactor(tooltip): remove duplicated properties for both tooltip types
  packages/tag/src/components/__snapshots__/Tag.story.storyshot
  packages/tag/src/components/styledComponent/StyledTag.js
  yarn.lock
Due: eslint-app

chore(release): [ci skip] publish
  packages/tag/CHANGELOG.md
  packages/tag/package.json
Due: none

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/index.html
  docs/static/manager.4da05208c0f483b16035.bundle.js
  docs/static/manager.c1ccf0fa0c75ba13ff00.bundle.js
  docs/static/preview.31fcb9a3ae7ab0b94c22.bundle.js
  docs/static/preview.35a665be0b4be03fd826.bundle.js
Due: eslint-app

test(Search Field): add missing test for variable autoFocus
  packages/search-field/src/SearchField.test.js
Due: eslint-test

test(Storyshots): update
  packages/hoc-input/src/__snapshots__/formInput.story.storyshot
  packages/search-field/src/__snapshots__/SearchField.story.storyshot
Due: none

fix(Input Hoc): change the way the component handles focus
  packages/hoc-input/src/formInput.js
Due: eslint-app

test(Input hoc): add onMouseDown missing test
  packages/hoc-input/src/formInput.test.js
Due: eslint-test

Improve comment and change check for focus
  packages/search-field/src/SearchField.js
Due: eslint-app

fix(Search Field): fix check to avoid focus when updating items
  packages/search-field/src/SearchField.js
Due: eslint-app

WIP(Search Field): fix focus issues when editing or removing value
  packages/search-field/src/SearchField.js
Due: eslint-app

docs(SearchField): improve comments
  packages/search-field/src/SearchField.js
Due: eslint-app

fix(Input Hoc): add an preventBlur function on MouseDown event of clearButton
  packages/hoc-input/src/formInput.js
Due: eslint-app

fix(Search Field): fix check for null or undefined value
  packages/search-field/src/SearchField.js
Due: eslint-app

test(Storyshots): update
  packages/amount-selectors/src/components/__snapshots__/AmountSelectors.story.storyshot
  packages/hoc-input/src/__snapshots__/formInput.story.storyshot
  packages/input-select/src/__snapshots__/Select.story.storyshot
  packages/input-text/src/__snapshots__/TextInput.story.storyshot
  packages/search-field/src/__snapshots__/SearchField.story.storyshot
Due: none

fix(Search Field): focus on input after selecting an item and clearing it
  packages/search-field/src/SearchField.js
Due: eslint-app

chore(release): [ci skip] publish
  packages/amount-selectors/CHANGELOG.md
  packages/amount-selectors/package.json
  packages/hoc-input/CHANGELOG.md
  packages/hoc-input/package.json
  packages/input-select/CHANGELOG.md
  packages/input-select/package.json
  packages/input-text/CHANGELOG.md
  packages/input-text/package.json
  packages/search-field/CHANGELOG.md
  packages/search-field/package.json
Due: none

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/static/preview.31fcb9a3ae7ab0b94c22.bundle.js
  docs/static/preview.5fe7aac16604256ed4b8.bundle.js
Due: eslint-app

fix(make the footer of a search field be a dropdown item): in order to make it the las child, which
  packages/search-field/src/components/Menu.js
Due: eslint-app

feat(dropdown): new property for dropdown items: footer
  packages/dropdown/README.md
  packages/dropdown/src/components/DropdownItem.js
  packages/dropdown/src/styledComponents/DropdownItemWrapper.js
Due: eslint-app

test(search-field): use a more complex footer on the Menu story
  packages/search-field/package.json
  packages/search-field/src/components/Menu.story.js
Due: eslint-app

test(dropdown): include a story for the dropdown item of type footer
  packages/dropdown/src/components/DropdownItem.story.js
Due: eslint-app

test(snapshots): update
  packages/dropdown/src/components/__snapshots__/DropdownItem.story.storyshot
  packages/search-field/src/components/__snapshots__/Menu.story.storyshot
Due: none

chore(release): [ci skip] publish
  packages/dropdown/CHANGELOG.md
  packages/dropdown/package.json
  packages/input-select/CHANGELOG.md
  packages/input-select/package.json
  packages/search-field/CHANGELOG.md
  packages/search-field/package.json
  packages/table/CHANGELOG.md
  packages/table/package.json
Due: none

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/index.html
  docs/static/manager.b2276c433681609fa6c3.bundle.js
  docs/static/manager.c1ccf0fa0c75ba13ff00.bundle.js
  docs/static/preview.30e4f067000748114a3c.bundle.js
  docs/static/preview.5fe7aac16604256ed4b8.bundle.js
Due: eslint-app

test(search-field): story with validation messages
  packages/search-field/src/SearchField.story.js
Due: eslint-app

fix(search-field): position the items menu absolutely below the input, over validation messages
  packages/search-field/src/components/Menu.js
Due: eslint-app

fix(hoc-input): fix the label height in 16px to not be computed as 15px
  packages/hoc-input/src/styledComponents/Wrapper.js
Due: eslint-app

test(snapshots): update
  packages/amount-selectors/src/components/__snapshots__/AmountSelectors.story.storyshot
  packages/hoc-input/src/__snapshots__/formInput.story.storyshot
  packages/input-select/src/__snapshots__/Select.story.storyshot
  packages/input-text/src/__snapshots__/TextInput.story.storyshot
  packages/search-field/src/__snapshots__/SearchField.story.storyshot
  packages/search-field/src/components/__snapshots__/Menu.story.storyshot
Due: none

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/static/preview.024deb8582ee8557d0ae.bundle.js
  docs/static/preview.30e4f067000748114a3c.bundle.js
Due: eslint-app

feat(Popover): remove content node from dom when popover is not visible
  packages/popover/src/Popover.js
Due: eslint-app

test(snapshots): update
  packages/popover/src/__snapshots__/Popover.story.storyshot
Due: none

chore(release): [ci skip] publish
  packages/popover/CHANGELOG.md
  packages/popover/package.json
Due: none

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/static/preview.024deb8582ee8557d0ae.bundle.js
  docs/static/preview.fc73cf94a59c5d507b84.bundle.js
Due: eslint-app

test(snapshots): update
  packages/text/src/components/__snapshots__/Text.story.storyshot
Due: none

feat(Text): add letterSpacing property
  packages/text/src/components/Text.js
  packages/text/src/components/Text.story.js
  packages/text/src/styledComponents/Text.js
Due: eslint-app

chore(release): [ci skip] publish
  packages/amount-selectors/CHANGELOG.md
  packages/amount-selectors/package.json
  packages/carousel/CHANGELOG.md
  packages/carousel/package.json
  packages/hoc-validation-messages/CHANGELOG.md
  packages/hoc-validation-messages/package.json
  packages/input-checkbox/CHANGELOG.md
  packages/input-checkbox/package.json
  packages/input-radio/CHANGELOG.md
  packages/input-radio/package.json
  packages/input-select/CHANGELOG.md
  packages/input-select/package.json
  packages/input-text/CHANGELOG.md
  packages/input-text/package.json
  packages/map-balloon/CHANGELOG.md
  packages/map-balloon/package.json
  packages/more-info/CHANGELOG.md
  packages/more-info/package.json
  packages/popover/CHANGELOG.md
  packages/popover/package.json
  packages/search-field/CHANGELOG.md
  packages/search-field/package.json
  packages/table/CHANGELOG.md
  packages/table/package.json
  packages/text/CHANGELOG.md
  packages/text/package.json
Due: none

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/static/preview.ef544a374245533caa97.bundle.js
  docs/static/preview.fc73cf94a59c5d507b84.bundle.js
Due: eslint-app

fix(search-field): wait for setState before calling onSearchChange prop
  packages/search-field/src/SearchField.js
  packages/search-field/src/SearchField.test.js
Due: eslint-app, eslint-test

Path conditions:
  eslint-app: any of: ^(?!.*\.test).*\.js$
  eslint-test: any of: \.test\.js$
