Repository CraveFood/farmblocks: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint-app, eslint-test

.pre-commit-config.yaml:

fail_fast: true
repos:
  - repo: https://github.com/prettier/prettier
    # see https://github.com/prettier/prettier/issues/4637#issuecomment-396475333
    rev: "1.19.1"
    hooks:
      - id: prettier
        exclude: ".mdx$"

  - repo: local
    hooks:
      - id: eslint-app
        name: eslint-app
        entry: ./node_modules/eslint/bin/eslint.js
        args:
          - "--config=.eslintrc.js"
          - "--ignore-path=.eslintignore"
        language: system
        files: '^(?!.*\.test).*\.js$'
        exclude: "^docs"

      - id: eslint-test
        name: eslint-test
        entry: ./node_modules/eslint/bin/eslint.js
        args:
          - "--config=.test.eslintrc.js"
          - "--ignore-path=.test.eslintignore"
        language: system
        files: '\.test\.js$'

chore(input-text): remove unused packages
  packages/input-text/package.json
  yarn.lock
Due: none

chore: fix dependencies after rebase
  packages/amount-selectors/package.json
  packages/input-text/package.json
Due: none

refactor(input-text): remove unused files
  packages/input-text/src/TextAreaInput.story.js
  packages/input-text/src/TextInput.story.js
  packages/input-text/src/constants/errorIcon.js
Due: eslint-app

refactor(hoc-input): remove unecessary default props
  packages/hoc-input/src/formInput.js
Due: eslint-app

refactor(input-select): refactor component to work with new hoc-input
  packages/input-select/src/Select.js
  packages/input-select/src/Select.story.js
  packages/input-select/src/index.js
  packages/input-select/src/styledComponents/TagsWrapper.js
Due: eslint-app

test(storyshots): update
  amount-selectors/src/components/__snapshots__/AmountSelectors.story.storyshot
  hoc-input/src/__snapshots__/formInput.story.storyshot
  icon/src/__snapshots__/Icon.story.storyshot
  input-currency/src/__snapshots__/CurrencyInput.story.storyshot
  input-phone/src/__snapshots__/PhoneInput.story.storyshot
  input-text/src/__snapshots__/TextInput.story.storyshot
  label/src/__snapshots__/Label.story.storyshot
  packages/form-wrapper/src/__snapshots__/FormWrapper.story.storyshot
  packages/input-select/src/__snapshots__/Select.story.storyshot
  packages/search-field/src/__snapshots__/SearchField.story.storyshot
  packages/tooltip/src/__snapshots__/TooltipContent.story.storyshot
  sidenav/src/__snapshots__/SideNav.story.storyshot
  sidenav/src/components/NavItem/__snapshots__/NavItem.story.storyshot
  sidenav/src/helpers/PageWrapper/__snapshots__/PageWrapper.story.storyshot
  table/src/__snapshots__/Table.story.storyshot
Due: none

refactor(input-phone): refactor component to work with new hoc-input
  packages/input-phone/src/CountrySelectorTrigger.js
  packages/input-phone/src/PhoneInput.js
  packages/input-phone/src/PhoneInput.styled.js
  packages/input-phone/src/PhoneInput.test.js
Due: eslint-app, eslint-test

docs(hoc-input): rewrite docs using storybook mdx syntax
  packages/hoc-input/README.md
  packages/hoc-input/src/formInput.story.js
  packages/hoc-input/src/formInput.story.mdx
  packages/hoc-input/src/formInput.story.utils.js
Due: eslint-app

fix(hoc-input): font style
  packages/hoc-input/src/formInput.js
  packages/hoc-input/src/styledComponents/Wrapper.js
Due: eslint-app

feat(input-text): refactor component to work with new hoc-input
  packages/input-text/README.md
  packages/input-text/src/ProtectedCover.js
  packages/input-text/src/TextAreaInput.js
  packages/input-text/src/TextInput.js
  packages/input-text/src/TextInput.story.mdx
  packages/input-text/src/index.js
  packages/input-text/src/protectedValue.js
Due: eslint-app

test(input-text): rewrite tests
  packages/input-text/src/TextInput.test.js
  packages/input-text/src/protectedValue.test.js
Due: eslint-test

feat(hoc-input): rename property name \`fontSize\` to ´small´
  packages/hoc-input/src/formInput.js
  packages/hoc-input/src/styledComponents/Wrapper.js
Due: eslint-app

fix(hoc-input): fix focused border width
  packages/hoc-input/src/styledComponents/Wrapper.js
Due: eslint-app

feat(hoc-input): add focused class to input
  packages/hoc-input/src/formInput.js
Due: eslint-app

chore(hoc-input): add missing dependencies
  packages/hoc-input/package.json
Due: none

chore: update testing-library packages
  jest.config.js
  package.json
  yarn.lock
Due: eslint-app

refactor(serach-field): remove obsolete disableManualReplace property
  packages/search-field/src/SearchField.js
Due: eslint-app

docs: move part of hoc-input docs to input-text docs
  packages/hoc-input/README.md
  packages/input-text/README.md
Due: none

fix(amount-selectors): disable auto control focus style on input when disableTyping is true
  packages/amount-selectors/src/components/AmountSelectors.js
  packages/hoc-input/src/formInput.story.mdx
Due: eslint-app

docs: add Sammer as author
  AUTHORS
  packages/amount-selectors/AUTHORS
  packages/hoc-input/AUTHORS
  packages/icon/AUTHORS
  packages/input-currency/AUTHORS
  packages/input-phone/AUTHORS
  packages/input-select/AUTHORS
  packages/input-text/AUTHORS
  packages/search-field/AUTHORS
Due: none

chore(release): [ci skip] publish
  packages/amount-selectors/CHANGELOG.md
  packages/amount-selectors/package.json
  packages/card/CHANGELOG.md
  packages/card/package.json
  packages/filter-popover/CHANGELOG.md
  packages/filter-popover/package.json
  packages/form-wrapper/CHANGELOG.md
  packages/form-wrapper/package.json
  packages/hoc-input/CHANGELOG.md
  packages/hoc-input/package.json
  packages/icon/CHANGELOG.md
  packages/icon/package.json
  packages/input-currency/CHANGELOG.md
  packages/input-currency/package.json
  packages/input-phone/CHANGELOG.md
  packages/input-phone/package.json
  packages/input-select/CHANGELOG.md
  packages/input-select/package.json
  packages/input-text/CHANGELOG.md
  packages/input-text/package.json
  packages/label/CHANGELOG.md
  packages/label/package.json
  packages/more-info/CHANGELOG.md
  packages/more-info/package.json
  packages/popover/CHANGELOG.md
  packages/popover/package.json
  packages/search-field/CHANGELOG.md
  packages/search-field/package.json
  packages/tooltip/CHANGELOG.md
  packages/tooltip/package.json
Due: none

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/index.html
  docs/main.1ec05aa297c91ad29a49.bundle.js
  docs/main.d662f1945e245bf48c00.bundle.js
  docs/main.db159f12e8a27872c353.bundle.js
  docs/main.db159f12e8a27872c353.bundle.js.map
  docs/main.f214951dbcb41a00b361.bundle.js
  docs/main.f214951dbcb41a00b361.bundle.js.map
  docs/runtime~main.db159f12e8a27872c353.bundle.js.map
  docs/runtime~main.f214951dbcb41a00b361.bundle.js
  docs/runtime~main.f214951dbcb41a00b361.bundle.js.map
  docs/sb_dll/storybook_ui-manifest.json
  docs/sb_dll/storybook_ui_dll.js
  docs/vendors~main.07c97d4afeead3000354.bundle.js
  docs/vendors~main.a85cf3a6e04026ff4fe7.bundle.js
  docs/vendors~main.db159f12e8a27872c353.bundle.js
  docs/vendors~main.db159f12e8a27872c353.bundle.js.map
  docs/vendors~main.f214951dbcb41a00b361.bundle.js
  docs/vendors~main.f214951dbcb41a00b361.bundle.js.LICENSE.txt
  docs/vendors~main.f214951dbcb41a00b361.bundle.js.map
Due: none

fix(AmountSelectors): remove browser validation
  packages/amount-selectors/src/components/AmountSelectors.js
  packages/amount-selectors/src/components/AmountSelectors.story.mdx
  packages/amount-selectors/src/components/AmountSelectors.test.js
Due: eslint-app, eslint-test

test(storyshots): update
  amount-selectors/src/components/__snapshots__/AmountSelectors.story.storyshot
Due: none

chore(release): [ci skip] publish
  packages/amount-selectors/CHANGELOG.md
  packages/amount-selectors/package.json
Due: none

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/main.c9c04a6414c0743d910c.bundle.js
  docs/main.c9c04a6414c0743d910c.bundle.js.map
  docs/main.f214951dbcb41a00b361.bundle.js
  docs/main.f214951dbcb41a00b361.bundle.js.map
  docs/runtime~main.c9c04a6414c0743d910c.bundle.js
  docs/runtime~main.c9c04a6414c0743d910c.bundle.js.map
  docs/runtime~main.f214951dbcb41a00b361.bundle.js.map
  docs/vendors~main.c9c04a6414c0743d910c.bundle.js
  docs/vendors~main.c9c04a6414c0743d910c.bundle.js.LICENSE.txt
  docs/vendors~main.c9c04a6414c0743d910c.bundle.js.map
  docs/vendors~main.f214951dbcb41a00b361.bundle.js.map
Due: none

fix(ProtectedCover): render prefix
  packages/input-text/src/ProtectedCover.js
  packages/input-text/src/TextInput.story.mdx
  packages/input-text/src/protectedValue.js
Due: eslint-app

chore(storyshots): update
  input-text/src/__snapshots__/TextInput.story.storyshot
  packages/search-field/src/__snapshots__/SearchField.story.storyshot
Due: none

feat(TextInput): add protectedValue prop
  packages/input-text/src/ProtectedCover.js
  packages/input-text/src/TextInput.story.mdx
  packages/input-text/src/protectedValue.js
Due: eslint-app

chore(release): [ci skip] publish
  packages/filter-popover/CHANGELOG.md
  packages/filter-popover/package.json
  packages/form-wrapper/CHANGELOG.md
  packages/form-wrapper/package.json
  packages/input-currency/CHANGELOG.md
  packages/input-currency/package.json
  packages/input-phone/CHANGELOG.md
  packages/input-phone/package.json
  packages/input-text/CHANGELOG.md
  packages/input-text/package.json
  packages/search-field/CHANGELOG.md
  packages/search-field/package.json
Due: none

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/main.c9c04a6414c0743d910c.bundle.js
  docs/main.c9c04a6414c0743d910c.bundle.js.map
  docs/main.cdaabfd7fabb1ee28a25.bundle.js
  docs/main.cdaabfd7fabb1ee28a25.bundle.js.map
  docs/runtime~main.c9c04a6414c0743d910c.bundle.js.map
  docs/runtime~main.cdaabfd7fabb1ee28a25.bundle.js
  docs/runtime~main.cdaabfd7fabb1ee28a25.bundle.js.map
  docs/vendors~main.c9c04a6414c0743d910c.bundle.js.map
  docs/vendors~main.cdaabfd7fabb1ee28a25.bundle.js
  docs/vendors~main.cdaabfd7fabb1ee28a25.bundle.js.LICENSE.txt
  docs/vendors~main.cdaabfd7fabb1ee28a25.bundle.js.map
Due: none

feat(button): redesign
  packages/button/README.md
  packages/button/package.json
  packages/button/src/Button.js
  packages/button/src/Button.story.js
  packages/button/src/Button.story.mdx
  packages/button/src/constants/buttonSizes.js
  packages/button/src/constants/buttonThemes.js
  packages/button/src/constants/buttonTypes.js
  packages/button/src/constants/buttonVariants.js
  packages/button/src/constants/colorTypes.js
  packages/button/src/index.js
  packages/button/src/styledComponents/Button.js
Due: eslint-app

feat(tooltip): update button
  packages/tooltip/src/Tooltip.story.js
  packages/tooltip/src/TooltipContent.story.js
Due: eslint-app

feat(filter-popover): update button
  packages/filter-popover/src/FilterPopover.js
Due: eslint-app

feat(theme): add new colors
  packages/theme/src/colors.js
Due: eslint-app

feat(dropdown): update button
  packages/dropdown/package.json
  packages/dropdown/src/components/Dropdown.js
  packages/dropdown/src/components/Dropdown.story.js
  packages/dropdown/src/index.js
Due: eslint-app

feat(alert): update button
  packages/alert/src/Alert.js
  packages/alert/src/styledComponents/Alert.js
Due: eslint-app

chore(yarn.lock): update
  yarn.lock
Due: none

test(storyshots): update
  amount-selectors/src/components/__snapshots__/AmountSelectors.story.storyshot
  button/src/__snapshots__/Button.story.storyshot
  packages/alert/src/__snapshots__/Alert.story.storyshot
  packages/button/src/__snapshots__/Button.story.storyshot
  packages/dropdown/src/components/__snapshots__/Dropdown.story.storyshot
  packages/empty-state/src/__snapshots__/EmptyState.story.storyshot
  packages/filter-popover/src/__snapshots__/FilterPopover.story.storyshot
  packages/footer/src/components/__snapshots__/Footer.story.storyshot
  packages/form-wrapper/src/__snapshots__/FormWrapper.story.storyshot
  packages/modal/src/__snapshots__/DialogModal.story.storyshot
  packages/modal/src/__snapshots__/Modal.story.storyshot
  packages/modal/src/__snapshots__/helpers.story.storyshot
  packages/tooltip/src/__snapshots__/Tooltip.story.storyshot
  packages/tooltip/src/__snapshots__/TooltipContent.story.storyshot
  sidenav/src/helpers/PageWrapper/__snapshots__/PageWrapper.story.storyshot
Due: none

Update packages/button/src/styledComponents/Button.js
  packages/button/src/styledComponents/Button.js
Due: eslint-app
