Repository CraveFood/farmblocks: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint-app, eslint-test

.pre-commit-config.yaml:

fail_fast: true
repos:
-   repo: https://github.com/prettier/prettier
    sha: '1.7.0'
    hooks:
      - id: prettier

-   repo: local
    hooks:
      - id: eslint-app
        name: eslint-app
        entry: ./node_modules/eslint/bin/eslint.js
        args:
          - "--config=.eslintrc.js"
          - "--ignore-path=.eslintignore"
        language: system
        files: '^(?!.*\.test).*\.js$'

      - id: eslint-test
        name: eslint-test
        entry: ./node_modules/eslint/bin/eslint.js
        args:
          - "--config=.test.eslintrc.js"
          - "--ignore-path=.test.eslintignore"
        language: system
        files: '\.test\.js$'

chore(storybook): add new icons to storybook config
  .storybook/config.js
Due: eslint-app

WIP(singe step): add single Step component
  .storybook/config.js
  __snapshots__/Storyshots.test.js.snap
  packages/stepper/src/components/Step.js
  packages/stepper/src/components/Step.story.js
  packages/stepper/src/constants/colorTypes.js
  packages/stepper/src/constants/statusTypes.js
  packages/stepper/src/styledComponents/Step.js
Due: eslint-app

feat: add Stepper component
  packages/stepper/src/components/Stepper.js
  packages/stepper/src/components/Stepper.story.js
  packages/stepper/src/index.js
  packages/stepper/src/styledComponents/Stepper.js
Due: eslint-app

chore(font): update font icon
  .storybook/assets/whatsgood-iconfont.eot
  .storybook/assets/whatsgood-iconfont.svg
  .storybook/assets/whatsgood-iconfont.ttf
  .storybook/assets/whatsgood-iconfont.woff
  .storybook/config.js
Due: eslint-app

test: add Step tests and update snapshots
  __snapshots__/Storyshots.test.js.snap
  packages/stepper/src/components/Step.test.js
Due: eslint-test

docs: add Readme file
  packages/stepper/README.md
Due: none

refactor(step api): changed Step api to receive flat properties and improve readability
  packages/stepper/src/components/Step.js
  packages/stepper/src/components/Step.story.js
  packages/stepper/src/components/Step.test.js
Due: eslint-app, eslint-test

refactor(Stepper api): change Stepper api to receive the quantity of completed steps and set Step st
  packages/stepper/src/components/Stepper.js
  packages/stepper/src/components/Stepper.story.js
Due: eslint-app

test(storyshots): update snapshots
  __snapshots__/Storyshots.test.js.snap
Due: none

docs(Step docs): update Stepper readme
  packages/stepper/README.md
Due: none

chore(storybook): pass assets to the package storybook
  packages/stepper/package.json
Due: none

docs(Storybook): set info on buttons
  packages/button/src/Button.story.js
Due: eslint-app

test(Storybook): updated storyshots
  __snapshots__/Storyshots.test.js.snap
Due: none

refactor(onClick): handle step click on Stepper component
  __snapshots__/Storyshots.test.js.snap
  packages/stepper/src/components/Step.js
  packages/stepper/src/components/Step.test.js
  packages/stepper/src/components/Stepper.js
  packages/stepper/src/components/Stepper.test.js
Due: eslint-app, eslint-test

refactor: render children inside the Step component
  __snapshots__/Storyshots.test.js.snap
  packages/stepper/src/components/Step.js
  packages/stepper/src/components/Step.story.js
  packages/stepper/src/components/Stepper.js
Due: eslint-app

chore(release): [ci skip] publish
  packages/alert/CHANGELOG.md
  packages/alert/package.json
  packages/button/CHANGELOG.md
  packages/button/package.json
Due: none

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/index.html
  docs/static/manager.db9db068ee018b242242.bundle.js
  docs/static/manager.fca5d5dc09f2a0e48513.bundle.js
  docs/static/preview.77af54bc43f039c9d17b.bundle.js
  docs/static/preview.de56cd06bd73c5ba80e5.bundle.js
Due: eslint-app

feat(constants): export all color constants
  packages/constants/README.md
  packages/constants/package.json
  packages/constants/src/colors.js
  packages/constants/src/index.js
Due: eslint-app

chore(release): [ci skip] publish
  packages/constants/CHANGELOG.md
  packages/constants/package.json
Due: none

chore(constants): add farmblocks-contants as dependency
  packages/stepper/package.json
  yarn.lock
Due: none

refactor(constants): get colors from farmblocks-constants
  packages/stepper/src/constants/colorTypes.js
  packages/stepper/src/styledComponents/Step.js
Due: eslint-app

docs: fix typo on readme
  packages/stepper/README.md
Due: none

chore(release): [ci skip] publish
  packages/stepper/CHANGELOG.md
  packages/stepper/package.json
Due: none

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/index.html
  docs/static/manager.7e7440b93f4666688455.bundle.js
  docs/static/manager.db9db068ee018b242242.bundle.js
  docs/static/preview.77af54bc43f039c9d17b.bundle.js
  docs/static/preview.ac3ab8bd72042bb5ee98.bundle.js
  docs/whatsgood-iconfont.eot
  docs/whatsgood-iconfont.svg
  docs/whatsgood-iconfont.ttf
  docs/whatsgood-iconfont.woff
Due: eslint-app

feat(constants): rename constants package to theme
  packages/theme/CHANGELOG.md
  packages/theme/README.md
  packages/theme/package.json
  packages/theme/src/colors.js
  packages/theme/src/index.js
Due: eslint-app

chore(release): [ci skip] publish
  packages/theme/CHANGELOG.md
  packages/theme/package.json
Due: none

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/static/preview.abe7dc7a0a480d273af2.bundle.js
Due: eslint-app

chore(travis): add greenkeeper-lockfile
  .travis.yml
Due: none

chore(lockfile): lockfile update
  yarn.lock
Due: none

Fix fluid button text alignment
  packages/button/src/styledComponents/Button.js
Due: eslint-app

Update README.md with links to packages
  README.md
Due: none

fix(Storybook): create a fluid button with icon
  __snapshots__/Storyshots.test.js.snap
  packages/button/src/Button.story.js
Due: eslint-app

feat(theme): add typography constants
  packages/theme/src/fontSizes.js
  packages/theme/src/fontTypes.js
  packages/theme/src/fontWeights.js
  packages/theme/src/index.js
Due: eslint-app

refactor: replaced old constants package by theme package
  packages/stepper/package.json
  packages/stepper/src/constants/colorTypes.js
  packages/stepper/src/styledComponents/Step.js
  yarn.lock
Due: eslint-app

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/index.html
  docs/static/manager.60dbf5e648da3b083bd2.bundle.js
  docs/static/manager.7e7440b93f4666688455.bundle.js
  docs/static/preview.97b5dac3f1a89ca73412.bundle.js
  docs/static/preview.abe7dc7a0a480d273af2.bundle.js
Due: eslint-app

fix(docs): update theme readme
  packages/theme/README.md
Due: none

test(snapshots): update snapshot
  __snapshots__/Storyshots.test.js.snap
Due: none

test(snapshots): update snapshots after yarn build
  __snapshots__/Storyshots.test.js.snap
Due: none
