Repository CraveFood/farmblocks: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint-app, eslint-test

eslint-app:
  name: eslint-app
  entry: ./node_modules/eslint/bin/eslint.js
  args:
  - --config=.eslintrc.js
  - --ignore-path=.eslintignore
  language: system

eslint-test:
  name: eslint-test
  entry: ./node_modules/eslint/bin/eslint.js
  args:
  - --config=.test.eslintrc.js
  - --ignore-path=.test.eslintignore
  language: system

docs: update readme and license files
  packages/removable-tags/LICENSE
  packages/removable-tags/README.md
Due: none

Change hover effect
  packages/removable-tags/src/components/styledComponent/StyledTag.js
Due: eslint-app

Change onClose to onRemove and add 'removable' prop
  packages/removable-tags/src/components/RemovableTags.js
  packages/removable-tags/src/components/RemovableTags.story.js
  packages/removable-tags/src/components/RemovableTags.test.js
  packages/removable-tags/src/components/styledComponent/StyledTag.js
Due: eslint-app, eslint-test

Make component stateless
  packages/removable-tags/src/components/RemovableTags.js
Due: eslint-app

Change mock function name
  packages/removable-tags/src/components/RemovableTags.test.js
Due: eslint-test

feat(tag): rename package from RemovableTags to Tag
  packages/removable-tags/src/index.js
  packages/tag/AUTHORS
  packages/tag/LICENSE
  packages/tag/README.md
  packages/tag/package.json
  packages/tag/src/components/Tag.js
  packages/tag/src/components/Tag.story.js
  packages/tag/src/components/Tag.test.js
  packages/tag/src/components/styledComponent/StyledTag.js
  packages/tag/src/index.js
Due: eslint-app, eslint-test

feat(tag): add 'value' prop
  packages/tag/src/components/Tag.js
  packages/tag/src/components/Tag.test.js
Due: eslint-app, eslint-test

fix(tag): fix function call
  packages/tag/src/components/Tag.js
Due: eslint-app

refactor(tag stories): change onRemove action parameter
  packages/tag/src/components/Tag.story.js
Due: eslint-app

docs(readme): update readme
  packages/tag/README.md
Due: none

fix(lockfile): fix a specific dependency breaking travis (enzyme-to-json)
  yarn.lock
Due: none

docs(stories): remove 'removable-tags' leftovers and refactor stories
  packages/tag/src/components/Tag.story.js
  packages/tag/src/components/Tag.test.js
Due: eslint-app, eslint-test

fix(styled tag): fix remove icon alignment
  packages/tag/src/components/styledComponent/StyledTag.js
Due: eslint-app

docs(stories): add a story for 'removable with value' tag
  packages/tag/src/components/Tag.story.js
Due: eslint-app

feat(Link): render div instead of anchor element when Link does not receive href property
  packages/link/src/components/Link.js
  packages/link/src/components/Link.story.js
Due: eslint-app

test: fix broken tests
  packages/hoc-input/src/formInput.test.js
  packages/table/src/Table.test.js
Due: eslint-test

chore(release): [ci skip] publish
  packages/tag/CHANGELOG.md
  packages/tag/package.json
Due: none

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/index.html
  docs/static/manager.391550c0e1419997b914.bundle.js
  docs/static/manager.e012ecc3466b1be4eb86.bundle.js
  docs/static/preview.7026dc428d9942e1dd98.bundle.js
  docs/static/preview.71da3d65ffd0d9764e85.bundle.js
Due: eslint-app

chore(package): update lockfile
  yarn.lock
Due: none

chore(release): [ci skip] publish
  packages/hoc-input/CHANGELOG.md
  packages/hoc-input/package.json
  packages/input-select/CHANGELOG.md
  packages/input-select/package.json
  packages/input-text/CHANGELOG.md
  packages/input-text/package.json
  packages/link/CHANGELOG.md
  packages/link/package.json
  packages/table/CHANGELOG.md
  packages/table/package.json
Due: none

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/static/preview.71da3d65ffd0d9764e85.bundle.js
  docs/static/preview.c8bda93606aeeca2b064.bundle.js
Due: eslint-app

chore(release): [ci skip] publish
  packages/alert/CHANGELOG.md
  packages/alert/package.json
  packages/button/CHANGELOG.md
  packages/button/package.json
  packages/card/CHANGELOG.md
  packages/card/package.json
  packages/dropdown/CHANGELOG.md
  packages/dropdown/package.json
  packages/empty-state/CHANGELOG.md
  packages/empty-state/package.json
  packages/footer/CHANGELOG.md
  packages/footer/package.json
  packages/hoc-disabled-tooltip/CHANGELOG.md
  packages/hoc-disabled-tooltip/package.json
  packages/hoc-input/CHANGELOG.md
  packages/hoc-input/package.json
  packages/input-select/CHANGELOG.md
  packages/input-select/package.json
  packages/input-text/CHANGELOG.md
  packages/input-text/package.json
  packages/link/CHANGELOG.md
  packages/link/package.json
  packages/table/CHANGELOG.md
  packages/table/package.json
  packages/tooltip/CHANGELOG.md
  packages/tooltip/package.json
Due: none

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/index.html
  docs/static/manager.391550c0e1419997b914.bundle.js
  docs/static/manager.a195d5122c3bf4064a35.bundle.js
  docs/static/preview.19763ed5e451eb9de7c9.bundle.js
  docs/static/preview.c8bda93606aeeca2b064.bundle.js
Due: eslint-app

docs: add a Readme file
  packages/tooltip/README.md
Due: none

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/index.html
  docs/static/manager.58ee99eed97657ab1d50.bundle.js
  docs/static/manager.a195d5122c3bf4064a35.bundle.js
  docs/static/preview.0940757350abb334c91c.bundle.js
  docs/static/preview.19763ed5e451eb9de7c9.bundle.js
Due: eslint-app

feat(hoc-input): remove validationMessages from formInput hoc
  packages/hoc-input/src/constants/errorIcon.js
  packages/hoc-input/src/formInput.js
  packages/hoc-input/src/formInput.story.js
  packages/hoc-input/src/formInput.test.js
  packages/hoc-input/src/styledComponents/Wrapper.js
Due: eslint-app, eslint-test

feat: use withMessages hoc on text input
  packages/input-text/src/TextInput.js
Due: eslint-app

feat: use withMessages hoc on select input
  packages/input-select/src/Select.js
Due: eslint-app

chore(dependencies): add farmblocks-hoc-input as dependencies on input select and input text
  packages/input-select/package.json
  packages/input-text/package.json
  yarn.lock
Due: none

Path conditions:
  eslint-app: any of: ^(?!.*\.test).*\.js$
  eslint-test: any of: \.test\.js$
