Repository CraveFood/farmblocks: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint-app, eslint-test

eslint-app:
  name: eslint-app
  entry: ./node_modules/eslint/bin/eslint.js
  args:
  - --config=.eslintrc.js
  - --ignore-path=.eslintignore
  language: system

eslint-test:
  name: eslint-test
  entry: ./node_modules/eslint/bin/eslint.js
  args:
  - --config=.test.eslintrc.js
  - --ignore-path=.test.eslintignore
  language: system

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/main.300fb5718c0976985a4a.bundle.js
  docs/main.300fb5718c0976985a4a.bundle.js.map
  docs/main.8b41ca9d9370e555d5d6.bundle.js
  docs/main.8b41ca9d9370e555d5d6.bundle.js.map
  docs/runtime~main.300fb5718c0976985a4a.bundle.js
  docs/runtime~main.300fb5718c0976985a4a.bundle.js.map
  docs/runtime~main.8b41ca9d9370e555d5d6.bundle.js.map
  docs/vendors~main.300fb5718c0976985a4a.bundle.js
  docs/vendors~main.300fb5718c0976985a4a.bundle.js.LICENSE.txt
  docs/vendors~main.300fb5718c0976985a4a.bundle.js.map
  docs/vendors~main.8b41ca9d9370e555d5d6.bundle.js.map
Due: none

feat(table): apply new design
  packages/table/src/components.styled.js
Due: eslint-app

test(storyshots): update
  table/src/__snapshots__/Table.story.storyshot
Due: none

chore(release): [ci skip] publish
  packages/table/CHANGELOG.md
  packages/table/package.json
Due: none

fix(table): remove unecessary css height prop
  packages/table/src/components.styled.js
Due: eslint-app

test(storyshot): update
  table/src/__snapshots__/Table.story.storyshot
Due: none

chore(release): revert unpublished update
  packages/table/CHANGELOG.md
  packages/table/package.json
Due: none

fix(table): trigger travis build
  packages/table/src/hooks/useTableMap.js
Due: eslint-app

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/main.24fab9cb3e942fc67d80.bundle.js
  docs/main.24fab9cb3e942fc67d80.bundle.js.map
  docs/main.300fb5718c0976985a4a.bundle.js
  docs/main.300fb5718c0976985a4a.bundle.js.map
  docs/runtime~main.24fab9cb3e942fc67d80.bundle.js
  docs/runtime~main.24fab9cb3e942fc67d80.bundle.js.map
  docs/runtime~main.300fb5718c0976985a4a.bundle.js.map
  docs/vendors~main.24fab9cb3e942fc67d80.bundle.js
  docs/vendors~main.24fab9cb3e942fc67d80.bundle.js.LICENSE.txt
  docs/vendors~main.24fab9cb3e942fc67d80.bundle.js.map
  docs/vendors~main.300fb5718c0976985a4a.bundle.js.map
Due: none

fix(Modal): adjust header styles
  packages/modal/README.md
  packages/modal/src/Modal.js
  packages/modal/src/Modal.styled.js
Due: eslint-app

feat(input-radio): add labelProps property
  packages/input-radio/src/Radio.js
  packages/input-radio/src/Radio.story.js
Due: eslint-app

test(storyshots): update
  packages/input-radio/src/__snapshots__/Radio.story.storyshot
  packages/modal/src/__snapshots__/Modal.story.storyshot
  packages/modal/src/__snapshots__/helpers.story.storyshot
Due: none

chore(release): [ci skip] publish
  packages/input-radio/CHANGELOG.md
  packages/input-radio/package.json
  packages/modal/CHANGELOG.md
  packages/modal/package.json
  packages/sidenav/CHANGELOG.md
  packages/sidenav/package.json
Due: none

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/main.23b459e231678f3b8e63.bundle.js
  docs/main.23b459e231678f3b8e63.bundle.js.map
  docs/main.24fab9cb3e942fc67d80.bundle.js
  docs/main.24fab9cb3e942fc67d80.bundle.js.map
  docs/runtime~main.23b459e231678f3b8e63.bundle.js
  docs/runtime~main.23b459e231678f3b8e63.bundle.js.map
  docs/runtime~main.24fab9cb3e942fc67d80.bundle.js.map
  docs/vendors~main.23b459e231678f3b8e63.bundle.js
  docs/vendors~main.23b459e231678f3b8e63.bundle.js.LICENSE.txt
  docs/vendors~main.23b459e231678f3b8e63.bundle.js.map
  docs/vendors~main.24fab9cb3e942fc67d80.bundle.js
  docs/vendors~main.24fab9cb3e942fc67d80.bundle.js.map
Due: none

fix(empty-state): proptype
  packages/empty-state/src/Buttons.js
  packages/empty-state/src/EmptyState.js
Due: eslint-app

fix(input-radio): prevent labelProps from being passed to input
  packages/input-radio/src/Radio.js
Due: eslint-app

test(storyshots): update
  packages/input-radio/src/__snapshots__/Radio.story.storyshot
Due: none

chore(release): [ci skip] publish
  packages/amount-selectors/CHANGELOG.md
  packages/amount-selectors/package.json
  packages/card/CHANGELOG.md
  packages/card/package.json
  packages/empty-state/CHANGELOG.md
  packages/empty-state/package.json
  packages/filter-popover/CHANGELOG.md
  packages/filter-popover/package.json
  packages/input-phone/CHANGELOG.md
  packages/input-phone/package.json
  packages/input-radio/CHANGELOG.md
  packages/input-radio/package.json
  packages/input-select/CHANGELOG.md
  packages/input-select/package.json
  packages/map-balloon/CHANGELOG.md
  packages/map-balloon/package.json
  packages/modal/CHANGELOG.md
  packages/modal/package.json
  packages/more-info/CHANGELOG.md
  packages/more-info/package.json
  packages/popover/CHANGELOG.md
  packages/popover/package.json
  packages/search-field/CHANGELOG.md
  packages/search-field/package.json
  packages/sidenav/CHANGELOG.md
  packages/sidenav/package.json
  packages/tooltip/CHANGELOG.md
  packages/tooltip/package.json
Due: none

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/main.23b459e231678f3b8e63.bundle.js
  docs/main.23b459e231678f3b8e63.bundle.js.map
  docs/main.f756b9f1be9792a38e3a.bundle.js
  docs/main.f756b9f1be9792a38e3a.bundle.js.map
  docs/runtime~main.23b459e231678f3b8e63.bundle.js.map
  docs/runtime~main.f756b9f1be9792a38e3a.bundle.js
  docs/runtime~main.f756b9f1be9792a38e3a.bundle.js.map
  docs/vendors~main.23b459e231678f3b8e63.bundle.js.map
  docs/vendors~main.f756b9f1be9792a38e3a.bundle.js
  docs/vendors~main.f756b9f1be9792a38e3a.bundle.js.LICENSE.txt
  docs/vendors~main.f756b9f1be9792a38e3a.bundle.js.map
Due: none

fix(empty-state): apply new styles
  packages/empty-state/src/EmptyState.js
  packages/empty-state/src/Thumbnail.js
  packages/empty-state/src/styledComponents/Container.js
Due: eslint-app

test(storyshots): update
  packages/card/src/__snapshots__/Card.story.storyshot
  packages/empty-state/src/__snapshots__/EmptyState.story.storyshot
  packages/modal/src/__snapshots__/DialogModal.story.storyshot
Due: none

chore(release): [ci skip] publish
  packages/amount-selectors/CHANGELOG.md
  packages/amount-selectors/package.json
  packages/card/CHANGELOG.md
  packages/card/package.json
  packages/empty-state/CHANGELOG.md
  packages/empty-state/package.json
  packages/filter-popover/CHANGELOG.md
  packages/filter-popover/package.json
  packages/input-phone/CHANGELOG.md
  packages/input-phone/package.json
  packages/input-select/CHANGELOG.md
  packages/input-select/package.json
  packages/map-balloon/CHANGELOG.md
  packages/map-balloon/package.json
  packages/modal/CHANGELOG.md
  packages/modal/package.json
  packages/more-info/CHANGELOG.md
  packages/more-info/package.json
  packages/popover/CHANGELOG.md
  packages/popover/package.json
  packages/search-field/CHANGELOG.md
  packages/search-field/package.json
  packages/sidenav/CHANGELOG.md
  packages/sidenav/package.json
  packages/tooltip/CHANGELOG.md
  packages/tooltip/package.json
Due: none

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/main.dd5a758cd634a7b6334b.bundle.js
  docs/main.dd5a758cd634a7b6334b.bundle.js.map
  docs/main.f756b9f1be9792a38e3a.bundle.js.map
  docs/runtime~main.dd5a758cd634a7b6334b.bundle.js
  docs/runtime~main.dd5a758cd634a7b6334b.bundle.js.map
  docs/runtime~main.f756b9f1be9792a38e3a.bundle.js.map
  docs/vendors~main.dd5a758cd634a7b6334b.bundle.js
  docs/vendors~main.dd5a758cd634a7b6334b.bundle.js.LICENSE.txt
  docs/vendors~main.dd5a758cd634a7b6334b.bundle.js.map
  docs/vendors~main.f756b9f1be9792a38e3a.bundle.js.map
Due: none

fix(ScrollBox): adjust behavior resulting in scrollHeight being null
  packages/search-field/src/components/ScrollBox.js
  packages/search-field/src/components/ScrollBox.test.js
Due: eslint-app, eslint-test

chore(release): [ci skip] publish
  packages/search-field/CHANGELOG.md
  packages/search-field/package.json
Due: none

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/main.b66302400e7dac214a3d.bundle.js
  docs/main.b66302400e7dac214a3d.bundle.js.map
  docs/main.dd5a758cd634a7b6334b.bundle.js
  docs/main.dd5a758cd634a7b6334b.bundle.js.map
  docs/runtime~main.b66302400e7dac214a3d.bundle.js
  docs/runtime~main.b66302400e7dac214a3d.bundle.js.map
  docs/runtime~main.dd5a758cd634a7b6334b.bundle.js.map
  docs/vendors~main.b66302400e7dac214a3d.bundle.js
  docs/vendors~main.b66302400e7dac214a3d.bundle.js.LICENSE.txt
  docs/vendors~main.b66302400e7dac214a3d.bundle.js.map
  docs/vendors~main.dd5a758cd634a7b6334b.bundle.js.map
Due: none

feat(FilterPopover): add onOutsideClick prop
  packages/filter-popover/src/FilterPopover.js
  packages/filter-popover/src/FilterPopover.story.js
  packages/filter-popover/src/FilterPopover.test.js
Due: eslint-app, eslint-test

chore(release): [ci skip] publish
  packages/filter-popover/CHANGELOG.md
  packages/filter-popover/package.json
Due: none

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/main.17c3ebd4b6000f4bb141.bundle.js
  docs/main.17c3ebd4b6000f4bb141.bundle.js.map
  docs/main.b66302400e7dac214a3d.bundle.js
  docs/main.b66302400e7dac214a3d.bundle.js.map
  docs/runtime~main.17c3ebd4b6000f4bb141.bundle.js
  docs/runtime~main.17c3ebd4b6000f4bb141.bundle.js.map
  docs/runtime~main.b66302400e7dac214a3d.bundle.js.map
  docs/vendors~main.17c3ebd4b6000f4bb141.bundle.js
  docs/vendors~main.17c3ebd4b6000f4bb141.bundle.js.LICENSE.txt
  docs/vendors~main.17c3ebd4b6000f4bb141.bundle.js.map
  docs/vendors~main.b66302400e7dac214a3d.bundle.js.map
Due: none

feat(icon): Add links to download the SVG file
  packages/icon/src/IconsBrowser.js
Due: eslint-app

chore(storyshots): update
  icon/src/__snapshots__/Icon.story.storyshot
Due: none

chore(release): [ci skip] publish
  packages/icon/CHANGELOG.md
  packages/icon/package.json
Due: none

fix(Checkbox): prevent checkbox from shrinking when there's not enough width
  packages/input-checkbox/src/__snapshots__/Checkbox.story.storyshot
  packages/input-checkbox/src/styledComponents/Checkbox.js
  packages/input-select/src/components/__snapshots__/Item.story.storyshot
Due: eslint-app

test(storyshots): update
  packages/input-checkbox/src/__snapshots__/Checkbox.story.storyshot
  packages/input-select/src/components/__snapshots__/Item.story.storyshot
Due: none

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/main.17c3ebd4b6000f4bb141.bundle.js
  docs/main.17c3ebd4b6000f4bb141.bundle.js.map
  docs/main.3420bc943324e2d61d6f.bundle.js
  docs/main.3420bc943324e2d61d6f.bundle.js.map
  docs/runtime~main.17c3ebd4b6000f4bb141.bundle.js.map
  docs/runtime~main.3420bc943324e2d61d6f.bundle.js
  docs/runtime~main.3420bc943324e2d61d6f.bundle.js.map
  docs/vendors~main.17c3ebd4b6000f4bb141.bundle.js.map
  docs/vendors~main.3420bc943324e2d61d6f.bundle.js
  docs/vendors~main.3420bc943324e2d61d6f.bundle.js.LICENSE.txt
  docs/vendors~main.3420bc943324e2d61d6f.bundle.js.map
Due: none

chore(release): [ci skip] publish
  packages/input-checkbox/CHANGELOG.md
  packages/input-checkbox/package.json
  packages/input-phone/CHANGELOG.md
  packages/input-phone/package.json
  packages/input-select/CHANGELOG.md
  packages/input-select/package.json
  packages/search-field/CHANGELOG.md
  packages/search-field/package.json
Due: none

Path conditions:
  eslint-app: any of: ^(?!.*\.test).*\.js$, but not: ^docs
  eslint-test: any of: \.test\.js$
