Repository CraveFood/farmblocks: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint-app, eslint-test

.pre-commit-config.yaml:

fail_fast: true
repos:
  - repo: https://github.com/prettier/prettier
    # see https://github.com/prettier/prettier/issues/4637#issuecomment-396475333
    rev: "1.19.1"
    hooks:
      - id: prettier
        exclude: ".mdx$"

  - repo: local
    hooks:
      - id: eslint-app
        name: eslint-app
        entry: ./node_modules/eslint/bin/eslint.js
        args:
          - "--config=.eslintrc.js"
          - "--ignore-path=.eslintignore"
        language: system
        files: '^(?!.*\.test).*\.js$'
        exclude: "^docs"

      - id: eslint-test
        name: eslint-test
        entry: ./node_modules/eslint/bin/eslint.js
        args:
          - "--config=.test.eslintrc.js"
          - "--ignore-path=.test.eslintignore"
        language: system
        files: '\.test\.js$'

feat(hoc-input): render validation messages
  packages/hoc-input/package.json
  packages/hoc-input/src/__snapshots__/formInput.story.storyshot
  packages/hoc-input/src/formInput.js
  packages/hoc-input/src/formInput.story.js
  packages/hoc-input/src/styledComponents/Wrapper.js
Due: eslint-app

test(storyshot): update
  __snapshots__/Storyshots.test.js.snap
  packages/amount-selectors/src/components/__snapshots__/AmountSelectors.story.storyshot
  packages/card/src/__snapshots__/Card.story.storyshot
  packages/carousel/src/__snapshots__/Carousel.story.storyshot
  packages/empty-state/src/__snapshots__/EmptyState.story.storyshot
  packages/footer/src/components/__snapshots__/Footer.story.storyshot
  packages/form-wrapper/src/__snapshots__/FormWrapper.story.storyshot
  packages/hoc-input/src/__snapshots__/formInput.story.storyshot
  packages/input-currency/src/__snapshots__/CurrencyInput.story.storyshot
  packages/input-select/src/__snapshots__/Select.story.storyshot
  packages/input-select/src/components/__snapshots__/EmptyCard.story.storyshot
  packages/input-text/src/__snapshots__/TextAreaInput.story.storyshot
  packages/input-text/src/__snapshots__/TextInput.story.storyshot
  packages/modal/src/__snapshots__/DialogModal.story.storyshot
  packages/search-field/src/__snapshots__/SearchField.story.storyshot
  packages/table/src/__snapshots__/Table.story.storyshot
Due: none

chore(release): [ci skip] publish
  packages/amount-selectors/CHANGELOG.md
  packages/amount-selectors/package.json
  packages/card/CHANGELOG.md
  packages/card/package.json
  packages/carousel/CHANGELOG.md
  packages/carousel/package.json
  packages/empty-state/CHANGELOG.md
  packages/empty-state/package.json
  packages/filter-popover/CHANGELOG.md
  packages/filter-popover/package.json
  packages/footer/CHANGELOG.md
  packages/footer/package.json
  packages/form-wrapper/CHANGELOG.md
  packages/form-wrapper/package.json
  packages/hoc-input/CHANGELOG.md
  packages/hoc-input/package.json
  packages/input-currency/CHANGELOG.md
  packages/input-currency/package.json
  packages/input-phone/CHANGELOG.md
  packages/input-phone/package.json
  packages/input-select/CHANGELOG.md
  packages/input-select/package.json
  packages/input-text/CHANGELOG.md
  packages/input-text/package.json
  packages/map-balloon/CHANGELOG.md
  packages/map-balloon/package.json
  packages/modal/CHANGELOG.md
  packages/modal/package.json
  packages/more-info/CHANGELOG.md
  packages/more-info/package.json
  packages/popover/CHANGELOG.md
  packages/popover/package.json
  packages/search-field/CHANGELOG.md
  packages/search-field/package.json
  packages/sidenav/CHANGELOG.md
  packages/sidenav/package.json
  packages/table/CHANGELOG.md
  packages/table/package.json
  packages/tooltip/CHANGELOG.md
  packages/tooltip/package.json
Due: none

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/main.10ed0118d293a07d532a.bundle.js
  docs/main.10ed0118d293a07d532a.bundle.js.map
  docs/main.257ae00c44bc4ee4538d.bundle.js
  docs/main.257ae00c44bc4ee4538d.bundle.js.map
  docs/runtime~main.10ed0118d293a07d532a.bundle.js.map
  docs/runtime~main.257ae00c44bc4ee4538d.bundle.js
  docs/runtime~main.257ae00c44bc4ee4538d.bundle.js.map
  docs/vendors~main.10ed0118d293a07d532a.bundle.js
  docs/vendors~main.10ed0118d293a07d532a.bundle.js.map
  docs/vendors~main.257ae00c44bc4ee4538d.bundle.js
  docs/vendors~main.257ae00c44bc4ee4538d.bundle.js.LICENSE.txt
  docs/vendors~main.257ae00c44bc4ee4538d.bundle.js.map
Due: none

feat(dropdown): add buttonProps property
  packages/dropdown/README.md
  packages/dropdown/src/components/Dropdown.js
  packages/dropdown/src/components/Dropdown.story.js
Due: eslint-app

test(storyshot): update
  __snapshots__/Storyshots.test.js.snap
  packages/dropdown/src/components/__snapshots__/Dropdown.story.storyshot
Due: none

feat(icon): add SmDownload
  packages/icon/src/jsx/SmDownload.js
  packages/icon/src/jsx/index.js
  packages/icon/src/svg/Actions/SmDownload.svg
Due: eslint-app

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/main.257ae00c44bc4ee4538d.bundle.js
  docs/main.257ae00c44bc4ee4538d.bundle.js.map
  docs/main.db159f12e8a27872c353.bundle.js
  docs/main.db159f12e8a27872c353.bundle.js.map
  docs/runtime~main.257ae00c44bc4ee4538d.bundle.js.map
  docs/runtime~main.db159f12e8a27872c353.bundle.js
  docs/runtime~main.db159f12e8a27872c353.bundle.js.map
  docs/vendors~main.257ae00c44bc4ee4538d.bundle.js
  docs/vendors~main.257ae00c44bc4ee4538d.bundle.js.map
  docs/vendors~main.db159f12e8a27872c353.bundle.js
  docs/vendors~main.db159f12e8a27872c353.bundle.js.LICENSE.txt
  docs/vendors~main.db159f12e8a27872c353.bundle.js.map
Due: none

fix(icon): jSX build script importing * from React
  packages/icon/buildJSX.js
Due: eslint-app

fix(icon): github and Dribble svg files minifyed causing webpack memory leaks
  __snapshots__/Storyshots.test.js.snap
  packages/icon/src/jsx/MdDribbble.js
  packages/icon/src/jsx/MdDribbbleFilled.js
  packages/icon/src/jsx/MdGithub.js
  packages/icon/src/jsx/MdGithubFilled.js
  packages/icon/src/svg/Social/MdDribbble.svg
  packages/icon/src/svg/Social/MdDribbbleFilled.svg
  packages/icon/src/svg/Social/MdGithub.svg
  packages/icon/src/svg/Social/MdGithubFilled.svg
Due: eslint-app

fix(icon): github and Dribbble icon minified svg breaking some webpack setups
  __snapshots__/Storyshots.test.js.snap
  packages/icon/src/jsx/MdDribbble.js
  packages/icon/src/jsx/MdDribbbleFilled.js
  packages/icon/src/jsx/MdGithub.js
  packages/icon/src/jsx/MdGithubFilled.js
  packages/icon/src/svg/Social/MdDribbble.svg
  packages/icon/src/svg/Social/MdDribbbleFilled.svg
  packages/icon/src/svg/Social/MdGithub.svg
  packages/icon/src/svg/Social/MdGithubFilled.svg
Due: eslint-app

fix(temporary): remove github and dribbble icons to test build in webapp
  packages/icon/src/jsx/MdDribbble.js
  packages/icon/src/jsx/MdDribbbleFilled.js
  packages/icon/src/jsx/MdGithub.js
  packages/icon/src/jsx/MdGithubFilled.js
  packages/icon/src/jsx/index.js
  packages/icon/src/svg/Social/MdDribbble.svg
  packages/icon/src/svg/Social/MdDribbbleFilled.svg
  packages/icon/src/svg/Social/MdGithub.svg
  packages/icon/src/svg/Social/MdGithubFilled.svg
Due: eslint-app

chore(storyshots): update
  __snapshots__/Storyshots.test.js.snap
Due: none

fix(icon): remove dribbble and github icons
  packages/icon/src/jsx/MdDribbble.js
  packages/icon/src/jsx/MdDribbbleFilled.js
  packages/icon/src/jsx/MdGithub.js
  packages/icon/src/jsx/MdGithubFilled.js
  packages/icon/src/jsx/index.js
  packages/icon/src/svg/Social/MdDribbble.svg
  packages/icon/src/svg/Social/MdDribbbleFilled.svg
  packages/icon/src/svg/Social/MdGithub.svg
  packages/icon/src/svg/Social/MdGithubFilled.svg
Due: eslint-app

test(storyshots): update
  __snapshots__/Storyshots.test.js.snap
Due: none

feat(travis): use force-publish to canary versions
  .travis.yml
Due: none

feat(icons): remove downloads icon
  packages/icon/src/jsx/SmDownload.js
  packages/icon/src/jsx/index.js
  packages/icon/src/svg/Actions/SmDownload.svg
Due: eslint-app

fixup! chore(storyshots): update
  __snapshots__/Storyshots.test.js.snap
Due: none

feat(icon): move to peerDependencies in dependant packages
  packages/alert/package.json
  packages/amount-selectors/package.json
  packages/button/package.json
  packages/dropdown/package.json
  packages/empty-state/package.json
  packages/filter-popover/package.json
  packages/hoc-input/package.json
  packages/input-checkbox/package.json
  packages/input-select/package.json
  packages/input-text/package.json
  packages/link/package.json
  packages/map-balloon/package.json
  packages/modal/package.json
  packages/more-info/package.json
  packages/sidenav/package.json
  packages/stepper/package.json
  packages/tag/package.json
Due: none

docs(docs): add a warning about possible duplications
  packages/icon/README.md
Due: none

feat(hoc-input): apply new border style
  packages/hoc-input/src/styledComponents/Wrapper.js
Due: eslint-app

feat(hoc-input): add mb property
  packages/hoc-input/src/formInput.js
  packages/hoc-input/src/styledComponents/Wrapper.js
Due: eslint-app

refactor(hoc-input): remove unecessary classnames dependency
  packages/hoc-input/package.json
  packages/hoc-input/src/formInput.js
Due: eslint-app

feat(hoc-input): adjust icon position and size
  packages/hoc-input/src/formInput.js
  packages/hoc-input/src/formInput.story.js
  packages/hoc-input/src/styledComponents/Wrapper.js
Due: eslint-app

feat(hoc-input): adjust position of clear icon on search input
  packages/hoc-input/src/formInput.js
  packages/hoc-input/src/styledComponents/Wrapper.js
Due: eslint-app

fix(hoc-input): change clear action icon for search inputs
  packages/hoc-input/src/formInput.js
Due: eslint-app

feat(hoc-input): adjust prefix and sufix position and color
  packages/hoc-input/src/styledComponents/Wrapper.js
Due: eslint-app

refactor(hoc-input): remove unused property 'clearable'
  packages/hoc-input/src/formInput.js
Due: eslint-app

fix(hoc-input): remove obsolete props moreInfoContent and moreInfoTooltipProps
  packages/hoc-input/src/formInput.js
Due: eslint-app

feat(input-currency): refactor component to work with new hoc-input
  packages/input-currency/README.md
  packages/input-currency/src/CurrencyInput.js
  packages/input-currency/src/CurrencyInput.story.js
  packages/input-currency/src/CurrencyInput.story.mdx
Due: eslint-app

test(hoc-input): rewrite tests using testing-library
  packages/hoc-input/src/formInput.test.js
Due: eslint-test

fix(label): set line-height to 1.5
  packages/label/src/Label.js
Due: eslint-app

feat(amount-selectors): refactor component to work with new hoc-input
  packages/amount-selectors/README.md
  packages/amount-selectors/package.json
  packages/amount-selectors/src/components/AmountSelectors.js
  packages/amount-selectors/src/components/AmountSelectors.story.js
  packages/amount-selectors/src/components/AmountSelectors.story.mdx
  packages/amount-selectors/src/components/AmountSelectors.story.utils.js
  packages/amount-selectors/src/components/AmountSelectors.test.js
  packages/amount-selectors/src/index.js
  packages/amount-selectors/src/styledComponents/AmountSelector.js
Due: eslint-app, eslint-test

test: fix broken tests
  packages/filter-popover/src/FilterPopover.test.js
  packages/input-phone/src/PhoneInput.test.js
Due: eslint-test
