Repository CraveFood/farmblocks: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint-app, eslint-test

.pre-commit-config.yaml:

fail_fast: true
repos:
-   repo: https://github.com/prettier/prettier
    sha: '1.7.0'
    hooks:
      - id: prettier

-   repo: local
    hooks:
      - id: eslint-app
        name: eslint-app
        entry: ./node_modules/eslint/bin/eslint.js
        args:
          - "--config=.eslintrc.js"
          - "--ignore-path=.eslintignore"
        language: system
        files: '^(?!.*\.test).*\.js$'

      - id: eslint-test
        name: eslint-test
        entry: ./node_modules/eslint/bin/eslint.js
        args:
          - "--config=.test.eslintrc.js"
          - "--ignore-path=.test.eslintignore"
        language: system
        files: '\.test\.js$'

feat(properties): new property to use display: block on the resulting component
  packages/hoc-disabled-tooltip/README.md
  packages/hoc-disabled-tooltip/src/disabledTooltip.js
  packages/hoc-disabled-tooltip/src/disabledTooltip.story.js
  packages/hoc-disabled-tooltip/src/styledComponents/Wrapper.js
Due: eslint-app

fix(Image fitModes): export fitModes at Image index
  packages/image/src/index.js
Due: eslint-app

chore(release): [ci skip] publish
  packages/card/CHANGELOG.md
  packages/card/package.json
  packages/empty-state/CHANGELOG.md
  packages/empty-state/package.json
  packages/footer/CHANGELOG.md
  packages/footer/package.json
  packages/hoc-input/CHANGELOG.md
  packages/hoc-input/package.json
  packages/image/CHANGELOG.md
  packages/image/package.json
  packages/input-text/CHANGELOG.md
  packages/input-text/package.json
Due: none

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/index.html
  docs/static/manager.86379dbfae6b4d86aff7.bundle.js
  docs/static/manager.fa4558a1079014e45d22.bundle.js
  docs/static/preview.973eb54f04b5dc41ff65.bundle.js
  docs/static/preview.c9a238d4edd1a092f484.bundle.js
Due: eslint-app

chore(lockfile): [ci skip] greenkeeper lockfile fix
  yarn.lock
Due: none

chore(release): [ci skip] publish
  packages/hoc-disabled-tooltip/CHANGELOG.md
  packages/hoc-disabled-tooltip/package.json
Due: none

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/index.html
  docs/static/manager.71909c0d752fec80dd88.bundle.js
  docs/static/manager.86379dbfae6b4d86aff7.bundle.js
  docs/static/preview.6510385f2d8f9acd638f.bundle.js
  docs/static/preview.c9a238d4edd1a092f484.bundle.js
Due: eslint-app

docs(README): add paragraph about browserstack, logo and link
  README.md
Due: none

feat(button): add rightIcon prop to Button
  .storybook/config.js
  __snapshots__/Storyshots.test.js.snap
  packages/button/src/Button.js
  packages/button/src/Button.story.js
  packages/button/src/styledComponents/Button.js
Due: eslint-app

chore(release): [ci skip] publish
  packages/alert/CHANGELOG.md
  packages/alert/package.json
  packages/button/CHANGELOG.md
  packages/button/package.json
  packages/card/CHANGELOG.md
  packages/card/package.json
  packages/empty-state/CHANGELOG.md
  packages/empty-state/package.json
  packages/footer/CHANGELOG.md
  packages/footer/package.json
Due: none

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/static/preview.6510385f2d8f9acd638f.bundle.js
  docs/static/preview.6e10f64ca3e385a3e0de.bundle.js
Due: eslint-app

feat(dependencies): add checkbox dependencies
  packages/input-checkbox/package.json
  yarn.lock
Due: none

test(stories): basic stories for checkbox input
  packages/input-checkbox/src/Checkbox.story.js
Due: eslint-app

feat(state management): turn the component into a controlled component
  packages/input-checkbox/src/Checkbox.js
Due: eslint-app

feat(scaffold): initial diles for the checkbox component
  packages/input-checkbox/AUTHORS
  packages/input-checkbox/LICENSE
  packages/input-checkbox/README.md
  packages/input-checkbox/package.json
  packages/input-checkbox/src/Checkbox.js
  packages/input-checkbox/src/Checkbox.story.js
  packages/input-checkbox/src/index.js
Due: eslint-app

fix(styling): change the tooltip target to make the balloon point to the checkbox
  packages/input-checkbox/src/Checkbox.js
  packages/input-checkbox/src/styledComponents/Checkbox.js
Due: eslint-app

feat(style): tweak styling to make checkbox component match the reference
  packages/input-checkbox/src/Checkbox.js
  packages/input-checkbox/src/styledComponents/Checkbox.js
Due: eslint-app

test(checkbox): add missing tests
  packages/input-checkbox/src/Checkbox.test.js
Due: eslint-test

feat(style): give a visual hint for focused checkbox
  packages/input-checkbox/src/styledComponents/Checkbox.js
Due: eslint-app

test(stories): tweak fieldset example to have content below the checkbox as well
  packages/input-checkbox/src/Checkbox.story.js
Due: eslint-app

fix(accessibility): make checkbox keyboard accessible
  packages/input-checkbox/src/styledComponents/Checkbox.js
Due: eslint-app

fix(styling): hover on disabled checkbox should not change background color
  packages/input-checkbox/src/styledComponents/Checkbox.js
Due: eslint-app

docs(readme): add usage and api to the readme
  packages/input-checkbox/README.md
Due: none

test(snapshots): update
  __snapshots__/Storyshots.test.js.snap
Due: none

test(stories): add a disabled checked checkbox to the fieldset example
  packages/input-checkbox/src/Checkbox.story.js
Due: eslint-app

refactor(styling): improve legibility
  packages/input-checkbox/src/styledComponents/Checkbox.js
Due: eslint-app

chore(release): [ci skip] publish
  packages/input-checkbox/CHANGELOG.md
  packages/input-checkbox/package.json
Due: none

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/index.html
  docs/static/manager.71909c0d752fec80dd88.bundle.js
  docs/static/manager.878e5391d5ce77b5e821.bundle.js
  docs/static/preview.20d92528084261e4091e.bundle.js
  docs/static/preview.6e10f64ca3e385a3e0de.bundle.js
Due: eslint-app

WIP(dropdown): initial scaffold
  packages/dropdown/AUTHORS
  packages/dropdown/LICENSE
  packages/dropdown/README.md
  packages/dropdown/package.json
  yarn.lock
Due: none

test(dropdown): add drowpdown tests
  packages/dropdown/src/components/Dropdown.test.js
  packages/dropdown/src/styledComponents/DropdownItemWrapper.js
  packages/dropdown/src/styledComponents/DropdownMenuWrapper.js
Due: eslint-app, eslint-test

test(snapshots): update snapshots
  __snapshots__/Storyshots.test.js.snap
Due: none

feat(dropdown): initial dropdown component
  packages/dropdown/src/components/Dropdown.js
  packages/dropdown/src/components/Dropdown.story.js
  packages/dropdown/src/components/DropdownItem.js
  packages/dropdown/src/index.js
Due: eslint-app

refactor(styles): refactor styled components on dropdown
  packages/dropdown/src/components/Dropdown.js
  packages/dropdown/src/components/DropdownItem.js
  packages/dropdown/src/styledComponents/DropdownItemWrapper.js
  packages/dropdown/src/styledComponents/DropdownMenuWrapper.js
  packages/dropdown/src/styledComponents/DropdownWrapper.js
Due: eslint-app

docs(readme): add dropdown readme
  README.md
  packages/dropdown/README.md
Due: none

test(dropdown): add align and z-index tests
  packages/dropdown/src/components/Dropdown.js
  packages/dropdown/src/components/Dropdown.test.js
Due: eslint-app, eslint-test

chore(export): export DropdownItem
  packages/dropdown/src/index.js
Due: eslint-app

docs(license): change crave food services to crave food systems
  packages/input-checkbox/AUTHORS
  packages/input-checkbox/LICENSE
Due: none

fix(color): fix dropdown items color
  packages/dropdown/src/styledComponents/DropdownItemWrapper.js
Due: eslint-app

feat(dropdown): add width property to dropdown to set custom menu width
  packages/dropdown/src/components/Dropdown.js
  packages/dropdown/src/components/Dropdown.story.js
  packages/dropdown/src/components/Dropdown.test.js
  packages/dropdown/src/styledComponents/DropdownMenuWrapper.js
Due: eslint-app, eslint-test
