Repository CraveFood/farmblocks: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint-app, eslint-test

.pre-commit-config.yaml:

fail_fast: true
repos:
-   repo: https://github.com/prettier/prettier
    sha: '1.7.0'
    hooks:
      - id: prettier

-   repo: local
    hooks:
      - id: eslint-app
        name: eslint-app
        entry: ./node_modules/eslint/bin/eslint.js
        args:
          - "--config=.eslintrc.js"
          - "--ignore-path=.eslintignore"
        language: system
        files: '^(?!.*\.test).*\.js$'

      - id: eslint-test
        name: eslint-test
        entry: ./node_modules/eslint/bin/eslint.js
        args:
          - "--config=.test.eslintrc.js"
          - "--ignore-path=.test.eslintignore"
        language: system
        files: '\.test\.js$'

chore(Carousel): add farmblocks-theme as dependency
  packages/carousel/package.json
Due: none

feat(Carousel): add image name on proptypes validation
  packages/carousel/src/Carousel.js
Due: eslint-app

docs(Carousel): update README.md
  packages/carousel/README.md
Due: none

chore(release): [ci skip] publish
  packages/card/CHANGELOG.md
  packages/card/package.json
  packages/carousel/CHANGELOG.md
  packages/carousel/package.json
  packages/empty-state/CHANGELOG.md
  packages/empty-state/package.json
  packages/footer/CHANGELOG.md
  packages/footer/package.json
  packages/hoc-input/CHANGELOG.md
  packages/hoc-input/package.json
  packages/hoc-validation-messages/CHANGELOG.md
  packages/hoc-validation-messages/package.json
  packages/image/CHANGELOG.md
  packages/image/package.json
  packages/input-select/CHANGELOG.md
  packages/input-select/package.json
  packages/input-text/CHANGELOG.md
  packages/input-text/package.json
  packages/map-balloon/CHANGELOG.md
  packages/map-balloon/package.json
  packages/scaffold/CHANGELOG.md
  packages/scaffold/package.json
  packages/table/CHANGELOG.md
  packages/table/package.json
Due: none

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/index.html
  docs/static/manager.89d54f81441d6a29567e.bundle.js
  docs/static/manager.af17ef4f5b9fc5f4c412.bundle.js
  docs/static/preview.e78847e029dfd9ed4c1c.bundle.js
  docs/static/preview.f60fd23d3174dcb818aa.bundle.js
Due: eslint-app

chore(package): update lockfile
  yarn.lock
Due: none

feat(Carousel): update farmblocks-image dependency in farmblocks-carousel
  packages/carousel/README.md
  yarn.lock
Due: none

chore(lockfile): [ci skip] greenkeeper lockfile fix
  yarn.lock
Due: none

fix(tags): fix export path
  packages/tag/src/index.js
Due: eslint-app

chore(yarn.lock): update
  yarn.lock
Due: none

chore(release): [ci skip] publish
  packages/tag/CHANGELOG.md
  packages/tag/package.json
Due: none

docs(Readme): update with links to new components
  README.md
Due: none

perf(Carousel): scale active item using transform instead of setting width and height
  packages/carousel/src/styledComponents/Carousel.js
Due: eslint-app

perf(Carousel): move elements to the left using translateX instead of margin-left
  packages/carousel/src/styledComponents/Carousel.js
Due: eslint-app

fix(Carousel): fix itemConfig spread default
  packages/carousel/src/Carousel.js
Due: eslint-app

feat(Carousel): add scale property
  packages/carousel/src/Carousel.js
  packages/carousel/src/styledComponents/Carousel.js
Due: eslint-app

feat(Carousel): remove text opacity and change fontSize property type
  packages/carousel/src/Carousel.js
  packages/carousel/src/styledComponents/Carousel.js
Due: eslint-app

feat(Carousel): restart carousel interval when imageSet changes
  packages/carousel/src/Carousel.js
Due: eslint-app

test(Carousel): add missing story
  packages/carousel/src/Carousel.story.js
Due: eslint-app

test(Carousel): missing tests
  packages/carousel/src/Carousel.test.js
Due: eslint-test

revert(Carousel): swap itemConfig and defaultConfig
  packages/carousel/src/Carousel.js
Due: eslint-app

style(Carousel.test): fix test name
  packages/carousel/src/Carousel.test.js
Due: eslint-test

chore(release): [ci skip] publish
  packages/carousel/CHANGELOG.md
  packages/carousel/package.json
Due: none

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/static/preview.36541609bb9c40950477.bundle.js
  docs/static/preview.e78847e029dfd9ed4c1c.bundle.js
Due: eslint-app

chore(radio): add missing dependencies to package.json
  packages/input-radio/package.json
Due: none

fix(radio): change value state when defaultValue prop is modified
  packages/input-radio/src/RadioGroup.js
  packages/input-radio/src/RadioGroup.test.js
Due: eslint-app, eslint-test

fix(Carousel): custom fontsize and border were not being respected
  packages/carousel/src/Carousel.js
Due: eslint-app

chore(release): [ci skip] publish
  packages/input-radio/CHANGELOG.md
  packages/input-radio/package.json
Due: none

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/static/preview.36541609bb9c40950477.bundle.js
  docs/static/preview.e514483948fb45ebed86.bundle.js
Due: eslint-app

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/static/preview.8dc68c58fb1c2003d351.bundle.js
  docs/static/preview.e514483948fb45ebed86.bundle.js
Due: eslint-app

feat(MapBallon): remove icon from caption
  packages/map-balloon/src/MapBalloon.js
  packages/map-balloon/src/styledComponents/Balloon.js
Due: eslint-app

refactor(MapBallon): remove unused icon related components
  packages/map-balloon/src/MapBalloon.js
  packages/map-balloon/src/styledComponents/Caption.js
  packages/map-balloon/src/styledComponents/Icon.js
  packages/map-balloon/src/styledComponents/VerticalCenter.js
  packages/map-balloon/src/styledComponents/themes.js
Due: eslint-app

feat(MapBallon): receive borderRadius on props. Default remains the same as before
  packages/map-balloon/src/MapBalloon.js
  packages/map-balloon/src/MapBalloon.story.js
  packages/map-balloon/src/styledComponents/Balloon.js
  packages/map-balloon/src/styledComponents/SingleImage.js
Due: eslint-app

feat(MapBalloon): custom opacity
  packages/map-balloon/src/MapBalloon.js
  packages/map-balloon/src/MapBalloon.story.js
  packages/map-balloon/src/styledComponents/Wrapper.js
Due: eslint-app

chore: add wg-location to font icon
  .storybook/config.js
Due: eslint-app

docs(MapBalloon): update
  packages/map-balloon/README.md
Due: none
