Repository CraveFood/farmblocks: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint-app, eslint-test

.pre-commit-config.yaml:

fail_fast: true
repos:
-   repo: https://github.com/prettier/prettier
    sha: '1.7.0'
    hooks:
      - id: prettier

-   repo: local
    hooks:
      - id: eslint-app
        name: eslint-app
        entry: ./node_modules/eslint/bin/eslint.js
        args:
          - "--config=.eslintrc.js"
          - "--ignore-path=.eslintignore"
        language: system
        files: '^(?!.*\.test).*\.js$'

      - id: eslint-test
        name: eslint-test
        entry: ./node_modules/eslint/bin/eslint.js
        args:
          - "--config=.test.eslintrc.js"
          - "--ignore-path=.test.eslintignore"
        language: system
        files: '\.test\.js$'

fix(package.json): Update babel and broken storybook/add-info dependencies
  package.json
  yarn.lock
Due: none

fix(jest.config): Jest ignore .css modules implementation, because we don't have a parser for this files
  empty-module.js
  jest.config.js
Due: eslint-app

fix(yarn): Clear yarn cache
  yarn.lock
Due: none

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/index.html
  docs/main.006c7bd1ed130c6ace9e.bundle.js
  docs/main.0e9e19a34fee38473ae8.bundle.js
  docs/main.0e9e19a34fee38473ae8.bundle.js.map
  docs/main.42f564c679172c211b4d.bundle.js
  docs/main.6b7cebb41d00431f5829.bundle.js
  docs/main.6b7cebb41d00431f5829.bundle.js.map
  docs/runtime~main.0e9e19a34fee38473ae8.bundle.js
  docs/runtime~main.0e9e19a34fee38473ae8.bundle.js.map
  docs/runtime~main.6b7cebb41d00431f5829.bundle.js.map
  docs/runtime~main.d6878bfc6f9b1805e480.bundle.js
  docs/sb_dll/storybook_ui-manifest.json
  docs/sb_dll/storybook_ui_dll.LICENCE
  docs/sb_dll/storybook_ui_dll.js
  docs/vendors~main.0e9e19a34fee38473ae8.bundle.js
  docs/vendors~main.0e9e19a34fee38473ae8.bundle.js.map
  docs/vendors~main.6b7cebb41d00431f5829.bundle.js
  docs/vendors~main.6b7cebb41d00431f5829.bundle.js.map
  docs/vendors~main.73d56d6f18dae8521687.bundle.js
  docs/vendors~main.e6ab0455ec4c8d951baa.bundle.js
Due: eslint-app

feat(README): Add readme link to modal docs
  README.md
Due: none

feat(Modal): Add header prop element and replace close icon to close button
  packages/modal/package.json
  packages/modal/src/Modal.js
Due: eslint-app

feat(Modal): Add footer section that will be used primarily to actions
  packages/modal/src/Modal.js
Due: eslint-app

feat(Modal): Add stories to the new modal api changes
  packages/modal/src/Modal.story.js
Due: eslint-app

refactor(DialogModal): Fix modal card padding due to a added padding on content
  packages/modal/src/DialogModal.js
Due: eslint-app

feat(README/Modal): Update readme properties API
  packages/modal/README.md
Due: none

feat(Modal.styled): Add Section component and set close button to absolute position
  packages/modal/src/Modal.styled.js
Due: eslint-app

feat(stories): Apply Modal footer to stories
  packages/modal/src/Modal.story.js
  packages/modal/src/helpers.story.js
Due: eslint-app

refactor(Modal): add title component to use on modal header
  packages/modal/README.md
  packages/modal/package.json
  packages/modal/src/Modal.js
  packages/modal/src/Modal.story.js
  packages/modal/src/index.js
Due: eslint-app

tests(stories): Update storyshots
  packages/modal/src/__snapshots__/DialogModal.story.storyshot
  packages/modal/src/__snapshots__/Modal.story.storyshot
  packages/modal/src/__snapshots__/helpers.story.storyshot
Due: none

refactor(README): Apply @alcferreira text suggestion
  packages/modal/README.md
Due: none

refactor(package.json): Remove unused dependency
  packages/modal/package.json
Due: none

chore(release): [ci skip] publish
  packages/modal/CHANGELOG.md
  packages/modal/package.json
Due: none

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/main.0e9e19a34fee38473ae8.bundle.js
  docs/main.0e9e19a34fee38473ae8.bundle.js.map
  docs/main.ea29656de98ba8bb0f8d.bundle.js
  docs/main.ea29656de98ba8bb0f8d.bundle.js.map
  docs/runtime~main.0e9e19a34fee38473ae8.bundle.js.map
  docs/runtime~main.ea29656de98ba8bb0f8d.bundle.js
  docs/runtime~main.ea29656de98ba8bb0f8d.bundle.js.map
  docs/vendors~main.0e9e19a34fee38473ae8.bundle.js
  docs/vendors~main.0e9e19a34fee38473ae8.bundle.js.map
  docs/vendors~main.ea29656de98ba8bb0f8d.bundle.js
  docs/vendors~main.ea29656de98ba8bb0f8d.bundle.js.map
Due: eslint-app

fix(Table): transparent border not working with colspan
  packages/table/src/styledComponents/Table.js
Due: eslint-app

fix(Table): overlaping borders when using colSpan
  packages/table/src/Table.story.js
  packages/table/src/styledComponents/Table.js
Due: eslint-app

feat(Table): add renderExtraChildRows prop
  packages/table/README.md
  packages/table/src/Table.js
  packages/table/src/Table.story.js
  packages/table/src/styledComponents/ChildRow.js
Due: eslint-app

feat(Table): change hover highlight color
  packages/table/src/Table.js
  packages/table/src/styledComponents/Cell.js
  packages/table/src/styledComponents/Table.js
Due: eslint-app

docs(Modal): remove duplicated story
  packages/modal/src/Modal.story.js
Due: eslint-app

chore(storyshots): update
  packages/modal/src/__snapshots__/Modal.story.storyshot
  packages/table/src/__snapshots__/Table.story.storyshot
Due: none

chore(release): [ci skip] publish
  packages/modal/CHANGELOG.md
  packages/modal/package.json
  packages/table/CHANGELOG.md
  packages/table/package.json
Due: none

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/main.46fe43c7e6022082f959.bundle.js
  docs/main.46fe43c7e6022082f959.bundle.js.map
  docs/main.ea29656de98ba8bb0f8d.bundle.js
  docs/main.ea29656de98ba8bb0f8d.bundle.js.map
  docs/runtime~main.46fe43c7e6022082f959.bundle.js
  docs/runtime~main.46fe43c7e6022082f959.bundle.js.map
  docs/runtime~main.ea29656de98ba8bb0f8d.bundle.js.map
  docs/vendors~main.46fe43c7e6022082f959.bundle.js
  docs/vendors~main.46fe43c7e6022082f959.bundle.js.map
  docs/vendors~main.ea29656de98ba8bb0f8d.bundle.js
  docs/vendors~main.ea29656de98ba8bb0f8d.bundle.js.map
Due: eslint-app

test(Button): reorganize stories
  packages/button/src/Button.story.js
Due: eslint-app

refactor(Tooltip): consolidade bottom positioned stories
  packages/tooltip/src/Tooltip.story.js
Due: eslint-app

feat(Popover): receive tooltipProps and pass it to Tooltip
  packages/popover/README.md
  packages/popover/src/Popover.js
  packages/popover/src/Popover.story.js
Due: eslint-app

refactor(Tooltip): fix typo: bondariesSelector to boundariesSelector
  packages/tooltip/src/Tooltip.js
  packages/tooltip/src/Tooltip.story.js
Due: eslint-app

fix(Tooltip): consider trigger height when tooltip is positioned on top
  packages/tooltip/src/Tooltip.js
  packages/tooltip/src/Tooltip.story.js
  packages/tooltip/src/styledComponents/Tooltip.js
  packages/tooltip/src/useAutoAlign.js
  packages/tooltip/src/useAutoAlign.test.js
Due: eslint-app, eslint-test

feat(Label): receive moreInfoTooltipProps and pass it to MoreInfo
  packages/label/README.md
  packages/label/package.json
  packages/label/src/Label.js
  packages/label/src/Label.story.js
Due: eslint-app

feat(Button): remove disabledTooltip hoc
  packages/button/package.json
  packages/button/src/Button.js
Due: eslint-app

fix(Tooltip): change visibility only after it's ready
  packages/tooltip/src/Tooltip.js
  packages/tooltip/src/styledComponents/Tooltip.js
  packages/tooltip/src/useAutoAlign.js
  packages/tooltip/src/useAutoAlign.test.js
Due: eslint-app, eslint-test

feat(Tooltip): add position property
  packages/tooltip/src/Tooltip.js
  packages/tooltip/src/Tooltip.story.js
  packages/tooltip/src/constants/position.js
  packages/tooltip/src/styledComponents/Tooltip.js
Due: eslint-app

feat(withTooltip): receive tooltipProps and pass it to Tooltip
  packages/hoc-withtooltip/README.md
  packages/hoc-withtooltip/package.json
  packages/hoc-withtooltip/src/withTooltip.js
  packages/hoc-withtooltip/src/withTooltip.story.js
Due: eslint-app

feat(Tooltip): auto position to the top or bottom
  packages/tooltip/src/Tooltip.js
  packages/tooltip/src/Tooltip.story.js
  packages/tooltip/src/constants/positions.js
  packages/tooltip/src/index.js
Due: eslint-app

chore(tooltip): rearrange dev dependencies
  packages/tooltip/package.json
Due: none

refactor(hoc-disabled-tooltip): remove component
  packages/hoc-disabled-tooltip/AUTHORS
  packages/hoc-disabled-tooltip/CHANGELOG.md
  packages/hoc-disabled-tooltip/LICENSE
  packages/hoc-disabled-tooltip/README.md
  packages/hoc-disabled-tooltip/package.json
  packages/hoc-disabled-tooltip/src/__snapshots__/disabledTooltip.story.storyshot
  packages/hoc-disabled-tooltip/src/disabledTooltip.js
  packages/hoc-disabled-tooltip/src/disabledTooltip.story.js
  packages/hoc-disabled-tooltip/src/disabledTooltip.test.js
  packages/hoc-disabled-tooltip/src/index.js
Due: eslint-app, eslint-test
