Repository CraveFood/farmblocks: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint-app, eslint-test

eslint-app:
  name: eslint-app
  entry: ./node_modules/eslint/bin/eslint.js
  args:
  - --config=.eslintrc.js
  - --ignore-path=.eslintignore
  language: system

eslint-test:
  name: eslint-test
  entry: ./node_modules/eslint/bin/eslint.js
  args:
  - --config=.test.eslintrc.js
  - --ignore-path=.test.eslintignore
  language: system

test(snapshots): update
  packages/amount-selectors/src/components/__snapshots__/AmountSelectors.story.storyshot
Due: none

test(AmountSelectors): add test case to validate values with 2 decimal places
  packages/amount-selectors/src/components/AmountSelectors.test.js
Due: eslint-test

chore(release): [ci skip] publish
  packages/amount-selectors/CHANGELOG.md
  packages/amount-selectors/package.json
Due: none

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/static/preview.48faf76dffa515bc332e.bundle.js
  docs/static/preview.4b21a19a3a8f614d804e.bundle.js
Due: eslint-app

fix(AmountSelectors): render initial value even though its value is out of range
  packages/amount-selectors/src/components/AmountSelectors.js
Due: eslint-app

test(AmountSelectors): add story to cover initial value out of range
  packages/amount-selectors/src/components/AmountSelectors.story.js
Due: eslint-app

test(storyshots): update
  packages/amount-selectors/src/components/__snapshots__/AmountSelectors.story.storyshot
Due: none

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/static/preview.4b21a19a3a8f614d804e.bundle.js
  docs/static/preview.65ca4258eed0ac8f9179.bundle.js
Due: eslint-app

chore(github releases): script to change the draft status of a github release to false
  bin/github_publish_release.sh
Due: none

chore(travis): set Timezone env var to "America/Sao_Paulo"
  .travis.yml
Due: none

chore(github releases): include the scripts to publish the release when a merge on master passes all
  .travis.yml
Due: none

chore(github releases): script to get the current "master" draft release ID
  bin/github_get_release_id.sh
Due: none

chore(travis): include new flags for travis jest run
  package.json
Due: none

Revert "chore(travis): pass verbose option to coveralls script"
  package.json
Due: none

chore(travis): pass verbose option to coveralls script
  package.json
Due: none

chore(travis): wrap the coverage test step in a travis_wait call
  .travis.yml
Due: none

feat(Tooltip): add showArrow property
  packages/tooltip/src/Tooltip.js
  packages/tooltip/src/Tooltip.story.js
  packages/tooltip/src/styledComponents/Tooltip.js
Due: eslint-app

feat(Tooltip): add animation
  packages/tooltip/src/styledComponents/Tooltip.js
Due: eslint-app

refactor(Popover): remove unecessary argument
  packages/popover/src/Popover.js
Due: eslint-app

chore(Popover): add dependencies
  packages/popover/package.json
Due: none

test(Popover): reset addEventListener
  packages/popover/src/Popover.test.js
Due: eslint-test

feat(Popover): fully functional component
  packages/popover/src/Popover.js
Due: eslint-app

docs(Popover): initial changelog
  packages/popover/CHANGELOG.md
Due: none

test(Popover): missing tests
  packages/popover/src/Popover.test.js
Due: eslint-test

test(storyshots): update
  packages/more-info/src/components/__snapshots__/MoreInfo.story.storyshot
  packages/popover/src/__snapshots__/Popover.story.storyshot
  packages/tooltip/src/__snapshots__/Tooltip.story.storyshot
Due: none

test(Popover): add stories
  packages/popover/src/Popover.story.js
Due: eslint-app

test(storyshots): update
  packages/popover/src/__snapshots__/Popover.story.storyshot
  packages/tooltip/src/__snapshots__/Tooltip.story.storyshot
Due: none

docs(Tooltip): update readme with new properties
  packages/tooltip/README.md
Due: none

feat(popover): initial scaffold
  packages/popover/AUTHORS
  packages/popover/LICENSE
  packages/popover/README.md
  packages/popover/package.json
  packages/popover/src/Popover.js
  packages/popover/src/Popover.story.js
  packages/popover/src/index.js
Due: eslint-app

docs(Popover): update readme
  packages/popover/README.md
Due: none

feat(Tooltip): add padding property
  packages/tooltip/src/Tooltip.story.js
  packages/tooltip/src/styledComponents/Tooltip.js
Due: eslint-app

chore(release): [ci skip] publish
  packages/alert/CHANGELOG.md
  packages/alert/package.json
  packages/amount-selectors/CHANGELOG.md
  packages/amount-selectors/package.json
  packages/button/CHANGELOG.md
  packages/button/package.json
  packages/card/CHANGELOG.md
  packages/card/package.json
  packages/dropdown/CHANGELOG.md
  packages/dropdown/package.json
  packages/empty-state/CHANGELOG.md
  packages/empty-state/package.json
  packages/footer/CHANGELOG.md
  packages/footer/package.json
  packages/hoc-disabled-tooltip/CHANGELOG.md
  packages/hoc-disabled-tooltip/package.json
  packages/hoc-input/CHANGELOG.md
  packages/hoc-input/package.json
  packages/input-checkbox/CHANGELOG.md
  packages/input-checkbox/package.json
  packages/input-radio/CHANGELOG.md
  packages/input-radio/package.json
  packages/input-select/CHANGELOG.md
  packages/input-select/package.json
  packages/input-text/CHANGELOG.md
  packages/input-text/package.json
  packages/link/CHANGELOG.md
  packages/link/package.json
  packages/map-balloon/CHANGELOG.md
  packages/map-balloon/package.json
  packages/more-info/CHANGELOG.md
  packages/more-info/package.json
  packages/popover/CHANGELOG.md
  packages/popover/package.json
  packages/search-field/CHANGELOG.md
  packages/search-field/package.json
  packages/table/CHANGELOG.md
  packages/table/package.json
  packages/tooltip/CHANGELOG.md
  packages/tooltip/package.json
Due: none

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/index.html
  docs/static/manager.3edb046865d5f5d5681a.bundle.js
  docs/static/manager.4da05208c0f483b16035.bundle.js
  docs/static/preview.65ca4258eed0ac8f9179.bundle.js
  docs/static/preview.d3ece15b2f8fb58962f7.bundle.js
Due: eslint-app

fix(search-field): dont clear input when fetching new items
  packages/search-field/src/SearchField.js
Due: eslint-app

chore(package): update lockfile
  yarn.lock
Due: none

chore(release): [ci skip] publish
  packages/search-field/CHANGELOG.md
  packages/search-field/package.json
Due: none

chore(docs): [ci skip] gallery update
  docs/iframe.html
  docs/static/preview.35a665be0b4be03fd826.bundle.js
  docs/static/preview.d3ece15b2f8fb58962f7.bundle.js
Due: eslint-app

docs(tag): add neutral tag stories
  packages/tag/src/components/Tag.story.js
  packages/tag/src/constants/tagTypes.js
  packages/tag/src/index.js
Due: eslint-app

feat(tag): add neutral type
  packages/tag/README.md
  packages/tag/package.json
  packages/tag/src/components/Tag.js
  packages/tag/src/components/Tag.story.js
  packages/tag/src/components/styledComponent/StyledTag.js
  yarn.lock
Due: eslint-app

Path conditions:
  eslint-app: any of: ^(?!.*\.test).*\.js$
  eslint-test: any of: \.test\.js$
